<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">
        <div class="mt-4 pb-2">

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.budget.add.office}"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="officeName" th:value="${budgetViewResponse.officeNameBn}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.budget.add.year_from}"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="from" th:value="${budgetViewResponse.from}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.budget.add.year_to}"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="to" th:value="${budgetViewResponse.to}" readonly="readonly"/>
                </div>
            </div>

            <th:block th:if="${ budgetViewResponse.budgetDetailsAddRequestList != null and #lists.size( budgetViewResponse.budgetDetailsAddRequestList ) > 0 }">
                <th:block th:replace="budget/budget-details-info-view"/>
            </th:block>

        </div>
    </div>

</div>