<br>

<h4>
  [[#{ label.budget.details.add }]]
</h4>

<hr>

<table class="table table-bordered table-hover dataTable no-footer dtr-inline">

  <thead>

  <tr>
    <th th:text="#{label.budget.add.code}"></th>
    <th th:if="${lang} == 'bn'" th:text="#{label.budget.add.name_bn}"></th>
    <th th:if="${lang} == 'en'" th:text="#{label.budget.add.name_en}"></th>
    <th th:text="#{label.budget.add.initial_amount}"></th>
    <th th:text="#{label.budget.add.revised_amount}"></th>
    <th th:text="#{label.budget.add.final_amount}"></th>
  </tr>

  </thead>

  <tbody>

  <tr th:each="budgetDetailsAddRequestList, stat: ${budgetViewResponse.budgetDetailsAddRequestList}">
    <td th:text="${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].code}"></td>
    <td th:if="${lang} == 'bn'"> [[${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].codeNameBn}]] </td>
    <td th:if="${lang} == 'en'">[[${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].codeNameEn}]]</td>
    <td th:text="${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].initialAmount}"> </td>
    <td th:text="${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].revisedAmount}"> </td>
    <td th:text="${budgetViewResponse.budgetDetailsAddRequestList[__${stat.index}__].finalAmount}"> </td>
  </tr>

  </tbody>

</table>