<th:block th:with="formId = 'budgetAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${budgetAddRequest.id == null} ? @{/budget/add} : @{/budget/edit/{id}(id=${budgetAddRequest.id}, state=${budgetAddRequest.stateType})}"
            th:object="${budgetAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.budget.add.office'}, field=${'officeId'}, list=*{officeViewResponseList}, class=${'select2 enable-select2'}, required=${true}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.budget.add.year}"> <span class="text-danger">*</span> </label>
                            <select th:field="*{budgetYear}"  class="form-control" id="budgetYear">
                                <option th:each="item : *{budgetYearList}"
                                        th:value="${item}" th:text="${item}">
                                </option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <th:block th:if="*{ budgetDetailsAddRequests == null or #lists.size( budgetDetailsAddRequests ) == 0 }">
                            <th:block th:replace="budget/budget-details-add"/>
                        </th:block>

                        <th:block th:if="*{ budgetDetailsAddRequests != null and #lists.size( budgetDetailsAddRequests ) > 0 }">
                            <th:block th:replace="budget/budget-details-edit" />
                        </th:block>

                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>