<br>

<h4>
    [[#{ label.budget.details.add }]]
</h4>

<hr>

<table class="table table-bordered table-hover dataTable no-footer dtr-inline">

    <thead>
        <tr>
            <th th:text="#{label.budget.add.code}"></th>
            <th th:if="${lang} == 'bn'" th:text="#{label.budget.add.name_bn}"></th>
            <th th:if="${lang} == 'en'" th:text="#{label.budget.add.name_en}"></th>
            <th th:text="#{label.budget.add.initial_amount}"></th>
            <th th:text="#{label.budget.add.revised_amount}"></th>
            <th th:text="#{label.budget.add.final_amount}"></th>
        </tr>
    </thead>

    <tbody>

    <tr th:each="budgetDetailsAddRequestList, stat: ${budgetAddRequest.budgetCodeViewResponseList}" th:style="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == false? 'background-color: lightgrey':''">

        <td th:if="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == false" th:text="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].code}"></td>
        <td th:if="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == true" ></td>

        <td th:if="${lang} == 'bn'"> [[${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].nameBn}]] </td>
        <td th:if="${lang} == 'en'">[[${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].nameEn}]]</td>

        <td> <input th:if="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == true" class="form-control" type="number" min="0" name="initialAmount" data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"/> </td>
        <td> <input th:if="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == true" class="form-control" type="number" min="0" name="revisedAmount" data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}" style="background-color: lightgrey" readonly/> </td>
        <td> <input th:if="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].isLeaf} == true" class="form-control" type="number" min="0" name="finalAmount" data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}" style="background-color: lightgrey" readonly/> </td>

    </tr>

    </tbody>

</table>

<input class="form-control" type="hidden" id="budgetDetailsAddRequestList" name="budgetDetailsAddRequestList"  />