<th:block th:with="formId = 'budgetCodeAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/budget/code-add}"
            th:object="${budgetCodeAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.budget.add.code'}, field=${'code'}, type=${'number'}, min=${'0'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.budget.add.name_bn'}, field=${'nameBn'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.budget.add.name_en'}, field=${'nameEn'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.budget.add.descriptionBn}" for="descriptionBn">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="descriptionBn" th:field="*{descriptionBn}" required></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('descriptionBn')}" th:errors="*{descriptionBn}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.budget.add.descriptionEn}" for="descriptionEn">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="descriptionEn" th:field="*{descriptionEn}" required></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('descriptionEn')}" th:errors="*{descriptionEn}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.budget.add.parent_code'}, field=${'parentCodeId'}, list=*{budgetCodeViewResponseList}, class=${'select2 enable-select2'}"
                                    th:include="inputs/select-list-input">
                            </th:block>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>