<br>

<h4>
    [[#{ label.budget.details.add }]]
</h4>

<hr>

<table class="table table-bordered table-hover dataTable no-footer dtr-inline">

    <thead>
        <tr>
            <th rowspan='2' th:text="#{label.budget.add.code}"></th>
            <th rowspan='2' th:if="${lang} == 'bn'" th:text="#{label.budget.add.name_bn}"></th>
            <th rowspan='2' th:if="${lang} == 'en'" th:text="#{label.budget.add.name_en}"></th>
            <th colspan='3' th:text="#{label.budget.add.previous_amount}"></th>
            <th colspan='3' th:text="#{label.budget.add.budget}"></th>
            <th colspan='1' th:text="#{label.budget.add.estimates}"></th>
            <th colspan='2' th:text="#{label.budget.add.projections}"></th>
        </tr>

        <th th:text="*{fromMinuesTwo + '-' +  (fromMinuesTwo + 1)}"></th>
        <th th:text="*{fromMinuesOne + '-' +  (fromMinuesOne + 1)}"></th>
        <th th:text="*{from + '-' +  (from + 1) }"></th>

        <th th:text="#{label.budget.add.initial_amount}"></th>
        <th th:text="#{label.budget.add.revised_amount}"></th>
        <th th:text="#{label.budget.add.final_amount}"></th>

        <th th:text="*{from + 1 + '-' + (from + 2)}"></th>

        <th th:text="*{from + 1 + '-' + (from + 2)}"></th>
        <th th:text="*{from + 2 + '-' + (from + 3)}"></th>


    </thead>

    <tbody>

        <tr th:each="budgetDetailsAddRequestList, stat: ${budgetAddRequest.budgetDetailsAddRequests}">

            <td th:text="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].code}"></td>

            <td th:if="${lang} == 'bn'"> [[${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].nameBn}]]</td>
            <td th:if="${lang} == 'en'">[[${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].nameEn}]]</td>

            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusTwo} == null"> N/A</td>
            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusTwo} != null">
                [[${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusTwo}]]
            </td>
            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusOne} == null"> N/A</td>
            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusOne} != null">
                [[${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusOne}]]
            </td>
            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusZero} == null"> N/A</td>
            <td th:if="${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusZero} != null">
                [[${budgetDetailsViewResponseList[__${stat.index}__].initialAmountForFromMinusZero}]]
            </td>

            <td><input class="form-control" type="number" min="0" name="initialAmount"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].initialAmount}"
                       th:readonly="*{stateType == T(com.dgt.paribahanpool.enums.BudgetStateType).INITIAL_BUDGET or stateType == T(com.dgt.paribahanpool.enums.BudgetStateType).REVISED_BUDGET }"
                       th:style="${stateType == T(com.dgt.paribahanpool.enums.BudgetStateType).INITIAL_BUDGET or stateType == T(com.dgt.paribahanpool.enums.BudgetStateType).REVISED_BUDGET}? 'background-color: lightgrey':''"/>
            </td>
            <td><input class="form-control" type="number" min="0" name="revisedAmount"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${{ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].revisedAmount }}"
                       th:readonly="*{stateType != T(com.dgt.paribahanpool.enums.BudgetStateType).INITIAL_BUDGET } "
                       th:style="${stateType != T(com.dgt.paribahanpool.enums.BudgetStateType).INITIAL_BUDGET}? 'background-color: lightgrey':''"/>
            </td>
            <td><input class="form-control" type="number" min="0" name="finalAmount"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${{ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].finalAmount }}"
                       th:readonly="*{stateType != T(com.dgt.paribahanpool.enums.BudgetStateType).REVISED_BUDGET } "
                       th:style="${stateType != T(com.dgt.paribahanpool.enums.BudgetStateType).REVISED_BUDGET}? 'background-color: lightgrey':''"/>
            </td>

            <td><input class="form-control" type="number" min="0" name="estimate"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${{ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].estimate }}"/></td>
            <td><input class="form-control" type="number" min="0" name="projectionOfNextYear"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${{ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].projectionOfNextYear }}"/>
            </td>
            <td><input class="form-control" type="number" min="0" name="projectionOfNextTwoYear"
                       data:code="${budgetAddRequest.budgetCodeViewResponseList[__${stat.index}__].id}"
                       th:value="${{ budgetAddRequest.budgetDetailsAddRequests[__${stat.index}__].projectionOfNextTwoYear }}"/>
            </td>

        </tr>

    </tbody>

</table>

<input class="form-control" type="hidden" id="budgetDetailsAddRequestList" name="budgetDetailsAddRequestList"/>