<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/budget/code-add}" >
                        <button class="btn btn-success" th:text="#{label.budget.code.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="budgetCodeSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.budget.add.code}"> Mechanic ID </th>
                        <th th:text="#{label.budget.add.name_en}"> Name </th>
                        <th th:text="#{label.budget.add.name_bn}"> Father Name</th>
                        <th th:text="#{label.budget.add.parent_code}"> Mother Name</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
