<div id="kt_page_sticky_card" class="card card-custom card-sticky">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                পরিচালনা কার্যক্রম
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>বাজেটের ধরন</label>
                    <select class="form-control is-valid" id="budgetType" name="registrationType" aria-invalid="false">
                        <option value="ACTIVE">পরিচালনা কার্যক্রম</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label>কার্যালয়</label>
                    <select class="form-control is-valid" id="officeBranch" name="registrationType" aria-invalid="false">
                        <option value="ACTIVE">প্রধান কার্যালয়</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label>বাৎসরিক বাজেট</label>
                    <select class="form-control is-valid" id="yearlyBudget" name="registrationType" aria-invalid="false">
                        <option value="ACTIVE">২০২০-২০২১</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <h6>নির্বাচন করুন</h6>
            <div class="mt-5 d-flex align-items-center">
                <div class="form-check border border-dark px-9 py-3 rounded">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        ৩ - আবর্তক ব্যয়
                    </label>
                </div>
                <div class="form-check ml-7 px-9 py-3 rounded">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        ৪ - মূলধন ব্যয়
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex align-items-center py-2 px-10 shadow-sm rounded">
                <input type="checkbox" class="form-control-sm">
                <strong class="ml-3">৩১ - কর্মচারীদের প্রতিদান</strong>
            </div>
            <div class="form-group my-1">
                <div class="row px-20">
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩১১১ - নগদ মজুরি ও বেতন</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex align-items-center py-2 px-10 shadow-sm rounded">
                <input type="checkbox" class="form-control-sm">
                <strong class="ml-3">৩২ - পণ্য ও সেবার ব্যবহার়</strong>
            </div>
            <div class="form-group my-1">
                <div class="row px-20">
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২১১ - প্রশাসনিক ব্যয়</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৪৪ - ভ্রমণ ও বদলি</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৫৭ - পেশাগত সেবা, সম্মানী ও বিশেষ ব্যয়</span>
                    </div>
                </div>
            </div>
            <div class="form-group my-1">
                <div class="row px-20">
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২১১ - প্রশাসনিক ব্যয়</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৪৪ - ভ্রমণ ও বদলি</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৫৭ - পেশাগত সেবা, সম্মানী ও বিশেষ ব্যয়</span>
                    </div>
                </div>
            </div>
            <div class="form-group my-1">
                <div class="row px-20">
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২১১ - প্রশাসনিক ব্যয়</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৪৪ - ভ্রমণ ও বদলি</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">৩২৫৭ - পেশাগত সেবা, সম্মানী ও বিশেষ ব্যয়</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex align-items-center py-2 px-10 shadow-sm rounded">
                <input type="checkbox" class="form-control-sm">
                <strong class="ml-3">৩৮ - মূলধন ব্যয়</strong>
            </div>
            <div class="form-group my-1">
                <div class="row px-20">
                    <div class="col-md-4 d-flex align-items-start">
                        <input type="checkbox" class="form-control-sm">
                        <span class="ml-3 mt-2">ত্রি ৩৮২১ - আবর্তক স্থানান্তর যা অনত্র শ্রেণিবদ্ধ নয়।</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>