<div data-repeater-item th:each="trainingCourseDirectorAddRequestList, stat: *{trainingCourseDirectorAddRequestList}">

    <div class="form-group" >
        <div class="row">

            <input type="hidden" th:name = "${ 'trainingCourseDirectorAddRequestList[' + stat.index + '].id' }" th:value="*{{ trainerAddRequestList[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label for="trainingCourseDirectorName"> [[#{label.training.add.course_director.add}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="trainingCourseDirectorName" th:name = "${ 'trainingCourseDirectorAddRequestList[' + stat.index + '].trainingCourseDirectorName' }" th:value="*{trainingCourseDirectorAddRequestList[__${stat.index}__].trainingCourseDirectorName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('trainingCourseDirectorAddRequestList[' + stat.index + '].trainingCourseDirectorName')}" th:errors="*{trainingCourseDirectorAddRequestList[__${stat.index}__].trainingCourseDirectorName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label for="grade"> [[#{label.training.add.trainee.grade}]] <span class="text-danger">*</span> </label>
                <select th:field="*{trainingCourseDirectorAddRequestList[__${stat.index}__].grade}" class="form-control" id="grade">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label for="trainingCourseDirectorDesingationId"> [[#{label.training.add.common.designation}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <select th:field="*{trainingCourseDirectorAddRequestList[__${stat.index}__].trainingCourseDirectorDesingationId}" class="form-control" id="trainingCourseDirectorDesingationId">
                        <option th:text="#{label.common.select}" value=""></option>
                        <option th:each="eduLevel : ${designationViewResponseList}"
                                th:value="${eduLevel.id}"> [[${ lang == 'en'? eduLevel.nameEn: eduLevel.nameBn}]]
                        </option>
                    </select>

                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>