
<html>
<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">
    <head>
        <div style="margin-top:10px;">
            <table style="width:100%">
                <tbody>
                <tr>
                    <td>

                        <div align="left">
                            <table>
                                <tbody>
                                <tr>
                                    <td rowspan="2">
                                        <label class="control-label label-center">
                                            <b> [[#{label.training.name} ]] </b>
                                        </label>
                                    </td>
                                    <td id="training_name_html">  [[${trainingName}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </head>

    <body>

    <table id="expenseTable" style="width:100%;border: 1px solid black;border-collapse: collapse;">

        <thead style="border: 1px solid black;border-collapse: collapse;" >
        <tr align="center" style="border: 1px solid black;border-collapse: collapse;">
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.common.id}">ID</th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.training.expense.add.type}"> Mechanic ID </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.training.expense.add.amount}"> Name </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.training.expense.add.rate}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.training.expense.add.total_cost}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.training.expense.add.comment}"> Is Present </th>
        </tr>
        </thead>

        <tbody>

        <tr style="border: 1px solid black;border-collapse: collapse;" th:each="item: ${itemViewResponseList}">
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.id}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.trainingExpenseTypeId.nameBn}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.amount}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.rate}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.totalCost}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.comment}"></td>
        </tr>

        </tbody>

    </table>
    </body>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>

    $( document ).ready( function() {
        window.print();
    });

</script>

<style>
    #committeeInfoTableTemplate th{
        border-bottom: 1px solid; border-right: 1px solid; text-align: center;
    }
    #committeeInfoTableTemplate td{
        vertical-align: baseline; width: 10%; border-right: 1px solid; text-align: center; border-bottom: 1px solid;
    }

</style>

</html>
