
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>
    <div th:if="${! trainingViewResponse.topTraineeResponseList.isEmpty()}" class="card-body">
        <br>
        <h3 class="card-label">
            [[#{label.training.result}]]
        </h3>

        <table id="topTrainingTraineeList" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.name}">Name</th>
                <th th:text="#{label.designation}">Designation</th>
                <th th:text="#{label.mark}">Mark</th>
                <th th:text="#{label.comment}">Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="traineeList, trainee : ${trainingViewResponse.topTraineeResponseList}">
                <td th:text="${traineeList.id}">Name</td>
                <td th:text="${traineeList.traineeName}">Name</td>
                <td th:if="${lang}=='en'" th:text="${traineeList.designation.nameEn}">Designation</td>
                <td th:if="${lang}=='bn'" th:text="${traineeList.designation.nameBn}">Designation</td>
                <td th:text="${traineeList.mark}">Marks</td>
                <td th:if="${trainee.index}==0" th:text="#{label.trainee.first}"></td>
                <td th:if="${trainee.index}==1" th:text="#{label.trainee.second}"></td>
                <td th:if="${trainee.index}==2" th:text="#{label.trainee.third}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
    >

        <div class="card-body">
            <div class="col-md-4">
                <div th:if="${trainingViewResponse.traineeResponseMap.isEmpty()}" class="font-size-h1-lg">
                    [[#{label.training.evaluation.empty.map}]]
                </div>

                <div th:if="${! trainingViewResponse.traineeResponseMap.isEmpty()}">
                    <label for="batchNo">
                        [[#{label.training.add.batch_no}]]
                        <span class="text-danger">*</span>
                    </label>
                    <select style="width: 100%" name="batchNo" class="form-control" id="batchNo" onchange="if (this.selectedIndex) getSelectedBatchNo();" required >
                        <option value="">[[#{label.common.choose}]]</option>
                        <option th:each="batchNo : ${trainingViewResponse.traineeResponseMap}"
                                th:value="${ batchNo.key }"
                                th:text="${ batchNo.key }">
                        </option>
                    </select>
                </div>

            </div>
        </div>
    </form>

    <div class="card-body">

        <div th:if="${! trainingViewResponse.traineeResponseMap.isEmpty()}">
            <div style="display: none" th:each="batchNo : ${trainingViewResponse.traineeResponseMap}" th:class="'batchNo' + ${batchNo.key} ">


                    <h3>
                        [[ #{ label.batch.no  } ]]
                        [[ ${ batchNo.key } ]]
                        [[ #{ label.result  } ]]
                    </h3>

                    <table th:id="'trainingTraineeSearchTable' + ${batchNo.key}" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                        <thead>
                        <tr>
                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.name}">Name</th>
                            <th th:text="#{label.designation}">Designation</th>
                            <th th:text="#{label.mark}">Mark</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trainee : ${batchNo.value}">
                            <td th:text="${trainee.id}">Name</td>
                            <td th:text="${trainee.traineeName}">Name</td>
                            <td th:if="${lang}=='en'" th:text="${trainee.designation.nameEn}"></td>
                            <td th:if="${lang}=='bn'" th:text="${trainee.designation.nameBn}"></td>
                            <td th:text="${trainee.mark}">Marks</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
