<th:block th:with="formId = 'trainingAttendeeAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${attendeeAddRequest.id == null} ? @{/training/attendee/add} : @{/training/attendee/edit/{id}(id=${attendeeAddRequest.id})}"
            th:object="${attendeeAddRequest}"

    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="trainingId">
                                [[#{label.training.add.name}]]
                                <span class="text-danger">*</span>
                            </label>

                            <select style="width: 100%" name="trainingId" class="select2 enable-select2 form-control" id="trainingId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:each="response : ${trainingSearchResponseList}"
                                        th:value="${response.id}"
                                        th:text="${ response.trainingName }">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-4">

                            <label for="batchNo">
                                [[#{label.training.add.batch_no}]]
                                <span class="text-danger">*</span>
                            </label>

                            <select style="width: 100%" name="batchNo" class="select2 enable-select2 form-control" id="batchNo" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:each="response : ${batchNoList}"
                                        th:value="${ response }"
                                        th:text="${ response }">
                                </option>
                            </select>

                        </div>

                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.internal}"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-group row">
                    <div class="col-md-4">

                        <th:block
                                th:with="label=${'label.internal'}, field=${'participantUserIdList'}, list=*{showEmployeeList}, class=${'select2 enable-select2'}, required=${true}, multiple=${true}"
                                th:include="inputs/select-list-input">
                        </th:block>

                    </div>
                </div>

                <div id="trainee_add_card_repeater">

                    <div data-repeater-list="traineeAddRequestList">

                        <th:block th:if="*{ traineeAddRequestList == null or #lists.size( traineeAddRequestList ) == 0 }">
                            <th:block th:replace="training/trainee-add-service-info-template" />
                        </th:block>

                        <th:block th:if="*{ traineeAddRequestList != null and #lists.size( traineeAddRequestList ) > 0 }">
                            <th:block th:replace="training/trainee-add-service-info" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.trainee.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.training.trainer.information}"></span>
                        </a>
                    </li>
                </ul>

                <div id="trainer_add_card_repeater">

                    <div data-repeater-list="trainerAddRequestList">

                        <th:block th:if="*{ trainerAddRequestList == null or #lists.size( trainerAddRequestList ) == 0 }">
                            <th:block th:replace="training/trainer-add-service-info-template" />
                        </th:block>

                        <th:block th:if="*{ trainerAddRequestList != null and #lists.size( trainerAddRequestList ) > 0 }">
                            <th:block th:replace="training/trainer-add-service-info" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.trainer.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.training.course_director.information}"></span>
                        </a>
                    </li>
                </ul>

                <div id="course_director_add_card_repeater">

                    <div data-repeater-list="trainingCourseDirectorAddRequestList">

                        <th:block th:if="*{ trainingCourseDirectorAddRequestList == null or #lists.size( trainingCourseDirectorAddRequestList ) == 0 }">
                            <th:block th:replace="training/course-director-add-service-info-template" />
                        </th:block>

                        <th:block th:if="*{ trainingCourseDirectorAddRequestList != null and #lists.size( trainingCourseDirectorAddRequestList ) > 0 }">
                            <th:block th:replace="training/course-director-add-service-info" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.course_director.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>