<div class="row">
    <div class="col-md-12">

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">

                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>

            </div>

            <div class="card-body">

                <span style="font-size: 150%"> প্রশিক্ষণের নাম : [[ ${trainingViewResponse.trainingName} ]] </span>

                <br>

<!--                <br>-->

                <table id="expenseSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th th:text="#{label.common.id}">ID</th>
                        <th th:text="#{label.training.expense.add.type}"> Mechanic ID </th>
                        <th th:text="#{label.training.expense.add.amount}"> Name </th>
                        <th th:text="#{label.training.expense.add.rate}"> Is Present </th>
                        <th th:text="#{label.training.expense.add.total_cost}"> Is Present </th>
                        <th th:text="#{label.training.expense.add.comment}"> Is Present </th>
                        <th th:text="#{label.common.actions}"> Is Present </th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="item: ${itemViewResponseList}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.trainingExpenseTypeId.nameBn}"></td>
                        <td th:text="${item.amount}"></td>
                        <td th:text="${item.rate}"></td>
                        <td th:text="${item.totalCost}"></td>
                        <td th:text="${item.comment}"></td>
                        <td> <a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-expense" th:data-id="${item.id}" th:title="#{label.datatable.action.delete}"><i class="la la-trash icon-xl text-danger" th:data-id="${item.id}"></i></a> </td>
                    </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>