<div data-repeater-item>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.external}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label for="traineeName"> [[#{label.training.add.trainee.add}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="traineeName" name="traineeName" required>

                </div>

            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label for="grade"> [[#{label.training.add.trainee.grade}]] <span class="text-danger">*</span> </label>

                <select  class="form-control" id="grade" name="grade">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label for="traineeDesignationId"> [[#{label.training.add.common.designation}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <select  class="form-control" id="traineeDesignationId" name="traineeDesignationId">
                        <option th:text="#{label.common.select}" value=""></option>
                        <option th:each="eduLevel : ${designationViewResponseList}"
                                th:value="${eduLevel.id}"> [[${ lang == 'en'? eduLevel.nameEn: eduLevel.nameBn}]]
                        </option>
                    </select>

                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>