<div class="row">
    <div class="col-md-12">

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label> [[#{label.training.add.name}]] </label>

                            <select id="trainingSearchResponseList" class="form-control" name="trainingId">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${trainingSearchResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ item.trainingName }">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-4">

                            <button style="margin-top: 1.95rem" class="btn btn-success mt-7" type="button" id="searchTraineeForEvaluation">[[#{label.training.attendance.search}]]</button>
                        </div>

                    </div>
                </div>

                <table id="evaluationTraineeSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th th:text="#{label.common.id}">ID</th>
                        <th th:text="#{label.training.add.trainee.add}"> Mechanic ID </th>
                        <th th:text="#{label.training.add.common.designation}"> Name </th>
                        <th th:text="#{label.training.add.trainee.marks}"> Is Present </th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="traineeResponse: ${traineeResponseList}">
                        <td th:text="${traineeResponse.id}"></td>
                        <td th:text="${traineeResponse.traineeName}"></td>
                        <td th:text="${traineeResponse.designation.nameBn}"></td>
                        <td> <input type="number" class="trainee-mark" name="mark" min="0" th:value="${traineeResponse.mark}" data:id="${traineeResponse.id}" /> </td>
                    </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>
</div>