<div data-repeater-item th:each="traineeAddRequest, stat: *{traineeAddRequestList}">

    <div class="form-group" >
        <div class="row">

            <input type="hidden" th:name = "${ 'traineeAddRequestList[' + stat.index + '].id' }" th:value="*{{ traineeAddRequestList[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label for="traineeName"> [[#{label.training.add.trainee.add}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="traineeName" th:name = "${ 'traineeAddRequestList[' + stat.index + '].traineeName' }" th:value="*{traineeAddRequestList[__${stat.index}__].traineeName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('traineeAddRequestList[' + stat.index + '].traineeName')}" th:errors="*{traineeAddRequestList[__${stat.index}__].traineeName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label for="grade"> [[#{label.training.add.trainee.grade}]] <span class="text-danger">*</span> </label>
                <select th:field="*{traineeAddRequestList[__${stat.index}__].grade}" class="form-control" id="grade">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label for="traineeDesignationId"> [[#{label.training.add.common.designation}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <select th:field="*{traineeAddRequestList[__${stat.index}__].traineeDesignationId}" class="form-control" id="traineeDesignationId">
                        <option th:text="#{label.common.select}" value=""></option>
                        <option th:each="eduLevel : ${designationViewResponseList}"
                                th:value="${eduLevel.id}"> [[${ lang == 'en'? eduLevel.nameEn: eduLevel.nameBn}]]
                        </option>
                    </select>

                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>