<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <div class="mt-4 pb-2">

            <table class="table table-bordered table-hover dataTable no-footer dtr-inline">

                <thead>
                <tr>
                    <th th:text="#{label.training.add.topic}"></th>
                    <th th:text="#{label.training.add.description}"></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td> [[#{label.training.add.name}]] </td>
                    <td> [[${trainingViewResponse.trainingName}]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.expenses}]] </td>
                    <td> [[${trainingViewResponse.totalExpenseCost}]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.add.date}]] </td>
                    <td> [[${trainingViewResponse.startingDate + '-' + (trainingViewResponse.endingDate) }]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.add.month_span}]] </td>
                    <td> [[${trainingViewResponse.monthSpan}]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.add.total_trainee}]] </td>
                    <td> [[${trainingViewResponse.totalTrainee}]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.add.total_trainer}]] </td>
                    <td> [[${trainingViewResponse.totalTrainer}]]</td>
                </tr>

                <tr>
                    <td> [[#{label.training.add.batch_count}]] </td>
                    <td> [[${trainingViewResponse.batchCount}]]</td>
                </tr>


                </tbody>

            </table>

        </div>

    </div>

</div>