<div data-repeater-item>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label for="trainerName"> [[#{label.training.add.trainer.add}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="trainerName" name="trainerName" required>

                </div>

            </div>

            <div class="col-md-4">

                <label for="grade"> [[#{label.training.add.trainer.grade}]] <span class="text-danger">*</span> </label>

                <select  class="form-control" id="grade" name="grade">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label for="trainerDesingationId"> [[#{label.training.add.common.designation}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <select  class="form-control" id="trainerDesingationId" name="trainerDesingationId">
                        <option th:text="#{label.common.select}" value=""></option>
                        <option th:each="eduLevel : ${designationViewResponseList}"
                                th:value="${eduLevel.id}"> [[${ lang == 'en'? eduLevel.nameEn: eduLevel.nameBn}]]
                        </option>
                    </select>

                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>