<div class="row">
    <div class="col-md-12">

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>

                <div class="card-toolbar">
                    <a  th:href="@{/training/attendee/add}" >
                        <button class="btn btn-success" th:text="#{menu.hr-management.training-management.new-training-attendee-attachment}"> Button </button>
                    </a>
                </div>

            </div>

            <div class="card-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label> [[#{label.training.add.name}]] </label>

                            <select id="trainingSearchResponseList" class="form-control" name="trainingId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${trainingSearchResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ item.trainingName }">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-4">

                            <label for="batchNo"> [[#{label.training.add.batch_no}]] </label>
                            <input class="form-control" type="number" id="batchNo" name="batchNo" min="0" required>

                        </div>

                        <div class="col-md-4">

                            <button style="margin-top: 1.95rem" class="btn btn-success mt-7" type="button" id="searchAttendee">[[#{label.training.attendee.search}]]</button>
                        </div>

                    </div>
                </div>

                <th:block th:if="${trainingId != -1}">

                    <h4>
                        [[#{ label.training.trainee.information }]]
                    </h4>

                    <table id="attendeeTraineeSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                        <thead>
                        <tr>
                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.training.add.trainee.add}"> Mechanic ID </th>
                            <th th:text="#{label.training.add.common.designation}"> Name </th>
                            <th th:text="#{label.common.actions}"> Is Present </th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="traineeResponse: ${traineeResponseList}">
                            <td th:text="${traineeResponse.id}"></td>
                            <td th:text="${traineeResponse.traineeName}"></td>
                            <td th:text="${traineeResponse.designation.nameBn}"></td>
                            <td> <a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-trainee" th:data-id="${traineeResponse.id}" th:title="#{label.datatable.action.delete}"><i class="la la-trash icon-xl text-danger" th:data-id="${traineeResponse.id}"></i></a> </td>
                        </tr>

                        </tbody>

                    </table>

                    <br>
                    <hr>

                    <h4>
                        [[#{ label.training.trainer.information }]]
                    </h4>

                    <table id="attendeeTrainerSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                        <thead>
                        <tr>
                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.training.add.trainer.add}"> Mechanic ID </th>
                            <th th:text="#{label.training.add.common.designation}"> Name </th>
                            <th th:text="#{label.common.actions}"> Is Present </th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="trainerResponse: ${trainerResponseList}">
                            <td th:text="${trainerResponse.id}"></td>
                            <td th:text="${trainerResponse.trainerName}"></td>
                            <td th:text="${trainerResponse.designation.nameBn}"></td>
                            <td> <a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-trainer" onclick="removeRow(this)" th:data-id="${trainerResponse.id}" th:title="#{label.datatable.action.delete}"><i class="la la-trash icon-xl text-danger" th:data-id="${trainerResponse.id}"></i></a> </td>
                        </tr>

                        </tbody>

                    </table>

                    <br>
                    <hr>

                    <h4>
                        [[#{ label.training.course_director.information }]]
                    </h4>

                    <table id="attendeeCourseDirectorSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                        <thead>
                        <tr>
                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.training.add.course_director.add}"> Mechanic ID </th>
                            <th th:text="#{label.training.add.common.designation}"> Name </th>
                            <th th:text="#{label.common.actions}"> Is Present </th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="courseDirector: ${courseDirectorResponseList}">
                            <td th:text="${courseDirector.id}"></td>
                            <td th:text="${courseDirector.name}"></td>
                            <td th:text="${courseDirector.designation.nameBn}"></td>
                            <td> <a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-course-director" th:data-id="${courseDirector.id}" th:title="#{label.datatable.action.delete}"><i class="la la-trash icon-xl text-danger" th:data-id="${courseDirector.id}"></i></a> </td>
                        </tr>

                        </tbody>

                    </table>

                </th:block>


            </div>

        </div>

    </div>
</div>