<div class="row">
    <div class="col-md-12">
        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/training/add}" >
                        <button class="btn btn-success" th:text="#{label.training.add}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="trainingSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>

                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.training.add.name}"> Model Year </th>
                            <th th:text="#{label.training.add.location}"> Brand </th>
                            <th th:text="#{label.training.add.topic}"> Color </th>
                            <th th:text="#{label.training.add.month_span}"> Marine Type </th>
                            <th th:text="#{label.training.add.batch_count}"> Engine No </th>
                            <th th:text="#{label.training.expenses}"> Engine No </th>
                            <th th:text="#{label.common.actions}"> Actions </th>

                        </tr>


                    </thead>

                </table>

            </div>

        </div>
    </div>
</div>