<div data-repeater-item th:each="trainerAddRequestList, stat: *{trainerAddRequestList}">

    <div class="form-group" >
        <div class="row">

            <input type="hidden" th:name = "${ 'trainerAddRequestList[' + stat.index + '].id' }" th:value="*{{ trainerAddRequestList[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label for="trainerName"> [[#{label.training.add.trainer.add}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="trainerName" th:name = "${ 'trainerAddRequestList[' + stat.index + '].trainerName' }" th:value="*{trainerAddRequestList[__${stat.index}__].trainerName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('trainerAddRequestList[' + stat.index + '].trainerName')}" th:errors="*{trainerAddRequestList[__${stat.index}__].trainerName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label for="grade"> [[#{label.training.add.trainee.grade}]] <span class="text-danger">*</span> </label>
                <select th:field="*{trainerAddRequestList[__${stat.index}__].grade}" class="form-control" id="grade">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <div class="input-group">
                    <label for="trainerDesingationId"> [[#{label.training.add.common.designation}]] <span class="text-danger">*</span> </label>
                    <select th:field="*{trainerAddRequestList[__${stat.index}__].trainerDesingationId}" class="form-control" id="trainerDesingationId">
                        <option th:text="#{label.common.select}" value=""></option>
                        <option th:each="eduLevel : ${designationViewResponseList}"
                                th:value="${eduLevel.id}"> [[${ lang == 'en'? eduLevel.nameEn: eduLevel.nameBn}]]
                        </option>
                    </select>

                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>