<th:block th:with="formId = 'expenseAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${trainingExpenseAddRequest.id == null} ? @{/training-expense/add} : @{/training-expense/edit/{id}(id=${trainingExpenseAddRequest.id})}"
            th:object="${trainingExpenseAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label> [[#{label.training.add.name}]] </label>

                            <select id="trainingSearchResponseList" class="form-control" name="trainingId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${trainingSearchResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ item.trainingName }">
                                </option>
                            </select>

                        </div>
                    </div>
                </div>

                <br>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.training.expenses}"></span>
                        </a>
                    </li>
                </ul>

                <div id="training_expense_add_card_repeater">

                    <div data-repeater-list="items">

                        <th:block th:if="*{ items == null or #lists.size( items ) == 0 }">
                            <th:block th:replace="training/component/expense-add-service-info-template" />
                        </th:block>

                        <th:block th:if="*{ items != null and #lists.size( items ) > 0 }">
                            <th:block th:replace="training/component/expense-add-service-info" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.training.expense.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>