<script>

    $(document).ready(function (){

        let modifiedUrl = "";

        if( [[${isForWarranty}]] === false ){

            modifiedUrl = "/api/parts-disposition/search/" + false;
        }
        else{

            modifiedUrl = "/api/parts-disposition/search/" + true;
        }

        let partsDispositionSearchTable = $( "#partsDispositionSearch" ).DataTable({

            ...{
                ajax: {

                    url: context + modifiedUrl,
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name'
                    },
                    {
                        data: 'useDate'
                    },
                    {
                        data: 'warrantyBeginningDate'
                    },
                    {
                        data: 'warrantyEndingDate'
                    },
                    {
                        data: 'warrantyRemaining',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'registrationNo'
                    },
                    {
                        data: 'chassisNo'
                    },
                    {
                        data: 'brandName'
                    },
                    {
                        data: 'model'
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/parts-disposition/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/parts_disposition/'+ data +'?active=PARTS_DISPOSITION_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });
    });

</script>