<th:block th:fragment="responses( response )">
    <div class="mt-4 pb-2">
        <div class="form-group row">
            <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
            <div class="col-md-10">
                <img
                        th:if="${response.signMetaData != null }"
                        class="signature-image rounded p-2 pb-5"
                        th:src="@{ ${contextPath + '/doc/' + response.signMetaData.id} }"
                        alt="User Signature Image"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.vehicle.replace.application.vehicle_id}">Incident Place </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" th:value="${response.vehicleId}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.registration_no}">পরিচিতি নং</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="serviceId" th:value="${response.registrationNo}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.vehicle_type}">পদ</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="designation" th:value="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( response.vehicleType )}}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.vehicle.replace.application.replacement_reason}">কর্মস্থল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="workplace" th:value="${response.replacementReason}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.name}">ই-মেইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.name}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.identity_number}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control"  th:value="${response.identityNumber}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.designation}">ই-মেইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.designation}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.working_place}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control"  th:value="${response.workingPlace}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.mobile}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control"  th:value="${response.mobileNumber}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.replace.assigned-vehicle}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.assignedVehicle.registrationNumber}" readonly/>
            </div>
        </div>
    </div>
</th:block>