<th:block th:fragment="view( viewResponse )">
    <div class="mt-5">
        <main id="contentSection" class="mx-5 my-4">
            <div class="contentSectionContainer">
                <div>

                    <table class="w-100">
                        <tr>
                            <td>

                                <p>বরাবর,
                                    <br>
                                    সরকারি যানবাহন অধিদপ্তর
                                    <br>
                                    সচিবালয় লিংক রোড
                                    <br>
                                    দৃষ্টি আকর্ষণঃ পরিচালক(সড়ক)
                                    <br>
                                    স্মারক নাম্বারঃ ১২৩৪
                                    </p>

                            </td>

                        </tr>
                    </table>

                </div>

                <div class="mt-3">
                    <p>বিষয়: গাড়ি প্রতিস্থাপনের জন্য আবেদন</p>
                </div>
                <div>
                    <p>
                        মহোদয়,
                    <p>
                    <p>
                        সবিনয় নিবেদন এই যে, আমি নিন্ম স্বাক্ষরকারী প্রাধিকার প্রাপ্ত কর্মকর্তা হিসেবে সরকারি যানবাহন অধিদপ্তরের একটি
                    <p>
                        গাড়ি চালক সহ প্রতিস্থাপনের জন্য আবেদন করছি। অতএব, আমার অনুকুলে একটি গাড়ি প্রতিস্থাপনের জন্য প্রয়োজনীয় ব্যবস্থা

                        গ্রহণের অনুরোধ করা হল।

                    </p>
                </div>

                <th:block th:replace="replace-application/component/applicant-information :: responses( *{viewResponse} )"></th:block>

            </div>
        </main>

    </div>
</th:block>