<th:block th:fragment="view( viewResponse )">

    <div style="margin-top:20px;">
        <b><span id="subject_html">বিষয়ঃ</span></b>
        <span id="subject_description_html"><b><u> গাড়ি প্রতিস্থাপনের মঞ্জুরি পত্র। </u></b></span>
    </div>

    <div style="margin-top:20px;">
        <span>সূত্রঃ</span>
        <span> তার [[${#temporals.format( viewResponse.creationDate, 'dd/MM/yyyy' )}]] তারিখের আবেদন ।</span>
    </div>

    <div style="width:100%; text-align: justify;text-indent:40px;margin-top: 30px;">
            <span id="description_html">
                <p>
                      বাঘের বরাদ্দকৃত গাড়ি রেজিস্ট্রেশন নং [[${viewResponse.registrationNo}]] প্রতিস্থাপন করে নতুন গাড়ি রেজিস্ট্রেশন নং [[${viewResponse.assignedVehicle.registrationNumber}]] দেয়া হয়েছে।

                </p>
            </span>
    </div>

</th:block>