<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Forgot password</title>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link th:href="@{/metronic/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <style>
        ::placeholder {
            color: #D9E2E8;
            /*letter-spacing: 2px;*/
        }

        input {
            color: #F3F6F9 !important;
        }

        .border-light {
            border: 1px solid #6c91b6 !important;
        }

        input:focus {
            outline: none !important;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
            border-left: 7px solid #12b1c4 !important;
        }

        small{
            font-size: 90%;
            font-weight: 400;
        }

        .sign-in-text {
            color: #B2D7E0 !important;
        }

        @media (max-width: 575.98px) {
            .login-form-section{
                width: 95%!important;
            }
        }

        @media (max-width: 767.98px) {
            .login-form-section{
                width: 80%;
            }
        }

        @media (min-width: 768px) {
            .login-form-section{
                width: 75%;
            }
        }

        @media (max-width: 991.98px) {

            .left-section-img{
                width: 67%!important;
            }
        }

        @media (max-width: 1199.98px) {
            .left-section-img{
                width: 75%!important;
            }
        }

        @media (max-width: 1399.98px) {
            .left-section-img{
                width: 70%!important;
            }
        }

        @media (min-width: 1400px) {
            .left-section-img{
                width: 67%!important;
            }

            .login-form-section{
                width: 70%;
            }
        }


    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      style="background: rgb(39,101,139);background: radial-gradient(circle, rgba(39,101,139,1) 0%, rgba(16,49,70,1) 70%);"
      class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

<!--start:: New Main-->
<div class="row mx-0 h-100 align-items-center">
    <div class="col-12 col-lg-6 text-center text-lg-right">
        <img th:src="@{/metronic/assets/media/login-page/loginLeftCard.png}" class="left-section-img" alt=""/>
    </div>
    <div class="col-12 col-lg-6">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
            <div class="login-form-section">
                <div class="d-flex align-items-center">
                    <img th:src="@{/metronic/assets/media/login-page/loginPageLogo.png}" width="11%"
                         alt=""/>
                    <h1 class="brand-name text-light ml-3 font-weight-bolder text-nowrap">সরকারি যানবহন অধিদপ্তর</h1>
                </div>
                <div class="my-9 my-lg-12">
                    <h1 class="sign-in-text display-4 text-light">ইমেইল প্রদান করুন</h1>
                </div>

                <!--begin::SuccessErrorMsg-->
                <th:block th:replace="components/success-and-error-message"></th:block>
                <!--end::SuccessErrorMsg-->

                <form action="/forgot-password" method="POST">
                    <div>

                        <input type="email"
                               name="email"
                               autocomplete="off"
                               required
                               class="form-control-lg bg-transparent border-light border-bottom-0 w-100 h-55px user-email-field"
                               placeholder="ব্যবহারকারীর ইমেইল">

                        <br>

                        <div class="mt-2" th:if="${ msg != null }">
                            <span style="color:#ee6d6d;" th:text="#{ ${msg} }"></span>
                        </div>

                    </div>

                    <div class="mt-5 d-flex justify-content-end">
                        <button
                                type="submit"
                                class="btn btn-sm text-white px-6 py-3 rounded"
                                style="background-color: #12B1C4">
                            সাবমিট করুন
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end:: New Main-->

<!--end:: New Main-->


<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = {
    "breakpoints": {"sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400},
    "colors": {
        "theme": {
            "base": {
                "white": "#ffffff",
                "primary": "#3699FF",
                "secondary": "#E5EAEE",
                "success": "#1BC5BD",
                "info": "#8950FC",
                "warning": "#FFA800",
                "danger": "#F64E60",
                "light": "#E4E6EF",
                "dark": "#181C32"
            },
            "light": {
                "white": "#ffffff",
                "primary": "#E1F0FF",
                "secondary": "#EBEDF3",
                "success": "#C9F7F5",
                "info": "#EEE5FF",
                "warning": "#FFF4DE",
                "danger": "#FFE2E5",
                "light": "#F3F6F9",
                "dark": "#D6D6E0"
            },
            "inverse": {
                "white": "#ffffff",
                "primary": "#ffffff",
                "secondary": "#3F4254",
                "success": "#ffffff",
                "info": "#ffffff",
                "warning": "#ffffff",
                "danger": "#ffffff",
                "light": "#464E5F",
                "dark": "#ffffff"
            }
        },
        "gray": {
            "gray-100": "#F3F6F9",
            "gray-200": "#EBEDF3",
            "gray-300": "#E4E6EF",
            "gray-400": "#D1D3E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#7E8299",
            "gray-700": "#5E6278",
            "gray-800": "#3F4254",
            "gray-900": "#181C32"
        }
    },
    "font-family": "Poppins"
};</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script th:src="@{/metronic/assets/plugins/global/plugins.bundle.js}"></script>
<script th:src="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.js}"></script>
<script th:src="@{/metronic/assets/js/scripts.bundle.js}"></script>
<!--end::Global Theme Bundle-->
</body>
<!--end::Body-->
</html>