<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Password Reset</title>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link th:href="@{/metronic/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <style>
        ::placeholder {
            color: #D9E2E8;
            /*letter-spacing: 2px;*/
        }

        input {
            color: #F3F6F9 !important;
        }

        .border-light {
            border: 1px solid #6c91b6 !important;
        }

        input:focus {
            outline: none !important;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
            border-left: 7px solid #12b1c4 !important;
        }

        small {
            font-size: 90%;
            font-weight: 400;
        }

        .sign-in-text {
            color: #B2D7E0 !important;
        }

        .user-name-field {
            border-bottom-right-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            background-color: transparent !important;
        }

        .user-password-field {
            border-top-right-radius: 0px !important;
            border-top-left-radius: 0px !important;
            background-color: transparent !important;
        }

        @media (max-width: 575.98px) {
            .login-form-section {
                width: 95% !important;
            }
        }

        @media (max-width: 767.98px) {
            .login-form-section {
                width: 80%;
            }
        }

        @media (min-width: 768px) {
            .login-form-section {
                width: 75%;
            }
        }

        @media (max-width: 991.98px) {

            .left-section-img {
                width: 67% !important;
            }
        }

        @media (max-width: 1199.98px) {
            .left-section-img {
                width: 75% !important;
            }
        }

        @media (max-width: 1399.98px) {
            .left-section-img {
                width: 70% !important;
            }
        }

        @media (min-width: 1400px) {
            .left-section-img {
                width: 67% !important;
            }

            .login-form-section {
                width: 70%;
            }
        }


    </style>

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      style="background: rgb(39,101,139);background: radial-gradient(circle, rgba(39,101,139,1) 0%, rgba(16,49,70,1) 70%);"
      class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

<!--start:: New Main-->
<div class="row mx-0 h-100 align-items-center">
    <div class="col-12 col-lg-6 text-center text-lg-right">
        <img th:src="@{/metronic/assets/media/login-page/loginLeftCard.png}" class="img-fluid left-section-img" alt=""/>
    </div>
    <div class="col-12 col-lg-6">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
            <div class="login-form-section">
                <div class="d-flex align-items-center">
                    <img th:src="@{/metronic/assets/media/login-page/loginPageLogo.png}" width="11%" class="img-fluid"
                         alt=""/>
                    <h1 class="brand-name text-light ml-3 font-weight-bolder text-nowrap">সরকারি যানবহন অধিদপ্তর</h1>
                </div>
                <div class="my-9 my-lg-12">
                    <h1 class="sign-in-text display-4 text-light text-nowrap">নতুন পাসওয়ার্ড দিন</h1>
                </div>

                <!--begin::SuccessErrorMsg-->
                <th:block th:replace="components/success-and-error-message"></th:block>
                <!--end::SuccessErrorMsg-->

                <form
                        th:object="${resetPasswordRequest}"
                        action="/reset-password" method="POST">

                    <div th:if="${#fields.hasAnyErrors()}">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>

                    <input type="hidden" name="userId" th:value="${userId}" />
                    <input type="hidden" name="token" th:value="${token}" />

                    <div>
                        <input type="password"
                               name="password"
                               autocomplete="off"
                               class="form-control w-100 bg-transparent border-light border-bottom-0 user-name-field h-55px"
                               placeholder="পাসওয়ার্ড দিন">
                        <input type="password"
                               name="retypePassword"
                               autocomplete="off"
                               class="form-control w-100 bg-transparent border-light user-password-field h-55px"
                               placeholder="পুনরাই পাসওয়ার্ড দিন"><br>

                        <div class="mt-1" th:if="${ msg != null }">
                            <span style="color:#ee6d6d;" th:text="#{ ${msg} }"></span>
                        </div>

                    </div>

                    <div class="mt-5 mt-xl-5 d-flex justify-content-end">
                        <button
                                type="submit"
                                class="btn btn-sm text-white px-6 py-3 rounded"
                                style="background-color: #12B1C4">
                            সাবমিট করুন
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--end:: New Main-->
</body>
<!--end::Body-->
</html>