<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Paribahan pool | Sign Up</title>

        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
        <!--end::Fonts-->
        <!--begin::Global Theme Styles(used by all pages)-->
        <link th:href="@{/metronic/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/metronic/assets/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
        <!--end::Global Theme Styles-->

        <style>
            .form-control {
                border: 1px solid #6c91b6 !important;
            }

            .form-control:focus {
                border: 1px solid #6c91b6 !important;
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) !important;
                border-left: 7px solid #12b1c4 !important;
            }

            select option {
                background: whitesmoke;
                color: #444444;
            }

            .border-light {
                border: 1px solid #6c91b6 !important;
            }
            .ki-long-arrow-back {
                border-radius: 100%;
                cursor: pointer;
                width: 35px !important;
                height: 35px !important;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            /*small devices (landscape phones, 576px and up)*/
            @media (max-width: 575.98px) {
                .logo {
                    width: 35%;
                }
            }

            @media (min-width: 576px) {
                .logo {
                    width: 25%;
                }
            }

            /*Medium devices (tablets, 768px and up)*/
            @media (min-width: 768px) {
                .logo {
                    width: 70%;
                }
            }

            /*Large devices (desktops, 992px and up)*/
            @media (min-width: 992px) {
                .logo {
                    width: 45%;
                }
            }

            /*X-Large devices (large desktops, 1200px and up)*/
            @media (min-width: 1200px) {
                .logo {
                    width: 28%;
                }
            }

            /*XX-Large devices (larger desktops, 1400px and up)*/
            @media (min-width: 1400px) {
                .logo {
                    width: 25%;
                }
            }

        </style>

    </head>
    <body id="kt_body"
          style="background: rgb(39,101,139);background: radial-gradient(circle, rgba(39,101,139,1) 0%, rgba(16,49,70,1) 70%);"
          class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
        <div class="row mx-0 h-100 mt-10">
            <div class="col-12 col-md-2 col-lg-3 col-xl-4 text-center text-md-left">
                <img class="logo" th:src="@{/metronic/assets/media/login-page/loginLeftCard.png}" alt=""/>
            </div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-4 text-light px-7 px-md-0">
                <div class="row mx-0">
                    <div class="col-12 px-0">
                        <div class="d-flex align-items-center mt-19">
                            <a th:href="@{/login}"> <i class="ki ki-long-arrow-back icon-md bg-white text-dark mb-2"></i> </a>
                            <h1 class="ml-5" style="color: #B2D7E0 !important;">সাইন আপ করুন</h1>
                        </div>
                    </div>
                </div>
                <th:block th:with="formId = 'signupAdd'">

                    <!--begin::SuccessErrorMsg-->
                    <th:block th:replace="components/success-and-error-message"></th:block>
                    <!--end::SuccessErrorMsg-->

                    <form
                            th:id="${formId}"
                            class="form"
                            method="POST"
                            enctype="multipart/form-data"
                            th:action="@{/signup}"
                            th:object="${signupAddRequest}"
                    >

                        <div class="form-group mt-5" style="display: none">
                            <div class="input-group input-group-lg">
                                <select th:field="*{employeeType}" class="form-control bg-transparent text-light"
                                        id="incidentType">
                                    <option selected disabled value="">কর্মকর্তা ধরন</option>
                                    <option th:each="status : ${T(com.dgt.paribahanpool.enums.EmployeeType).values()}"
                                            th:value="${status}"
                                            th:text="#{${T(com.dgt.paribahanpool.enums.EmployeeType).getLabel( status )}}">
                                    </option>
                                </select>
                            </div>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeType')}"
                                 th:errors="*{employeeType}"> Error!
                            </div>

                        </div>



                        <div class="row mx-0">
                            <div class="col-md-6 px-0 pl-md-0 pr-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="text"
                                               id="nameBn" placeholder="বাংলায় নাম"
                                               th:field="*{nameBn}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nameBn')}" th:errors="*{nameBn}">
                                        Error!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0 pr-md-0 pl-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="text"
                                               id="nameEn" placeholder="নাম ইংরেজীতে"
                                               th:field="*{nameEn}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}">
                                        Error!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-0">

                            <div class="col-md-6 px-0 pr-md-0 ">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="text"
                                               id="designation" placeholder="পদবি বাংলায়"
                                               th:field="*{designation}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('designation')}"
                                         th:errors="*{designation}"> Error!
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 px-0 pl-md-0 pr-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               placeholder="পদবি ইংরেজীতে"
                                               th:errorclass="is-invalid" type="text" id="designationEn"
                                               th:field="*{designationEn}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('designationEn')}"
                                         th:errors="*{designationEn}"> Error!
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mx-0">
                                <div class="col-md-12 px-0">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <input class="form-control placeholder-white bg-transparent text-light"
                                                   placeholder="পরিচিতি নং"
                                                   th:errorclass="is-invalid" type="number" min="0" id="serviceId"
                                                   th:field="*{serviceId}" required>
                                        </div>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('serviceId')}"
                                             th:errors="*{serviceId}"> Error!
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <div class="form-group">

                            <th:block
                                    th:with="label=${'a'}, field=${'ministryId'}, list=*{ministryResponseList}, class=${'bg-transparent text-light'}"
                                    th:include="inputs/select-list-input"
                            >
                            </th:block>

                        </div>

                        <div class="form-group" style="display: none">
                            <div class="input-group input-group-lg">
                                <input class="form-control placeholder-white bg-transparent text-light"
                                       th:errorclass="is-invalid" type="text"
                                       id="workplace" placeholder="বর্তমান কর্মস্থল/মন্ত্রণালয় বাংলায়"
                                       th:field="*{workplace}">
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('workplace')}"
                                 th:errors="*{workplace}"> Error!
                            </div>
                        </div>

                        <div class="form-group" style="display: none">
                            <div class="input-group input-group-lg">
                                <input class="form-control placeholder-white bg-transparent text-light"
                                       th:errorclass="is-invalid" type="text"
                                       id="workplaceEn" placeholder="বর্তমান কর্মস্থল/মন্ত্রণালয় ইংরেজীতে"
                                       th:field="*{workplaceEn}">
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('workplaceEn')}"
                                 th:errors="*{workplaceEn}"> Error!
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input class="form-control placeholder-white bg-transparent text-light"
                                       th:errorclass="is-invalid" type="text"
                                       id="address" placeholder="ঠিকানা বাংলায়"
                                       th:field="*{address}">
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                                Error!
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input class="form-control placeholder-white bg-transparent text-light"
                                       th:errorclass="is-invalid" type="text"
                                       id="addressEn" placeholder="ঠিকানা ইংরেজীতে"
                                       th:field="*{addressEn}">
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('addressEn')}" th:errors="*{addressEn}">
                                Error!
                            </div>
                        </div>

                        <div class="row mx-0">
                            <div class="col-md-6 px-0 pl-md-0 pr-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="email"
                                               id="email" placeholder="ই-মেইল"
                                               th:field="*{email}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                        Error!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0 pr-md-0 pl-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="number"
                                               id="phoneNo" placeholder="মোবাইল নাম্বার"
                                               th:field="*{phoneNo}">
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}">
                                        Error!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-0">
                            <div class="col-md-6 px-0 pl-md-0 pr-md-1">
                                <div class="form-group">

                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="password"
                                               id="password" placeholder="পাসওয়ার্ড টাইপ করুন"
                                               th:field="*{password}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                        Error!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0 pr-md-0 pl-md-1">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control placeholder-white bg-transparent text-light"
                                               th:errorclass="is-invalid" type="password"
                                               id="retypePassword" placeholder="পাসওয়ার্ড পুনরায় টাইপ করুন"
                                               th:field="*{retypePassword}" required>
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('retypePassword')}"
                                         th:errors="*{retypePassword}"> Error!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-0">
                            <div class="col-12 px-0">
                                <div class="d-flex justify-content-end">
                                    <a>
                                        <button
                                                class="btn btn-sm text-light px-6 py-3  bg-transparent border-light rounded">
                                            পেছনে যান
                                        </button>
                                    </a>
                                    <button
                                            type="submit"
                                            class="btn btn-sm text-white px-6 py-3 ml-2 rounded"
                                            style="background-color: #12B1C4">
                                        আবেদন পাঠিয়ে দিন
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </th:block>
            </div>
        </div>
    </body>
</html>