<script>
    $(document).ready( function (){

        $('#product_add_card_repeater').repeater({

            initEmpty: false,

            show: function () {
                $(this).slideDown();
            },

            hide: function(deleteElement) {
                if(confirm('Are you sure you want to delete this element?')) {
                    $(this).slideUp(deleteElement);
                }
            },

            ready: function (setIndexes) {
                $( '#supplyOrderAdd' ).on('submit', setIndexes);
            }
        });

        $( '#supplyOrderAdd' ).validate({

        });

    });
    $(document).on( "keyup", "#quantity", function() {

        var name = this.name;
        changeTotalRate(name);

    });

    $(document).on( "keyup", "#ratePerUnit", function() {

        var name = this.name;
        changeTotalRate(name);

    });

    function changeTotalRate(name) {

        var prefix = name.split('.')[0];
        var ratePerUnit = document.getElementsByName(prefix+".ratePerUnit")[0].value;
        var quantity = document.getElementsByName(prefix+".quantity")[0].value;
        document.getElementsByName(prefix+".totalRate")[0].value = quantity * ratePerUnit;
        var totalPrice = 0;
        $("input[id*='totalRate']").each(function (i, e) {
            totalPrice += Number(e.value);
        });
        var vat = (totalPrice*0.075).toFixed(2);
        var grandTotal = (totalPrice*1.15).toFixed(2);
        document.getElementById('totalPrice').value = totalPrice;
        document.getElementById('totalPricePreview').value = totalPrice;
        document.getElementById('vat').value = vat;
        document.getElementById('grandTotal').value = grandTotal;
    }

    function showPreview() {

        var tableRow='';

        $("input[id*='totalRate']").each(function (i, e) {

            var tenderNumber = getValueByName(i, 'tenderNumber');
            var productName = getValueByName(i, 'productName');
            var quantity = getValueByName(i, 'quantity');
            var ratePerUnit = getValueByName(i, 'ratePerUnit');
            var totalRate = getValueByName(i, 'totalRate');
            var comments = getValueByName(i, 'comments');


            tableRow += '<tr>';

            tableRow += '<td>'+ tenderNumber +'</td>';
            tableRow += '<td>'+ productName +'</td>';
            tableRow += '<td>'+ quantity +'</td>';
            tableRow += '<td>'+ ratePerUnit +'</td>';
            tableRow += '<td>'+ totalRate +'</td>';
            tableRow += '<td>'+ comments +'</td>';

            tableRow += '</tr>';

        });

        document.getElementById("purchase-demand-preview-table-body").innerHTML = tableRow;

        $('#purchaseDemandPreview').modal('show');
    }

    function getValueByName(index,name) {

        var value = document.getElementsByName("productAddRequests["+ index + "]." + name)[0].value;

        return value;
    }

</script>