<script>

    $( document ).ready( function() {

        let supplyOrderSearchTable = $( '#supplyOrderSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/supply-order/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'productType'
                    },
                    {
                        data: 'vendorName'
                    },
                    {
                        data: 'date'
                    },
                    {
                        data: 'address'
                    },
                    {
                        data: 'totalPrice'
                    },
                    {
                        data: 'vat'
                    },
                    {
                        data: 'grandTotal'
                    },
                    {
                        data: 'comment'
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/supply-order/print/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + printExpenseTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-print text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-supply-order" data-id="' + data + '" title="' + deleteTitle + '">\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-supply-order", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/supply-order/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            supplyOrderSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });


    });

</script>