<script>

    $( document ).ready( function() {

        let billSearchTable = $( '#billSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/bill/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'billProviderName'
                    },
                    {
                        data: 'billSubmitter',
                        orderable: false
                    },
                    {
                        data: 'organizationName'
                    },
                    {
                        data: 'financeCode',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'billAmount',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/bill/preview/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/bill/chequeissue/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewExpenseTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-money-bill-wave text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/bill/distribute/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewReportTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-book text-inof"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-bill" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-bill", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/bill/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            billSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });


    });

</script>