<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label for="servicingDate"> [[#{label.marine.add.servicing_date}]] <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="servicingDate" name="servicingDate"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label for="servicingCost"> [[#{label.marine.add.servicing_cost}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" id="servicingCost" min="0" name="servicingCost" required>

            </div>

            <div class="col-md-4">

                <label for="servicingVendorName"> [[#{label.marine.add.servicing_vendor_name}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="servicingVendorName" name="servicingVendorName" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>