<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
            </div>

            <div class="card-body">

                <table id="marineServiceDispositionSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.marine.add.model_year}"> Model Year </th>
                        <th th:text="#{label.marine.add.brand}"> Brand </th>
                        <th th:text="#{label.marine.add.color}"> Color </th>
                        <th th:text="#{label.marine.add.marine_type}"> Marine Type </th>
                        <th th:text="#{label.marine.add.engine_no}"> Engine No </th>
                        <th th:text="#{label.marine.add.engine_quantity}"> Engine Quantity </th>
                        <th th:text="#{label.marine.add.horsepower}"> Horsepower </th>
                        <th th:text="#{label.marine.add.fuel_type}"> Fuel Type </th>
                        <th th:text="#{label.marine.add.seat_capacity}"> Seat Capacity </th>
                        <th th:text="#{label.marine.add.sales_organization}"> Sales Organization Name </th>
                        <th th:text="#{label.marine.add.allocation_details}"> Marine Owner </th>
                        <th th:text="#{label.marine.add.allocation_date}"> Allocation Date </th>
                        <th th:text="#{label.common.status}"> Status </th>
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>