<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/marine/add}" >
                        <button class="btn btn-success" th:text="#{menu.vehicle-management.water-transport.marine-attachment}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="marineSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th th:text="#{label.marine.add.marine_type}"> Model Year </th>
                            <th th:text="#{label.marine.add.engine_no}"> Engine No </th>
                            <th th:text="#{label.marine.add.engine_quantity}"> Brand </th>
                            <th th:text="#{label.marine.add.brand}"> Color </th>
                            <th th:text="#{label.marine.add.horsepower}"> Marine Type </th>
                            <th th:text="#{label.marine.add.model_year}"> Fuel Type </th>
                            <th th:text="#{label.marine.add.fuel_type}"> Seat Capacity </th>
                            <th th:text="#{label.marine.add.seat_capacity}"> Sales Organization Name </th>
                            <th th:text="#{label.marine.add.sales_organization}"> Marine Owner </th>
                            <th th:text="#{label.marine.add.allocation_date}"> Allocation Date </th>
                            <th th:text="#{label.marine.add.servicing_date}"> Servicing Date </th>
                            <th th:text="#{label.common.actions}"> Actions </th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>