<th:block th:with="formId = 'marineAdd'" >
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/marine/add}"
            th:object="${marineAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div  class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div  class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <label> [[#{label.marine.add.marine_type}]] <span class="text-danger">*</span> </label>
                            <select th:field="*{marineType}"  class="form-control" id="marineType">
                                <option th:each="registration : ${T(com.dgt.paribahanpool.enums.MarineType).values()}"
                                        th:value="${registration}" th:text="#{${T(com.dgt.paribahanpool.enums.MarineType).getLabel( registration )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('marineType')}" th:errors="*{marineType}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="engineNo"> [[#{label.marine.add.engine_no}]] </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="text" id="engineNo" th:field="*{engineNo}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineNo')}" th:errors="*{engineNo}" > Error! </div>

                        </div>


                        <div class="col-md-4">

                            <label for="engineQuantity"> [[#{label.marine.add.engine_quantity}]] </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="number" min="0" id="engineQuantity" th:field="*{engineQuantity}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineQuantity')}" th:errors="*{engineQuantity}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="brand"> [[#{label.marine.add.brand}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid"  type="text" id="brand" th:field="*{brand}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="horsepower"> [[#{label.marine.add.horsepower}]] </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="number" min="0" id="horsepower" th:field="*{horsepower}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('horsepower')}" th:errors="*{horsepower}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="modelYear"> [[#{label.marine.add.model_year}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" min="1900" max="2100" id="modelYear" th:field="*{modelYear}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('modelYear')}" th:errors="*{modelYear}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label> [[#{label.marine.add.fuel_type}]] </label>
                            <select th:field="*{fuelType}"  class="form-control" id="fuelType">
                                <option th:each="fuel : ${T(com.dgt.paribahanpool.enums.MarineFuelType).values()}"
                                        th:value="${fuel}" th:text="#{${T(com.dgt.paribahanpool.enums.MarineFuelType).getLabel( fuel )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fuelType')}" th:errors="*{fuelType}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="seatCapacity"> [[#{label.marine.add.seat_capacity}]] </label>
                            <input  class="form-control" type="number" min="0" id="seatCapacity" th:field="*{seatCapacity}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seatCapacity')}" th:errors="*{seatCapacity}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="salesOrganizationName"> [[#{label.marine.add.sales_organization}]] </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="salesOrganizationName" th:field="*{salesOrganizationName}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('salesOrganizationName')}" th:errors="*{salesOrganizationName}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="requisitionDetails"> [[#{label.marine.add.allocation_details}]] </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="requisitionDetails" th:field="*{requisitionDetails}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('requisitionDetails')}" th:errors="*{requisitionDetails}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="allocationDate"> [[#{label.marine.add.allocation_date}]] <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input class="form-control datepicker" th:errorclass="is-invalid" type="text" id="allocationDate" th:field="*{allocationDate}"  required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('allocationDate')}" th:errors="*{allocationDate}" > Error! </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label for="boatDetails"> [[#{label.marine.add.boat_details}]] </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="boatDetails" th:field="*{boatDetails}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('boatDetails')}" th:errors="*{boatDetails}" > Error! </div>

                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="cost"> [[#{label.marine.add.cost}]] </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="number" min="0" id="cost" th:field="*{cost}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="buyDate"> [[#{label.marine.add.buy_date}]] <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input class="form-control datepicker" th:errorclass="is-invalid" type="text" id="buyDate" th:field="*{buyDate}" required/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('buyDate')}" th:errors="*{buyDate}" > Error! </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div id="marine_add_card_repeater">

                    <div data-repeater-list="marineServiceInfoAddRequests">

                        <th:block th:if="*{ marineServiceInfoAddRequests == null or #lists.size( marineServiceInfoAddRequests ) == 0 }">
                            <th:block th:replace="marine/marine-add-service-info-template" />
                        </th:block>

                        <th:block th:if="*{ marineServiceInfoAddRequests != null and #lists.size( marineServiceInfoAddRequests ) > 0 }">
                            <th:block th:replace="marine/marine-add-service-info" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.marine.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>