<th:block th:with="formId = 'vehicleAdd'" xmlns:th="http://www.w3.org/1999/html">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/marine-service-application/add}"
            th:object="${marineServiceApplicationAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

               <!-- <input class="form-control" id="marineId" th:field="*{marineId}" type="hidden" />-->

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <th:block th:replace="inputs/hidden-id"></th:block>

                <th:block th:with="field=${'marineId'}" th:include="inputs/hidden-input"></th:block>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.marine-service-app.engineNo'}, field=${'engineNo'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.marine-service-app.serviceApplicaionDate'}, field=${'applicationDate'}, required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.marine-service-app.servicingDate'}, field=${'serviceDate'}, required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.marine-service-app.servicingTime'}, field=${'serviceTime'}, required=${false}"
                                    th:include="inputs/time-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.common.user'}, field=${'userName'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.common.designation'}, field=${'userDesignation'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.common.working_place'}, field=${'userWorkingPlace'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.common.mobile'}, field=${'userMobileNumber'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.driver.assign.add.name'}, field=${'driverName'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.vehicle.search.driver.mobile'}, field=${'driverMobileNumber'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.marine-service-app.cost'}, field=${'cost'}, type=${'number'}, required=${true}, min=${'0'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'serviceCategory'},label=${'label.vehicle.service.category'}, required=${true}, enum=${'com.dgt.paribahanpool.enums.ServiceCategory'}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4" id="serviceTypeDiv" >

                            <th:block
                                    th:with="field=${'serviceType'},label=${'label.vehicle.service.type'}, required=${true}, enum=${'com.dgt.paribahanpool.enums.ServiceType'}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</th:block>