
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div class="card-toolbar">
            <a  th:href="@{/marine-service-application/add}" >
                <button class="btn btn-success" th:text="#{title.marine-service-application.add}"></button>
            </a>
        </div>
    </div>

    <div class="card-body">

        <table id="marineServiceApplicationSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>
                    <th th:text="#{label.common.id}">ID</th>
                    <th th:text="#{label.marine-service-app.engineNo}">  </th>
                    <th th:text="#{label.marine.add.horsepower}"> Marine Type </th>
                    <th th:text="#{label.marine.add.brand}"> Color </th>
                    <th th:text="#{label.marine-service-app.servicingDate}">  </th>
                    <th th:text="#{label.marine-service-app.cost}">  </th>
                    <th th:text="#{label.common.status}"> Status </th>
                    <th th:text="#{label.common.actions}"> Actions </th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
