<div class="mt-4 pb-2">
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.model_year}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="engineNo" th:value="${marineServiceDispositionApplicationViewResponse.modelYear}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.brand}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserName" th:value="${marineServiceDispositionApplicationViewResponse.brand}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.marine_type}">পদ</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserWorkingPlace" th:value="${marineServiceDispositionApplicationViewResponse.marineType}" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.engine_no}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserMobileNumber" th:value="${marineServiceDispositionApplicationViewResponse.engineNo}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.engine_quantity}">পদ</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="driverName" th:value="${marineServiceDispositionApplicationViewResponse.engineQuantity}" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.horsepower}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="driverMobileNumber" th:value="${marineServiceDispositionApplicationViewResponse.horsepower}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.fuel_type}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="serviceDate" th:value="${marineServiceDispositionApplicationViewResponse.fuelType}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.seat_capacity}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="serviceTime" th:value="${marineServiceDispositionApplicationViewResponse.seatCapacity}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.sales_organization}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="cost" th:value="${marineServiceDispositionApplicationViewResponse.salesOrganizationName}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine.add.allocation_details}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" th:value="${marineServiceDispositionApplicationViewResponse.allocationDate}"/>
        </div>
    </div>
</div>