<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
    </div>

    <div class="card-body">

        <div class="mt-5">
            <main id="contentSection" class="mx-5 my-4">
                <div class="contentSectionContainer">
                    <div th:replace="marine/marine-service-disposition-application-info"></div>

                    <th:block th:replace="committee/component/committee :: committee-list( *{marineServiceDispositionApplicationViewResponse.committeeResponseList} )"></th:block>

                    <br>

                    <th:block th:replace="document/component/document-list :: document-list( *{marineServiceDispositionApplicationViewResponse.committeeReportDocuments} )"></th:block>

                    <br/>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label"> [[#{label.committee.action-taker}]] </label>
                        <div class="col-md-10">
                            <label class="col-form-label" th:if="${lang == 'en'}"> <b> [[${marineServiceDispositionApplicationViewResponse.actionTakerResponse.nameEn }]] </b></label>
                            <label class="col-form-label" th:if="${lang == 'bn'}"> <b> [[${marineServiceDispositionApplicationViewResponse.actionTakerResponse.nameBn }]] </b></label>
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <form
                th:action="@{/marine-service-disposition-application/take-action}"
                method="POST"
                enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${marineServiceDispositionApplicationViewResponse.id}" name="id" />
            <th:block th:replace="workflow/available-actions"></th:block>

            <div class="mx-5 my-4" style="display:none" id="add_committee_card_repeater">

                <h3 class="">
                    [[#{label.incident.workflow.create-committee-list}]]
                </h3>

                <div data-repeater-list="committeeAddRequestList">

                    <div data-repeater-item>

                        <hr>

                        <th:block th:replace="committee/component/add-committee" />

                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-lg-12">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.incident.add.add_committee_member}]]</a>
                    </div>
                </div>

            </div>

            <div class="form-group row mx-2" style="display:none" id="action-taker-committee">

                <div class="col-md-4">
                    <label> [[#{label.incident.add.action-taker-committee}]] </label>
                    <select id="userList" class="form-control" name="actionTakerMemberId">
                        <option value="">[[#{label.common.choose}]]</option>
                        <option
                                th:each="item: ${marineServiceDispositionApplicationViewResponse.showEmployeeList}"
                                th:value="${item.id}"
                                th:text="${ lang == 'en'? item.nameEn: item.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="mx-5 my-4" id="inquiry-report-upload" style="display:none">

                <h3 class="">
                    [[#{label.incident.file.inquiry-file-attachments}]]
                </h3>

                <label for="committeeInvestigationReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.incident.file.inquiry-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="committeeInvestigationReportFiles" id="committeeInvestigationReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

        </form>

    </div>

</div>

