<div data-repeater-item th:each="serviceInfoAddRequest, stat: *{marineServiceInfoAddRequests}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <input type="hidden" th:name = "${ 'marineServiceInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ marineServiceInfoAddRequests[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label for="servicingDate"> [[#{label.marine.add.servicing_date}]] <span class="text-danger">*</span> </label>

                <div class="input-group date">

                    <input  class="form-control datepicker" th:errorclass="is-invalid" type="text" id="servicingDate" th:name = "${ 'marineServiceInfoAddRequests[' + stat.index + '].servicingDate' }" th:value="*{{ marineServiceInfoAddRequests[__${stat.index}__].servicingDate }}"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>

                    <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'marineServiceInfoAddRequests[' + stat.index + '].servicingDate')}" style="display: block">

                        <th:block th:each="err : ${#fields.errors( 'marineServiceInfoAddRequests[' + stat.index + '].servicingDate' )}" >
                            <span th:text="${err}"></span><br/>
                        </th:block>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <label for="servicingCost"> [[#{label.marine.add.servicing_cost}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" min="0" id="servicingCost" th:name = "${ 'marineServiceInfoAddRequests[' + stat.index + '].servicingCost' }" th:value="*{marineServiceInfoAddRequests[__${stat.index}__].servicingCost}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('marineServiceInfoAddRequests[' + stat.index + '].servicingCost')}" th:errors="*{marineServiceInfoAddRequests[__${stat.index}__].servicingCost}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label for="servicingVendorName"> [[#{label.marine.add.servicing_vendor_name}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="servicingVendorName" th:name = "${ 'marineServiceInfoAddRequests[' + stat.index + '].servicingVendorName' }" th:value="*{marineServiceInfoAddRequests[__${stat.index}__].servicingVendorName}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors( 'marineServiceInfoAddRequests[' + stat.index + '].servicingVendorName')}" th:errors="*{marineServiceInfoAddRequests[__${stat.index}__].servicingVendorName}" > Error! </div>

            </div>

        </div>
    </div>
</div>