<div class="mt-4 pb-2">
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.applied_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" th:value="${marineServiceApplicationViewResponse.appliedDate}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine-service-app.engineNo}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="engineNo" th:value="${marineServiceApplicationViewResponse.engineNo}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.name}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserName" th:value="${marineServiceApplicationViewResponse.marineUserName}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.designation}">পরিচিতি নং</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserDesignation" th:value="${marineServiceApplicationViewResponse.marineUserDesignation}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.mobile}">পদ</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserWorkingPlace" th:value="${marineServiceApplicationViewResponse.marineUserWorkingPlace}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.working_place}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="marineUserMobileNumber" th:value="${marineServiceApplicationViewResponse.marineUserMobileNumber}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.driver.assign.add.name}">পদ</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="driverName" th:value="${marineServiceApplicationViewResponse.driverName}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.vehicle.search.driver.mobile}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="driverMobileNumber" th:value="${marineServiceApplicationViewResponse.driverMobileNumber}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine-service-app.servicingDate}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="serviceDate" th:value="${marineServiceApplicationViewResponse.serviceDate}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine-service-app.servicingTime}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="serviceTime" th:value="${marineServiceApplicationViewResponse.serviceTime}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.marine-service-app.cost}">কর্মস্থল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="cost" th:value="${marineServiceApplicationViewResponse.cost}" readonly="readonly"/>
        </div>
    </div>
</div>