<th:block th:fragment="middle( response, operationCode )">

  <div>
    <table class="mt-4 w-100">
      <tr>
        <td>
          প্রাতিষ্ঠানিক/অপারেশন কোড নং - ..........
          <span th:each="digit : ${operationCode}"
                th:class="'code-box'" th:text="${digit}"></span>
          টোকেন নং - ..........
          তারিখ - [[${response.billCreationDate}]]
        </td>
      </tr>
      <tr>
        <td>
          ভাউচার নং - [[${response.voucherNumber}]]
          তারিখ - ..........
          টি. আই. এন নং - ..........
          বি. আই. এন নং - ..........
        </td>
      </tr>
    </table>
  </div>

</th:block>