<th:block th:fragment="texts( response )">

    <div>
        <div>
            ১। প্রত্যয়ন করা যাইতেছে যে, জনস্বার্থে এই ব্যায়,অপরিহার্য ছিল। আমি জবিত প্রত্যয়ন করিতেছি যে, আমার জ্ঞান ও বিশ্বাস মতে, এই বিলে উল্লিখিত প্রদত্ত অর্থ নিম্মবর্ণিত ক্ষেত্র ব্যাতীত প্রকৃত প্রাপককে প্রদান করা হইয়াছে, তবে স্থায়ী অগ্রীমের টাকা অপেক্ষা...  বেশী হওয়ায়,  অবশিষ্ট পাওনা এই বিলে....  টাকা প্রাপ্তির পর প্রদান করা হইবে।আমি যথাসম্ভব সকল ভাউচার গ্রহণ করিয়াছি এবং সেগুলি এমনভাবে বাতিল করা হইয়াছে যেন পুনরায় ব্যাবহার করা না যায়। ২৫ টাকার উর্দ্ধের সকল ভাউচারসমূহ এমনভাবে সংরক্ষণ করা হইয়াছে, যেন.....  ৩ বৎসরের মধ্যে এইগুলি পেশ করা যায়। সকল পূতকর্মের বিল সঙ্গে সংযুক্ত করা হইল। <br>
        </div>
        <div>
            ২। প্রত্যয়ন করা যাইতেছে যে, যে সকল দ্রব্যের জন্য স্টোর একাউন্টস সংরক্ষণ করা হয় সে সব দ্রব্যাদি স্টক রেজিস্টারে অন্তর্ভুক্ত করা হইয়াছে।  <br>
        </div>
        <div>
            ৩। প্রত্যয়ন করা যাইতেছে যে, যে সব দ্রব্যাদি ক্রয়ের বিল পেশ করা হইয়াছে, সে সব দ্রব্যের পরিমান সঠিক, গুণগত মান ভালো, যে দরে ক্রয় করা হইয়াছে, তাহা বাজার দরের অধিক নহে এবং কার্যাদেশ বা চালান (ইনভয়স) এর যথাস্থানে লিপিবদ্ধ করা হইয়াছে।  যাহাতে একই দ্রব্যের জন্য দ্বিতীয় বার (ডুপ্লিকেট) অর্থ এড়ানো যায়। <br>
        </div>
        <div>
            ৪। প্রত্যয়ন করা যাইতেছে যে - <br>
            (ক) এই বিলে দাবিকৃত পরিবহন ভাড়া প্রকৃতপক্ষে দেওয়া হইয়াছে এবং ইহা অপরিহার্য ছিল এবং ভাড়ার হার প্রচলিত যানবাহন ভাড়ার হারের মধ্যেই এবং <br>
            (খ) সংশ্লিষ্ট সরকারি কর্মচারী সাধারণ বিধিবলে এই ভ্রমণের জন্য ভ্রমণ ব্যায় প্রাপ্য হন না, এবং এর অতিরিক্ত কোনো বিশেষ পারিশ্রমিক এই দায়িত্ব পালনের জন্য প্রাপ্য হইবে না। <br>
        </div>
        <div>
            ৫। প্রত্যয়ন করা যাইতেছে যে, যে সকল। .. কর্মচারীর বেতন এই বিলে দাবি করা হইতেছে তাহারা ওই  ........ সরকারি কাজে নিয়োজিত ছিলেন।  (এস. আর, ১৭১)
        </div>
        <div>
            ৬।  প্রত্যয়ন করা যাইতেছে যে, - <br>
            (ক) ..... দ্রব্য বা স্ট্যাম্প বাবত ২০ টাকার অধিক কোনো  ....... করা যায় নাই। <br>
            (খ) ব্যাক্তিগত কাজে ব্যবহৃত তবু  .. কোনো খরচ এই বিলে অন্তর্ভুক্ত করা হয় নাই। <br>
            (গ) আবাসিক ভবনে ব্যবহৃত বিদ্যুৎ . . খরচ এই বিলে অন্তর্ভুক্ত করা হয় নাই। <br>
            (ঘ) এই বৎসরে ....... প্রদত্ত পরিশোধিত টাকা _____________ (যা গত ৩ বৎসরের জরিমানা বাবদ প্রাপ্তির গড় টাকার সামান্য অধিক হইবে না।) <br>
        </div>
        <div>
            ৭। জাহার নাম চেক ইস্যু করা হইবে (প্রযোজ্য ক্ষেত্রে) : একাউন্টস অফিসার, সরকারি যানবাহন অধিদপ্তর, ঢাকা।<br>
        </div>
    </div>

</th:block>