<th:block th:fragment="table( response )">

    <table border class="mt-2 w-100">

        <thead>

        <tr align="center">
            <th th:text="#{label.bill-preview-table-finance-code}"></th>
            <th th:text="#{label.bill-preview-table-description}"></th>
            <th th:text="#{label.bill-preview-table-amount-of-money}"></th>
        </tr>

        </thead>

        <tbody>

        <tr>
            <td th:text="${response.financeCode}" align="center"></td>
            <td > [[${response.billDetails}]]  </td>
            <td align="right" th:text="${response.billAmount}"></td>
        </tr>

        <tr>
           <td colspan="2" align="center" th:text="#{label.bill-preview-table-amount-of-money}"></td>
           <td align="right" th:text="${response.billAmount}"></td>
        </tr>

        <tr>
            <td colspan="3" th:text="#{label.bill-preview-table-deduction}"></td>
        </tr>

        <tr th:each="finance : ${response.billCuttingViewResponseList}">

            <td align="center">[[${finance.financeCode}]]</td>
            <td> [[${finance.name}]] </td>
            <td align="right"> [[${finance.amount}]] </td>

        </tr>

<!--        <tr>-->
<!--            <td th:text="${response.financeCode}" align="center">1110211</td>-->
<!--            <td th:text="#{label.bill-preview-table-tax}"></td>-->
<!--            <td align="right" th:text="${response.tax}"></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td align="center" th:text="${response.financeCode}">1110211</td>-->
<!--            <td th:text="#{label.bill-preview-table-vat}"></td>-->
<!--            <td align="right" th:text="${response.vat}"></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td th:text="${response.financeCode}" align="center">1110211</td>-->
<!--            <td th:text="#{label.bill-preview-table-stamp-duty}"></td>-->
<!--            <td align="right" th:text="${response.vat}"></td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td th:text="${response.financeCode}" align="center">1110211</td>-->
<!--            <td th:text="#{label.bill-preview-table-jamanot}"></td>-->
<!--            <td align="right" th:text="${response.vat}"></td>-->
<!--        </tr>-->

        <tr>
            <td colspan="2" th:text="#{label.bill-preview-table-total-deduction}" align="right"></td>
            <td align="right" th:text="${response.deduction}"></td>
        </tr>

        <tr>
            <td align="center">৮১৭২১০৮</td>
            <td th:text="#{label.bill-preview-table-net-bill}" align="right"></td>
            <td align="right" th:text="${response.netBill}"></td>
        </tr>

        <tr>
            <td colspan="3" th:text="#{label.bill-preview-table-total-in-words}"></td>
        </tr>

        </tbody>

    </table>

</th:block>