<th:block th:fragment="header( response )">

    <div>
        <div>
            <table>
                <tr><td>(টি. আর ফরম নং ২১, এস. আর-১৮৩ দ্রষ্টব্য)</td></tr>
                <tr><td> বিল নং - প্রধান কার্যালয়/আপ্যায়ন ব্যায়/০৪</td></tr>
            </table>
        </div>
        <div>
            <table class="mt-4 w-100">
                <tr><td align="center">ক্রয় সরবরাহ ও সেবা বাবদ ব্যায়ের বিল</td></tr>
                <tr><td align="center">দপ্তর | সরকারি যানবাহন অধিদপ্তর</td></tr>
                <tr><td align="center">সচিবালয় লিংকরোড, ঢাকা।</td></tr>
            </table>
        </div>
    </div>

</th:block>