<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">

  <div align = "center" style = "margin-bottom: 2rem;">
    <table>
      <tbody>
      <tr  align = "center">

        <td style="width:100%;">
          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">ক্রয় সরবরাহ ও সেবা বাবদ ব্যায়ের বিল</span></b></h1>

        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>