<div class="card-body">

    <!--<th:block th:replace="vehicle/component/service-application-preview :: view( viewResponse=( *{billViewResponse} ) )"></th:block>-->

    <form th:action="@{/bill/take-action}"
          method="POST"
    >
        <input type="hidden" th:value="${billViewResponse.id}" name="id" />

        <th:block th:replace="workflow/available-actions"></th:block>

    </form>

</div>