<th:block th:with="formId = 'userLeveLAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${userLevelAddRequest.id} == null ?  @{/user-level/add} : @{/user-level/edit/{id}(id=${userLevelAddRequest.id})}"
            th:object="${userLevelAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}"/>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.user-level.add.nameEn}" for="nameEn">nameEn <span class="text-danger">*</span> </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="nameEn" th:field="*{nameEn}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.user-level.add.nameBn}" for="nameBn">nameBn <span class="text-danger">*</span> </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="nameBn" th:field="*{nameBn}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nameBn')}" th:errors="*{nameBn}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.user-level.add.level}" for="levelOfUserLevel">levelOfUserLevel <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" th:min="*{levelOfUserLevel}" type="number" id="levelOfUserLevel" th:field="*{levelOfUserLevel}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('levelOfUserLevel')}" th:errors="*{levelOfUserLevel}" > Error! </div>

                        </div>

                    </div>
                </div>

                <th:block th:replace="user-level/component/add-role :: roleView( roleGroupsOfCurrentUser=( *{roleGroupsOfCurrentUser} ), roleSetofUserLevel = ( *{roleSet} ) )" ></th:block>

            </div>

        </div>

    </form>

</th:block>