<div class="row">
  <div class="col-md-12">

    <div class="card card-custom gutter-b example example-compact">

      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            [[ #{ ${ pageTitle } } ]]
          </h3>
        </div>

        <div class="card-toolbar">
          <a  th:href="@{/user-level/add}" >
            <button class="btn btn-success" th:text="#{label.user-level.button.add}"> Button </button>
          </a>
        </div>
      </div>

      <div class="card-body">

        <table id="userLevelSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">
          <thead>
            <tr>

              <th th:text="#{label.user-level.add.id}">ID</th>
              <th th:text="#{label.user-level.add.nameEn}"> Name En </th>
              <th th:text="#{label.user-level.add.nameBn}"> Name Bn </th>
              <th th:text="#{label.user-level.add.level}"> Level </th>
              <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
          </thead>

          <tbody>

          </tbody>

        </table>

      </div>

    </div>

  </div>
</div>