<th:block th:fragment="file-chooser( name, label )">

    <label th:text="#{${label}}" th:for="${name}">Attachments</label><br>

    <label th:for="${name}" class="custom-file-upload rounded shadow-sm">
        [[#{label.file.attachments}]]&nbsp;
        <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
    </label>

    <input type="file" class="pool-file-chooser" th:errorclass="is-invalid" th:field="*{__${name}__}" th:accept="${accept}" multiple style="display:none;" />

    <div class="data-files"></div>

    <div class="invalid-feedback" th:if="${#fields.hasErrors( name )}" th:errors="*{__${name}__}">
        Error!
    </div>

</th:block>