<script>

    const host = "[[${host}]]";
    const port = "[[${port}]]";
    const context = "[[${contextPath}]]";
    const csrf = "[[${_csrf.token}]]";
    const csrfParamName = "[[${_csrf.parameterName}]]";
    const deleted = "[[#{success.file.deleted}]]";
    const deleteTitle = "[[#{label.datatable.action.delete}]]";
    const editTitle = "[[#{label.datatable.action.edit}]]";
    const viewTitle = "[[#{label.datatable.action.view}]]";
    const viewExpenseTitle = "[[#{label.datatable.action.view-expense}]]";
    const printExpenseTitle = "[[#{label.datatable.action.print-expense}]]";
    const viewReportTitle = "[[#{label.datatable.action.view-report}]]";
    const historyTitle = "[[#{label.datatable.action.history}]]";
    const downloadTitle = "[[#{label.datatable.action.download}]]";
    const assignVehicleTitle = "[[#{label.datatable.action.vehicle-assign}]]";
    const replaceVehicleTitle = "[[#{label.datatable.action.vehicle-replace}]]";
    const chequeAddPage = "[[#{label.datatable.action.cheque-add}]]";
    const chequeDistributePage = "[[#{label.datatable.action.cheque-distribute}]]";

    const poolConfirmation = "[[#{label.pool-confirm.common.sure}]]";
    const poolRevertConfirmation = "[[#{label.pool-confirm.common.revert-confirm}]]";
    const poolConfirmYes = "[[#{label.pool-confirm.common.yes}]]";
    const poolConfirmYesFile = "[[#{label.pool-confirm.common.yes-file}]]";
    const poolConfirmNo = "[[#{label.pool-confirm.common.no}]]";

    const showEntriesHeader ="[[#{label.datatable.language.show-entry-header}]]";
    const search ="[[#{label.datatable.language.search}]]";
    const showEntriesFooter ="[[#{label.datatable.language.show-entry-footer}]]";
    const next ="[[#{label.datatable.language.next}]]";
    const previous ="[[#{label.datatable.language.previous}]]";
    const emptyTable ="[[#{label.datatable.language.empty-table}]]";
    const infoFiltered ="[[#{label.datatable.language.info-filtered}]]";
    const infoEmpty ="[[#{label.datatable.language.info-empty}]]";
    const zeroRecords ="[[#{label.datatable.language.zero-records}]]";
    const firstPage ="[[#{label.datatable.footer.first-page}]]";
    const lastPage ="[[#{label.datatable.footer.last-page}]]";
    const nextPage ="[[#{label.datatable.footer.next-page}]]";
    const previousPage ="[[#{label.datatable.footer.previous-page}]]";
    const noInfo ="[[#{label.datatable.footer.zero-records}]]";
    const info ="[[#{label.datatable.footer.info}]]";
    const loading = "[[#{label.datatable.loading}]]";
    const processing = "[[#{label.datatable.processing}]]";
    const ascending = "[[#{label.datatable.ascending}]]";
    const descending = "[[#{label.datatable.descending}]]";

    const monthList = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];

    const GEO_TYPE = {
        DIVISION: 0,
        DISTRICT: 1,
        UPAZILA: 2
    };

    const OWNER_TYPE = {

        DIVISION: 0,
        DISTRICT: 1,
        UPAZILA: 2,
        USER: 3
    };

    const pageLengthEn = [
        [10, 25, 50],
        [10, 25, 50]
    ];

    const pageLengthBn = [
        [10, 25, 50],
        ["১০", "২৫", "৫০"]
    ];

    const lang = "[[${lang}]]";

    function removeRequiredAttribute(formId){

        $("#" + formId + " input, #" + formId + " input select, #" + formId + " input textarea").removeAttr( "required" );
    }

    function addRequiredAttribute(formId){

        $("#" + formId + " input, #" + formId + " input select, #" + formId + " input textarea").attr( "required", "required" );
    }

    function resetForm(formId) {
        document.getElementById(formId).reset();
    }

    function submitForm(formId) {
        document.getElementById(formId).submit();
    }

    function poolConfirm( swalConfig, successCallback ) {

        Swal.fire( swalConfig )
            .then( function(result) {

                if(result.value) {

                    successCallback(result);
                }
            });
    }

    function getStateLabel( status, stateType ){

        if( stateType == 'START' ){
            return '<span class="label label-md label-info label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
        }
        else if( stateType == 'INTERMEDIATE' ){
            return '<span class="label label-md label-primary label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
        }
        else if( stateType == 'POSITIVE_END' ){
            return '<span class="label label-md label-success label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
        }
        else if( stateType == 'NEGATIVE_END' ){
            return '<span class="label label-md label-danger label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
        }
    }

    function getTextFromNameResponse( nameResponse ){

        if( !nameResponse )
            return "";

        if( lang == 'en' )
            return nameResponse.nameEn;
        else
            return nameResponse.nameBn;
    }

    $( document ).ready( function (){

        $(".delete-doc" ).on( "click", function( e ){

            let id = $(this).data( "id" );
            let row = $(this).closest( "tr" );

            if( typeof id != 'undefined' || id != null || id <= 0 ){

                poolConfirm(
                    {
                        title: poolConfirmation,
                        text: poolRevertConfirmation,
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: poolConfirmYesFile,
                        cancelButtonText: poolConfirmNo
                    },
                    (result) => {

                        let docDeleteUrl = context + "/api/doc/" + id;

                        let param = {};
                        param[csrfParamName] = csrf;

                        callAjax(

                            docDeleteUrl,
                            param,
                            "DELETE",
                            ( data ) => {

                                if( data['success'] ) {

                                    Swal.fire(
                                        deleted + "!",
                                        data['message'],
                                        "success"
                                    );

                                    $(row).remove();
                                }
                                else{

                                    commonErrorCallback( data );
                                }
                            },
                            commonErrorCallback
                        );
                    }
                );
            }
        });

        $(".enable-select2").select2();
    });

    const dataTableBaseConfig = {

        searchDelay: 500,
        processing: true,
        lengthMenu: lang == 'en'? pageLengthEn:pageLengthBn,

        language: {

            paginate: {
                sFirst: firstPage,
                sLast: lastPage,
                sNext: nextPage,
                sPrevious: previousPage
            },

            zeroRecords: noInfo,
            infoFiltered: infoFiltered,
            info: info,
            infoEmpty: noInfo,
            emptyTable: emptyTable,
            decimal:        "",
            infoPostFix:    "",
            thousands:      ",",
            lengthMenu:     showEntriesHeader,
            loadingRecords: '<div class="spinner spinner-primary spinner-right">' + loading + '</div>',
            processing:     '<div class="spinner spinner-primary spinner-right">' + processing + '</div>',
            search:         search,
            aria: {

                sortAscending: ascending,
                sortDescending: descending
            }
        }
    }

    const dataTableEnableAjax = {
        serverSide: true
    }

    const dataTableEnableResponsive = {
        responsive: true
    }

    const dataTableCommonConfigNonAjax = {

        ...dataTableBaseConfig,
        ...dataTableEnableResponsive
    }

    const dataTableCommonConfig = {

        ...dataTableCommonConfigNonAjax,
        ...dataTableEnableAjax
    };

    function initGeoByGeoType( geoType ){

        if( geoType == GEO_TYPE.DIVISION ){

            $( '#divDivisionList' ).show();
            $( '#divDistrictList' ).hide();
            $( '#divUpazilaList' ).hide();
        }
        else if( geoType == GEO_TYPE.DISTRICT ){

            $( '#divDivisionList' ).show();
            $( '#divDistrictList' ).show();
            $( '#divUpazilaList' ).hide();
        }
        else if( geoType == GEO_TYPE.UPAZILA ){

            $( '#divDivisionList' ).show();
            $( '#divDistrictList' ).show();
            $( '#divUpazilaList' ).show();
        }
    }

    function callAjaxWithEmployeeType( ownerTypeValue, geolocationId ){

        callAjax(
            "/api/vehicle/vehicle-owner-count/" + ownerTypeValue + "/" + geolocationId,
            {},
            "GET",
            (data) => {

                if (data.success == true) {

                    $("#vehicleCount").val(data.payload);
                } else {

                    $("#vehicleCount").val("0");
                    // commonErrorCallback( data );
                }
            },
            (data) => {

                $("#vehicleCount").val("0");
                // commonErrorCallback( data );
            }
        );
    }

    function callAjaxToGetListOfVehicles( selectedVal, geolocationId ){

        callAjax(
            "/api/vehicle/assigned-vehicle-list/" + selectedVal + "/" + geolocationId,
            {},
            "GET",
            (data) => {

                if (data.success == true) {

                    $( '#vehicleList' ).empty();

                    const initText = "[[#{label.common.choose}]]";
                    const initVal = "";

                    $( '#vehicleList' ).append(new Option( initText, initVal));

                    var options = data.payload;
                    for(var i = 0; i < options.length; i++) {

                        var optionText = options[i].registrationNo;
                        if( lang == 'en' )
                            optionText = options[i].registrationNo;
                        var optionVal = options[i].id;
                        $( '#vehicleList' ).append(new Option( optionText, optionVal));
                    }
                }
                else{

                    $( '#vehicleList' ).empty();
                    const initText = "[[#{label.common.choose}]]";
                    const initVal = "";
                    $( '#vehicleList' ).append(new Option( initText, initVal));
                }
            }
        );
    }

</script>