<script>
    var imagesPreview = function ( input, fileNameListContainer ) {

        if ( input.files ) {

            let fileList = '<ul class="frame w-100 pl-5 mb-1">';

            for (i = 0; i < input.files.length; i++) {

                fileList += '<li class="">' + input.files[i].name + '</li>';
            }

            fileList += '</ul>';

            $( fileNameListContainer ).empty();
            $( fileNameListContainer ).html( fileList );
        }
    };

    $( 'input[type=file].pool-file-chooser' ).on( 'change', function (e) {

        let fileNameListContainer = $( e.target ).next( "div.data-files" );
        imagesPreview( this, fileNameListContainer );
    });
</script>
