<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/leave-application/add}" >
                        <button class="btn btn-success" th:text="#{label.leave.button.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="leaveApprovalSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th th:text="#{label.common.id}">ID</th>
                        <th th:text="#{label.common.nameBn}">Name</th>
                        <th th:text="#{label.common.nameEn}">Name</th>
                        <th th:text="#{label.common.desginationEn}">Name</th>
                        <th th:text="#{label.common.desginationBn}">Name</th>
                        <th th:text="#{label.leave.application.emergencyPhoneNumber}"> emergencyPhoneNumber</th>
                        <th th:text="#{label.leave.application.leaveType}"> leaveType</th>
                        <th th:text="#{label.leave.application.leaveStartDate}"> leaveStartDate</th>
                        <th th:text="#{label.leave.application.leaveEndDate}"> leaveEndDate</th>
                        <th th:text="#{label.common.status}"> Status </th>
<!--                        <th th:text="#{label.mechanic.add.images}"> Files </th>-->
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
