<div class="mt-4 pb-2">
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.common.nameBn}">Incident Place </label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="employeeNameBn" th:value="${leaveApprovalViewResponse.employeeNameBn}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.common.desginationBn}">Incident Place </label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="designationNameBn" th:value="${leaveApprovalViewResponse.designationNameBn}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.emergencyPhoneNumber}">পরিচিতি নং</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="emergencyPhoneNumber" th:value="${leaveApprovalViewResponse.emergencyPhoneNumber}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.appliedTo}">কর্মস্থল</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="appliedTo" th:value="${leaveApprovalViewResponse.appliedTo}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.leaveStartDate}">পদ</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="leaveStartDate" th:value="${leaveApprovalViewResponse.leaveStartDate}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.leaveEndDate}">কর্মস্থল</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="leaveEndDate" th:value="${leaveApprovalViewResponse.leaveEndDate}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.leaveType}">কর্মস্থল</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="leaveType" th:value="${leaveApprovalViewResponse.leaveType}"/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.leaveReason}">কর্মস্থল</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="leaveReason" th:value="${leaveApprovalViewResponse.leaveReason}"/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label" th:text="#{label.leave.application.totalLeaveCount}">কর্মস্থল</label>
    <div class="col-md-10">
      <input readonly type="text" class="form-control" id="totalLeaveCount" th:value="${leaveApprovalViewResponse.totalLeaveCount}"/>
    </div>
  </div>

</div>