<div id="kt_page_sticky_card" class="card card-custom card-sticky">

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        [[ #{ ${ pageTitle } } ]]
      </h3>
    </div>
    <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
  </div>

  <div class="card-body">

    <div class="mt-5">
      <main id="contentSection" class="mx-5 my-4">
        <div class="contentSectionContainer">
          <div th:replace="leave-application/leave-application-info"></div>
        </div>
      </main>
    </div>

    <form
            th:action="@{/leave-application/take-action}"
            method="POST"
    >

      <input type="hidden" th:value="${leaveApprovalViewResponse.id}" name="id" />
      <th:block th:replace="workflow/available-actions"></th:block>

    </form>

  </div>

</div>

