<th:block th:with="formId = 'leaveApplicationAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/leave-application/add}"
            th:object="${leaveApplicationAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.leaveStartDate'}, field=${'leaveStartDate'}, required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.leaveEndDate'}, field=${'leaveEndDate'}, required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.totalLeaveCount'}, field=${'totalLeaveCount'}, type=${'number'}, min=${'0'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.leaveType'}, field=${'leaveType'}, enum=${'com.dgt.paribahanpool.enums.LeaveType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.remain-leave'}, field=${'remainLeave'}, type=${'number'}, min=${'0'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.leaveReason'}, field=${'leaveReason'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.emergencyPhoneNumber'}, field=${'emergencyPhoneNumber'}, type=${'number'}, min=${'0'}, required=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.leave.application.appliedTo'}, field=${'appliedTo'}, map=*{appliedToMap}, required=${true}"
                                    th:include="inputs/select-map-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.file.attachments' )}"></th:block>

                        </div>

                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

            </div>

        </div>

    </form>

</th:block>