<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/mechanic/add}" >
                        <button class="btn btn-success" th:text="#{label.mechanic.button.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="mechanicSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th th:text="#{label.mechanic.add.mechanic_id}"> Mechanic ID </th>
                            <th th:text="#{label.mechanic.add.mechanic_name}"> Name </th>
                            <th th:text="#{label.mechanic.add.father_name}"> Father Name</th>
                            <th th:text="#{label.mechanic.add.mother_name}"> Mother Name</th>
                            <th th:text="#{label.mechanic.add.phone_number}"> Phone Number</th>
                            <th th:text="#{label.mechanic.add.address}"> Address</th>
                            <th th:text="#{label.mechanic.add.expertise}"> Expertise</th>
                            <th th:text="#{label.mechanic.add.qualification}"> Qualification</th>
                            <th th:text="#{label.mechanic.add.experience}"> Experience</th>
                            <th th:text="#{label.mechanic.add.enrolment_date}"> Enrolment Date</th>
                            <th th:text="#{label.mechanic.add.date_of_birth}"> Date of Birth</th>
                            <th th:text="#{label.mechanic.add.nid_number}"> NID Number</th>
                            <th th:text="#{label.mechanic.add.status}"> Status</th>
                            <th th:text="#{label.mechanic.add.images}"> Files </th>
        <!--                    <th> Rating </th>-->
                            <th th:text="#{label.common.actions}"> Actions </th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
