<th:block th:with="formId = 'mechanicAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${mechanicAddRequest.id == null} ? @{/mechanic/add} : @{/mechanic/edit/{id}(id=${mechanicAddRequest.id})}"
            th:object="${mechanicAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.mechanic_id}" for="mechanicId">Mechanic Id <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" min="0" type="number" id="mechanicId" th:field="*{mechanicId}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('mechanicId')}" th:errors="*{mechanicId}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.mechanic_name}" for="name">Mechanic Name <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid"  type="text" id="name" th:field="*{name}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.email}" for="email">Email<span class="text-danger">*</span> </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="email" id="email" th:field="*{email}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.father_name}" for="fatherName">Father Name <span class="text-danger">*</span> </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="fatherName" th:field="*{fatherName}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.mother_name}" for="motherName"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="motherName" th:field="*{motherName}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.phone_number}" for="phoneNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control"  th:errorclass="is-invalid" type="text" id="phoneNumber" th:field="*{phoneNumber}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.address}" for="address"> <span class="text-danger">*</span> </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="text" id="address" th:field="*{address}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.expertise}" for="expertise"> <span class="text-danger">*</span> </label>
                            <input  class="form-control" type="text" id="expertise" th:field="*{expertise}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('expertise')}" th:errors="*{expertise}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.qualification}" for="qualification"> <span class="text-danger">*</span> </label>
                            <input  class="form-control" type="text" id="qualification" th:field="*{qualification}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}" > Error! </div>

                        </div>



                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.experience}" for="experience"> <span class="text-danger">*</span> </label>
                            <input  class="form-control" type="text" id="experience" th:field="*{experience}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" > Error! </div>

                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.mechanic.add.enrolment_date}" for="enrolmentDate">Enrolment Date <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="enrolmentDate" th:field="*{enrolmentDate}" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('enrolmentDate')}" th:errors="*{enrolmentDate}" > Error! </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.mechanic.add.date_of_birth}" for="dateOfBirth">Date of Birth<span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="dateOfBirth" th:field="*{dateOfBirth}" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" > Error! </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.nid_number}" for="nidNumber"> <span class="text-danger">*</span> </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="number" id="nidNumber" th:field="*{nidNumber}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nidNumber')}" th:errors="*{nidNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.mechanic.add.images' )}"></th:block>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.mechanic.add.status}"> <span class="text-danger">*</span> </label>
                            <select th:field="*{mechanicStatus}" class="form-control" id="mechanicStatus" >
                                <option th:each="status : ${T(com.dgt.paribahanpool.enums.MechanicStatus).values()}"
                                        th:value="${status}" th:text="#{${T(com.dgt.paribahanpool.enums.MechanicStatus).getLabel( status )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('mechanicStatus')}" th:errors="*{mechanicStatus}" > Error! </div>

                        </div>

                    </div>

                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
