<script>

    $(document).ready( function(){

        let projectVehicleSearchTable = $("#projectVehicleSearch").DataTable({

            ...{
                ajax: {

                    url: context + '/api/project-vehicle/search',
                    type: 'GET',
                    data: {

                    },
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'projectOrganizationName',
                        orderable: false
                    },
                    {
                        data: 'receivedDate',
                        searchable: false
                    },
                    {
                        data: 'vehicle.vehicleType',
                        searchable: false
                    },
                    {
                        data: 'vehicle.engineNo',
                        orderable: false
                    },
                    {
                        data: 'vehicle.chassisNo',
                        orderable: false
                    },
                    {
                        data: 'vehicle.registrationNo',
                        orderable: false
                    },
                    {
                        data: 'vehicle.modelYear',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'vehicle.brand.nameBn',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/project-vehicle/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-project-vehicle" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".delete-project-vehicle", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/project-vehicle/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            projectVehicleSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });
</script>