<!DOCTYPE html>
<html lang="en">

<div style="margin-top:20px;">
    <span id="subject_description_html"><b> [[${ownerTypeString}]] ভিত্তিক গাড়ি বরাদ্দ প্রতিবেদন </b></span>
</div>

<div style="width:100%; text-align: justify; text-indent:40px; margin-top: 30px" id="description_html">

    <p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>[[#{label.vehicle.add.registration_no}]]</th>
            <th>[[#{label.vehicle.add.vehicle_type}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle:${vehicleViewResponseList}">
            <td>[[${vehicle.registrationNo}]]</td>
            <td>[[${vehicle.vehicleType}]]</td>
        </tr>
        </tbody>
    </table>

    </p>

</div>

<body>

<th:block th:replace="letter-print/footer"></th:block>