<div class="row mx-1" th:if="${ not T(com.dgt.paribahanpool.workflow.service.StateActionMapService).onlyViewActions( stateActionList ) }">

    <div class="col-md-2">
        <h4 class="mt-3"> [[#{label.workflow.action}]] </h4>
    </div>

    <div class="col-md-4">

        <select class="form-control" id="action" name="action" required autocomplete="off">

            <option th:if="${ lang == 'bn' }" value=""> ---পদক্ষেপ নির্বাচন করুন--- </option>
            <option th:if="${ lang == 'en' }" value=""> ---Choose Action--- </option>
            <option th:each="stateAction: ${stateActionList}" th:if="${ stateAction.viewOnly == false }" th:value="${stateAction.actionId}" > [[${ lang == 'en'? stateAction.actionNameEn: stateAction.actionName}]]</option>
        </select>

    </div>

    <div class="col-md-4">
        <button class="btn btn-success" type="submit">[[#{label.workflow.take-action}]]</button>
    </div>

</div>