
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                <th:block th:if="${ lang == 'en' }">[[${ moduleNameResponse.nameEn + ' History' }]]</th:block>
                <th:block th:if="${ lang == 'bn' }">[[${ moduleNameResponse.nameBn + ' হিস্টোরি' }]]</th:block>
            </h3>
        </div>
    </div>

    <div class="card-body">

        <table id="workflowSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>
                    <th th:text="#{label.common.id}"> Log event </th>
                    <th th:text="#{label.workflow.prev-state}"> Log event </th>
                    <th th:text="#{label.workflow.action}"> Log event </th>
                    <th th:text="#{label.workflow.next-state}"> Log event </th>
                    <th th:text="#{label.workflow.timestamp}"> Log event </th>
                    <th th:text="#{label.workflow.action-by}"> Log event </th>
                    <th th:text="#{label.workflow.designation}"> Log event </th>
                    <th th:text="#{label.workflow.description}"> Log event </th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
