<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                </div>
            </div>

            <div class="card-body">

                <table id="meetingMinuteUpdate" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th th:text="#{label.meeting.add.date}"> Model Year</th>
                            <th th:text="#{label.meeting.add.start_time}"> Brand</th>
                            <th th:text="#{label.meeting.add.end_time}"> Color</th>
                            <th th:text="#{label.meeting.add.location}"> Marine Type</th>
                            <th th:text="#{label.meeting.add.topic}"> Engine No</th>
                            <th th:text="#{label.meeting.add.agenda}"> Engine Quantity</th>
                            <th th:text="#{label.file.attachments}"> Files</th>
                            <th th:text="#{label.meeting.add.meeting-minutes}"> Add Meeting Minutes</th>
                            <th th:text="#{label.meeting.minutes}"> Minutes</th>
                            <th th:text="#{label.common.actions}"> Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

                <th:block th:replace="meeting/component/meeting-minutes-update-modal"></th:block>

            </div>

        </div>
    </div>
</div>