<br>

<h4>
    [[#{ label.meeting.participant.information }]]
</h4>

<hr>

<table class="table table-bordered table-hover dataTable no-footer dtr-inline">

    <thead>
        <tr>
            <th th:if="${lang} == 'bn'" th:text="#{label.meeting.add.participant_name}"></th>
            <th th:if="${lang} == 'en'" th:text="#{label.meeting.add.participant_name}"></th>
            <th th:text="#{label.meeting.add.participant_phone_number}"></th>
            <th th:text="#{label.meeting.add.participant_designation}"></th>
            <th th:text="#{label.meeting.add.participant_email}"></th>
            <th th:text="#{label.meeting.add.participant_department}"></th>
        </tr>
    </thead>

    <tbody>

        <tr th:each="participantViewList, stat: ${meetingViewResponse.meetingParticipantInfoViewList}">
            <td th:if="${lang} == 'bn'"> [[${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].nameBn}]] </td>
            <td th:if="${lang} == 'en'">[[${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].nameEn}]]</td>
            <td th:text="${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].phoneNumber}"></td>
            <td th:text="${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].designation}"></td>
            <td th:text="${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].email}"></td>
            <td th:text="${meetingViewResponse.meetingParticipantInfoViewList[__${stat.index}__].department}"></td>
        </tr>

    </tbody>

</table>