<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <div class="mt-4 pb-2">

            <div class="form-group row">
                <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
                <div class="col-md-10">
                    <img
                            class="signature-image rounded p-2 pb-5"
                            src=""
                            alt="User Signature Image"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.date}"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="name" th:value="${meetingViewResponse.date}" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.start_time}">মােবাইল</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:value="${meetingViewResponse.startingTime}"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.end_time}">ই-মেইল</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:value="${meetingViewResponse.endingTime}" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.location}">মােবাইল</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:value="${meetingViewResponse.location}"
                           readonly="readonly"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.topic}">মােবাইল</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:value="${meetingViewResponse.topic}"
                           readonly="readonly"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.meeting.add.agenda}">মােবাইল</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" readonly="readonly">[[${meetingViewResponse.meetingAgenda}]]</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" th:text="#{label.common.minute-taker-name}">মােবাইল</label>
                <div th:if="${lang} == 'bn'" class="col-md-10">
                    <input type="text" class="form-control"
                           th:value="${meetingViewResponse.meetingMinuteTakerNameBn}" readonly="readonly"/>
                </div>
                <div th:if="${lang} == 'en'" class="col-md-10">
                    <input type="text" class="form-control"
                           th:value="${meetingViewResponse.meetingMinuteTakerNameEn}" readonly="readonly"/>
                </div>
            </div>

            <th:block th:if="${ meetingViewResponse.meetingParticipantInfoViewList != null and #lists.size( meetingViewResponse.meetingParticipantInfoViewList ) > 0 }">
                <th:block th:replace="meeting/meeting-participant-info-view"/>
            </th:block>

        </div>

    </div>

</div>