<div data-repeater-item>

  <hr>

  <div class="form-group">

    <div class="row">

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_name_en}" for="nameEn">Servicing Date <span class="text-danger">*</span> </label>
        <div class="input-group">
          <input  class="form-control" type="text" id="nameEn" name="nameEn" required>
        </div>

      </div>

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_name_bn}" for="nameBn"> <span class="text-danger">*</span> </label>
        <input  class="form-control" type="text" id="nameBn" name="nameBn" required>

      </div>

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_department}" for="department">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

        <div class="input-group">
          <input  class="form-control" type="text" id="department" name="department" required>
        </div>

      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="row">

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_phone_number}" for="phoneNumber"> <span class="text-danger">*</span> </label>
        <div class="input-group">
          <input  class="form-control" type="number" min="0" id="phoneNumber" name="phoneNumber" required>
        </div>

      </div>

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_designation}" for="designation">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

        <div class="input-group">
          <input  class="form-control" type="text" id="designation" name="designation" required>
        </div>

      </div>

      <div class="col-md-4">

        <label th:text="#{label.meeting.add.participant_email}" for="email">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

        <div class="input-group">
          <input  class="form-control" type="email" id="email" name="email" required>
          <div class="input-group-append">
            <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
              <i class="la la-close"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>