<th:block th:with="formId = 'meetingAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${meetingAddRequest.id == null} ? @{/meeting/add} : @{/meeting/edit/{id}(id=${meetingAddRequest.id})}"
            th:object="${meetingAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.add.date'}, field=${'date'}, required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.add.start_time'}, field=${'startingTime'}, required=${true}"
                                    th:include="inputs/time-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.add.end_time'}, field=${'endingTime'}, required=${true}"
                                    th:include="inputs/time-input" >
                            </th:block>

                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.add.location'}, field=${'location'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <th:block
                                    th:with="label=${'label.meeting.add.topic'}, field=${'topic'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.meeting.add.agenda}" for="meetingAgenda">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="meetingAgenda" th:field="*{meetingAgenda}" required></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('meetingAgenda')}" th:errors="*{meetingAgenda}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.meting.add.images' )}"></th:block>

                        </div>

                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.meeting.minute-taker.information}"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.add.meeting-minute-taker'}, field=${'meetingMinuteTakeUserId'}, list=*{showEmployeeList}, class=${'select2 enable-select2'}, required=${true}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>

                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.meeting.participant.inside_information}"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.meeting.participant.inside_information'}, field=${'participantUserIdList'}, list=*{showEmployeeList}, class=${'select2 enable-select2'}, required=${true}, multiple=${true}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>


                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.meeting.participant.outside_information}"></span>
                        </a>
                    </li>
                </ul>

                <div id="meeting_add_card_repeater">

                    <div data-repeater-list="meetingParticipantInfoAddRequestSet">

                        <th:block th:if="*{ meetingParticipantInfoAddRequestSet == null or #lists.size( meetingParticipantInfoAddRequestSet ) == 0 }">
                            <th:block th:replace="meeting/meeting-participant-add-info-template" />
                        </th:block>

                        <th:block th:if="*{ meetingParticipantInfoAddRequestSet != null and #lists.size( meetingParticipantInfoAddRequestSet ) > 0 }">
                            <th:block th:replace="meeting/meeting-participant-info-view" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.meeting.add.add_card_button}]]</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </form>

</th:block>