
<th:block th:fragment="roleView( roleGroupsOfCurrentUser, roleSetofUserLevel )">

  <ul class="nav nav-tabs nav-tabs-line mb-5">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab">
        <span class="nav-text" th:text="#{label.common.permissions}"></span>
      </a>
    </li>
  </ul>

  <div id="allRoleGroups" class="form-group row" >

    <div class="col-md-4 row col-form-label" th:each="roleGroup : ${roleGroupsOfCurrentUser}">

      <div class="col-md-12">
        <h5 th:if="${lang == 'en'}" th:text="${roleGroup.value[0].roleGroupEn}">header</h5>
        <h5 th:if="${lang == 'bn'}" th:text="${roleGroup.value[0].roleGroupBn}">header</h5>
      </div>

      <span th:if="${not #lists.isEmpty(roleSetofUserLevel)}">

        <div class="col-md-12" th:each="role : ${roleGroup.value}">

          <input name="roleId" th:id="${role.name}" th:value="${role.id}" type="checkbox"  th:checked="${not roleSetofUserLevel.?[name == '__${role.name}__'].isEmpty()}" />

          <span th:if="${lang == 'en'}" th:text="${role.roleTextEn}"></span>
          <span th:if="${lang == 'bn'}" th:text="${role.roleTextBn}"></span>

        </div>

      </span>

      <span th:if="${#lists.isEmpty(roleSetofUserLevel)}">

        <div class="col-md-12" th:each="role : ${roleGroup.value}">

          <input name="roleId" th:id="${role.name}" th:value="${role.id}" type="checkbox" />

          <span th:if="${lang == 'en'}" th:text="${role.roleTextEn}"></span>
          <span th:if="${lang == 'bn'}" th:text="${role.roleTextBn}"></span>

        </div>

      </span>

    </div>

  </div>

</th:block>