<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label for="trainingExpenseTypeId"> [[#{label.training.expense.add.type}]] <span class="text-danger">*</span> </label>

                <select  class="form-control" id="trainingExpenseTypeId" name="trainingExpenseTypeId" required>
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="expenseType : ${trainingExpenseTypeViewResponseList}"
                            th:value="${expenseType.id}"> [[${ lang == 'en'? expenseType.nameEn: expenseType.nameBn}]]
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label for="amount"> [[#{label.training.expense.add.amount}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="number" id="amount" name="amount" min="0" required>

                </div>

            </div>

            <div class="col-md-4">

                <label for="rate"> [[#{label.training.expense.add.rate}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="number" id="rate" name="rate" min="0" required>

                </div>

            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label for="totalCost"> [[#{label.training.expense.add.total_cost}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input readonly class="form-control" type="number" id="totalCost" name="totalCost" min="0" required>

                </div>

            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label for="comment"> [[#{label.training.expense.add.comment}]] <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="comment" name="comment">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>