<div data-repeater-item th:each="itemInfoAddRequest, item: *{items}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <input type="hidden" th:name = "${ 'items[' + item.index + '].id' }" th:value="*{{ items[__${item.index}__].id }}" />

            <div class="col-md-4">

                <label for="trainingExpenseTypeId"> [[#{label.training.expense.add.type}]] <span class="text-danger">*</span> </label>
                <select th:field="*{items[__${stat.index}__].trainingExpenseTypeId}" class="form-control" id="trainingExpenseTypeId" required>
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="expenseViewResponse : ${trainingExpenseTypeViewResponseList}"
                            th:value="${expenseViewResponse.id}"> [[${ lang == 'en'? expenseViewResponse.nameEn: expenseViewResponse.nameBn}]]
                    </option>
                </select>

            </div>


            <div class="col-md-4">

                <label for="amount"> [[#{label.training.expense.add.amount}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" min="0" id="amount" th:name = "${ 'items[' + item.index + '].amount' }" th:value="*{items[__${item.index}__].amount}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + item.index + '].amount')}" th:errors="*{items[__${item.index}__].amount}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label for="totalCost"> [[#{label.training.expense.add.total_cost}]] <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" min="0" id="totalCost" th:name = "${ 'items[' + item.index + '].totalCost' }" th:value="*{items[__${item.index}__].totalCost}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + item.index + '].totalCost')}" th:errors="*{items[__${item.index}__].totalCost}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">

                <div class="col-md-4">

                    <label for="comment"> [[#{label.training.expense.add.comment}]] <span class="text-danger">*</span> </label>
                    <input  class="form-control" type="text" id="comment" th:name = "${ 'items[' + item.index + '].comment' }" th:value="*{items[__${item.index}__].comment}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('items[' + item.index + '].comment')}" th:errors="*{items[__${item.index}__].comment}" > Error! </div>

                </div>

            </div>

        </div>

    </div>




</div>