<th:block th:with="formId = 'driverAssignAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/driver-assign/add}"
            th:object="${driverAssignAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" id="vehicleId" th:field="*{vehicleId}" type="hidden" />
                <input class="form-control" id="driverId_id" th:field="*{driverId_id}" type="hidden"  />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <!--<label th:text="#{label.driver.assign.add.registration_no}" for="registrationNo"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="registrationNo" th:field="*{registrationNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationNo')}" th:errors="*{registrationNo}"> Error! </div>-->

                            <th:block
                                    th:with="regNoField=*{registrationNo}, field=${'registrationNo'}, vehicleIdField=${'vehicleId'}, label=${'label.driver.assign.add.registration_no'}"
                                    th:include="inputs/vehicle-reg-no"
                            >
                            </th:block>

                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.driver.assign.add.chassis_no}" for="chassisNo">Toirir sal <span
                                    class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text"
                                   id="chassisNo" th:field="*{chassisNo}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('chassisNo')}"
                                 th:errors="*{chassisNo}"> Error!
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.driver_id}" for="driverId">Driver ID <span class="text-danger">*</span> </label>
<!--                            <input class="form-control" th:errorclass="is-invalid" type="number" id="driverId" th:field="*{driverId}" required />-->

                            <select id="driverId" class="form-control" name="driverId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${driverAssignAddRequest.driverViewResponseList}"
                                        th:value="${item.driverId}"
                                        th:text="${ lang == 'en'? item.nameBn: item.nameBn }">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverId')}" th:errors="*{driverId}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.name}" for="name">name <span class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.driver_type}"> <span class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text" id="driverType" th:field="*{driverType}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverType')}" th:errors="*{driverType}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.user_name}" for="userName">userName <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="userName" th:field="*{userName}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.user_workplace}" for="userWorkplace">userWorkplace <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="userWorkplace" th:field="*{userWorkplace}" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('userWorkplace')}" th:errors="*{userWorkplace}" > Error! </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


    </form>

</th:block>