<html>
<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">
    <head>
        <div align = "center" style = "margin-bottom: 2rem;">
            <table>
                <tbody>
                <tr  align = "center">

                    <td style="width:100%;">
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b</h1>

                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html">জনপ্রশাসন মন্ত্রণালয়</span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html">সরকারি যানবাহন মেরামত কারখানা </span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="address_section_html">১৬, আব্দুল গণি রোড, ঢাকা </span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id = "ministry_link"><a href ="www.dgt.gov.bd">www.dgt.gov.bd </a></b></span></h1>

                    </td>
                    <td align="center" style="width:20%;">

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </head>

    <body>
    <div style="margin-top:10px;">
        <table style="width:100%">
            <tbody>
            <tr>
                <td>

                    <div align="left">
                        <table>
                            <tbody>
                            <tr>
                                <td rowspan="2">
                                    <label class="control-label label-center">
                                        <b> [[#{ label.report.district } ]] :- </b>
                                    </label>
                                </td>
                                <td id="bangla_district_name"> [[ ${districtName} ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div align="right">
                        <table>
                            <tbody>
                            <tr>
                                <td rowspan="2">
                                    <label class="control-label label-center">
                                        <b> [[#{ label.common.date } ]] :- </b>
                                    </label>
                                </td>
                                <td id="bangla_date_html"> [[ ${date} ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <body>

    <div style="margin-top:20px;">
        <b><span id="subject_html">বিষয়ঃ</span></b>
        <span id="subject_description_html"><b>বিষয় :  H.E. Mi'. Taha Ayan, President, ICYF-এর বাংলাদেশ সফর উপলক্ষে গাড়িচালক সরবরাহ।</b></span>
    </div>
    <div style="margin-top:20px;">
        <span id="sutro_description_html"><b>সূত্র:  পররাষ্ট্র মন্ত্রণালয়ের পত্র নং-১৯.০০.০০০০.৭২৫.৯৯.৯৯০.২১/১৫৯৬, তারিখ: ২৮/১২/২০২১</b></span>
    </div>
    <div style="width:100%; margin-top:20px;text-indent:40px;margin-top: 30px;">
        <span id="description_html">উপযুক্ত বিষয় ও সূত্রের পরিপ্রেক্ষিতে জানানাে যাচ্ছে যে, H.E./My. Taha Ayan, President,ICYF-এর ২৯-৩১ ডিসেম্বর ২০২১ তারিখ বাংলাদেশ সফর উপলক্ষে আগত ভিভিআইপির সফরসঙ্গীদের ব্যবহৃত গাড়ি চালানাের নিমিত্ত পররাষ্ট্র মন্ত্রণালয়ের অনুকূলে নিম্নে বর্ণিত ০১(এক)জন গাড়িচালক সরবরাহ প্রদান করা হলােঃ
		</span>
    </div>

    <div style="width:100%; margin-top:30px; text-decoration: underline;">
        <span>
		  সংযুক্তি: বর্ণনামতে।
		</span>
    </div>

    <table id="expenseTable" style="width:100%;border: 1px solid black;border-collapse: collapse;">

        <thead style="border: 1px solid black;border-collapse: collapse;" >
        <tr align="center" style="border: 1px solid black;border-collapse: collapse;">
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.driver_id}">ID</th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.name}"> Mechanic ID </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.phone_number}"> Name </th>
        </tr>
        </thead>

        <tbody>

        <tr style="border: 1px solid black;border-collapse: collapse;" th:each="driver: ${driverSearchResponses}">
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.id}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.name}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.phoneNumber}"></td>
        </tr>

        </tbody>

    </table>

    <div style="width:100%; margin-top:20px;text-indent:40px;margin-top: 30px;">
        <span id="instructions_html">
            <ul>
                <li> গাড়িচালককে গাড়ির যথাযথ আভ্যন্তরীন ও বাহ্যিক সজ্জা এবং পরিষ্কার পরিচ্ছন্ন রাখার নির্দেশ দেয়া হলাে ।</li>
                <li> গাড়িচালকগণকে পরিষ্কার পরিচ্ছন্ন অফিসিয়াল পােশাক পরিধান করতে হবে এবং ব্যক্তিগত মােবাইল ফোন সবসময় সঙ্গে রাখার নির্দেশ দেয়া হলাে ।</li>
                <li> সফর সমাপ্তির পর গাড়িচালককে সরকারি যানবাহন অধিদপ্তরে ফেরত প্রদানের অনুরােধ করা হলাে ।</li>
            </ul>
        </span>
    </div>

    </body>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>

    // $( document ).ready( function() {
    //     window.print();
    // });

</script>

<style>
    #committeeInfoTableTemplate th{
        border-bottom: 1px solid; border-right: 1px solid; text-align: center;
    }
    #committeeInfoTableTemplate td{
        vertical-align: baseline; width: 10%; border-right: 1px solid; text-align: center; border-bottom: 1px solid;
    }

</style>

</html>