<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/driver-assign/add}" >
                        <button class="btn btn-success" th:text="#{menu.hr-management.assign-driver.add}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="driverSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th th:text="#{label.assign-driver.driver.driver_id}"> Driver Id </th>
                            <th th:text="#{label.assign-driver.driver.name}"> Name </th>
                            <th th:text="#{label.assign-driver.driver.education}">Father Name</th>
                            <th th:text="#{label.assign-driver.driver.experience}"> Mother Name </th>
                            <th th:text="#{label.assign-driver.vehicle.registration}"> Phone Number </th>
                            <th th:text="#{label.assign-driver.vehicle.chassis}"> Permanent Address </th>
                            <th th:text="#{label.assign-driver.vehicle.engine}"> Driver Type </th>
                            <th th:text="#{label.common.actions}"> Actions </th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>