<div class="form-group">
    <div class="row">

        <div class="col-md-4" id="divDivisionList">

            <label> [[#{label.geolocation.division}]] </label>
            <select id="divisionList" class="form-control" name="divisionValue">
                <option value="">[[#{label.common.choose}]]</option>
                <option
                        th:each="item: ${divisionList}"
                        th:value="${item.id}"
                        th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                </option>
            </select>

        </div>

        <div class="col-md-4" id="divDistrictList">

            <label> [[#{label.geolocation.district}]] </label>
            <select id="districtList" class="form-control" name="districtValue">
                <option value="">[[#{label.common.choose}]]</option>
            </select>

        </div>

        <div class="col-md-4" id="divUpazilaList">

            <label> [[#{label.geolocation.upazila}]] </label>
            <select id="upazilaList" class="form-control" name="upazilaValue">
                <option value="">[[#{label.common.choose}]]</option>
            </select>

        </div>

    </div>
</div>