<script>
    $( document ).ready( function() {

        let employeeDatatable = $( '#employeeSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/employee/search',
                    type: 'GET',
                    data: {

                    },
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'employeeID'
                    },
                    {
                        data: 'personalID'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'fatherName',
                        orderable: false
                    },
                    {
                        data: 'motherName',
                        orderable: false
                    },
                    {
                        data: 'permanentAddress',
                        orderable: false
                    },
                    {
                        data: 'presentAddress',
                        orderable: false
                    },
                    {
                        data: 'maritalStatus',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'gender',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'dateOfBirth',
                        orderable: false
                    },
                    {
                        data: 'passportNumber',
                        orderable: false
                    },
                    {
                        data: 'bloodGroup',
                        orderable: false
                    },
                    {
                        data: 'nid',
                        orderable: false
                    },
                    {
                        data: 'mobileNumber',
                        orderable: false
                    },
                    {
                        data: 'email',
                        orderable: false
                    },
                    {
                        data: 'quota',
                        orderable: false
                    },
                    {
                        data: 'numberOfChildren',
                        orderable: false,
                        searchable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/employee/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-employee" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click",  ".delete-employee", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/employee/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            employeeDatatable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });


    });

</script>