
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div class="card-toolbar">
            <a  th:href="@{/inventory/add}" >
                <button class="btn btn-success" th:text="#{menu.store-management.store-attachment}"></button>
            </a>
        </div>
    </div>

    <div class="card-body">

        <table id="inventorySearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.inventory.package.number}">ID</th>
                <th th:text="#{label.inventory.lot.number}">ID</th>
                <th th:text="#{label.inventory.product.name.en}">ID</th>
                <th th:text="#{label.purchase.demand.add.product_type}">ID</th>
                <th th:text="#{label.purchase.demand.add.product.quantity}">ID</th>
                <th th:text="#{label.inventory.unit}">ID</th>
                <th th:text="#{label.inventory.unit.price}">ID</th>
                <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
