<th:block th:with="formId = 'inventoryAdd'" xmlns:th="http://www.w3.org/1999/html">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/inventory/add}"
            th:object="${inventoryItemAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <!-- <input class="form-control" id="marineId" th:field="*{marineId}" type="hidden" />-->

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <th:block th:replace="inputs/hidden-id"></th:block>

             <!--   <th:block th:with="field=${'marineId'}" th:include="inputs/hidden-input"></th:block>-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label for="fiscalYear">[[#{label.inventory.fiscal.year}]] <span
                                    class="text-danger">*</span> </label>
                            <select th:field="*{fiscalYear}" class="form-control" id="fiscalYear">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:if="${lang}=='en'" th:each="fiscalYear : ${fiscalYearList}"
                                        th:value="${fiscalYear}"
                                        th:text="${fiscalYear}">
                                </option>
                                <option th:if="${lang}=='bn'" th:each="fiscalYear : ${fiscalYearList}"
                                        th:value="${fiscalYear}"
                                        th:text="${fiscalYear}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fiscalYear')}" th:errors="*{fiscalYear}">
                                Error!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.package.number'}, field=${'packageNumber'},type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.product.name.en'}, field=${'productNameEn'},type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.product.name.bn'}, field=${'productNameBn'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.lot.number'}, field=${'lotNumber'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.lot.type'}, field=${'lotType'}, enum=${'com.dgt.paribahanpool.enums.LotType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>
                        <div class="col-md-4" id="countryDiv">

                            <label for="country">[[#{label.inventory.country}]] <span
                                    class="text-danger">*</span> </label>
                            <select th:field="*{country}" class="form-control" id="country">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:if="${lang}=='en'" th:each="country : ${allCountryList}"
                                        th:value="${country.id}"
                                        th:text="${country.countryNameEn}">
                                </option>
                                <option th:if="${lang}=='bn'" th:each="country : ${allCountryList}"
                                        th:value="${country.id}"
                                        th:text="${country.countryNameBn}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                                Error!
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.product.id'}, field=${'productId'},type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.purchase.demand.add.product_type'}, field=${'productType'}, enum=${'com.dgt.paribahanpool.enums.ProductType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.warranty-type'}, field=${'warrantyType'}, enum=${'com.dgt.paribahanpool.enums.WarrantyType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.parts-type'}, field=${'inventoryCategoryId'}, list=*{inventoryCategoryViewResponseList}, class=${'select2 enable-select2'}, required=${true}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.warranty.period'}, field=${'warrantyPeriod'},type=${'number'}, min=${'0'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.is-specific-vehicle'}, field=${'isForSpecificVehicle'}, enum=${'com.dgt.paribahanpool.enums.ConfirmType'}"
                                    th:include="inputs/radio-enum-input">
                            </th:block>

                        </div>

<!--                        <th:block-->
<!--                                th:with="style=${'display: none'}"-->
<!--                                th:include="brand-model/brand-model-dropdown" >-->
<!--                        </th:block>-->
                        <div style="display: none" class="col-md-4" id="divInvBrandList">

                            <label> [[#{label.vehicle.add.brand_name}]] </label>
                            <select id="brandList" class="form-control" th:field="*{brandId}">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: *{brandViewResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ lang == 'en'? item.nameEn: item.nameBn }"
                                >
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('brandId')}"
                                 th:errors="*{brandId}"> Error!
                            </div>

                        </div>

                        <div style="display: none" class="col-md-4" id="divInvModelList">

                            <label> [[#{label.vehicle.add.model_name}]] </label>
                            <select id="modelList" class="form-control" th:field="*{modelId}">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: *{modelViewResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ lang == 'en'? item.nameEn: item.nameBn }"
                                >
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('modelId')}"
                                 th:errors="*{modelId}"> Error!
                            </div>

                        </div>

<!--                            <th:block th:replace="brand-model/brand-model-dropdown" ></th:block>-->

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.type'}, field=${'inventoryType'}, enum=${'com.dgt.paribahanpool.enums.InventoryType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.purchase.demand.add.product.quantity'}, field=${'quantity'},type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.unit'}, field=${'unit'}, enum=${'com.dgt.paribahanpool.enums.Unit'},required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                    </div>

                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.unit.price'}, field=${'unitPrice'},type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.purchase.date'}, field=${'purchaseDate'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.source.name.en'}, field=${'sourceNameEn'},type=${'text'}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.source.name.bn'}, field=${'sourceNameBn'},type=${'text'}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">


                            <label> [[#{label.vendor.add.vendor_name}]] </label>
                            <select id="vendorId" class="form-control" name="vendorId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: *{vendorSearchResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ lang == 'en'? item.vendorName: item.vendorName }">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vendorId')}"
                                 th:errors="*{vendorId}"> Error!
                            </div>

                        </div>

                    </div>

                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.brand.name'}, field=${'brandName'},type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>

                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.model'}, field=${'model'},type=${'text'}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.production.date'}, field=${'productionDate'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.inventory.expire.date'}, field=${'expireDate'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                    </div>

                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4" style="display: none">

                            <th:block
                                    th:with="label=${'label.inventory.location'}, field=${'location'},type=${'text'}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </form>
</th:block>