<th:block th:with="formId = 'inventoryReportFetchParam'">
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/inventory/report-search}"
            th:object="${inventoryReportFetchParam}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:text="#{label.search.by.package.number}" for="packageNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" id="packageNumber" th:field="*{packageNumber}" >
                        </div>
                        <div class="col-md-4">
                            <label th:text="#{label.search.by.lot.number}" for="lotNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" id="lotNumber" th:field="*{lotNumber}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>
