<html>

    <head>

        <style>
            #committeeInfoTableTemplate th{
                border-bottom: 1px solid; border-right: 1px solid; text-align: center;
            }
            #committeeInfoTableTemplate td{
                vertical-align: baseline; width: 10%; border-right: 1px solid; text-align: center; border-bottom: 1px solid;
            }
        </style>

    </head>

    <body>

        <div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">

            <div align = "center" style = "margin-bottom: 2rem;">
                <table>
                    <tbody>
                    <tr  align = "center">

                        <td style="width:100%;">
                            <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b></h1>
                            <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html"> জনপ্রশাসন মন্ত্রণালয়</span></b></h1>
                            <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html"> সরকারি যানবাহন অধিদপ্তর</span></b></h1>
                            <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_repair_html">  সরকারি যানবাহন মেরামত কারখানা</span></b></h1>
                            <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_address_html">  ১৬, আব্দুল গণি রোড, ঢাকা</span></b></h1>
                        </td>
                        <td align="center" style="width:20%;">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div align="center" style="margin-top:10px;">
                <table>
                    <tbody>
                        <td>............................................প্রতিবেদন</td>
                    </tbody>
                </table>

            </div>

            <div style="margin-top:10px;">
                <table style="width:100%;border: 1px solid black;border-collapse: collapse;">
                    <thead style="border: 1px solid black;border-collapse: collapse;">
                    <tr align="center" style="border: 1px solid black;border-collapse: collapse;">
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.package.id}">ID</th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.package.name}"> Mechanic ID </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.lot.number}"> Name </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.lot.name}"> Name </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.product.name}"> Is Present </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.product.amount.unit}"> Is Present </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.product.amount}"> Is Present </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.product.rate}"> Is Present </th>
                        <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.product.total.price}"> Is Present </th>
                    </tr>
                    </thead>

                    <tbody style="border: 1px solid black;border-collapse: collapse;">

                    <tr style="border: 1px solid black;border-collapse: collapse;" th:each="item: ${inventoryPackageReportResponses}">
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.packageNumber}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.packageName}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.lotNumber}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.lotName}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.productName}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="#{${item.unit}}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.amount}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.rate}"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.totalPrice}"></td>
                    </tr>

                    <tr>
                        <td colspan="8" align="right" th:text="#{label.common.total}">ID</td>
                        <td align="center" th:text="${totalPrice}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </body>

</html>