<script>
    $( document ).ready( function() {

        let marineSearchTable = $( '#marineSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/marine/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'marineType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'engineNo',
                        searchable: false
                    },
                    {
                        data: 'engineQuantity',
                        searchable: false
                    },
                    {
                        data: 'brand',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'horsepower',
                        searchable: false
                    },
                    {
                        data: 'modelYear',
                        orderable: false
                    },
                    {
                        data: 'fuelType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'seatCapacity',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'salesOrganizationName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'allocationDate',
                        searchable: false
                    },
                    {
                        data: 'marineServiceRecords',
                        render: function (data, type, row) {

                            let records = "<ul>";
                            for (let i = 0; i < data.length; i++) {

                                records += '<li>' + data[i].servicingDate + ', cost: ' + data[i].servicingCost + ' by ' + data[i].servicingVendorName + '</li>';
                            }
                            records += "</ul>";
                            return records;
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/marine/edit/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + editTitle + '">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/marine-service-application/add/' + data + '" class="btn btn-sm btn-clean btn-icon" title="Send For service">\t\t\t\t\t\t\t\t<i class="la la-wrench icon-xl text-warning"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon" data-id="' + data + '" title="Dispose">\t\t\t\t\t\t\t\t<i class="icon-xl la la-hammer icon-xl text-secondary add-marine-service-application-disposition" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-marine" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click",  ".delete-marine", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/marine/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            marineSearchTable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

        $(document).on( "click",  ".add-marine-service-application-disposition", (e) => {

            let id = $( e.target ).data( "id" );

            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/marine/disposition/" + id,
                        param,
                        "POST",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            $( e.target ).hide();

                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });
</script>