<script>

    $( document ).ready( function() {

        let marineServiceDispositionSearch = $( '#marineServiceDispositionSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/marine-service-dispostion-application/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'marine.modelYear',
                        searchable: false
                    },
                    {
                        data: 'marine.brand',
                        orderable: false
                    },
                    {
                        data: 'marine.color',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.marineType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.engineNo',
                        orderable: false
                    },
                    {
                        data: 'marine.engineQuantity',
                        searchable: false
                    },
                    {
                        data: 'marine.horsepower',
                        searchable: false
                    },
                    {
                        data: 'marine.fuelType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.seatCapacity',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.salesOrganizationName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.marineOwner',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.allocationDate',
                        searchable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/marine-service-disposition-application/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-warning"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/marine_service_disposition_application/'+ data +'?active=MARINE_SERVICE_DISPOSITION_APPLICATION_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

    });

</script>