<script>

    $(document).ready( function (){

        let marineServiceApplicationTable = $("#marineServiceApplicationSearch").DataTable({

            ...{
                ajax: {

                    url: context + '/api/marine-service-application/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'marine.engineNo',
                        orderable: false
                    },
                    {
                        data: 'marine.horsepower',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'marine.brand',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'serviceDate'
                    },
                    {
                        data: 'cost',
                        searchable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/marine-service-application/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + editTitle + '">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/marine-service-application/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-marine-service-application" data-id="' + data + '" title="' + deleteTitle + '"><i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/marine_service_application/'+ data +'?active=MARINE_SERVICE_APPLICATION_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]

            },
            ...dataTableCommonConfig
        });

        $(document).on( "click",  ".delete-marine-service-application", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/marine-service-application/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            marineServiceApplicationTable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>