<script>

    $(document).ready( function (){

        let driverAssignSearchTable = $( "#driverSearch" ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/driver-assign/search',
                    type: 'GET',
                },
                columns:[
                    {
                        data: 'driver.id'
                    },
                    {
                        data: 'driver.name',
                        orderable: false
                    },
                    {
                        data: 'driver.educationalQualification',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'driver.totalExperienceDuration',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'registrationNo',
                    },
                    {
                        data: 'chassisNo',
                        orderable: false
                    },
                    {
                        data: 'engineNo',
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon deassign-driver" data-vehicle-id="' + row.id + '" data-driver-id="' + row.driver.id + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-vehicle-id="' + row.id + '" data-driver-id="' + row.driver.id + '" ></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".deassign-driver", (e) => {

            let vehicleId = $( e.target ).data( "vehicle-id" );
            let driverId = $( e.target ).data( "driver-id" );

            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;
                    param["vehicleId"] = vehicleId;
                    param["driverId"] = driverId;

                    callAjax(
                        "/api/driver-assign/driver",
                        param,
                        "DELETE",
                        ( data ) => {

                            let successClass = data['success']? "success": "error";
                            let successMessage = data['success']? "Driver removed from vehicle!": "Error!";

                            Swal.fire(
                                successMessage,
                                data['message'],
                                successClass
                            );

                            if( data['success'] ) {
                                driverAssignSearchTable.ajax.reload(null, false);
                            }
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });
    })
</script>