<script>

    $( document ).ready( function() {

        let warrantySearchTable = $( '#warrantySearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/warranty/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'warrantyDate'
                    },
                    {
                        data: 'registrationNumber',
                        orderable: false
                    },
                    {
                        data: 'chassisNumber',
                        orderable: false
                    },
                    {
                        data: 'brandName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'vendorName',
                        orderable: false
                    },
                    {
                        data: 'model',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'partsName',
                        orderable: false
                    },
                    {
                        data: 'partsId',
                        orderable: false
                    },
                    {
                        data: 'warrantyBeginningDate',
                        orderable: false
                    },
                    {
                        data: 'warrantyEndingDate',
                        orderable: false
                    },
                    {
                        data: 'daysRemaining',
                        orderable: false,
                        searchable: false,
                        render: function ( data, type, row ) {

                            if( data < 0 ){

                                //TODO need to make this text en/bn
                                return "Warranty period over";
                            }
                            else{

                                return data + " days";
                            }
                        }
                    },
                    {
                        data: 'comment',
                        orderable: false
                    },
                    {
                        data: 'documents',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/warranty/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-warranty" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click",  ".delete-warranty", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/warranty/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            warrantySearchTable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>