<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = {
    "breakpoints": {"sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400},
    "colors": {
        "theme": {
            "base": {
                "white": "#ffffff",
                "primary": "#3699FF",
                "secondary": "#E5EAEE",
                "success": "#1BC5BD",
                "info": "#8950FC",
                "warning": "#FFA800",
                "danger": "#F64E60",
                "light": "#E4E6EF",
                "dark": "#181C32"
            },
            "light": {
                "white": "#ffffff",
                "primary": "#E1F0FF",
                "secondary": "#EBEDF3",
                "success": "#C9F7F5",
                "info": "#EEE5FF",
                "warning": "#FFF4DE",
                "danger": "#FFE2E5",
                "light": "#F3F6F9",
                "dark": "#D6D6E0"
            },
            "inverse": {
                "white": "#ffffff",
                "primary": "#ffffff",
                "secondary": "#3F4254",
                "success": "#ffffff",
                "info": "#ffffff",
                "warning": "#ffffff",
                "danger": "#ffffff",
                "light": "#464E5F",
                "dark": "#ffffff"
            }
        },
        "gray": {
            "gray-100": "#F3F6F9",
            "gray-200": "#EBEDF3",
            "gray-300": "#E4E6EF",
            "gray-400": "#D1D3E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#7E8299",
            "gray-700": "#5E6278",
            "gray-800": "#3F4254",
            "gray-900": "#181C32"
        }
    },
    "font-family": "Poppins"
};</script>
<!--end::Global Config-->

<!--begin::Global Theme Bundle(used by all pages)-->
<script th:src="@{/metronic/assets/plugins/global/plugins.bundle.js}"></script>
<script th:src="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.js}"></script>
<script th:src="@{/metronic/assets/js/scripts.bundle.js}"></script>
<!--end::Global Theme Bundle-->

<!--begin::Page Vendors(used by this page)-->
<script th:src="@{/metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js}"></script>
<script th:src="@{/metronic/assets/plugins/custom/datatables/datatables.bundle.js}"></script>
<!--end::Page Vendors-->

<!--begin::Page Scripts(used by this page)-->
<script th:src="@{/metronic/assets/js/pages/widgets.js}"></script>
<!--end::Page Scripts-->

<script th:src="@{/js/jquery-validation/jquery.validate.min.js}"></script>

<th:block th:if="${thirdPartyJs != null}" th:each="js : ${thirdPartyJs}">
    <script th:src="@{${js}}"></script>
</th:block>

<script th:src="@{/js/util/ajaxUtil.js}" ></script>
<script th:src="@{/js/spring-friendly-datatable.js}" ></script>

<th:block th:if="${ lang == 'bn' }">
    <th:block th:replace="js/jquery-validation/jquery-validation-bn"></th:block>
</th:block>
<th:block th:replace="js/jquery-validation/common-config"></th:block>
<th:block th:replace="js/file-upload-button"></th:block>

<th:block th:replace="js/lang/language-changer" th:inline="javascript"></th:block>
<th:block th:replace="js/common-js-var" th:inline="javascript"></th:block>
<th:block th:replace="js/datepicker/datepicker-initializer" th:inline="javascript"></th:block>
<th:block th:replace="js/timepicker/timepicker-initializer" th:inline="javascript"></th:block>

<th:block th:if="${customJs != null}" th:each="js : ${customJs}">
    <th:block th:replace="${js}"></th:block>
</th:block>