<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{ ${ pageTitle != null? pageTitle : '' } }"> _Blank_ </title>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->

    <!--begin::Page Vendors Styles(used by this page)-->
    <link th:href="@{/metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/plugins/custom/datatables/datatables.bundle.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/metronic/assets/css/pages/wizard/wizard-1.min.css}" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->

    <!--begin::Global Theme Styles(used by all pages)-->
    <link th:href="@{/metronic/assets/plugins/global/plugins.bundle.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/plugins/custom/prismjs/prismjs.bundle.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/css/style.bundle.min.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->
    <link th:href="@{/metronic/assets/css/themes/layout/brand/dark.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/metronic/assets/css/themes/layout/aside/dark.css}" rel="stylesheet" type="text/css"/>
    <!--end::Layout Themes-->

    <th:block th:replace="css/custom_style.html"></th:block>

    <th:block th:if="${thirdPartyCss != null}" th:each="css : ${thirdPartyCss}">
        <link th:href="@{${css}}" rel="stylesheet" type="text/css"/>
    </th:block>

    <th:block th:if="${customCss != null}" th:each="css : ${customCss}">
        <th:block th:replace="${css}"></th:block>
    </th:block>
</head>