<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">

        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

            <!--begin::Header Menu-->
            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                <!--begin::Header Nav-->
                <ul class="menu-nav">

                </ul>
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->

        <!--begin::Topbar-->
        <div class="topbar">

            <!--begin::Notifications-->
            <div class="dropdown">
                <!--begin::Toggle-->
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary">
                        <i class="flaticon2-bell-5"></i>
                        <span class="pulse-ring"></span>
                    </div>
                </div>
                <!--end::Toggle-->

                <!--begin::Dropdown-->
                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                    <form>
                        <!--begin::Header-->
                        <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top"
                             style="background-image: url( /metronic/assets/media/misc/bg-1.jpg)">

                            <h4 class="d-flex flex-center rounded-top">
                                <span class="text-white">Notifications</span>
                                <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2"> [[${unseenNotificationCount}]] new </span>
                            </h4>

                            <!--begin::Tabs-->
                            <ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab"
                                       href="#topbar_notifications_events"></a>
                                </li>
                            </ul>
                            <!--end::Tabs-->
                        </div>
                        <!--end::Header-->

                        <!--begin::Content-->
                        <div class="tab-content">

                            <div class="tab-pane active" id="topbar_notifications_events" role="tabpanel">
                                <!--begin::Nav-->
                                <div th:if="${ notifications != null and #lists.size( notifications ) > 0}" class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">

                                    <!--begin::Item-->
                                    <th:block th:each="notification : ${notifications}">
                                        <a
                                                th:href="@{${ '/notification/redirect?redirectUrl=' + notification.redirectUrl + '&id=' + notification.id }}"
                                                class="navi-item notification-item"
                                                data:id="${notification.id}"
                                                th:style="${ notification.isSeen == true? 'background-color: #fff': 'background-color: #f0f0f0' }"
                                        >
                                            <div class="navi-link">

                                                <div class="navi-icon mr-2">
                                                    <i th:class="${ T(com.dgt.paribahanpool.util.Util).getNotificationIcon( notification.moduleType ) }"></i>
                                                </div>

                                                <div class="navi-text">

                                                    <h6 th:if="${lang}=='en'">[[${notification.titleEn}]]</h6>
                                                    <h6 th:if="${lang}=='bn'">[[${notification.titleBn}]]</h6>

                                                    <div th:if="${lang}=='en'" class="font-weight-bold" th:text="${notification.textEn}">New report has been received</div>
                                                    <div th:if="${lang}=='bn'" class="font-weight-bold" th:text="${notification.textBn}">New report has been received</div>

                                                    <div class="text-muted" th:text="${ #temporals.format( notification.notificationTime, 'dd/MM/yyyy hh:mm a' ) }">23 hrs ago</div>
                                                </div>
                                            </div>
                                        </a>
                                    </th:block>
                                    <!--end::Item-->

                                </div>

                                <!--begin::Nav-->
                                <div th:if="${ notifications == null or #lists.size( notifications ) == 0}" class="d-flex flex-center text-center text-muted min-h-200px">
                                    All caught up!
                                    <br>No new notifications.
                                </div>

                            </div>

                        </div>
                        <!--end::Content-->
                    </form>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Notifications-->

            <div class="topbar-item">
                <th:block th:if="${ lang == 'bn' }">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                        <img class="h-20px w-20px rounded-sm change-lang" data-lang="en" th:src="@{/metronic/assets/media/svg/flags/226-united-states.svg}"  alt=""/>
                    </div>
                </th:block>

                <th:block th:if="${ lang == 'en' }">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                        <img class="h-20px w-20px rounded-sm change-lang" data-lang="bn" th:src="@{/metronic/assets/media/svg/flags/147-bangladesh.svg}"  alt=""/>
                    </div>
                </th:block>
            </div>

            <!--begin::User-->
            <div class="topbar-item">
                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
                     id="kt_quick_user_toggle">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1"></span>

                    <span th:if="${ lang == 'bn' }" class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3"> [[${loggedInUser.name}]] </span>
                    <span th:if="${ lang == 'en' }" class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3"> [[${loggedInUser.nameEn}]] </span>

                </div>
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>