<div th:if="${successMessage != null}" class="alert alert-custom alert-success fade show mb-5" role="alert" style="padding: 0.75rem 1.25rem !important;">
    <div class="alert-icon">
        <i class="flaticon-like"></i>
    </div>
    <div class="alert-text" th:text="${#strings.isEmpty(#messages.msgOrNull(successMessage)) ? successMessage : #messages.msg(successMessage)}"> Success </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="ki ki-close"></i>
            </span>
        </button>
    </div>
</div>

<div th:if="${errorMessage != null}" class="alert alert-custom alert-danger fade show mb-5" role="alert" style="padding: 0.75rem 1.25rem !important;">
    <div class="alert-icon">
        <i class="flaticon-warning"></i>
    </div>
    <div class="alert-text" th:text="${#strings.isEmpty(#messages.msgOrNull(errorMessage)) ? errorMessage : #messages.msg(errorMessage)}">Error!</div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="ki ki-close"></i>
            </span>
        </button>
    </div>
</div>