<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader" th:with="Menu=${ T( com.dgt.paribahanpool.enums.Menu ) }" >
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">

            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
            </h5>
            <!--end::Page Title-->

            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                <li class="breadcrumb-item text-muted" th:each=" text : ${ T( com.dgt.paribahanpool.enums.Menu ).getBreadcrumbText( activeMenu ) }">
                    <a href="" class="text-muted" th:text="#{${text}}">Features</a>
                </li>
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Info-->

        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Actions-->

            <!--end::Actions-->
            <!--begin::Daterange-->

            <!--end::Daterange-->
            <!--begin::Dropdowns-->

            <!--end::Dropdowns-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>