<script>

    $( document ).ready( function() {

        let leaveApplicationSearchTable = $( '#leaveApplicationSearch' ).DataTable({
            ...{
                ajax: {
                    url: context + '/api/leave-application/search',
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'appliedTo',
                        searchable: false
                    },
                    {
                        data: 'leaveType',
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'leaveStartDate'
                    },
                    {
                        data: 'leaveEndDate'
                    },
                    {
                        data: 'emergencyPhoneNumber',
                        orderable: false
                    },
                    {
                        data: 'totalLeaveCount',
                        orderable: false
                    },
                    {
                        data: 'leaveReason',
                        orderable: false
                    },
                    {
                        data: 'documentMetadataList',
                        render: function ( data, type, row ) {

                            let files  = "<ul>";
                            for( let i = 0; i<data.length; i++ ){

                                files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                            }
                            files += "</ul>";
                            return files;
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },

                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let createButton = row.stateResponse.stateType == 'POSITIVE_END'? '' : '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-leave-application" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' ;

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/leave-application/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                createButton +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                    ]
            },
            ...dataTableCommonConfig

            });

        $(document).on( "click", ".delete-leave-application", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/leave-application/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            leaveApplicationSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>