<script>

    $( document ).ready( function() {

        let leaveApprovalSearchTable = $( '#leaveApprovalSearch' ).DataTable({
            ...{
                ajax: {
                    url: context + '/api/leave-application/leave-approval-search',
                    type: 'GET'
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'appliedBy.employee.name',
                        orderable: false
                    },
                    {
                        data: 'appliedBy.employee.nameEn',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'appliedBy.employee.designation.nameBn',
                        searchable: false,
                        orderable: false,
                        defaultContent: "N/A"
                    },
                    {
                        data: 'appliedBy.employee.designation.nameEn',
                        searchable: false,
                        orderable: false,
                        defaultContent: "N/A"
                    },
                    {
                        data: 'emergencyPhoneNumber',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'leaveType',
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'leaveStartDate'
                    },
                    {
                        data: 'leaveEndDate'
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },

                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/leave-application/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

    });

</script>