<label th:for="${field}">
    [[#{${label}}]]
    <span th:if="${ required == true }" class="text-danger">*</span>
</label>

<div class="input-group date">

    <input
            autocomplete="off"
            class="form-control datepicker"
            th:errorclass="is-invalid"
            type="text"
            th:field="*{__${field}__}"
            th:required="${required}"
            data:dateformat="${dateFormat}"
            data:autoclose="${autoclose}"
            data:orientation="${orientation}"
            th:classappend="${class}"
            th:style="${style}"
            th:readonly = "${readonly}"/>

    <div class="input-group-append">
        <span class="input-group-text">
            <i class="la la-calendar-check-o"></i>
        </span>
    </div>
    <div class="invalid-feedback" th:if="${#fields.hasErrors( '__${field}__' )}"
         th:errors="*{__${field}__}"> Error!
    </div>
</div>