<label th:text="#{${label}}" th:for="${field}">Attachments</label><br>

<label th:for="${field}" class="custom-file-upload rounded shadow-sm">
    [[#{label.file.attachments}]]&nbsp;
    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
</label>

<input type="file" class="pool-file-chooser" th:errorclass="is-invalid" th:field="*{__${field}__}" multiple style="display:none;">

<div class="data-files"></div>

<div class="invalid-feedback" th:if="${#fields.hasErrors( '__${field}__' )}" th:errors="*{__${field}__}">
    Error!
</div>