<label th:for="${field}">
  [[#{${label}}]]
  <span th:if="${ required == true }" class="text-danger">*</span>
</label>

<div class="radio-inline">

  <th:block th:each="const: ${ __${ 'T(' + enum + ').values()' }__ }">

    <label class="radio">
      <input th:field="*{__${field}__}" th:value="${const}" type="radio">
      <span></span>
      [[#{ ${ __${ 'T(' + enum + ').getLabel( T(' + enum + ').' + const + ' )' }__ } }]]
    </label>
  </th:block>

</div>

<div class="invalid-feedback" th:if="${#fields.hasErrors('__${field}__')}" th:errors="*{__${field}__}" > Error! </div>