<label th:for="${field}">
    [[#{${label}}]]
    <span th:if="${ required == true }" class="text-danger">*</span>
</label>

<input
        class="form-control"
        th:errorclass="is-invalid"
        th:type="${type}"
        th:min="${min}"
        th:max="${max}"
        th:field="*{__${field}__}"
        th:required="${required}"
        th:classappend="${class}"
        th:style="${style}"
        th:readonly = "${readonly}"
/>

<div class="invalid-feedback" th:if="${#fields.hasErrors( '__${field}__' )}" th:errors="*{__${field}__}"> Error!</div>