<label th:for="${field}">
    [[#{${label}}]]
    <span th:if="${ required == true }" class="text-danger">*</span>
</label>

<div class="row">

    <div class="col-md-4">
        <select class="form-control select2 enable-select2" name="regNoDistrictPart" id="regNoDistrictPart" required autocomplete="off">
            <option value="">...</option>

            <option>ঢাকা মেট্রো</option>
            <option>চট্ট মেট্রো</option>
            <option>রাজশাহী মেট্রো</option>
            <option>কক্সবাজার</option>
            <option>কিশোরগঞ্জ</option>
            <option>কুমিল্লা</option>
            <option>কুষ্টিয়া</option>
            <option>কুড়িগ্রাম</option>
            <option>খাগড়াছড়ি</option>
            <option>খুলনা</option>
            <option>গাইবান্ধা</option>
            <option>গাজীপুর</option>
            <option>গোপালগঞ্জ</option>
            <option>চট্টগ্রাম</option>
            <option>চাঁদপুর</option>
            <option>চাঁপাইনবাবগঞ্জ</option>
            <option>চুয়াডাঙ্গা</option>
            <option>জামালপুর</option>
            <option>জয়পুরহাট</option>
            <option>ঝালকাঠী</option>
            <option>ঝিনাইদহ</option>
            <option>টাঙ্গাইল</option>
            <option>ঠাকুরগাঁও</option>
            <option>ঢাকা</option>
            <option>দিনাজপুর</option>
            <option>নওগাঁ</option>
            <option>নরসিংদী</option>
            <option>নাটোর</option>
            <option>নারায়ণগঞ্জ</option>
            <option>নীলফামারী</option>
            <option>নেত্রকোণা</option>
            <option>নোয়াখালী</option>
            <option>নড়াইল</option>
            <option>পঞ্চগড়</option>
            <option>পটুয়াখালী</option>
            <option>পাবনা</option>
            <option>পিরোজপুর</option>
            <option>ফরিদপুর</option>
            <option>ফেনী</option>
            <option>বগুড়া</option>
            <option>বরগুনা</option>
            <option>বরিশাল</option>
            <option>বাগেরহাট</option>
            <option>বান্দরবান</option>
            <option>ব্রাহ্মণবাড়িয়া</option>
            <option>ভোলা</option>
            <option>মাগুরা</option>
            <option>মাদারীপুর</option>
            <option>মানিকগঞ্জ</option>
            <option>মুন্সিগঞ্জ</option>
            <option>মেহেরপুর</option>
            <option>মৌলভীবাজার</option>
            <option>ময়মনসিংহ</option>
            <option>যশোর</option>
            <option>রংপুর</option>
            <option>রাঙ্গামাটি</option>
            <option>রাজবাড়ী</option>
            <option>রাজশাহী</option>
            <option>লক্ষ্মীপুর</option>
            <option>লালমনিরহাট</option>
            <option>শরীয়তপুর</option>
            <option>শেরপুর</option>
            <option>সাতক্ষীরা</option>
            <option>সিরাজগঞ্জ</option>
            <option>সিলেট</option>
            <option>সুনামগঞ্জ</option>
            <option>হবিগঞ্জ</option>

        </select>
    </div>

    <div class="col-md-2">
        <select class="form-control" name="regNoLetterPart" id="regNoLetterPart" required autocomplete="off">
            <option value="">...</option>
            <option>অ</option>
            <option>ই</option>
            <option>উ</option>
            <option>এ</option>
            <option>ক</option>
            <option>খ</option>
            <option>গ</option>
            <option>ঘ</option>
            <option>ঙ</option>
            <option>চ</option>
            <option>ছ</option>
            <option>জ</option>
            <option>ঝ</option>
            <option>ত</option>
            <option>থ</option>
            <option>ঢ</option>
            <option>ড</option>
            <option>ট</option>
            <option>ঠ</option>
            <option>দ</option>
            <option>ধ</option>
            <option>ন</option>
            <option>প</option>
            <option>ফ</option>
            <option>ব</option>
            <option>ভ</option>
            <option>ম</option>
            <option>য</option>
            <option>র</option>
            <option>ল</option>
            <option>শ</option>
            <option>স</option>
            <option>হ</option>
        </select>
    </div>

    <div class="col-md-6">
        <input
                th:classappend="${ vehicleIdField != null and #fields.hasErrors( '__${vehicleIdField}__' )? 'is-invalid':''}"
                type="number"
                class="form-control"
                min="1"
                max="999999"
                step="1"
                required
                name="regNoPart"
                id="regNoPart"
                autocomplete="off"
        />

        <th:block th:if="${ vehicleIdField != null }">
            <div class="invalid-feedback" th:if="${#fields.hasErrors( '__${vehicleIdField}__' )}" style="display: block !important;"
                 th:errors="*{__${vehicleIdField}__}"> Error!
            </div>
        </th:block>

    </div>

</div>

<input class="form-control" th:errorclass="is-invalid" type="hidden" th:id="${field}" th:field="*{__${field}__}" required autocomplete="off">

<script>

    const existingRegNo = "[[${regNoField}]]";
    const regNoFieldId = "[[${field}]]";

    function setRegNoPart(){

        if( typeof existingRegNo != 'undefined' || existingRegNo != '' ) {

            const regNoParts = existingRegNo.split('-');

            if( regNoParts.length == 3 ) {

                document.getElementById("regNoDistrictPart").value = regNoParts[0];
                document.getElementById("regNoLetterPart").value = regNoParts[1];
                document.getElementById("regNoPart").value = regNoParts[2];
            }
        }
    }

    function updateRegNo() {

        let firstPart = document.getElementById("regNoDistrictPart").value;
        let secondPart = document.getElementById("regNoLetterPart").value;
        let thirdPart = document.getElementById("regNoPart").value;

        document.getElementById( regNoFieldId ).value = firstPart + "-" + secondPart + "-" + thirdPart;

        if( firstPart != "" && secondPart != "" && thirdPart.length >= 1 ) {

            document.getElementById(regNoFieldId).dispatchEvent(new Event("blur"));
        }
    }

    document.getElementById("regNoDistrictPart").onchange = updateRegNo;
    document.getElementById("regNoLetterPart").onchange = updateRegNo;

    document.getElementById("regNoPart").onkeyup = updateRegNo;

    setRegNoPart();

</script>