<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>[[${subject}]]</title>
    </head>

    <body>

    <h1>Warranty Date Expiry Alert </h1>

    <p>The following products are going to expire: </p>

    <table class="table table-bordered table-hover dataTable no-footer dtr-inline">

        <thead>
            <tr>
                <th th:text="#{label.common.id}"></th>
                <th th:text="#{label.inventory.product.name.bn}"></th>
                <th th:text="#{label.vendor.add.vendor_name}"></th>
                <th th:text="#{label.inventory.warranty.period}"></th>
                <th th:text="#{label.inventory.expire.date}"></th>
            </tr>
        </thead>

        <tbody>

            <th:block th:each="listItem :  ${paramList}">

                <tr th:each="param : ${listItem}">

                    <td> [[${param}]] </td>

    <!--                <td th:text="${listItem[0]}"> </td>-->
    <!--                <td th:text="${listItem[1]}"> </td>-->
    <!--                <td th:text="${listItem[2]}"> </td>-->
    <!--                <td th:text="${listItem[3]}"> </td>-->
    <!--                <td th:text="${listItem[4]}"> </td>-->

                </tr>

            </th:block>

        </tbody>

    </table>


    </body>
</html>