

<div class="card-body">

    <div class="mt-4 pb-2">

        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.name-bn}"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" th:value="${complainsViewResponse.nameBn}" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.name-en}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${complainsViewResponse.nameEn}"
                       readonly="readonly"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.occupation}">ই-মেইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${complainsViewResponse.occupation}" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.permanent-address}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${complainsViewResponse.permanentAddress}"
                       readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.current-address}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${complainsViewResponse.currentAddress}"
                       readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.add.details}">মােবাইল</label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" readonly="readonly">[[${complainsViewResponse.details}]]</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.common.accused_name}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${complainsViewResponse.accusedNameBn}"
                       readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row" th:if="${T(com.dgt.paribahanpool.enums.AccusedPersonType).SYSTEM_USER} == ${complainsViewResponse.accusedDesignation}">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.common.designation}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control"
                       readonly="readonly" th:value="#{dropdown.options.complain.accused.system-user}"/>
            </div>
        </div>

        <div class="form-group row" th:if="${T(com.dgt.paribahanpool.enums.AccusedPersonType).MECHANIC} == ${complainsViewResponse.accusedDesignation}">
            <label class="col-md-2 col-form-label" th:text="#{label.complains.common.designation}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control"
                       readonly="readonly" th:value="#{dropdown.options.complain.accused.mechanic}"/>
            </div>
        </div>
    </div>
</div>