<div class="form-group">

    <div class="row">
        <div class="col-md-4">

            <label th:text="#{label.committee.add.nameBn}" for="nameBn">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

            <input  class="form-control" type="text" id="nameBn" name="nameBn">

        </div>

        <div class="col-md-4">

            <label th:text="#{label.committee.add.designation}" for="designation">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

            <input  class="form-control" type="text" id="designation" name="designation">

        </div>

        <div class="col-md-4">

            <label th:text="#{label.committee.add.position-in-committee}" for="positionInCommittee">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

            <div class="input-group">
                <select name="positionInCommittee" class="form-control" id="positionInCommittee">
                    <option th:each="position : ${T(com.dgt.paribahanpool.enums.CommitteePositionType).values()}"
                            th:value="${position}"
                            th:text="#{${T(com.dgt.paribahanpool.enums.CommitteePositionType).getLabel( position )}}">
                    </option>
                </select>
                <div class="input-group-append">
                    <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                        <i class="la la-close"></i>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>