<th:block th:fragment="committee-list( members )">

    <h4>[[#{label.committee.members}]]</h4>
    <hr/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>[[#{label.common.id}]]</th>
            <th>[[#{label.user-level.add.nameBn}]]</th>
            <th>[[#{label.complains.common.designation}]]</th>
            <th>[[#{label.committee.add.position-in-committee}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member:${members}">
            <td>[[${member.id}]]</td>
            <td>[[${member.nameBn}]]</td>
            <td>[[${member.designationName}]]</td>
            <td>[[${member.positionInCommittee}]]</td>
        </tr>
        </tbody>
    </table>

</th:block>