<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block
                th:with="label=${'label.setting.noc-distribution-footer'}, field=${'nocDistributionFooter'}, key=${'NOC_DISTRIBUTION_FOOTER'}"
                th:include="setting/component/setting-textarea"
        >
        </th:block>

        <!-- Sample to work with -->
        <!--<th:block
                th:with="label=${'label.setting.noc-distribution-footer'}, field=${'nocDistributionFooter'}, key=${'NOC_DISTRIBUTION_FOOTER'}"
                th:include="setting/component/setting-text"
        >
        </th:block>

        <th:block
                th:with="label=${'label.setting.noc-distribution-footer'}, field=${'dummyCheckbox'}, key=${'DUMMY_CHECKBOX'}, map=${dummyCheckbox}"
                th:include="setting/component/setting-checkbox"
        >
        </th:block>

        <th:block
                th:with="label=${'label.setting.noc-distribution-footer'}, field=${'dummyRadio'}, key=${'DUMMY_RADIO'}, map=${dummyRadio}"
                th:include="setting/component/setting-radio"
        >
        </th:block>-->

    </div>

</div>