<script>

    $( document ).ready( function() {

        let meetingSearchTable = $( '#meetingSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/meeting/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'date'
                    },
                    {
                        data: 'startingTime',
                        orderable: false
                    },
                    {
                        data: 'endingTime',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'location',
                        orderable: false
                    },
                    {
                        data: 'topic',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'meetingAgenda',
                        orderable: false
                    },
                    {
                        data: 'documents',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'meetingMinutes',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/meeting/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-meeting" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click",  ".delete-meeting", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/meeting/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            meetingSearchTable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>