<script>

    $( document ).ready( function() {

        let meetingMinuteSearchTable = $( '#meetingMinuteUpdate' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/meeting/meeting-minutes',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'date'
                    },
                    {
                        data: 'startingTime',
                        orderable: false
                    },
                    {
                        data: 'endingTime',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'location',
                        orderable: false
                    },
                    {
                        data: 'topic',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'meetingAgenda',
                        orderable: false
                    },
                    {
                        data: 'documents',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        searchable: false,
                        orderable: false,
                        render: function (data) {

                            if (lang == 'en')
                                return '<span class="label label-md label-success label-inline mr-2 minute-updator pointer" style="white-space: nowrap" data-id="' + data + '"> Attach Meeting Minutes <i class="la la-plus icon-xl text-success" data-id="' + data + '"></i></span>';
                            else
                                return '<span class="label label-md label-success label-inline mr-2 minute-updator pointer" style="white-space: nowrap" data-id="' + data + '"> মিটিং মিনিট সংযুক্ত করুন <i class="la la-plus icon-xl text-success" data-id="' + data + '"></i></span>';
                        }
                    },
                    {
                        data: 'meetingMinutes',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/meeting/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $( document ).on( "click", ".minute-updator", function( e ){

            $( "#id" ).val( $( e.target ).data( "id" ) );
            $( "#meetingMinuteModal" ).modal( "show" );
        });

    });

</script>