<div data-repeater-item th:each="productAddRequest, stat: *{productAddRequests}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <input type="hidden" th:name = "${ 'productAddRequests[' + stat.index + '].id' }" th:value="*{{ productAddRequests[__${stat.index}__].id }}" />

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.tender_number}" for="tenderNumber"> <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="tenderNumber" th:name = "${ 'productAddRequests[' + stat.index + '].tenderNumber' }" th:value="*{productAddRequests[__${stat.index}__].tenderNumber}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].tenderNumber')}" th:errors="*{productAddRequests[__${stat.index}__].tenderNumber}" > Error! </div>
            </div>

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.id}" for="productIdentity"> <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="productIdentity" th:name = "${ 'productAddRequests[' + stat.index + '].productIdentity' }" th:value="*{productAddRequests[__${stat.index}__].productIdentity}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].productIdentity')}" th:errors="*{productAddRequests[__${stat.index}__].productIdentity}" > Error! </div>
            </div>

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.name}" for="productName"> <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="productName" th:name = "${ 'productAddRequests[' + stat.index + '].productName' }" th:value="*{productAddRequests[__${stat.index}__].productName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].productName')}" th:errors="*{productAddRequests[__${stat.index}__].productName}" > Error! </div>
            </div>

        </div>

    </div>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.quantity}" for="quantity"> <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" id="quantity" th:name = "${ 'productAddRequests[' + stat.index + '].quantity' }" th:value="*{productAddRequests[__${stat.index}__].quantity}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].quantity')}" th:errors="*{productAddRequests[__${stat.index}__].quantity}" > Error! </div>
            </div>

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.rate_per_unit}" for="ratePerUnit"> <span class="text-danger">*</span> </label>
                <input  class="form-control" type="number" id="ratePerUnit" th:name = "${ 'productAddRequests[' + stat.index + '].ratePerUnit' }" th:value="*{productAddRequests[__${stat.index}__].ratePerUnit}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].ratePerUnit')}" th:errors="*{productAddRequests[__${stat.index}__].ratePerUnit}" > Error! </div>
            </div>

            <div class="col-md-4">
                <label th:text="#{label.purchase.demand.add.product.total_rate}" for="totalRate"> <span class="text-danger">*</span> </label>
                <input readonly class="form-control" type="number" id="totalRate" th:name = "${ 'productAddRequests[' + stat.index + '].totalRate' }" th:value="*{productAddRequests[__${stat.index}__].totalRate}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].totalRate')}" th:errors="*{productAddRequests[__${stat.index}__].totalRate}" > Error! </div>
            </div>

        </div>

    </div>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">
                <label th:text="#{label.common.comments}" for="comments"> <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="comments" th:name = "${ 'productAddRequests[' + stat.index + '].comments' }" th:value="*{productAddRequests[__${stat.index}__].comments}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('productAddRequests[' + stat.index + '].comments')}" th:errors="*{productAddRequests[__${stat.index}__].comments}" > Error! </div>
            </div>

        </div>

    </div>
</div>