<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.tender_number}" for="tenderNumber">Tender number <span class="text-danger">*</span> </label>
                <input class="form-control" type="text" id="tenderNumber" name="tenderNumber" required/>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.id}" for="productIdentity"> Product ID <span class="text-danger">*</span> </label>
                <input class="form-control" type="text" id="productIdentity" name="productIdentity" required/>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.name}" for="productName">Product Name <span class="text-danger">*</span> </label>
                <input class="form-control" type="text" id="productName" name="productName" required/>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.quantity}" for="quantity"> Quantity <span class="text-danger">*</span> </label>
                <input class="form-control" type="number" id="quantity" name="quantity" required/>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.rate_per_unit}" for="ratePerUnit"> Rate per unit <span class="text-danger">*</span> </label>
                <input class="form-control" type="number" id="ratePerUnit" name="ratePerUnit" required/>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.purchase.demand.add.product.total_rate}" for="totalRate"> Total Rate <span class="text-danger">*</span> </label>
                <input readonly class="form-control" type="number" id="totalRate" name="totalRate"/>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.comments}" for="comments"> Comments <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="comments" name="comments">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>