<script>
    $(document).ready( function (){

        let userSearchTable = $("#userSearch").DataTable({

            ...{
                ajax: {

                    url: context + '/api/user/search',
                    type: 'GET'
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'publicUserInfo.name'
                    },
                    {
                        data: 'publicUserInfo.nameEn'
                    },
                    {
                        data: 'publicUserInfo.designation'
                    },
                    {
                        data: 'publicUserInfo.designationEn'
                    },
                    {
                        data: 'publicUserInfo.workplace'
                    },
                    {
                        data: 'publicUserInfo.workplaceEn'
                    },
                    {
                        data: 'publicUserInfo.email'
                    },
                    {
                        data: 'publicUserInfo.phoneNo'
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon enable-user" data-id="' + data + '" title="Enable">\t\t\t\t\t\t\t\t<i class="la la-check-circle icon-xl text-primary" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon disable-user" data-id="' + data + '" title="Disable">\t\t\t\t\t\t\t\t<i class="la la-remove icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".enable-user", function( e ){

            let id = $(e.target).data( "id" );
            enableUser( id, true );
        });

        $(document).on( "click", ".disable-user", function( e ){

            let id = $(e.target).data( "id" );
            enableUser( id, false );
        });

        function enableUser( id, enabled ){

            const url = enabled?"/api/user/enable/" + id:"/api/user/disable/" + id;

            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        url,
                        param,
                        "POST",
                        ( data ) => {

                            let successClass = data['success']? "success": "error";
                            let successMessage = data['success']? "Operation on user successful!": "Error!";

                            Swal.fire(
                                successMessage,
                                data['message'],
                                successClass
                            );

                            if( data['success'] ) {
                                userSearchTable.ajax.reload(null, false);
                            }
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        }
    });
</script>