<script>

    $( document ).ready( function() {

        let myReplaceVehicleDatatable = $( '#replaceMyApplicationSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/replace-application/my-search',
                    type: 'GET',
                    data: {},
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'designation',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'workingPlace',
                        orderable: false
                    },
                    {
                        data: 'ownerType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'phoneNo',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'registrationNo',
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/replace-application/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-replace-vehicle" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });
    });

    $(document).on( "click", ".delete-replace-vehicle", (e) => {

        let id = $( e.target ).data( "id" );
        poolConfirm(
            {
                title: poolConfirmation,
                text: poolRevertConfirmation,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: poolConfirmYes,
                cancelButtonText: poolConfirmNo
            },
            (result) => {

                let param = {};
                param[csrfParamName] = csrf;

                callAjax(
                    "/api/replace-application/" + id,
                    param,
                    "DELETE",
                    ( data ) => {

                        Swal.fire(
                            "Deleted!",
                            data[ 'message' ],
                            "success"
                        );

                        myReplaceVehicleDatatable.ajax.reload( null, false );
                    },
                    ( data ) => {

                        commonErrorCallbackSwal( data );
                    }
                );
            }
        );
    });

</script>