<script>

    $( document ).ready( function() {

        let datatable = $( '#replaceApplicationSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/replace-application/search',
                    type: 'GET',
                    data: {

                    },
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'designation',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'workingPlace',
                        orderable: false
                    },
                    {
                        data: 'ownerType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'phoneNo',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'registrationNo',
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let createButton = row.stateResponse.stateType == 'POSITIVE_END'? '<a href="' + context + '/replace-application/create/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-print icon-xl text-success"></i>\t\t\t\t\t\t\t</a>': '';

                            let actionDiv = '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/replace-application/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="'+ viewTitle +'">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>';

                            actionDiv += createButton;

                            actionDiv += '<a href="' + context + '/workflow/history/vehicle_replacement_application/'+ data +'?active=REPLACE_APPLICATION_ADD_FORM" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>';

                            actionDiv += '</div>';

                            return actionDiv;
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });
    });
</script>