<th:block th:fragment="view( viewResponse )">

    <div style="margin-top:20px;">
        <b><span id="subject_html">বিষয়ঃ</span></b>
        <span id="subject_description_html"><b><u> সরকারি গাড়ির ব্যবহারে 'না-দাবি/ছাড়পত্র। </u></b></span>
    </div>

    <div style="margin-top:20px;">
        <span>সূত্রঃ</span>
        <span> তার [[${ T(com.dgt.paribahanpool.util.Util).makeDigitBangla( #temporals.format( viewResponse.creationDate, 'dd/MM/yyyy' ) )}]] তারিখের আবেদন ।</span>
    </div>

    <div style="width:100%; text-align: justify; text-indent:40px;margin-top: 30px;">
            <span id="description_html">
                <p>
                      ১। উপযুক্ত বিষয়ে ও সূত্রের প্রেক্ষিতে নির্দেশক্রমে সদয় অবগতির ও পরবর্তী প্রয়োজনীয় ব্যবস্থা
                                        গ্রহনের জন্য জানানো যাচ্ছে যে, এ অধিদপ্তরের রেকর্ডপত্র পরীক্ষা করে প্রতীয়মান হয় যে, সরকারি
                                        যানবাহন অধিদপ্তর কর্তৃক তার অনুকূলে
                                        বরাদ্দকৃত [[${viewResponse.allottedCarRegistrationNumber}]] কর্তৃক আপনার অনুকূলে গাড়িটি এ অধিদপ্তরে যথাযথভাবে জমা পাওয়া গিয়েছে।
                                        গাড়ি জমকালীন চুরি, হারানো বা দুর্ঘটনা
                                        সংক্রান্ত কোন সরকারি পাওনা পরিলক্ষিত হয় নেই।

                </p>
                <p>
                       ২। এমতাবস্থায়, এ অধিদপ্তরের গাড়ি ব্যবহারজনিত কোন সরকারি পাওনা নাই মর্মে "না-দাবী" সনদপত্র
                                        জারি করা হলো।
                </p>
            </span>
    </div>

</th:block>