<th:block th:fragment="view( viewResponse )">
  <div class="mt-5">
    <main id="" class="mx-5 my-4">
      <div class="contentSectionContainer">
        <div>

          <table class="w-100 my-3">
            <tr>
              <td>

                <p>বরাবর,
                  <br>
                কমিশনার, সরকারি যানবাহন অধিদপ্তর, ঢাকা।</p>

              </td>

              <span th:if="${viewResponse.stateType == T(com.dgt.paribahanpool.enums.StateType).POSITIVE_END}">

                <td id="print-btn" class="svg-icon svg-icon-primary svg-icon-2x" style="cursor: pointer" align="right">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <rect x="0" y="0" width="24" height="24"/>
                              <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>
                              <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>
                          </g>
                      </svg>
                </td>

              </span>

            </tr>
          </table>

        </div>

        <div class="mt-3">
          <p>বিষয়: অনাপত্তি সনদ প্রদান প্রসঙ্গে</p>
        </div>
        <div>
          <p>
            উপর্যুক্ত বিষয়ের প্রেক্ষিতে জানানো যাচ্ছে যে, আমি নিম্ম স্বাক্ষরকারী বাংলাদেশ সরকারের একজন [[${viewResponse.designation}]]।
            আমি স্মারক নং [[${viewResponse.serviceId}]], তারিখ [[${viewResponse.date}]] মাধ্যমে
            <span th:if="#{${T(com.dgt.paribahanpool.enums.NocApplicationType).getLabel(viewResponse.nocApplicationType)}} == 'পি এল আর এ গমন'"> পি. আর. এল. এ গমন করেছি। </span>
            <span th:if="#{${T(com.dgt.paribahanpool.enums.NocApplicationType).getLabel(viewResponse.nocApplicationType)}} == 'গাড়ি সেবা নগদায়ন'"> গাড়ি সেবা নগদায়ন নীতিমালার আওতায় ঋণ গ্রহণপূর্বক গাড়ি ক্রয় করেছি। </span>
            আমার পেনশন কেইস নিস্পত্তি। গাড়ি রক্ষনাবেক্ষন ভাতা প্রাপ্তির লক্ষ্যে এ অধিদপ্তর হতে আমার অনুকূলে সরকারি গাড়ি ব্যবহার সংক্রান্ত অনাপত্তি সনদ আবশ্যক।
            উল্লেখ্য, আমার অনুকূলে
            <span th:if="#{${T(com.dgt.paribahanpool.enums.VehicleAllotment).getLabel(viewResponse.vehicleAllotment)}} == 'দেয়া হয়েছিল'"> [[${viewResponse.allottedCarRegistrationNumber}]] গাড়িটি  ব্বরাদ্দ হয়। </span>
            <span th:if="#{${T(com.dgt.paribahanpool.enums.VehicleAllotment).getLabel(viewResponse.vehicleAllotment)}} == 'দেয়া হয়নি'">  গাড়ি বরাদ্দ দেয়া হয় নি। </span>
          </p>
          <p>
            অত এব, আমার অনুকূলে সরকারি গাড়ি ব্যবহারজনিত কোনো পাওনা নাই মর্মে অনাপত্তি সনদ প্রদানের প্রয়োজনীয় ব্যবস্থা গ্রহণের জন্য অনুরোধ করছি।
          </p>
        </div>

        <th:block th:replace="noc/component/noc-applicant-info :: responses( *{viewResponse} )"></th:block>
      </div>
    </main>
  </div>
</th:block>