<th:block th:fragment="responses( response )">
    <div class="mt-4 pb-2">
        <div class="form-group row">
            <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
            <div class="col-md-10">
                <img
                        th:if="${response.signMetaData != null }"
                        class="signature-image rounded p-2 pb-5"
                        th:src="@{ ${contextPath + '/doc/' + response.signMetaData.id} }"
                        alt="User Signature Image"
                        style="border: none; width: 200px; "
                /><br>
            </div>
            <label class="col-md-2 signature-image-container" th:text="#{label.common.date} + ':' + ${ #temporals.format( response.date, 'dd/MM/yyyy' ) } ">Incident Place </label>
        </div>
        <div class="form-group row align-items-center">
            <label class="col-md-2 col-form-label" th:text="#{label.common.name}">Incident Place </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" th:value="${response.name}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.identity_number}">পরিচিতি নং</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="serviceId" th:value="${response.serviceId}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.designation}">পদ</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="designation" th:value="${response.designation}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.working_place}">কর্মস্থল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="workplace" th:value="${response.workplace}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.email}">ই-মেইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="email" th:value="${response.email}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.mobile}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="phoneNo" th:value="${response.phoneNo}" readonly/>
            </div>
        </div>
        <div class="form-group row" th:if="${response.finedAmount!=null && response.finedAmount>0}">
            <label class="col-md-2 col-form-label" th:text="#{label.noc.workflow.fined-amount}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="phoneNo" th:value="${response.finedAmount}" readonly/>
            </div>
        </div>
        <div class="form-group row" th:if="${response.hasVehicleUdoOa!=null}">
            <label class="col-md-2 col-form-label" th:text="#{label.noc.workflow.has-assigned-vehicle}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.hasVehicleUdoOa} ? #{label.noc.workflow.ud-oa-statement-yes} : #{label.noc.workflow.ud-oa-statement-no}"  readonly/>
            </div>
        </div>
        <div class="form-group row" th:if="${response.isApprovedMechanic!=null}">
            <label class="col-md-2 col-form-label" th:text="#{label.noc.workflow.has-mechanic-approved}">মােবাইল</label>
            <div class="col-md-10">
                    <input type="text" class="form-control" th:value="${response.isApprovedMechanic} ? #{label.noc.workflow.mechanic-statement-yes} : #{label.noc.workflow.mechanic-statement-no} "  readonly/>
            </div>
        </div>
        <div class="form-group row" th:if="${response.isApprovedAtoUd!=null}">
            <label class="col-md-2 col-form-label" th:text="#{label.noc.workflow.has-ato-ud-approved}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.isApprovedAtoUd} ? #{label.noc.workflow.ato-ud-statement-yes} : #{label.noc.workflow.ato-ud-statement-no}"  readonly/>
            </div>
        </div>

        <span th:if="${response.vehicleViewResponseList!=null && #lists.size( response.vehicleViewResponseList ) >0}">

            <h2>
                [[#{label.noc.assigned-vehicles}]]
            </h2>

                <table class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>

                    <tr>

                        <td>[[#{label.vehicle.service.reg-no}]]</td>
                        <td>[[#{label.vehicle.common.assigned-date}]]</td>

                    </tr>

                    </thead>

                    <tbody>
                    <tr th:each="vehicle: ${response.vehicleViewResponseList}">

                        <td>[[${vehicle.registrationNo}]]</td>
                        <td>[[${ #temporals.format( vehicle.assignedAt, 'dd/MM/yyyy' )}]]</td>
                    </tr>

                    <tr th:each="vehicle: ${response.newlyAddedvehicleViewResponseList}">

                        <td>[[${vehicle.registrationNo}]]</td>
                        <td>N/A</td>
                    </tr>

                    </tbody>

                </table>

        </span>

    </div>



</th:block>