<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Reset| Paribahan Pool</title>
    </head>
    <body>

        <h1>Reset Password</h1>

        <p>You have requested for password reset.</p>
        <p>If you didn't initiate this request, please ignore, your password won't be changed</p>

        <p> <a th:href="@{ 'http://' + ${host} + ':' + ${port} + '/reset-password/' + ${userId} + '/' + ${token} }"> Click Here</a> to reset your password</p>

        <p>This link will be active for [[${timeout}]] minutes. After that, you have to request again to reset your password.</p>
    </body>
</html>