<th:block th:fragment="responses( response )">
    <div class="mt-4 pb-2">
        <div class="form-group row">
            <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
            <div class="col-md-10">
                <img
                        th:if="${response.signMetaData != null }"
                        class="signature-image rounded p-2 pb-5"
                        th:src="@{ ${contextPath + '/doc/' + response.signMetaData.id} }"
                        alt="User Signature Image"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.name}"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" th:value="${response.name}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.identity_number}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.identityNumber}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.designation}">ই-মেইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="email" th:value="${response.designation}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.working_place}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.workingPlace}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.mobile}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.mobileNumber}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.owner.type}"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.ownerType}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.name}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="phoneNo" th:value="${response.ownerNameEn}" readonly/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" th:text="#{label.common.email}">মােবাইল</label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:value="${response.eMail}" readonly/>
            </div>
        </div>
<!--        <div class="form-group row">-->
<!--            <label class="col-md-2 col-form-label" th:text="#{label.common.comments}">মােবাইল</label>-->
<!--            <div class="col-md-10">-->
<!--                <input type="text" class="form-control" th:value="${response.comments}" readonly/>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</th:block>