<th:block th:fragment="vehicle-list( vehicles )">

    <h4>[[#{label.requisition.assign-vehicle}]]</h4>
    <hr/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>[[#{label.vehicle.add.registration_no}]]</th>
                <th>[[#{label.vehicle.add.vehicle_type}]]</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehicle:${vehicles}">
                <td>[[${vehicle.registrationNumber}]]</td>
                <td>[[#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( vehicle.vehicleType )}}]]</td>
            </tr>
        </tbody>
    </table>

</th:block>