<th:block th:fragment="view( viewResponse )">
    
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.litre-per-kilo}"></label>
        <div class="col-md-10">
            <input type="text" class="form-control" th:value="${viewResponse.litrePerKilo}" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.vehicle-location}">মােবাইল</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.vehicleLocation}]]</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.maintainer}">ই-মেইল</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.maintainer}]]</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.details}">মােবাইল</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.details}]]</textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.overhaul_details}">মােবাইল</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.overhaulDetails}]]</textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.kilo-driver-after-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.kiloDriverAfterOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-first-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.kiloDrivenAfterFirstEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.cost-first-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.costFirstEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-second-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.kiloDrivenAfterSecondEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.cost-second-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.costSecondEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-third-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.kiloDrivenAfterThirdEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.cost-third-engine-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.costThirdEngineOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.cost-other-overhaul}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.costOtherOverhaul}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.cost-all-till-now}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.costAllTillNow}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.market-price}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.marketPrice}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.is-buyable-needed-part}">মােবাইল</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.buyableNeededPart}]]</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.service.application.disposition.estimated-repair-cost}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly="readonly" th:value="${viewResponse.estimatedRepairCost}"/>
        </div>
    </div>
    
</th:block>