<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <label class="col-md-4 col-form-label" for="reasonBn"> [[#{label.service.application.disposition.reason}]] <span class="text-danger">*</span> </label>

            <div class="col-md-4">

                <div class="input-group">
                    <input  class="form-control" type="text" id="reasonBn" name="reasonBn">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>