<th:block>

    <br>

    <br>

    <hr/>

    <div class="mx-5 my-4 vehicleDispositionDiv" style="display:none">

        <h3 class="">
            [[#{label.service.application.disposition-info}]]
        </h3>

        <div class="">

            <ul class="nav nav-tabs nav-tabs-line mb-5">
                <li class="nav-item">
                    <a class="nav-link active">
                        <span class="nav-text" th:text="#{label.common.information}"></span>
                    </a>
                </li>
            </ul>

            <div class="form-group row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.litre-per-kilo}" for="litrePerKilo"> Job Name </label>

                    <div class="col-md-4">
                        <input class="form-control" type="number" min="0" id="litrePerKilo" name="litrePerKilo"/>

                    </div>
            </div>

            <div id="disposition_add_card_repeater">

                <div data-repeater-list="dispositionReasonAddRequestList">

                    <th:block th:replace="vehicle/component/disposition-reason-add-service-info-template" />

                </div>

                <div class="form-group row">

                    <div class="col-lg-4">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.service.add.disposition.reason_add_card_button}]]</a>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.vehicle-location}" for="vehicleLocation"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="vehicleLocation" name="vehicleLocation"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.maintainer}" for="maintainer"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="maintainer" name="maintainer"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.details}" for="details"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="details" name="details"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.overhaul_details}" for="overhaulDetails"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="overhaulDetails" name="overhaulDetails"/>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.kilo-driver-after-overhaul}" for="kiloDriverAfterOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="kiloDriverAfterOverhaul" name="kiloDriverAfterOverhaul"/>

                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-first-engine-overhaul}" for="kiloDrivenAfterFirstEngineOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="kiloDrivenAfterFirstEngineOverhaul" name="kiloDrivenAfterFirstEngineOverhaul"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.cost-first-engine-overhaul}" for="costFirstEngineOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="costFirstEngineOverhaul" name="costFirstEngineOverhaul"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-second-engine-overhaul}" for="kiloDrivenAfterSecondEngineOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="kiloDrivenAfterSecondEngineOverhaul" name="kiloDrivenAfterSecondEngineOverhaul"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.cost-second-engine-overhaul}" for="costSecondEngineOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="costSecondEngineOverhaul" name="costSecondEngineOverhaul"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.kilo-driven-after-third-engine-overhaul}" for="kiloDrivenAfterThirdEngineOverhaul"> Job Name </label>
                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="kiloDrivenAfterThirdEngineOverhaul" name="kiloDrivenAfterThirdEngineOverhaul"/>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.cost-third-engine-overhaul}" for="costThirdEngineOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="costThirdEngineOverhaul" name="costThirdEngineOverhaul"/>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.cost-other-overhaul}" for="costOtherOverhaul"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="costOtherOverhaul" name="costOtherOverhaul"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.cost-all-till-now}" for="costAllTillNow"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="costAllTillNow" name="costAllTillNow"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.market-price}" for="marketPrice"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="marketPrice" name="marketPrice"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.is-buyable-needed-part}" for="buyableNeededPart"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="buyableNeededPart" name="buyableNeededPart"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.estimated-repair-cost}" for="estimatedRepairCost"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="number" min="0" id="estimatedRepairCost" name="estimatedRepairCost"/>

                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <label class="col-md-4 col-form-label" th:text="#{label.service.application.disposition.reason-for-disposition}" for="reasonForDisposition"> Job Name </label>

                    <div class="col-md-4">

                        <input class="form-control" type="text" id="reasonForDisposition" name="reasonForDisposition"/>

                    </div>

                </div>
            </div>


        </div>

        <div class="col-md-4">
            <button class="btn btn-success" type="submit">[[#{label.workflow.take-action}]]</button>
        </div>

    </div>

</th:block>

