<h4>
    [[#{ label.service.application.job.details }]]
</h4>

<div class="accordion accordion-toggle-arrow" id="jobAccordion">


    <th:block th:each="jobView, stat: ${viewResponse.jobResponses}">

        <div class="card">

            <div class="card-header">
                <div class="card-title" data:toggle="collapse" data:target="${ '#job' + stat.index }" >
                    Job Id: [[${viewResponse.jobResponses[__${stat.index}__].jobId}]]
                </div>
            </div>

            <div th:id="${ 'job' + stat.index }" class="collapse" th:classappend="${ stat.index == 0? 'show':'' }"  data-parent="#jobAccordion" style="padding: 20px;">

                <th:block th:if="${viewResponse.jobResponses[__${stat.index}__].sectionLeaderName != ''}">

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" th:text="#{label.service.application.service.is_done}"></label>
                        <input type="checkbox" class="job-done-checkbox" name="isDone" th:value="${viewResponse.jobResponses[__${stat.index}__].isDone}" th:checked="${viewResponse.jobResponses[__${stat.index}__].isDone}" data:id="${viewResponse.jobResponses[__${stat.index}__].id}" />

                    </div>

                </th:block>

                <div  class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.job.id}"> </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.jobResponses[__${stat.index}__].jobId}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.job.sharok-no}"> </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" id="sharokNo" th:value="${viewResponse.jobResponses[__${stat.index}__].sharokNo}"/>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.service.cost}"></label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.jobResponses[__${stat.index}__].cost}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.service.section_leader_name}"></label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.jobResponses[__${stat.index}__].sectionLeaderName}"/>
                    </div>

                </div>

                <div class="form-group row">

                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.service.job-section}"></label>
                    <div class="col-md-4">
                        <input th:if="${jobView.jobSection != null}" readonly type="text" class="form-control" th:value="#{${ T(com.dgt.paribahanpool.enums.JobSection).getLabel( jobView.jobSection ) }}"/>
                        <input th:if="${jobView.jobSection == null}" readonly type="text" class="form-control" value=""/>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.service.application.work.name}"></label>
                    <div class="col-md-12">
                        <textarea class="form-control">[[${viewResponse.jobResponses[__${stat.index}__].workName}]]</textarea>
                    </div>
                </div>

                <br>

                <h4 th:if="${viewResponse.isJobViewed}">
                    [[#{ label.service.application.product.details }]]
                </h4>

                <table th:if="${viewResponse.isJobViewed}" class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{label.inventory.product.name.en}">Product Name En</th>
                        <th th:text="#{label.inventory.product.name.bn}">Product Name Bn</th>
                        <th th:text="#{label.purchase.demand.add.product.quantity}">Quantity</th>
                        <th th:text="#{label.inventory.unit}"></th>
                        <th th:text="#{label.inventory.unit.price}">Unit Price</th>
                        <th th:text="#{label.service.application.total.cost}">total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inventoryItem:${jobView.inventoryItemViewResponseList}">
                        <td>[[${inventoryItem.productNameEn}]]</td>
                        <td>[[${inventoryItem.productNameBn}]]</td>
                        <td>[[${ lang == 'en' ? inventoryItem.quantity : T(com.dgt.paribahanpool.util.Util).makeDigitBangla(inventoryItem.quantity) }]]</td>
                        <td th:text="#{${T(com.dgt.paribahanpool.enums.Unit).getLabel( inventoryItem.unit )}}" ></td>
                        <td>[[${ lang == 'en' ? inventoryItem.unitPrice + ' Taka': T(com.dgt.paribahanpool.util.Util).makeDigitBangla(inventoryItem.unitPrice) + ' টাকা'}]]</td>
                        <td th:with="var = ${ #numbers.formatDecimal( inventoryItem.quantity * inventoryItem.unitPrice, 1, 2 )}" th:text="${ lang == 'en' ? var + ' Taka' : T(com.dgt.paribahanpool.util.Util).makeDigitBangla(var) + ' টাকা'}"></td>
                    </tr>
                    </tbody>
                </table>


                <br>
                <h4 th:if="${viewResponse.isJobViewed}">
                    [[#{ label.service.application.mechanic.details }]]
                </h4>
                <table th:if="${viewResponse.isJobViewed}" class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{label.mechanic.add.mechanic_id}">Mechanic Id</th>
                        <th th:text="#{label.mechanic.add.mechanic_name}">Name</th>
                        <th th:text="#{label.mechanic.add.phone_number}">Phone Number</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mechanicList:${jobView.mechanicViewResponseList}">
                        <td>[[${mechanicList.mechanicId}]]</td>
                        <td>[[${mechanicList.name}]]</td>
                        <td>[[${mechanicList.phoneNumber}]]</td>
                    </tr>
                    </tbody>
                </table>

                <br/>

                <h4>
                    [[#{label.service.application.parts}]]
                </h4>
                <hr/>
                <form
                        th:action="@{/vehicle-service/add-more-product}"
                        method="POST"
                >
                    <input type="hidden" th:value="${vehicleServiceApplicationViewResponse.id}" name="id" />
                    <input type="hidden" th:value="${viewResponse.jobResponses[__${stat.index}__].id}" name="job_id" />

                    <!--<div class="more_job_parts_card_repeater">

                        <div data-repeater-list="moreInventoryItemWithQuantityRequestList">

                            <th:block th:replace="vehicle/component/vehicle-parts-with-counter-template" />

                        </div>

                        <div class="form-group row">

                            <div class="col-lg-4">
                                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                    <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.add.vehicle.parts}]]</a>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-success" type="submit">[[#{label.common.submit_button}]]</button>
                            </div>
                        </div>
                    </div>-->

                    <div class="job_add_parts_card_repeater">

                        <div data-repeater-list="moreInventoryItemWithQuantityRequestList">

                            <div data-repeater-item>

                                <div class="form-group">

                                    <div class="row">

                                        <div class="col-md-4">

                                            <label > [[#{label.inventory.parts-type}]] </label>
                                            <select  class="form-control inventoryCategory" id="inventoryCategoryId" name="inventoryCategoryId">
                                                <option th:text="#{label.common.select}" value=""></option>
                                                <option th:each="item:${inventoryCategory}" th:value="${item.id}" th:text="${ lang == 'en'? item.nameEn: item.nameBn }"> </option>
                                            </select>

                                        </div>

                                        <div class="col-md-4">

                                            <label > [[#{label.service.application.parts}]] </label>
                                            <select  class="form-control inventoryItem" id="inventoryItemId" name="inventoryItemId">
                                                <option th:text="#{label.common.select}" value=""></option>
                                            </select>

                                        </div>

                                        <input class="form-control" name="subTotal" id="subTotal" type="hidden"/>

                                        <div class="col-md-4">

                                            <label th:text="#{label.service.application.counter}" ></label>

                                            <div class="input-group">
                                                <input required class="form-control counter" min="0" id="quantity" type="number" step="any" name="quantity">
                                                <div class="input-group-append">
                                                    <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                                                        <i class="la la-close"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-lg-4">
                                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                    <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.marine.add.add_card_button}]]</a>
                            </div>

                            <div class="col-lg-offset-4 col-lg-4">
                                <button class="btn btn-success" type="submit">[[#{label.common.submit_button}]]</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </th:block>

</div>