<th:block th:fragment="view( viewResponse )">

    <div style="margin-top:20px;">
        <span>বরাবর </span><br/>
        <span id="to_designation_html">পরিবহন কমিশনার </span><br/>
        <span id="to_office_html"> সরকারি যানবাহন অধিদপ্তর </span><br/>
        <span id="to_workplace_html"> সচিবালয় লিংক রােড </span><br/>
        <span id="to_html"> দৃষ্টি আকর্ষণঃ পরিচালক(সড়ক) </span><br/>
    </div>

    <div style="margin-top:20px;">
        <b><span id="subject_html">বিষয়ঃ</span></b>
        <span id="subject_description_html"><b><u> গাড়ির জন্য আবেদন </u></b></span>
    </div>


    <div style="width:100%; text-align: justify;" id="description_html">
            <span>
                <p style="margin-top: 20px">

                        জনাব,
                </p>
                <p style="text-indent:40px; margin-top: 30px">
                       মহােদয়, সবিনয় নিবেদন এই যে, আমি নি স্বাক্ষরকারী প্রাধিকারপ্রাপ্ত
                    কর্মকর্তা হিসাবে সরকারি যানবাহন অধিদপ্তরের একটি গাড়ি চালকসহ
                    বরাদ্দের জন্য আবেদন করছি। অতএব , আমার অনুকূলে একটি গাড়ি বরাদ্দের
                    জন্য প্রয়ােজনীয় ব্যবস্থা গ্রহণের অনুরুধ করা হল।
                </p>

                <p style="text-indent:40px; margin-top: 30px">
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>[[#{label.vehicle.add.registration_no}]]</th>
                                    <th>[[#{label.vehicle.add.vehicle_type}]]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="vehicle:${viewResponse.vehicles}">
                                    <td>[[${vehicle.registrationNumber}]]</td>
                                    <td>[[${vehicle.vehicleType}]]</td>
                                </tr>
                            </tbody>
                    </table>

                </p>

            </span>
    </div>

</th:block>