<th:block th:fragment="view( viewResponse )">
    <div class="mt-5">
        <main id="contentSection" class="mx-5 my-4">
            <div class="mt-4 pb-2">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.registration_no}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" id="name" th:value="${viewResponse.regNo}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.chassis_no}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.chassisNo}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.common.user.name.bn}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.vehicleUserNameBn}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.common.user.name.en}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.vehicleUserNameEn}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.user.designation}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.designationBn}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.user.designationEn}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.designationEn}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.driver.assign.add.name}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.driverNameBn}"/>
                    </div>

                    <label class="col-md-2 col-form-label" th:text="#{label.common.driver.name.en}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.driverNameEn}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.common.driver.phone.number}">Incident Place </label>
                    <div class="col-md-4">
                        <input readonly type="text" class="form-control" th:value="${viewResponse.driverPhoneNo}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" th:text="#{label.vehicle.service.vehicle-problems-details}">Incident Place </label>
                    <div class="col-md-4">
                        <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.vehicleProblemsDetails}]]</textarea>
                    </div>
                </div>

                <th:block th:if="${ viewResponse.commentFromPoridorshok != 'N/A' }">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" th:text="#{label.service.comment.foreman-to-poridorshok}">Incident Place </label>
                        <div class="col-md-4">
                            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.commentFromPoridorshok}]]</textarea>
                        </div>
                    </div>

                </th:block>

                <th:block th:if="${ viewResponse.finalPoridorshokComment != 'N/A' }">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" th:text="#{label.service.comment.deliver-vehicle}">Incident Place </label>
                        <div class="col-md-4">
                            <textarea type="text" class="form-control" readonly="readonly">[[${viewResponse.finalPoridorshokComment}]]</textarea>
                        </div>
                    </div>

                </th:block>

                <th:block th:include="document/component/document-list :: document-list( *{viewResponse.driverCommentDocuments} )" th:with="title=${'label.document.list'}" ></th:block>

                <th:block th:if="${viewResponse.stateResponse != null and viewResponse.stateResponse.stateType == T(com.dgt.paribahanpool.enums.StateType).INTERMEDIATE }">

                    <div th:if="${ vehicleParts != null and #lists.size( vehicleParts ) > 0 }" class="form-group">

                    <h4>[[#{label.vehicle.service.parts-list}]]</h4>

                    <div class="row col-md-12 table-responsive">
                        <table class="table table-bordered">

                            <thead>

                                <tr>

                                    <td>[[#{label.vehicle.service.item-name}]]</td>
                                    <td>[[#{label.vehicle.service.vendor}]]</td>
                                    <td>[[#{label.vehicle.service.warranty-start-date}]]</td>
                                    <td>[[#{label.vehicle.service.warranty-end-date}]]</td>
                                    <td>[[#{label.vehicle.service.use-date}]]</td>
                                    <td>[[#{label.vehicle.service.warranty-type}]]</td>
                                    <td>[[#{label.vehicle.service.reg-no}]]</td>
                                    <td>[[#{label.vehicle.service.chassis-no}]]</td>
                                    <td>[[#{label.vehicle.service.engine-no}]]</td>
                                    <td>[[#{label.vehicle.service.action}]]</td>

                                </tr>

                            </thead>

                            <tbody>
                                <tr th:each="vehiclePart: ${vehicleParts}">

                                    <td>[[${vehiclePart.inventoryItemNameEn}]]</td>
                                    <td>[[${vehiclePart.vendorNameBn}]]</td>
                                    <td>[[${ #temporals.format( vehiclePart.warrantyStartDate, 'dd/MM/yyyy' ) }]]</td>
                                    <td>[[${ #temporals.format( vehiclePart.warrantyEndDate, 'dd/MM/yyyy' ) }]]</td>
                                    <td>[[${ #temporals.format( vehiclePart.useDate, 'dd/MM/yyyy' ) }]]</td>
                                    <td>[[#{__${vehiclePart.warrantyType}__}]]</td>
                                    <td>[[${vehiclePart.vehicleRegNo}]]</td>
                                    <td>[[${vehiclePart.chassisNo}]]</td>
                                    <td>[[${vehiclePart.engineNo}]]</td>
                                    <td>
                                        <form method="POST" th:action="@{/parts-disposition/send-to-warranty/{vehicleId}/{inventoryItemId}/{vehiclePartsId}(vehicleId=${vehiclePart.vehicleId}, inventoryItemId=${vehiclePart.inventoryItemId}, vehiclePartsId=${vehiclePart.vehiclePartsId} )}">

                                            <button class="btn btn-sm btn-primary">
                                                [[#{label.vehicle.service.send-to-warranty}]]
                                            </button>

                                        </form>

                                        <form method="POST" th:action="@{/parts-disposition/send-to-disposition/{vehicleId}/{inventoryItemId}/{vehiclePartsId}(vehicleId=${vehiclePart.vehicleId}, inventoryItemId=${vehiclePart.inventoryItemId}, vehiclePartsId=${vehiclePart.vehiclePartsId})}">

                                            <button class="btn btn-sm btn-info">
                                                [[#{label.vehicle.service.send-to-disposition}]]
                                            </button>

                                        </form>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                </th:block>

                <div th:if="${viewResponse.jobResponses != null and #lists.size( viewResponse.jobResponses ) > 0}">

                    <th:block th:replace="vehicle/component/job-view"/>

                </div>
            </div>
        </main>

        <form
              th:action="@{/vehicle-service/add-more-product}"
              method="POST"
        >
            <input type="hidden" th:value="${vehicleServiceApplicationViewResponse.id}" name="id" />

            <div class="more_job_parts_card_repeater" style="display:none">

                <div data-repeater-list="moreInventoryItemWithQuantityRequestList">

                    <th:block th:if="*{ moreInventoryItemWithQuantityRequestList == null or #lists.size( moreInventoryItemWithQuantityRequestList ) == 0 }">
                        <th:block th:replace="vehicle/component/vehicle-parts-with-counter-template" />
                    </th:block>

                    <th:block th:if="*{ moreInventoryItemWithQuantityRequestList != null and #lists.size( moreInventoryItemWithQuantityRequestList ) > 0 }">
                        <th:block th:replace="vehicle/component/vehicle-parts-with-counter" />
                    </th:block>

                </div>

                <div class="form-group row">

                    <div class="col-lg-4">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.add.vehicle.parts}]]</a>
                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">[[#{label.common.submit_button}]]</button>
                    </div>
                </div>
            </div>



        </form>



    </div>
</th:block>