<th:block>
    <!--begin::Form-->

        <div id="service_job_card_repeater" class="mx-5 my-4 service-job-create" style="display: none">

            <h3 class="">
                [[#{label.service.application.create.job}]]
            </h3>

            <div class="">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

              <!--  <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}"/>-->


                <div data-repeater-list="jobAddRequestList" id="job-items">

                    <div data-repeater-item>

                        <hr>

                        <th:block th:replace="vehicle/component/service-job-template" />

                    </div>


                </div>

                <div class="form-group row">

                    <div class="col-lg-4">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.add.vehicle.job.new}]]</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <button class="btn btn-success" type="submit">[[#{label.workflow.take-action}]]</button>
            </div>

        </div>

    <!--end::Form-->
</th:block>
