<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">

    <div align = "center" style = "margin-bottom: 2rem;">
        <table>
            <tbody>
            <tr  align = "center">

                <td style="width:100%;">
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b></h1>

                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html">ব্যবস্থাপকের অফিস</span></b></h1>
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html">সরকারী যানবাহন মেরামত কারখানা</span></b></h1>
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span>১৬, আবদুল গনি রোড, ঢাকা। </span></b></h1>

                </td>
                <td align="center" style="width:20%;">

                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
