<th:block th:fragment="view( viewResponse )">

    <table border class="mt-2 w-100">

        <thead>

        <tr align="center">
            <th th:text="#{label.service.application.job.id}"></th>
            <th th:text="#{label.service.application.work.name}"></th>
            <th th:text="#{label.service.application.service.cost}"></th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="job:${viewResponse.jobResponses}">
            <td>[[${job.jobId}]]</td>
            <td>[[${job.workName}]]</td>
            <td> [[ ${ T(com.dgt.paribahanpool.util.Util).makeDigitBangla( job.cost )}]]</td>
        </tr>

        </tbody>

    </table>

    <table cellspacing="0" cellpadding="0" border="1">

        <thead>

        <tr align="center">
            <td style="border-left:none;border-top:none">
                <p>
                স্বারক নং -  তারিখ -
                </p>
                <p>
                    উপরে উল্লেখিত গাড়ি গ্রহণ করা হইল।
                </p>
                <p>
                    _________
                </p>
                <p>
                    সামগ্রী
                </p>
                <hr/>
                <p>
                    সন্তোষজনক অবস্থায় *
                </p>
                <p>
                    _________
                </p>
                <p>
                    অপর পৃষ্ঠায় বর্ণিত অসামঞ্জস্যতাসহ
                </p>
                <p>
                    স্বাক্ষর
                </p>
                <p>
                    পদবী [[${viewResponse.designationBn}]]
                </p>

            </td>
            <td>

                <p>
                    .....
                </p>
                <p>
                    ব্যবস্থাপক,
                </p>
                <p>
                    সরকারী যানবাহন মেরামত কারখানা
                </p>
            </td>
        </tr>
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                -->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                -->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                সামগ্রী-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                <hr>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                সন্তোষজনক অবস্থায় *-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                _________-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                অপর পৃষ্ঠায় বর্ণিত অসামঞ্জস্যতাসহ-->
<!--            </td>-->
<!--        </tr>-->

<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                স্বাক্ষর-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr align="center">-->
<!--            <td style="border-left:none;border-top:none">-->
<!--                পদবী-->
<!--            </td>-->
<!--        </tr>-->

        </thead>


    </table>

    <span>
        <p>

            *অপ্রযোজ্য অংশ কাটিয়া দিন

        </p>
        <p>
            বাঃসঃমুঃ-২০০৫/০৬-১৫০০৯কম (এফ )-১,৫০০ প্যাড, ২০০৫
        </p>
    </span>

</th:block>