<th:block th:fragment="view( viewResponse )">

    <div style="width:100%; text-align: justify;text-indent:40px;margin-top: 30px;">
            <span id="description_html">

                <table class="mt-4 w-100">
                  <tr>
                    <td>
                      হস্তান্তরের নোট নং - ..........
<!--                      <span th:each="digit : ${operationCode}"-->
<!--                            th:class="'code-box'" th:text="${digit}"></span>-->
                      তারিখ - [[${ #temporals.format( viewResponse.approvedDate, 'dd/MM/yyyy' ) }]]
                    </td>
                  </tr>
                  <tr>
                    <td>
                      আপনার সূত্র নম্বর - ..........
                      তারিখ - [[${ #temporals.format( viewResponse.appliedDate, 'dd/MM/yyyy' ) }]]
                    </td>
                  </tr>
                  <tr>
                    <td>
                      গাড়ি নম্বর - [[${ viewResponse.regNo }]]
                      প্রস্তুতকারী - ..........
                      ধরন  - [[#{${ viewResponse.vehicleType }}]]
                     মডেল -  [[${ viewResponse.modelName }]]
                    </td>
                 </tr>
                    <tr>
                        <td>
                            বি ডব্লিউ এম নং -  ..........
                            কাজের নম্বর -  .......... মোতাবেক নিম্নোক্ত কার্যাদি সম্পাদন শেষে আপনার নিকট হস্তান্তর করা হইলো। নিচে যথারীতি স্বাক্ষর করিয়া হস্তান্তর নোটের ১ম কপি ফেরৎ দিতে অনুরোধ করা হইল :
                        </td>
                    </tr>
                </table>
            </span>
    </div>

</th:block>