<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.service.application.job.id}" for="jobId"> Job Name </label>
            <input class="form-control nameEn" type="text" id="jobId" name="jobId"/>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.service.application.job.sharok-no}" for="jobId"> Job Sharok No </label>
            <input class="form-control sharokNo" type="text" id="sharokNo" name="sharokNo"/>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.service.application.job.name}" > Job Name Bn </label>
            <select style="width: 100%" name="jobType" class="form-control repeater-select2" required="required">
                <option value="" selected="selected">[[#{label.common.choose}]]</option>
                <option th:each="list : ${jobTypeList}"
                        th:value="${list.id}"
                        th:text="${ lang == 'en'? list.nameEn: list.nameBn }">
                </option>
            </select>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.vehicle.service.category}" for="serviceCategory"> </label>
            <select name="serviceCategory" class="form-control" id="serviceCategory">
                <option th:each="service : ${T(com.dgt.paribahanpool.enums.ServiceCategory).values()}"
                        th:value="${service}"
                        th:text="#{${T(com.dgt.paribahanpool.enums.ServiceCategory).getLabel( service )}}">
                </option>
            </select>

        </div>

    </div>
</div>

<div class="form-group append-class-name">
    <div class="row">

        <div class="col-md-8">

            <label th:text="#{label.service.application.work.name}"> Work Name </label>
            <textarea name="workName" class="form-control"></textarea>

        </div>

        <div class="col-md-4">

            <!--<label th:text="#{label.driver.add.registration_no}" for="registrationNumber"> Reg No </label>
            <input class="form-control" type="text" id="registrationNumber" name="registrationNumber"/>-->

        </div>

    </div>
</div>


<div id="vehicle_job_parts_card_repeater">

    <!--    <div data-repeater-list="inventoryItemWithQuantityRequestList">-->


    <!--        <th:block th:replace="vehicle/component/vehicle-parts-with-counter-template" />-->


    <!--    </div>-->

    <div class="form-group row">





        <div class="col-lg-4">
            <button type="button" href="javascript:;" onclick="addInventoryList(this)" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.add.vehicle.parts}]]</button>
        </div>
    </div>



</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.service.application.service.cost}" for="servicingCost"> Service Cost </label>
            <input autocomplete="off" class="form-control" type="number" min="0" id="servicingCost"
                   name="servicingCost"/>

        </div>

        <div class="col-md-4" style="display: none">

            <label th:text="#{label.service.application.total.cost}" for="totalCost"> Total Cost </label>
            <input autocomplete="off" class="form-control" type="text" id="totalCost"
                   name="totalCost"/>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.service.application.add.mechanic}" for="mechanicList"> </label>
            <select style="width: 100%" name="mechanicList" class="form-control" id="mechanicList">
                <option th:each="list : ${mechanicList}"
                        th:value="${list.id}"
                        th:text="${ lang == 'en'? list.nameEn: list.nameBn }">
                </option>
            </select>

        </div>

    </div>

</div>
<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.common.comments}" for="comments">  </label>

            <div class="input-group">
                <input class="form-control" type="text" id="comments" name="comments">
                <div class="input-group-append">
                    <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                        <i class="la la-close"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

