<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.vehicle.add.vehicle_type}">  <span class="text-danger">*</span> </label>
                <select  class="form-control" id="vehicleType" name="vehicleType">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="type : ${T(com.dgt.paribahanpool.enums.VehicleType).values()}"
                            th:value="${type}" th:text="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( type )}}">
                    </option>
                </select>

            </div>


            <div class="col-md-4">

                <label for="counter" th:text="#{label.vehicle.add.no_of_vehicle}"> <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input required class="form-control" type="number" id="counter" name="counter">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>