<div class="mt-5" th:fragment="view( viewResponse )">
<!--    <header class="border-bottom px-5">-->
<!--        <div class="d-flex justify-content-between align-items-center my-3">-->
<!--            <h5>গাড়ির আবেদন গ্রহণ</h5>-->
<!--        </div>-->
<!--    </header>-->
    <main id="" class="mx-5 my-4">
        <div class="contentSectionContainer">
<!--            <div class="d-flex justify-content-between align-items-center">-->
<!--                <p>বরাবর</p>-->
<!--                <div class="mb-1">-->

<!--                    <div id="requisition-print-btn" class="printer-icon" th:if="${viewResponse.stateType == T(com.dgt.paribahanpool.enums.StateType).POSITIVE_END}">-->
<!--                      <span class="svg-icon svg-icon-primary svg-icon-2x" style="cursor: pointer">&lt;!&ndash;begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\Devices\Printer.svg&ndash;&gt;-->
<!--                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
<!--                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                                  <rect x="0" y="0" width="24" height="24"/>-->
<!--                                  <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>-->
<!--                                  <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>-->
<!--                              </g>-->
<!--                          </svg>&lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                      </span>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
            <div>
                <table class="w-100 my-3">
                    <tr>
                        <td>
                            <p>বরাবর</p>
                        </td>

                        <span th:if="${viewResponse.stateType == T(com.dgt.paribahanpool.enums.StateType).POSITIVE_END}">

                            <td class="svg-icon svg-icon-primary svg-icon-2x" style="cursor: pointer" align="right">

                                <a th:href="@{/vehicle/requisition/print/{id}(id=${viewResponse.id})}"></a>

                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                          <rect x="0" y="0" width="24" height="24"/>
                                          <path d="M16,17 L16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 L8,17 L5,17 C3.8954305,17 3,16.1045695 3,15 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,15 C21,16.1045695 20.1045695,17 19,17 L16,17 Z M17.5,11 C18.3284271,11 19,10.3284271 19,9.5 C19,8.67157288 18.3284271,8 17.5,8 C16.6715729,8 16,8.67157288 16,9.5 C16,10.3284271 16.6715729,11 17.5,11 Z M10,14 L10,20 L14,20 L14,14 L10,14 Z" fill="#000000"/>
                                          <rect fill="#000000" opacity="0.3" x="8" y="2" width="8" height="2" rx="1"/>
                                      </g>
                                  </svg>
                            </td>

                        </span>

                    </tr>
                </table>
            </div>
            <div>
<!--                <span>[[${viewResponse.currentStateUserInfo.designation}]]</span><br />-->
                <span>সরকারি যানবাহন অধিদপ্তর</span><br />
                <span>সচিবালয় লিংক রােড</span><br />
                <span>দৃষ্টি আকর্ষণঃ পরিচালক(সড়ক)</span><br />
<!--                <span>স্মারক নাম্বারঃ 1234</span><br />-->
            </div>
            <div class="mt-3">
                <p>বিষয়: গাড়ির জন্য আবেদন</p>
            </div>
            <div>
                <p>জনাব,</p>
            </div>
            <div>
                <p>
                    মহােদয়, সবিনয় নিবেদন এই যে, আমি নি স্বাক্ষরকারী প্রাধিকারপ্রাপ্ত
                    কর্মকর্তা হিসাবে সরকারি যানবাহন অধিদপ্তরের একটি গাড়ি চালকসহ
                    বরাদ্দের জন্য আবেদন করছি। অতএব , আমার অনুকূলে একটি গাড়ি বরাদ্দের
                    জন্য প্রয়ােজনীয় ব্যবস্থা গ্রহণের অনুরুধ করা হল।
                </p>
            </div>
        </div>


        <th:block th:replace="vehicle/component/applicant-information :: responses( *{viewResponse} )"></th:block>

        <th:block th:replace="vehicle/component/assigned-vehicle :: vehicle-list( *{viewResponse.vehicles} )"></th:block>
    </main>

    <main id="contentSection" class="mx-5 my-4">
        <div class="contentSectionContainer">
            <div>
                <table class="w-100 my-3">
                    <tr>
                        <td>
                            <p>বরাবর</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <span>সরকারি যানবাহন অধিদপ্তর</span><br />
                <span>সচিবালয় লিংক রােড</span><br />
                <span>দৃষ্টি আকর্ষণঃ পরিচালক(সড়ক)</span><br />
                <span>সুরক নাম্বারঃ 1234</span><br />
            </div>
            <div class="mt-3">
                <p>বিষয়: গাড়ির জন্য আবেদন</p>
            </div>
            <div>
                <p>মহােদয়,</p>
            </div>
            <div>
                <p>
                    সবিনয় নিবেদন এই যে, আমি নি স্বাক্ষরকারী প্রাধিকারপ্রাপ্ত
                    কর্মকর্তা হিসাবে সরকারি যানবাহন অধিদপ্তরের একটি গাড়ি চালকসহ
                    বরাদ্দের জন্য আবেদন করছি। অতএব , আমার অনুকূলে একটি গাড়ি বরাদ্দের
                    জন্য প্রয়ােজনীয় ব্যবস্থা গ্রহণের অনুরুধ করা হল।
                </p>
            </div>
            <div class="mt-4 pb-2">
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label for="">স্বাক্ষর</label></td>
                        <td>
                            <div class="signature-image-container">
                                <img
                                        class="signature-image rounded p-2 pb-5"
                                        src=""
                                        alt="User Signature Image"
                                        style="width: 200px;"
                                />
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label>নাম</label></td>
                        <td><input type="text" class="form-control" th:value="${viewResponse.name}" /></td>
                    </tr>
                </table>
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label>পরিচিতি নং</label></td>
                        <td>
                            <input type="text" class="form-control" th:value="${viewResponse.identityNumber}" />
                        </td>
                    </tr>
                </table>
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label>পদ</label></td>
                        <td>
                            <input type="text" class="form-control" th:value="${viewResponse.designation}" />
                        </td>
                    </tr>
                </table>
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label>কর্মস্থল</label></td>
                        <td>
                            <input
                                    type="text"
                                    class="form-control"
                                    th:value="${viewResponse.workingPlace}"
                            />
                        </td>
                    </tr>
                </table>
<!--                <table class="w-100 my-3">-->
<!--                    <tr>-->
<!--                        <td style="width: 15%"><label>ই-মেইল</label></td>-->
<!--                        <td>-->
<!--                            <input-->
<!--                                    type="text"-->
<!--                                    class="form-control"-->
<!--                                    th:value="${viewResponse.email}"-->
<!--                            />-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
                <table class="w-100 my-3">
                    <tr>
                        <td style="width: 15%"><label>মােবাইল</label></td>
                        <td>
                            <input
                                    type="text"
                                    class="form-control"
                                    th:value="${viewResponse.mobileNumber}"
                            />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>



</div>