<div class="modal fade" id="committeeDecisionModal" tabindex="-1" role="dialog" aria-labelledby="committeeDecisionModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <form th:action="@{/vehicle/auction/committee-decision}" th:method="POST" enctype="multipart/form-data" >

            <input type="hidden" name="committeeDecisionId" id="committeeDecisionId"/>

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">[[#{label.vehicle.auction.committee-decision}]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>

                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <label for="committeePrice">[[#{label.vehicle.auction.price}]]</label>
                            <input type="number" name="committeePrice" min ="0" id="committeePrice" class="form-control"/>
                        </div>

                        <br/>

                        <div class="col-md-12">
                            <label for="committeeDecision">[[#{label.vehicle.auction.committee-decision}]]</label>
                            <textarea name="committeeDecision" id="committeeDecision" class="form-control"></textarea>
                        </div>

                        <br/>

                        <div class="col-md-12">
                            <label for="committeeDecisionFiles" class="custom-file-upload rounded shadow-sm">
                                [[#{label.file.attachments}]]&nbsp;
                                <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                            </label>
                            <input type="file" name="committeeDecisionFiles" id="committeeDecisionFiles" class="pool-file-chooser" multiple style="display:none;"/>
                            <div class="data-files"></div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{label.common.close}]]</button>
                    <button type="submit" class="btn btn-primary">[[#{label.common.submit_button}]]</button>
                </div>

            </div>

        </form>
    </div>
</div>