<div class="hidden-input-field mt-5 inventory-item-template-class" id="inventory-item-template-id">

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label > [[#{label.inventory.parts-type}]] </label>
                <select  class="form-control inventoryCategory ignore-repeater-item" id="inventoryCategoryId" name="inventoryCategoryId">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="item:${inventoryCategory}" th:value="${item.id}" th:text="${ lang == 'en'? item.nameEn: item.nameBn }"> </option>
                </select>

            </div>

            <div class="col-md-4">

                <label > [[#{label.service.application.parts}]] </label>
                <select  class="form-control inventoryItem ignore-repeater-item" id="inventoryItemId" name="inventoryItemId">
                    <option th:text="#{label.common.select}" value=""></option>
                </select>

            </div>

            <input class="form-control" name="subTotal" id="subTotal" type="hidden"/>

            <div class="col-md-4">

                <label th:text="#{label.service.application.counter}" ></label>

                <div class="input-group">
                    <input required class="form-control counter ignore-repeater-item" min="0" id="quantity" type="number" step="any" name="quantity">
                    <div class="input-group-append">
                        <button onclick="deleteInventoryItem(this)" class="btn font-weight-bold btn-danger btn-icon">
                            <i class="la la-close"></i>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>