<div class="modal fade" id="buyerInfoModal" tabindex="-1" role="dialog" aria-labelledby="buyerInfoModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <form th:action="@{/vehicle/auction/buyer-info}" th:method="POST">

            <input type="hidden" name="buyerFromVehicleId" id="buyerFromVehicleId"/>

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">[[#{label.vehicle.auction.buyer-info}]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>

                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">

                            <label class="radio">
                                <input name="isForPerOrOrg" type="radio" value="0"> <span></span>[[#{label.vehicle.auction.person}]]
                            </label>
                            <label class="radio">
                                <input name="isForPerOrOrg" type="radio" value="1"> <span></span>[[#{label.vehicle.auction.org}]]
                            </label>

                        </div>

                        <div id="tinNumberDiv" class="col-md-12" style="display: none;">
                            <label for="tinNumber">[[#{label.vehicle.auction.tin-num}]]</label>
                            <input type="text" name="tinNumber" id="tinNumber" class="form-control"/>
                        </div>

                        <div id="nidNumberDiv" class="col-md-12" style="display: none;">
                            <label for="nidNumber">[[#{label.vehicle.auction.nid-num}]]</label>
                            <input type="text" name="nidNumber" id="nidNumber" class="form-control"/>
                        </div>


                        <div id="auc-name-bn" class="col-md-12" style="display: none;">
                            <label for="soldToNameBn">[[#{label.vehicle.auction.name-bn}]]</label>
                            <input type="text" name="soldToNameBn" id="soldToNameBn" class="form-control"/>
                        </div>

                        <div id="auc-name-en" class="col-md-12" style="display: none;">
                            <label for="soldToNameEn">[[#{label.vehicle.auction.name-en}]]</label>
                            <input type="text" name="soldToNameEn" id="soldToNameEn" class="form-control"/>
                        </div>

                        <div id="auc-date" class="col-md-12" style="display: none;">
                            <label for="soldAt">[[#{label.vehicle.auction.sold-date}]]</label>
                            <div class="input-group date">
                                <input name="soldAt" autocomplete="off" class="form-control datepicker datepicker-input" type="text" id="soldAt"/>
                                <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div id="auc-cost" class="col-md-12" style="display: none;">
                            <label for="cost">[[#{label.vehicle.auction.cost}]]</label>
                            <input type="number" name="cost" min="0" id="cost" class="form-control"/>
                        </div>

                        <div id="auc-add-en" class="col-md-12" style="display: none;">
                            <label for="soldAddressEn">[[#{label.vehicle.auction.address-en}]]</label>
                            <input type="text" name="soldAddressEn" id="soldAddressEn" class="form-control"/>
                        </div>

                        <div id="auc-add-bn" class="col-md-12" style="display: none;">
                            <label for="soldAddressBn">[[#{label.vehicle.auction.address-bn}]]</label>
                            <input type="text" name="soldAddressBn" id="soldAddressBn" class="form-control"/>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{label.common.close}]]
                    </button>
                    <button type="submit" class="btn btn-primary">[[#{label.common.submit_button}]]</button>
                </div>

            </div>

        </form>
    </div>
</div>