<div data-repeater-item th:each="vehiclePartsWithCounterAddRequest, stat: *{vehiclePartsWithCounterAddRequestList}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">

                <th:block
                        th:with="label=${'label.service.application.parts'}, field=${'inventoryItemWithQuantityRequestList[__${stat.index}__].id'}, list=${inventoryItems}, class=${'inventoryItem'}"
                        th:include="inputs/select-metadata-list-input">
                </th:block>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.service.application.counter}" > Counter </label>

                <div class="input-group">
                    <input required class="form-control counter" type="number" min="0" th:name = "${ 'inventoryItemWithQuantityRequestList[' + stat.index + '].quantity' }">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors( 'inventoryItemWithQuantityRequestList[' + stat.index + '].quantity')}" th:errors="*{inventoryItemWithQuantityRequestList[__${stat.index}__].quantity}" > Error! </div>

            </div>

        </div>
    </div>



</div>