<div data-repeater-item th:each="vehicleTypeCounterAddRequest, stat: *{vehicleTypeCounterAddRequests}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">


                <label th:text="#{label.vehicle.add.vehicle_type}" ><span class="text-danger">*</span> </label>

                <select th:field="*{vehicleTypeCounterAddRequests[__${stat.index}__].vehicleType}" class="form-control" id="vehicleType">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="type : ${T(com.dgt.paribahanpool.enums.VehicleType).values()}"
                            th:value="${type}" th:text="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( type )}}">
                    </option>
                </select>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleTypeCounterAddRequests[' + stat.index + '].vehicleType')}" th:errors="*{vehicleTypeCounterAddRequests[__${stat.index}__].vehicleType}" > Error! </div>


            </div>

            <div class="col-md-4">

                <label for="counter"> Counter <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input required class="form-control" type="number" id="counter" th:name = "${ 'vehicleTypeCounterAddRequests[' + stat.index + '].counter' }" th:value="*{vehicleTypeCounterAddRequests[__${stat.index}__].counter}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors( 'vehicleTypeCounterAddRequests[' + stat.index + '].counter')}" th:errors="*{vehicleTypeCounterAddRequests[__${stat.index}__].counter}" > Error! </div>

            </div>

        </div>
    </div>



</div>