<th:block th:replace="letter-print/head"></th:block>

<th:block th:replace="letter-print/letter-top"></th:block>

<th:block th:replace="vehicle/component/requisition-body :: view( viewResponse=( ${requisitionViewResponse}  ) )"></th:block>

<th:block th:replace="letter-print/footer"></th:block>