<th:block th:with="formId = 'changePassword'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            th:action="@{/user/password}"
            th:object="${passwordChangeRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="nav-text" th:text="#{label.user.password.information}"></span>
                        </a>
                    </li>
                </ul>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-12">

                                    <label th:text="#{label.user.password}" for="currentPassword">Password <span class="text-danger">*</span> </label>
                                    <input class="form-control" th:errorclass="is-invalid" type="password" id="currentPassword" th:field="*{currentPassword}" minlength="4" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}"
                                         th:errors="*{currentPassword}"> Error!
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <label th:text="#{label.user.new-password}" for="newPassword">Password <span class="text-danger">*</span> </label>
                                    <input class="form-control" th:errorclass="is-invalid" type="password" id="newPassword" th:field="*{newPassword}" minlength="4" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                                         th:errors="*{newPassword}"> Error!
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <label th:text="#{label.user.retype-password}" for="retypePassword">Password <span class="text-danger">*</span> </label>
                                    <input class="form-control" th:errorclass="is-invalid" type="password" id="retypePassword" th:field="*{retypePassword}" minlength="4" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('retypePassword')}"
                                         th:errors="*{retypePassword}"> Error!
                                    </div>

                                </div>

                                <br/>

                                <div class="col-md-12 mt-2">
                                    <button class="btn btn-success mr-2" type="submit">
                                        <i class="icon-xl fab fa-telegram-plane icon-1x"></i>
                                        [[#{label.common.submit_button}]]
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>

</th:block>