<th:block th:with="formId = 'userInfoAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/user/my-profile}"
            th:object="${myProfileRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.user.add.nameBn'}, field=${'nameBn'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.user.add.nameEn'}, field=${'nameEn'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <!--<th:block th:replace="~{components/file/file-chooser::file-chooser( 'profilePicFiles', 'label.user.add.profilePic' )}"></th:block>-->
                            <th:block
                                    th:with="label=${'label.user.add.profilePic'}, field=${'profilePicFiles'}, accept=${'.jpg,.jpeg,.png'}"
                                    th:include="inputs/file-input">
                            </th:block>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'signFiles', 'label.user.add.sign' )}"></th:block>

                        </div>

                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{signDocuments} ) }" ></th:block>

            </div>

        </div>


    </form>

</th:block>