
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <input type="hidden" name="userId" id="userId" th:value="${userId}" />

    <div class="card-body">

        <table id="userSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>
                    <th th:text="#{label.common.id}">ID</th>
                    <th th:text="#{label.user.name}"> Log event </th>
                    <th th:text="#{label.user.nameEn}"> Log event </th>
                    <th th:text="#{label.user.designation}"> Log event </th>
                    <th th:text="#{label.user.designationEn}"> Log event </th>
                    <th th:text="#{label.user.workplace}"> Log event </th>
                    <th th:text="#{label.user.workplaceEn}"> Log event </th>
                    <th th:text="#{label.user.email}"> Log event </th>
                    <th th:text="#{label.user.phone}"> Log event </th>
                    <th th:text="#{label.common.actions}"> Actions </th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
