<script>
    $( document ).ready( function() {

        let driverSearchTable = $( '#driverSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/driver/search',
                    type: 'GET',
                    data: {

                    },
                },
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'driverId'
                    },
                    {
                        data: 'name',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'fatherName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'motherName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'phoneNumber',
                        orderable: false
                    },
                    {
                        data: 'permanentAddress',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'driverType',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'totalExperienceDuration',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'enrolmentDate',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'dateOfBirth',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'nidNumber',
                        orderable: false
                    },
                    {
                        data: 'documentMetadataList',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/driver/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-driver" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".delete-driver", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/driver/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            driverSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });
    });
</script>