<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/purchase-demand/add}" >
                        <button class="btn btn-success" th:text="#{label.purchase-demand.button.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="purchaseDemandSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.purchase.demand.add.product_type}"> Product Type ID </th>
                        <th th:text="#{label.common.date}"> Date </th>
                        <th th:text="#{label.common.total}"> Total </th>
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
