<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/warranty/add}" >
                        <button class="btn btn-success" th:text="#{breadcrumb.store-management.warranty-add}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="warrantySearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.warranty.date}"> Date </th>
                        <th th:text="#{label.warranty.registration_number}"> Registration Number </th>
                        <th th:text="#{label.warranty.chassis_number}"> Chassis Number </th>
                        <th th:text="#{label.warranty.brand_name}"> Brand Name </th>
                        <th th:text="#{label.warranty.vendor_name}"> Vendor Name </th>
                        <th th:text="#{label.warranty.model}"> Model </th>
                        <th th:text="#{label.warranty.parts_name}"> Parts Name </th>
                        <th th:text="#{label.warranty.parts_id}"> Parts ID </th>
                        <th th:text="#{label.warranty.beginning_date}"> Warranty Beginning Date </th>
                        <th th:text="#{label.warranty.ending_date}"> Warranty Ending Date </th>
                        <th th:text="#{label.warranty.comment}"> Comment </th>
                        <th th:text="#{label.mechanic.add.images}"> Files </th>
                        <td th:text="#{label.complains.add.status}"> Actions </td>
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>