<th:block th:with="formId = 'warrantyAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/warranty/add}"
            th:object="${warrantyAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.date'}, field=${'warrantyDate'}, type=${'date'},required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.registration_number'}, field=${'registrationNumber'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.chassis_number'}, field=${'chassisNumber'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.brand_name'}, field=${'brandName'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

<!--                            <th:block-->
<!--                                    th:with="label=${'label.warranty.vendor_name'}, field=${'vendorName'}, type=${'text'}"-->
<!--                                    th:include="inputs/text-input" >-->
<!--                            </th:block>-->

                            <label th:text="#{label.warranty.vendor_name}" for="vendorId">Driver ID <span class="text-danger">*</span> </label>

                            <select id="vendorId" class="form-control" name="vendorId" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: *{vendorViewResponseList}"
                                        th:value="${item.id}"
                                        th:text="${ item.vendorName }">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vendorId')}" th:errors="*{vendorId}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.model'}, field=${'model'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.parts_name'}, field=${'partsName'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.parts_id'}, field=${'partsId'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.beginning_date'}, field=${'warrantyBeginningDate'}, type=${'date'},required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.ending_date'}, field=${'warrantyEndingDate'}, type=${'date'},required=${true}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.warranty.comment'}, field=${'comment'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.project.vehicle.add.attached_documents' )}"></th:block>

                        </div>
                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

            </div>

        </div>

    </form>

</th:block>