<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="warranty/component/warranty-application-preview"></th:block>

        <form
                id="warrantyStateFlow"
                th:action="@{/warranty/take-action}"
              method="POST"
                enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${warrantyViewResponse.id}" name="id" />

            <th:block th:replace="workflow/available-actions"></th:block>


            <div class="row mx-1 mt-2" style="display: none;" id="commentDecision">

                <div class="col-md-2">
                    [[#{label.warranty.comment}]]
                </div>

                <div class="col-md-4">

                    <input name="commentDecisionId" id="commentDecisionId" class="form-control" type="text"/>

                </div>

            </div>

        </form>

    </div>

</div>