<div id="kt_page_sticky_card" class="card card-custom card-sticky">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                পরিচালনা কার্যক্রম
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="typeOfBudget">বাজেটের ধরন</label>
                    <select class="form-control" id="typeOfBudget" name="typeOfBudget" aria-invalid="false">
                        <option value="ACTIVE">সচল</option>
                        <option value="EXPIRED">মেয়াদউত্তীর্ণ</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="branchOffice"> কার্যালয়/ শাখা</label>
                    <select class="form-control" id="branchOffice" name="branchOffice" aria-invalid="false">
                        <option value="ACTIVE">সচল</option>
                        <option value="EXPIRED">মেয়াদউত্তীর্ণ</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="yearlyBudget">বাৎসরিক বাজেট</label>
                    <select class="form-control" id="yearlyBudget" name="yearlyBudget" aria-invalid="false">
                        <option value="ACTIVE">সচল</option>
                        <option value="EXPIRED">মেয়াদউত্তীর্ণ</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-6">
                <span>অর্থনৈতিক গ্রুপ/ কোড</span>
            </div>
            <div class="col-6 text-right">
                <span>বিবরণ</span>
            </div>
        </div>
        <div class="mt-5 border-top">
            <div class="treeViewContainer">
                <ul id="myUL">
                    <li>
                <span class="caret">
                    <div class="caret-text pt-4 pl-3">
                        <p>1</p>
                        <p>Head 1</p>
                    </div>
                </span>
                        <ul class="nested">
                            <li>
                        <span class="caret">
                            <div class="caret-text pt-4 pl-3">
                                <p>2</p>
                                <p>Head 2</p>
                            </div>
                        </span>
                                <ul class="nested">
                                    <li>
                                <span class="caret">
                                    <div class="caret-text pt-4 pl-3">
                                        <p>3</p>
                                        <p>Head 3</p>
                                    </div>
                                </span>
                                        <ul class="nested">
                                            <li>
                                        <span class="caret">
                                            <div class="caret-text pt-4 pl-3">
                                                <p>4</p>
                                                <p>Head 4</p>
                                            </div>
                                        </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>