<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/driver/add-driver-requisition}" >
                        <button class="btn btn-success" th:text="#{menu.hr-management.driver-management.driver-requisition}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="driverSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.driver.ministry}"> ministry </th>
                        <th th:text="#{label.driver.count}"> count </th>
                        <th th:text="#{label.driver.from.date}">from date</th>
                        <th th:text="#{label.driver.to.date}"> to date </th>
                        <td th:text="#{label.complains.add.status}"> Actions </td>
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>