<div data-repeater-item th:each="complaintInfoAddRequest, stat: *{driverComplaintInfoAddRequests}">

    <hr>

    <input type="hidden" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ driverComplaintInfoAddRequests[__${stat.index}__].id }}" />

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.smarok}" for="complaintId">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="complaintId" name="complaintId" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].complaintId' }" th:value="*{driverComplaintInfoAddRequests[__${stat.index}__].complaintId}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverComplaintInfoAddRequests[' + stat.index + '].complaintId')}" th:errors="*{driverComplaintInfoAddRequests[__${stat.index}__].complaintId}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.date}" for="complaintDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker" th:errorclass="is-invalid" type="text" id="complaintDate" name="complaintDate" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].complaintDate' }" th:value="*{{ driverComplaintInfoAddRequests[__${stat.index}__].complaintDate }}" >
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'driverComplaintInfoAddRequests[' + stat.index + '].complaintDate')}" style="display: block">

                    <th:block th:each="err : ${#fields.errors( 'driverComplaintInfoAddRequests[' + stat.index + '].complaintDate' )}" >
                        <span th:text="${err}"></span><br/>
                    </th:block>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.description}" for="complaintDescription">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="complaintDescription" name="complaintDescription" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].complaintDescription' }" th:value="*{driverComplaintInfoAddRequests[__${stat.index}__].complaintDescription}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverComplaintInfoAddRequests[' + stat.index + '].complaintDescription')}" th:errors="*{driverComplaintInfoAddRequests[__${stat.index}__].complaintDescription}" > Error! </div>

            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">


                <label th:text="#{label.driver.punishment.date}" for="punishmentDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker" th:errorclass="is-invalid" type="text" id="punishmentDate" name="punishmentDate" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].punishmentDate' }" th:value="*{{ driverComplaintInfoAddRequests[__${stat.index}__].punishmentDate }}" >
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'driverComplaintInfoAddRequests[' + stat.index + '].punishmentDate')}" style="display: block">

                    <th:block th:each="err : ${#fields.errors( 'driverComplaintInfoAddRequests[' + stat.index + '].punishmentDate' )}" >
                        <span th:text="${err}"></span><br/>
                    </th:block>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.punishment.description}" for="punishmentDescription">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="punishmentDescription" name="punishmentDescription" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].punishmentDescription' }" th:value="*{driverComplaintInfoAddRequests[__${stat.index}__].punishmentDescription}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverComplaintInfoAddRequests[' + stat.index + '].punishmentDescription')}" th:errors="*{driverComplaintInfoAddRequests[__${stat.index}__].punishmentDescription}" > Error! </div>

            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.others}" for="others">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="others" name="others" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].others' }" th:value="*{driverComplaintInfoAddRequests[__${stat.index}__].others}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverComplaintInfoAddRequests[' + stat.index + '].others')}" th:errors="*{driverComplaintInfoAddRequests[__${stat.index}__].others}" > Error! </div>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'complaintFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.comments}" for="comments">Comments <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="comments" name="comments" th:name = "${ 'driverComplaintInfoAddRequests[' + stat.index + '].comments' }" th:value="*{driverComplaintInfoAddRequests[__${stat.index}__].comments}" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverComplaintInfoAddRequests[' + stat.index + '].comments')}" th:errors="*{driverComplaintInfoAddRequests[__${stat.index}__].comments}" > Error! </div>

            </div>

        </div>

    </div>

    <th:block th:if="*{driverComplaintInfoAddRequests != null}">
        <th:block th:replace="~{ components/document/doc-list :: docs( *{driverComplaintInfoAddRequests[__${stat.index}__].complaintDocuments} ) }" ></th:block>
    </th:block>

</div>