<div data-repeater-item th:each="fitnessInfoAddRequest, stat: *{driverFitnessInfoAddRequests}">

    <hr>

    <input type="hidden" th:name = "${ 'driverFitnessInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ driverFitnessInfoAddRequests[__${stat.index}__].id }}" />

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.fitness}" for="driverFitness">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input class="form-control" th:errorclass="is-invalid" type="text" id="driverFitness" name="driverFitness" th:name = "${ 'driverFitnessInfoAddRequests[' + stat.index + '].driverFitness' }" th:value="*{driverFitnessInfoAddRequests[__${stat.index}__].driverFitness}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverFitnessInfoAddRequests[' + stat.index + '].driverFitness')}" th:errors="*{driverFitnessInfoAddRequests[__${stat.index}__].driverFitness}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.fitness_test_date}" for="fitnessDate">Servicing Date <span class="text-danger">*</span> </label>

                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="fitnessDate" name="fitnessDate" th:name = "${ 'driverFitnessInfoAddRequests[' + stat.index + '].fitnessDate' }" th:value="*{{ driverFitnessInfoAddRequests[__${stat.index}__].fitnessDate }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'driverFitnessInfoAddRequests[' + stat.index + '].fitnessDate')}" style="display: block">

                    <th:block th:each="err : ${#fields.errors( 'driverFitnessInfoAddRequests[' + stat.index + '].fitnessDate' )}" >
                        <span th:text="${err}"></span><br/>
                    </th:block>

                </div>

            </div>

        </div>

    </div>

</div>