<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.smarok}" for="complaintId">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="complaintId" name="complaintId" required>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.date}" for="complaintDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="complaintDate" name="complaintDate"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.complaint.description}" for="complaintDescription">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="complaintDescription" name="complaintDescription" required>

                </div>

            </div>

        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.punishment.date}" for="punishmentDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="punishmentDate" name="punishmentDate"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.punishment.description}" for="punishmentDescription">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="punishmentDescription" name="punishmentDescription" required>

                </div>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'complaintFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.driver.add.comments}" for="comments">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">

                    <input  class="form-control" type="text" id="comments" name="comments" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.others}" for="others">Name of the Servicing Vendor <span class="text-danger">*</span> </label>
                <input  class="form-control" type="text" id="others" name="others" required>

            </div>
        </div>
    </div>

    <th:block th:if="*{driverComplaintInfoAddRequests != null}">
        <th:block th:replace="~{ components/document/doc-list :: docs( *{driverComplaintInfoAddRequests.complaintDocuments} ) }" ></th:block>
    </th:block>

</div>