<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">


            <div class="col-md-4">

                <label th:text="#{label.driver.add.fitness}" for="driverFitness">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="driverFitness" name="driverFitness" required>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.fitness_test_date}" for="fitnessDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="fitnessDate" name="fitnessDate"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>