<th:block th:with="formId = 'driver-add-form'">
    <div class="card card-custom">
        <div class="card-body p-0">

            <!--begin::Wizard-->
            <div class="wizard wizard-1" id="driver-add-wizard" data-wizard-state="step-first" data-wizard-clickable="false">

                <!--begin::Wizard Nav-->
                <div class="wizard-nav border-bottom">
                    <div class="wizard-steps py-5 px-5">

                        <!--begin::Wizard Step 1 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-bus-stop icon-xxl"></i>
                                <h3 class="wizard-title" th:text="#{label.common.information}"></h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">

                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <rect fill="#000000" opacity="0.3"
                                              transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                              x="11" y="5" width="2" height="14" rx="1"/>
                                        <path
                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                fill="#000000"
                                                fill-rule="nonzero"
                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"
                                        />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 1 Nav-->

                        <!--begin::Wizard Step 2 Nav-->
                        <div class="wizard-step" data-wizard-type="step">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-list icon-xxl"></i>
                                <h3 class="wizard-title" th:text="#{label.driver.tab_title.transfer}"></h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <rect fill="#000000" opacity="0.3"
                                              transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                              x="11" y="5" width="2" height="14" rx="1"/>
                                        <path
                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                fill="#000000"
                                                fill-rule="nonzero"
                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"
                                        />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 2 Nav-->

                        <!--begin::Wizard Step 3 Nav-->
                        <div class="wizard-step" data-wizard-type="step">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-responsive icon-xxl"></i>
                                <h3 class="wizard-title" th:text="#{label.driver.tab_title.complaint}">5. Review and Submit</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow last">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <rect fill="#000000" opacity="0.3"
                                              transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                              x="11" y="5" width="2" height="14" rx="1"/>
                                        <path
                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                fill="#000000"
                                                fill-rule="nonzero"
                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"
                                        />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 3 Nav-->
                    </div>
                </div>
                <!--end::Wizard Nav-->

                <!--begin::Wizard Body-->
                <div class="row justify-content-center my-10 px-8 px-lg-10">
                    <div class="col-xl-12">

                        <!--begin::Wizard Form-->
                        <form class="form" th:id="${formId}" method="POST"
                              enctype="multipart/form-data"
                              th:action="${driverAddRequest.id == null} ? @{/driver/add} : @{/driver/edit}"
                              th:object="${driverAddRequest}">

                            <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                            <!--begin::Wizard Step 1-->
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                <h3 class="mb-10 font-weight-bold text-dark" th:text="#{label.common.information}">তথ্য</h3>
                                <div th:replace="driver/component/driver-add-common"></div>
                            </div>
                            <!--end::Wizard Step 1-->

                            <!--begin::Wizard Step 2-->
                            <div class="pb-5" data-wizard-type="step-content">
                                <h4 class="mb-10 font-weight-bold text-dark" th:text="#{label.driver.tab_title.transfer}">Enter the Details of your Delivery</h4>
                                <!--begin::Input-->
                                <div th:replace="driver/component/driver-add-transfer"></div>
                            </div>
                            <!--end::Wizard Step 2-->

                            <!--begin::Wizard Step 3-->
                            <div class="pb-5" data-wizard-type="step-content">
                                <h4 class="mb-10 font-weight-bold text-dark" th:text="#{label.driver.tab_title.complaint}">Select your Services</h4>
                                <div th:replace="driver/component/driver-add-complaint"></div>
                            </div>
                            <!--end::Wizard Step 3-->

                            <!--begin::Wizard Actions-->
                            <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                <div class="mr-2">
                                    <button type="button"
                                            class="btn btn-secondary font-weight-bolder text-uppercase px-6 py-3"
                                            data-wizard-type="action-prev" th:text="#{label.common.back_button}">Previous
                                    </button>
                                </div>
                                <div>
                                    <button type="button"
                                            class="btn btn-success font-weight-bolder text-uppercase px-6 py-3"
                                            data-wizard-type="action-submit" th:text="#{label.common.submit_button}">Submit
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary font-weight-bolder text-uppercase px-6 py-3"
                                            data-wizard-type="action-next" th:text="#{label.common.next}">Next
                                    </button>
                                </div>
                            </div>
                            <!--end::Wizard Actions-->

                        </form>
                        <!--end::Wizard Form-->

                    </div>
                </div>
                <!--end::Wizard Body-->

            </div>
            <!--end::Wizard-->

        </div>
        <!--end::Wizard-->

    </div>
</th:block>