<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="driver/component/driver-requisition-preview"></th:block>

        <input type="hidden" th:value="${driverRequisitionViewResponse.id}" name="id" />

        <form
                th:action="@{/driver/driver-requisition/take-action}"
                method="POST"
                enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${driverRequisitionViewResponse.id}" name="id" />

            <th:block th:replace="workflow/available-actions"></th:block>

            <div class="row mt-2 mx-1" style="display:none" id="chooseDriverDiv">

                <div class="col-md-2">
                    [[#{label.requisition.choose.driver}]]
                </div>

                <div class="col-md-4">

                    <select name="driverId" id="driverId" class="form-control select2 enable-select2" multiple="multiple" style="width: 100%" >
                        <option th:each="driver:${driverViewResponseList}" th:value="${driver.driverId}">[[${driver.nameBn}]]</option>
                    </select>

                </div>

            </div>

            <div class="mx-5 my-4" id="reject-reason-report-upload" style="display:none">

                <br/>

                <h3 class="">
                    [[#{label.vehicle.req.file.reject-reason-file-attachments}]]
                </h3>

                <label for="rejectReasonsReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.vehicle.req.file.reject-reason-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="rejectReasonsReportFiles" id="rejectReasonsReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

        </form>

    </div>

</div>