<div data-repeater-item th:each="fitnessInfoAddRequest, stat: *{driverTransferInfoAddRequests}">

    <hr>

    <input type="hidden" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ driverTransferInfoAddRequests[__${stat.index}__].id }}" />

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.transfer_start_date}" for="startDate">Servicing Date <span class="text-danger">*</span> </label>

                <div class="input-group date">
                    <input  class="form-control datepicker" th:errorclass="is-invalid" type="text" id="startDate" name="startDate" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].startDate' }" th:value="*{{ driverTransferInfoAddRequests[__${stat.index}__].startDate }}" required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'driverTransferInfoAddRequests[' + stat.index + '].startDate')}" style="display: block">

                    <th:block th:each="err : ${#fields.errors( 'driverTransferInfoAddRequests[' + stat.index + '].startDate' )}" >
                        <span th:text="${err}"></span><br/>
                    </th:block>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.transfer_end_date}" for="endDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker" th:errorclass="is-invalid" type="text" id="endDate" name="endDate" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].endDate' }" th:value="*{{ driverTransferInfoAddRequests[__${stat.index}__].endDate }}" >
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'driverTransferInfoAddRequests[' + stat.index + '].endDate')}" style="display: block">

                    <th:block th:each="err : ${#fields.errors( 'driverTransferInfoAddRequests[' + stat.index + '].endDate' )}" >
                        <span th:text="${err}"></span><br/>
                    </th:block>

                </div>

            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.driver.add.drivable_type}"> <span class="text-danger">*</span> </label>
                <select th:field="*{driverTransferInfoAddRequests[__${stat.index}__].driveableType}"  class="form-control driveableType" id="driveableType">
                    <option th:each="type : ${T(com.dgt.paribahanpool.enums.DriverType).values()}"
                            th:value="*{driverTransferInfoAddRequests[__${stat.index}__].driveableType}" th:text="#{${T(com.dgt.paribahanpool.enums.DriverType).getLabel( type )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4 registrationNo">

                <label th:text="#{label.driver.add.registration_no}" for="registrationNo">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input class="form-control registrationNo" th:errorclass="is-invalid" type="text" id="registrationNo" name="registrationNo" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].registrationNo' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].registrationNo}" required>

                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverTransferInfoAddRequests[' + stat.index + '].registrationNo')}" th:errors="*{driverTransferInfoAddRequests[__${stat.index}__].registrationNo}" > Error! </div>

            </div>

            <div class="col-md-4 speedboatEngineNo">

                <label th:text="#{label.driver.add.speedboat.engine.no}" for="speedboatEngineNo">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input class="form-control speedboatEngineNo" th:errorclass="is-invalid" type="text" id="speedboatEngineNo" name="speedboatEngineNo" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].speedboatEngineNo' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].speedboatEngineNo}" required>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.user_name}" for="userName">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="userName" name="userName" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].userName' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].userName}" required>

                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverTransferInfoAddRequests[' + stat.index + '].userName')}" th:errors="*{driverTransferInfoAddRequests[__${stat.index}__].userName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.designation}" for="designation">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="designation" name="designation" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].designation' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].designation}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverTransferInfoAddRequests[' + stat.index + '].designation')}" th:errors="*{driverTransferInfoAddRequests[__${stat.index}__].designation}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.workplace}" for="workplace">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="text" id="workplace" name="workplace" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].workplace' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].workplace}" required>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverTransferInfoAddRequests[' + stat.index + '].workplace')}" th:errors="*{driverTransferInfoAddRequests[__${stat.index}__].workplace}" > Error! </div>

            </div>

        </div>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.user_phone_number}" for="phoneNumber">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" th:errorclass="is-invalid" type="number" id="phoneNumber" name="phoneNumber" th:name = "${ 'driverTransferInfoAddRequests[' + stat.index + '].phoneNumber' }" th:value="*{driverTransferInfoAddRequests[__${stat.index}__].phoneNumber}" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('driverTransferInfoAddRequests[' + stat.index + '].phoneNumber')}" th:errors="*{driverTransferInfoAddRequests[__${stat.index}__].phoneNumber}" > Error! </div>

            </div>

        </div>

    </div>

</div>