<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/driver/add}" >
                        <button class="btn btn-success" th:text="#{menu.hr-management.driver-management.driver-attachment}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="driverSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.driver.add.driver_id}"> Driver Id </th>
                        <th th:text="#{label.driver.add.name}"> Name </th>
                        <th th:text="#{label.driver.add.father_name}">Father Name</th>
                        <th th:text="#{label.driver.add.mother_name}"> Mother Name </th>
                        <th th:text="#{label.driver.add.phone_number}"> Phone Number </th>
                        <th th:text="#{label.driver.add.permanent_address}"> Permanent Address </th>
                        <th th:text="#{label.driver.add.driver_type}"> Driver Type </th>
                        <th th:text="#{label.driver.add.total_experience_duration}"> Total Experience Duration </th>
                        <th th:text="#{label.driver.add.enrolment_date}"> Enrolment Date </th>
                        <th th:text="#{label.driver.add.birth_date}"> Date of Birth </th>
                        <th th:text="#{label.driver.add.nid_number}"> NID number </th>
                        <th th:text="#{label.file.attachments}"> Files </th>
<!--                        <th> Rating </th>-->
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>