<th:block th:with="formId = 'driverRequisitionAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/driver/add-driver-requisition}"
            th:object="${driverRequisitionAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.driver.ministry.id'}, field=${'ministryId'}, list=*{ministryResponseList}, class=${'select2 enable-select2'}, required=${true}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.driver.count'}, field=${'count'}, type=${'number'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.driver.from.date'}, field=${'fromDate'}, type=${'date'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.driver.to.date'}, field=${'toDate'}, type=${'date'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>