<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.transfer_start_date}" for="startDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="startDate" name="startDate"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.transfer_end_date}" for="endDate">Servicing Date <span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input  class="form-control datepicker"  type="text" id="endDate" name="endDate" >
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.driver_type}"> <span class="text-danger">*</span> </label>
                <select class="form-control driveableType" id="driveableType" name="driveableType">
                    <option th:each="type : ${T(com.dgt.paribahanpool.enums.DriverType).values()}"
                            th:value="${type}" th:text="#{${T(com.dgt.paribahanpool.enums.DriverType).getLabel( type )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4 registrationNo">

                <label th:text="#{label.driver.add.registration_no}" for="registrationNo">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control registrationNo" type="text" id="registrationNo" name="registrationNo" required>
                </div>

            </div>

            <div class="col-md-4 speedboatEngineNo">

                <label th:text="#{label.driver.add.speedboat.engine.no}" for="speedboatEngineNo">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control speedboatEngineNo" type="text" id="speedboatEngineNo" name="speedboatEngineNo" required>

                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.user_name}" for="userName">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="userName" name="userName" required>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.designation}" for="designation">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="designation" name="designation" required>

                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.driver.add.workplace}" for="workplace">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="text" id="workplace" name="workplace" required>

                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.driver.add.user_phone_number}" for="phoneNumber">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input  class="form-control" type="number" id="phoneNumber" name="phoneNumber" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>