<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div class="card-toolbar">
            <a  th:href="@{/employee/add}" >
                <button class="btn btn-success" th:text="#{title.employee.add}"></button>
            </a>
        </div>
    </div>

    <div class="card-body">

        <table id="employeeSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.employee.add.personal_id}"></th>
                <th th:text="#{label.employee.add.employee_id}"></th>
                <th th:text="#{label.common.name}"></th>
                <th th:text="#{label.common.father_name}"></th>
                <th th:text="#{label.common.mother_name}"></th>
                <th th:text="#{label.common.permanent_address}"></th>
                <th th:text="#{label.common.present_address}"></th>
                <th th:text="#{label.common.marital_status}"></th>
                <th th:text="#{label.common.gender}"></th>
                <th th:text="#{label.common.date_of_birth}"></th>
                <th th:text="#{label.common.passport_number}"></th>
                <th th:text="#{label.common.blood_group}"></th>
                <th th:text="#{label.common.nid_number}"></th>
                <th th:text="#{label.common.mobile}"></th>
                <th th:text="#{label.common.email}"></th>
                <th th:text="#{label.employee.add.quota}"></th>
                <th th:text="#{label.employee.add.number_of_children}"></th>
                <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
