<li
        th:classappend="${ activeMenu != null && ( activeMenu == Menu.BUDGET_CODE_ADD or activeMenu == Menu.BUDGET_CODE_SEARCH or activeMenu == Menu.BUDGET_ADD or activeMenu == Menu.BUDGET_SEARCH or activeMenu == Menu.BUDGET_VIEW or activeMenu == Menu.BUDGET_REVISED_AMOUNT or activeMenu == Menu.BUDGET_FINAL_AMOUNT )? 'menu-item-here menu-item-open':'' }"
        class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
        sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_BUDGET_CODE_SEARCH', 'ROLE_BUDGET_CODE_ADD', 'ROLE_BUDGET_ADD', 'ROLE_BUDGET_SEARCH', 'ROLE_BUDGET_VIEW' )"
>

    <a href="javascript:;" class="menu-link menu-toggle">
		<span class="svg-icon menu-icon">
			<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                 height="24px" viewBox="0 0 24 24" version="1.1">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<rect x="0" y="0" width="24" height="24"></rect>
					<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
					<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                          fill="#000000" opacity="0.3"></path>
				</g>
			</svg>
            <!--end::Svg Icon-->
		</span>
        <span class="menu-text" th:text="#{menu.budget-management}">Vehicle Management</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="menu-submenu">

        <i class="menu-arrow"></i>
        <ul class="menu-subnav">

            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.BUDGET_CODE_ADD or activeMenu == Menu.BUDGET_CODE_SEARCH )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item" aria-haspopup="true"
                    sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_BUDGET_CODE_SEARCH', 'ROLE_BUDGET_CODE_ADD' )"
            >
                <a th:href="@{/budget/code-search}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.budget-management.budget-code-add}"> Budget Code Add </span>
                </a>
            </li>

            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.BUDGET_ADD or activeMenu == Menu.BUDGET_SEARCH )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
                    sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_BUDGET_ADD', 'ROLE_BUDGET_SEARCH' )">
                <a th:href="@{/budget/search/(state=INITIAL_BUDGET, active=BUDGET_SEARCH)}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.budget-management.budget-presentation}"> NOC Search </span>
                </a>
            </li>

            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.BUDGET_REVISED_AMOUNT )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
                    sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_BUDGET_ADD', 'ROLE_BUDGET_SEARCH' )">
                <a th:href="@{/budget/search/(state=REVISED_BUDGET, active=BUDGET_REVISED_AMOUNT)}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text"
                          th:text="#{menu.budget-management.revised-budget-presentation}"> NOC Search </span>
                </a>
            </li>

            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.BUDGET_FINAL_AMOUNT or activeMenu == Menu.BUDGET_VIEW )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
                    sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_BUDGET_ADD', 'ROLE_BUDGET_SEARCH', 'ROLE_BUDGET_VIEW' )">
                <a th:href="@{/budget/search/(state=FINAL_BUDGET, active=BUDGET_FINAL_AMOUNT) }" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text"
                          th:text="#{menu.budget-management.final-budget-presentation}"> NOC Search </span>
                </a>
            </li>

            <!--<li class="menu-item" aria-haspopup="true">
                <a th:href="@{/}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.budget-management.actual-cost}"> NOC Search </span>
                </a>
            </li>

            <li class="menu-item" aria-haspopup="true">
                <a th:href="@{/}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.budget-management.budget-creation}"> NOC Search </span>
                </a>
            </li>

            <li class="menu-item" aria-haspopup="true">
                <a th:href="@{/}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text"
                          th:text="#{menu.budget-management.budget-report-management}"> NOC Search </span>
                </a>
            </li>

            <li class="menu-item" aria-haspopup="true">
                <a th:href="@{/}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.budget-management.chart-of-account}"> NOC Search </span>
                </a>
            </li>-->
        </ul>
    </div>
</li>