<li
        th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_ADD or activeMenu == Menu.MARINE_ADD or activeMenu == Menu.MARINE_SEARCH or activeMenu == Menu.NOC_ADD or activeMenu == Menu.PROJECT_VEHICLE_ADD or activeMenu == Menu.NOC_SEARCH or activeMenu == Menu.VEHICLE_USER or activeMenu == Menu.REPLACE_APPLICATION_SEARCH  or activeMenu == Menu.REPLACE_APPLICATION_ADD  or activeMenu == Menu.REPLACE_VEHICLE_ADD or activeMenu == Menu.PROJECT_VEHICLE_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_ADD or activeMenu == Menu.MARINE_SERVICE_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_VIEW or activeMenu == Menu.NOC_MY_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_MY_SEARCH or activeMenu == Menu.VEHICLE_AUCTION or activeMenu == Menu.VEHICLE_SERVICE_ADD or activeMenu == Menu.VEHICLE_SERVICE_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_MY_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_VIEW or activeMenu == Menu.MARINE_SERVICE_DISPOSITION_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_DISPOSITION_VIEW  )? 'menu-item-here menu-item-open':'' }"
        class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
        sec:authorize="hasAnyAuthority( 'ROLE_MARINE_SEARCH', 'ROLE_VEHICLE_REPLACE_APPLICATION_SEARCH', 'ROLE_PROJECT_VEHICLE_EDIT', 'ROLE_VEHICLE_REPLACE_APPLICATION_ADD', 'ROLE_NOC_DELETE', 'ROLE_MARINE_ADD', 'ROLE_NOC_MY_SEARCH', 'ROLE_MARINE_DELETE', 'ROLE_ADMIN', 'ROLE_MARINE_SERVICE_ADD', 'ROLE_NOC_ADD', 'ROLE_PROJECT_VEHICLE_DELETE', 'ROLE_PROJECT_VEHICLE_ADD', 'ROLE_VEHICLE_REPLACE_ADD', 'ROLE_MARINE_EDIT', 'ROLE_NOC_SEARCH', 'ROLE_VEHICLE_MY_REPLACE_SEARCH', 'ROLE_VEHICLE_MY_REPLACE_DELETE', 'ROLE_PROJECT_VEHICLE_SEARCH', 'ROLE_VEHICLE_MY_REQUISITION_SEARCH', 'ROLE_VEHICLE_REQUISITION', 'ROLE_VEHICLE_REQUISITION_SEARCH', 'ROLE_VEHICLE_SERVICE_SEARCH', 'ROLE_VEHICLE_SERVICE_ADD', 'ROLE_VEHICLE_SERVICE_VIEW', 'ROLE_VEHICLE_SERVICE_MY_SEARCH', 'ROLE_MARINE_DISPOSITION_VIEW', 'ROLE_MARINE_DISPOSITION_SEARCH'  )"
>

    <a href="javascript:;" class="menu-link menu-toggle">
		<span class="svg-icon menu-icon">
			<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<rect x="0" y="0" width="24" height="24"></rect>
					<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
					<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
				</g>
			</svg>
            <!--end::Svg Icon-->
		</span>
        <span class="menu-text" th:text="#{menu.vehicle-management}" >Vehicle Management</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="menu-submenu">

        <i class="menu-arrow"></i>
        <ul class="menu-subnav">

            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_ADD or activeMenu == Menu.NOC_ADD or activeMenu == Menu.PROJECT_VEHICLE_ADD or activeMenu == Menu.NOC_SEARCH or activeMenu == Menu.VEHICLE_USER or activeMenu == Menu.REPLACE_APPLICATION_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_ADD or activeMenu == Menu.REPLACE_VEHICLE_ADD or activeMenu == Menu.PROJECT_VEHICLE_SEARCH or activeMenu == Menu.NOC_MY_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_MY_SEARCH or activeMenu == Menu.VEHICLE_AUCTION or activeMenu == Menu.VEHICLE_SERVICE_ADD or activeMenu == Menu.VEHICLE_SERVICE_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_MY_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_VIEW )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_VEHICLE_REPLACE_APPLICATION_ADD', 'ROLE_PROJECT_VEHICLE_ADD', 'ROLE_PROJECT_VEHICLE_DELETE', 'ROLE_NOC_SEARCH', 'ROLE_VEHICLE_MY_REPLACE_DELETE', 'ROLE_VEHICLE_MY_REPLACE_SEARCH', 'ROLE_PROJECT_VEHICLE_SEARCH', 'ROLE_PROJECT_VEHICLE_EDIT', 'ROLE_VEHICLE_REPLACE_ADD', 'ROLE_NOC_DELETE', 'ROLE_ADMIN', 'ROLE_VEHICLE_ADD', 'ROLE_NOC_ADD', 'ROLE_VEHICLE_REPLACE_APPLICATION_SEARCH', 'ROLE_NOC_MY_SEARCH', 'ROLE_VEHICLE_MY_REQUISITION_SEARCH', 'ROLE_VEHICLE_REQUISITION', 'ROLE_VEHICLE_REQUISITION_SEARCH', 'ROLE_VEHICLE_SERVICE_SEARCH', 'ROLE_VEHICLE_SERVICE_ADD', 'ROLE_VEHICLE_SERVICE_VIEW', 'ROLE_VEHICLE_SERVICE_MY_SEARCH' )"
            >

                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle}"> Motor Vehicle </span>
                    <i class="menu-arrow"></i>
                </a>

                <div class="menu-submenu" style="" kt-hidden-height="240">

                    <ul class="menu-subnav">

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_ADD or activeMenu == Menu.NOC_ADD or activeMenu == Menu.NOC_SEARCH or activeMenu == Menu.NOC_MY_SEARCH)? 'menu-item-here menu-item-open':'' }"
                                class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_VEHICLE_MY_REPLACE_SEARCH', 'ROLE_VEHICLE_ADD', 'ROLE_NOC_ADD', 'ROLE_ADMIN', 'ROLE_NOC_SEARCH', 'ROLE_NOC_MY_SEARCH', 'ROLE_NOC_DELETE', 'ROLE_VEHICLE_MY_REPLACE_DELETE' )"
                        >

                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management}"> Motor Vehicle Management </span>
                                <i class="menu-arrow"></i>
                            </a>

                            <div class="menu-submenu" style="" kt-hidden-height="160">

                                <ul class="menu-subnav">

                                    <li
                                        th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_ADD )? 'menu-item-active':'' }"
                                        class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_ADD' )"
                                    >
                                        <a th:href="@{/vehicle/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.add}" > Add </span>
                                        </a>
                                    </li>

                                    <li
                                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.NOC_ADD or activeMenu == Menu.NOC_MY_SEARCH )? 'menu-item-active':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_NOC_MY_SEARCH' )"
                                    >
                                        <a th:href="@{/noc/my-search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.my-noc-application}" > NOC Create </span>
                                        </a>
                                    </li>

                                    <li
                                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.NOC_APPLICATION_VIEW or activeMenu == Menu.NOC_SEARCH )? 'menu-item-active':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_NOC_SEARCH' )">
                                        <a th:href="@{/noc/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.noc-application}" > NOC Search </span>
                                        </a>
                                    </li>

                                    <!--<li class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN' )">
                                        <a th:href="@{/}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.vehicle-user-management}" > Vehicle User </span>
                                        </a>
                                    </li>-->

                                </ul>

                            </div>

                        </li>

                        <li     th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_SERVICE_ADD or activeMenu == Menu.VEHICLE_SERVICE_SEARCH  or activeMenu == Menu.VEHICLE_SERVICE_MY_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_VIEW )? 'menu-item-here menu-item-open':'' }"
                                class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_SERVICE_SEARCH', 'ROLE_VEHICLE_SERVICE_ADD', 'ROLE_VEHICLE_SERVICE_VIEW', 'ROLE_VEHICLE_SERVICE_MY_SEARCH' )"
                        >

                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.vehicle-maintenance}"> Vehicle Maintenance </span>
                                <i class="menu-arrow"></i>
                            </a>

                            <div class="menu-submenu" style="" kt-hidden-height="160">

                                <ul class="menu-subnav">

                                    <li
                                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_SERVICE_ADD or activeMenu == Menu.VEHICLE_SERVICE_SEARCH or activeMenu == Menu.VEHICLE_SERVICE_VIEW)? 'menu-item-active':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_SERVICE_SEARCH', 'ROLE_VEHICLE_SERVICE_ADD', 'ROLE_VEHICLE_SERVICE_VIEW')">

                                        <a th:href="@{/vehicle-service/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.vehicle-maintenance.servicing}" > Maintenance Service </span>
                                        </a>
                                    </li>

                                    <li
                                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_SERVICE_MY_SEARCH )? 'menu-item-active':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_SERVICE_MY_SEARCH')">
                                        <a th:href="@{/vehicle-service/my-search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.vehicle-maintenance.job}" > Maintenance Job </span>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </li>

                        <!--<li class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN' )"
                        >
                            <a th:href="@{/}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.tracking-management}" > Tracking Management </span>
                            </a>
                        </li>-->

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.PROJECT_VEHICLE_ADD or activeMenu == Menu.VEHICLE_USER or activeMenu == Menu.REPLACE_APPLICATION_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_ADD or activeMenu == Menu.REPLACE_VEHICLE_ADD or activeMenu == Menu.PROJECT_VEHICLE_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_MY_SEARCH or activeMenu == Menu.VEHICLE_AUCTION )? 'menu-item-here menu-item-open':'' }"
                                class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_VEHICLE_MY_REPLACE_DELETE', 'ROLE_PROJECT_VEHICLE_SEARCH', 'ROLE_VEHICLE_REPLACE_APPLICATION_ADD', 'ROLE_VEHICLE_MY_REPLACE_SEARCH', 'ROLE_ADMIN', 'ROLE_PROJECT_VEHICLE_ADD', 'ROLE_PROJECT_VEHICLE_DELETE', 'ROLE_PROJECT_VEHICLE_EDIT', 'ROLE_VEHICLE_REPLACE_APPLICATION_SEARCH', 'ROLE_VEHICLE_MY_REQUISITION_SEARCH', 'ROLE_VEHICLE_REQUISITION_SEARCH' )"
                        >

                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment}"> Vehicle Maintenance </span>
                                <i class="menu-arrow"></i>
                            </a>

                            <div class="menu-submenu" style="" kt-hidden-height="160">

                                <ul class="menu-subnav">

                                    <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_USER)? 'menu-item-here menu-item-open':'' }"
                                        class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_MY_REQUISITION_SEARCH'  )">
                                        <a th:href="@{/vehicle/my-requisition/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.my-car-allocation}" > Maintenance Schedule </span>
                                        </a>
                                    </li>

                                    <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_USER)? 'menu-item-here menu-item-open':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_REQUISITION_SEARCH' )">
                                        <a th:href="@{/vehicle/requisition/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.car-allocation}" > Maintenance Schedule </span>
                                        </a>
                                    </li>

                                    <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.REPLACE_APPLICATION_MY_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_ADD or activeMenu == Menu.REPLACE_VEHICLE_ADD)? 'menu-item-here menu-item-open':'' }"
                                        class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_MY_REPLACE_SEARCH', 'ROLE_VEHICLE_MY_REPLACE_DELETE' )">
                                        <a th:href="@{/replace-application/my-search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.my-car-replacement}" > Maintenance Service </span>
                                        </a>
                                    </li>

                                    <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.REPLACE_APPLICATION_SEARCH or activeMenu == Menu.REPLACE_APPLICATION_ADD)? 'menu-item-here menu-item-open':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_REPLACE_APPLICATION_SEARCH' )">
                                        <a th:href="@{/replace-application/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.car-replacement}" > Maintenance Service </span>
                                        </a>
                                    </li>

                                    <li
                                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.PROJECT_VEHICLE_ADD or activeMenu == Menu.PROJECT_VEHICLE_SEARCH )? 'menu-item-active':'' }"
                                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_PROJECT_VEHICLE_ADD', 'ROLE_PROJECT_VEHICLE_SEARCH', 'ROLE_PROJECT_VEHICLE_DELETE', 'ROLE_PROJECT_VEHICLE_EDIT' )">
                                        <a th:href="@{/project-vehicle/search}" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.project-vehicles}" > Maintenance Job </span>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </li>

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.VEHICLE_AUCTION )? 'menu-item-active':'' }"
                                class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_VEHICLE_AUCTION'  )"
                        >
                            <a th:href="@{/vehicle/auction}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.motor-vehicle.management.auction-management}" > Tracking Management </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.MARINE_ADD or activeMenu == Menu.MARINE_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_ADD or activeMenu == Menu.MARINE_SERVICE_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_VIEW or activeMenu == Menu.MARINE_SERVICE_DISPOSITION_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_DISPOSITION_VIEW )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_MARINE_EDIT', 'ROLE_ADMIN', 'ROLE_MARINE_DELETE', 'ROLE_MARINE_SERVICE_ADD', 'ROLE_MARINE_SEARCH', 'ROLE_MARINE_ADD', 'ROLE_MARINE_DISPOSITION_VIEW', 'ROLE_MARINE_DISPOSITION_SEARCH' )"
            >

                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.vehicle-management.water-transport}"> Vehicle Maintenance </span>
                    <i class="menu-arrow"></i>
                </a>

                <div class="menu-submenu" style="" kt-hidden-height="160">

                    <ul class="menu-subnav">

                        <li
                            th:classappend="${ activeMenu != null && ( activeMenu == Menu.MARINE_ADD or activeMenu == Menu.MARINE_SEARCH )? 'menu-item-here menu-item-open':'' }"
                            class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_MARINE_ADD', 'ROLE_MARINE_EDIT', 'ROLE_MARINE_SEARCH', 'ROLE_MARINE_DELETE' )"
                        >
                            <a th:href="@{/marine/search}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.water-transport.marine-attachment}"> Maintenance Service </span>
                            </a>
                        </li>

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.MARINE_SERVICE_APPLICATION_ADD or activeMenu == Menu.MARINE_SERVICE_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_VIEW)? 'menu-item-here menu-item-open':'' }"
                                class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_MARINE_SERVICE_ADD' )">
                            <a th:href="@{/marine-service-application/search}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.water-transport.marine-maintenance}" > Marine Craft Maintenance </span>
                            </a>
                        </li>

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.MARINE_SERVICE_DISPOSITION_APPLICATION_SEARCH or activeMenu == Menu.MARINE_SERVICE_APPLICATION_DISPOSITION_VIEW )? 'menu-item-here menu-item-open':'' }"
                                class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_MARINE_DISPOSITION_VIEW', 'ROLE_MARINE_DISPOSITION_SEARCH' )">
                            <a th:href="@{/marine-service-disposition-application/search}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.vehicle-management.water-transport.marine-disqualification}" > Disqualification Application </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </li>
        </ul>
    </div>
</li>