<li
        th:classappend="${ activeMenu != null && ( activeMenu == Menu.USER_LEVEL_ADD or activeMenu == Menu.USER_LEVEL_SEARCH or activeMenu == Menu.DESIGNATION_ADD or activeMenu == Menu.DESIGNATION_SEARCH or activeMenu == Menu.USER_SEARCH )? 'menu-item-here menu-item-open':'' }"
        class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_USER_LEVEL_SEARCH', 'ROLE_ADMIN', 'ROLE_USER_LEVEL_EDIT', 'ROLE_USER_LEVEL_ADD', 'ROLE_DESIGNATION_ADD', 'ROLE_DESIGNATION_EDIT', 'ROLE_DESIGNATION_SEARCH' )"
>

    <a href="javascript:;" class="menu-link menu-toggle">
		<span class="svg-icon menu-icon">
			<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<rect x="0" y="0" width="24" height="24"></rect>
					<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
					<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
				</g>
			</svg>
            <!--end::Svg Icon-->
		</span>
        <span class="menu-text" th:text="#{menu.user-management}" >Vehicle Management</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="menu-submenu">

        <i class="menu-arrow"></i>
        <ul class="menu-subnav">

            <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.USER_SEARCH )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item" aria-haspopup="true"
            >
                <a th:href="@{/user/search}" class="menu-link">
                    <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.user-search}" >  </span>
                </a>
            </li>

            <li th:classappend="${ activeMenu != null && ( activeMenu == Menu.USER_LEVEL_ADD or activeMenu == Menu.USER_LEVEL_SEARCH  )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_USER_LEVEL_SEARCH', 'ROLE_ADMIN', 'ROLE_USER_LEVEL_EDIT', 'ROLE_USER_LEVEL_ADD' )"
            >

                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{menu.user-management.user-level}"> User Level </span>
                    <i class="menu-arrow"></i>
                </a>

                <div class="menu-submenu" style="" kt-hidden-height="240">

                    <ul class="menu-subnav">

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.USER_LEVEL_SEARCH or activeMenu == Menu.USER_LEVEL_ADD )? 'menu-item-here menu-item-open':'' }"
                                class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_USER_LEVEL_SEARCH', 'ROLE_USER_LEVEL_ADD', 'ROLE_USER_LEVEL_EDIT' )"
                        >
                            <a th:href="@{/user-level/search}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{menu.user-management.user-level.search}" > NOC Search </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
            <li
                    th:classappend="${ activeMenu != null && ( activeMenu == Menu.DESIGNATION_ADD or activeMenu == Menu.DESIGNATION_SEARCH )? 'menu-item-here menu-item-open':'' }"
                    class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_DESIGNATION_ADD', 'ROLE_DESIGNATION_EDIT', 'ROLE_DESIGNATION_SEARCH' )"
            >

                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text" th:text="#{user-management.designation}"> Motor Vehicle </span>
                    <i class="menu-arrow"></i>
                </a>

                <div class="menu-submenu" style="" kt-hidden-height="240">

                    <ul class="menu-subnav">

                        <li
                                th:classappend="${ activeMenu != null && ( activeMenu == Menu.DESIGNATION_ADD or activeMenu == Menu.DESIGNATION_SEARCH  )? 'menu-item-here menu-item-open':'' }"
                                class="menu-item" aria-haspopup="true" sec:authorize="hasAnyAuthority( 'ROLE_ADMIN', 'ROLE_DESIGNATION_ADD', 'ROLE_DESIGNATION_EDIT', 'ROLE_DESIGNATION_SEARCH' )">
                            <a th:href="@{/designation/search}" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text" th:text="#{user-management.designation.add}" > Tracking Management </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

        </ul>
    </div>
</li>