<div class="mt-4 pb-2">
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.common.id}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.id}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.parts_name}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.name}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.parts.date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.date}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.beginning_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.warrantyBeginningDate}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.ending_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.warrantyEndingDate}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.registration_number}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.registrationNo}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.chassis_number}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.chassisNo}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.brand_name}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.brandName}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.model}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${partsDispositionViewResponse.model}" readonly/>
        </div>
    </div>
</div>