
<th:block th:replace="dashboard/components/dashboard-item-1"></th:block>

<br/>

<th:block th:replace="dashboard/components/dashboard-item-2"></th:block>

<th:block th:replace="dashboard/components/dashboard-item-3"></th:block>
