<div class="form-group row setting">
    <div class="col-md-9">
        <div class="row">
            <label class="col-md-5 col-form-label" th:for="${field}">
                [[#{${label}}]]
            </label>
            <div class="col-md-7">
                <textarea class="form-control" data:key="${key}" th:name="${field}" th:id="${field}"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-outline-success settingBtnTextarea"><span>Save</span></button>
    </div>
</div>