<div class="form-group row setting">
    <div class="col-md-9">
        <div class="row">
            <label class="col-md-5 col-form-label" th:for="${field}">
                [[#{${label}}]]
            </label>
            <div class="col-md-7" style="padding-top:10px">

                <th:block th:each="pair: ${map}">
                    <input data:key="${key}" th:name="${field}" type="checkbox" th:value="${pair.key}" />
                    [[#{${pair.value}}]]
                    <br/>
                </th:block>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-outline-success settingBtnWithCheckbox"><span>Save</span></button>
    </div>
</div>