<script>

    $(document).ready( function (){

        let requisitionSearch = $( "#requisitionSearch" ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/vehicle/requisition/search',
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'designation'
                    },
                    {
                        data: 'workplace',
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        // data: 'ownerType',
                        // orderable: false
                        data : 'ownerType',

                    },
                    {
                        data: 'phoneNo',
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let actionDiv = '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/vehicle/requisition/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="'+ viewTitle +'">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/vehicle_requistion_application/'+ data +'?active=VEHICLE_USER" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';

                            return actionDiv;
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

    });

</script>