<script>
    $( document ).ready( function() {

        let vehicleAuctionDatatable = $( '#vehicleAuction' ).DataTable({

            ...{
                ajax: {
                    url: context + '/api/vehicle/auction',
                    type: 'GET'
                },
                columns: [
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return '#' + data;
                        },
                        searchable: false
                    },
                    {
                        data: 'registrationNo',
                        orderable: false
                    },
                    {
                        data: 'chassisNo',
                        orderable: false
                    },
                    {
                        data: 'brand.nameBn',
                        orderable: false
                    },
                    {
                        data: 'modelYear',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'vendor',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row) {

                            return getTextFromNameResponse(data);
                        }
                    },
                    {
                        data: 'buyDate',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'status',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row) {

                            return getStatusLabel( row.status, row.statusType );
                        }
                    },
                    {
                        data: 'price',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'buyer',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row) {

                            if( row.statusType === 'AUCTIONABLE' ) {

                                if (lang == 'en')
                                    return '<span class="label label-md label-secondary label-inline mr-2 buyer-info pointer" style="white-space: nowrap" data-id="' + row.id + '"> Provide Buyer Info <i class="la la-plus icon-l text-secondary" data-id="' + row.id + '"></i></span>';
                                else
                                    return '<span class="label label-md label-secondary label-inline mr-2 buyer-info pointer" style="white-space: nowrap" data-id="' + row.id + '"> প্রদান করুন <i class="la la-plus icon-l text-secondary" data-id="' + row.id + '"></i></span>';

                            }
                            else{

                                if( lang == 'en' )
                                    return data.nameEn;
                                else
                                    return data.nameBn;
                            }
                        }
                    },
                    {
                        data: 'id',
                        searchable: false,
                        orderable: false,
                        render: function (data) {

                            if (lang == 'en')
                                return '<span class="label label-md label-success label-inline mr-2 committee-decision pointer" style="white-space: nowrap" data-id="' + data + '"> Give decision <i class="la la-plus icon-xl text-success" data-id="' + data + '"></i></span>';
                            else
                                return '<span class="label label-md label-success label-inline mr-2 committee-decision pointer" style="white-space: nowrap" data-id="' + data + '"> প্রদান করুন <i class="la la-plus icon-xl text-success" data-id="' + data + '"></i></span>';
                        }
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/vehicle/auction/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        function getStatusLabel( status, statusType ){

            if( statusType == "PENDING" ){

                return '<span class="label label-md label-warning label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
            }

            if( statusType == "SOLD" ){

                return '<span class="label label-md label-primary label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
            }

            if( statusType == "AUCTIONABLE" ){

                return '<span class="label label-md label-light-success label-inline mr-2" style="white-space: nowrap">' + status + '</span>';
            }
        }

        $( document ).on( "click", ".committee-decision", function( e ){

            $( "#committeeDecisionId" ).val( $( e.target ).data( "id" ) );

            $( "#committeeDecisionModal" ).modal( "show" );

            let committeeDecisionId = $( e.target ).data( "id" );

            callAjax(
                "/api/vehicle/auction/id/" + committeeDecisionId,
                {},
                "GET",
                (data) => {

                    if (data.success == true) {

                        $("#committeePrice").val(data.payload.committeePrice);
                        $("#committeeDecision").val(data.payload.committeeDecision);
                        // $("#documents").val(data.payload.documents);
                    }
                }
            );
        });

        $( document ).on( "click", ".buyer-info", function( e ){

            $( "#buyerFromVehicleId" ).val( $( e.target ).data( "id" ) );
            $( "#buyerInfoModal" ).modal( "show" );
        });

        $("input[type=radio][name=isForPerOrOrg]").change(function () {

            var val = this.value;

            if( val == "0" ){

                $("#tinNumberDiv" ).show();
                $("#nidNumberDiv" ).hide();
                $("#auc-name-bn" ).show();
                $("#auc-name-en" ).show();
                $("#auc-date" ).show();
                $("#auc-cost" ).show();
                $("#auc-add-bn" ).show();
                $("#auc-add-en" ).show();
            }
            else{

                $("#tinNumberDiv" ).hide();
                $("#nidNumberDiv" ).show();
                $("#auc-name-bn" ).show();
                $("#auc-name-en" ).show();
                $("#auc-date" ).show();
                $("#auc-cost" ).show();
                $("#auc-add-bn" ).show();
                $("#auc-add-en" ).show();
            }

        });
    });

</script>