<script>

    $(document).ready( function (){

        let myRequisitionSearch = $( "#myRequisitionSearch" ).DataTable({

            ...dataTableCommonConfig,
            ...{
                ajax: {

                    url: context + '/api/vehicle/my-requisition/search',
                    type: 'GET'
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'designation'
                    },
                    {
                        data: 'workplace',
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data : 'ownerType',
                    },
                    {
                        data: 'phoneNo',
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function (data, type, row) {

                            let status = data.name;
                            if (lang == 'en')
                                status = data.nameEn;

                            return getStateLabel(status, data.stateType);
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/vehicle/requisition/' + data + '" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-vehicle-requisition" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/vehicle_requistion_application/'+ data +'?active=VEHICLE_USER" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            }
        });

        $(document).on( "click", ".delete-vehicle-requisition", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/vehicle/requisition/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            myRequisitionSearch.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>