<script>
    $( document ).ready( function() {

        let vehicleServiceSearchTable = $( '#vehicleServiceSearch' ).DataTable( {
            ...{
                ajax: {
                    url: context + '/api/vehicle/service/search',
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'regNo'
                    },
                    {
                        data: 'chassisNo'
                    },
                    {
                        data: 'vehicleUserNameBn'
                    },
                    {
                        data: 'vehicleUserNameEn'
                    },
                    {
                        data: 'designationEn'
                    },
                    {
                        data: 'designationBn'
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let createButton = row.stateResponse.stateType == 'POSITIVE_END'? '<a href="' + context + '/vehicle-service/gate-pass/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-print icon-xl text-success"></i>\t\t\t\t\t\t\t</a>': '';

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/vehicle-service/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                createButton +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-vehicle-service" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/vehicle_service_application/'+ data +'?active=VEHICLE_SERVICE_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });


        let vehicleServiceMySearchTable = $( '#vehicleServiceMySearch' ).DataTable( {
            ...{
                ajax: {
                    url: context + '/api/vehicle/service/my-search',
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'regNo'
                    },
                    {
                        data: 'chassisNo'
                    },
                    {
                        data: 'vehicleUserNameBn'
                    },
                    {
                        data: 'vehicleUserNameEn'
                    },
                    {
                        data: 'designationEn'
                    },
                    {
                        data: 'designationBn'
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/vehicle-service/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-vehicle-service" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/vehicle_service_application/'+ data +'?active=VEHICLE_SERVICE_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".delete-vehicle-service", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/vehicle/service/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            vehicleServiceSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>