<th:block th:with="formId = 'supplyOrderAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${supplyOrderAddRequest.id} == null ?  @{/supply-order/add} : @{/supply-order/edit}"
            th:object="${supplyOrderAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}"/>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.purchase.demand.add.product_type}"> <span
                                    class="text-danger">*</span> </label>
                            <select th:field="*{productType}" class="form-control" id="productType">
                                <option th:each="product : ${T(com.dgt.paribahanpool.enums.ProductType).values()}"
                                        th:value="${product}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.ProductType).getLabel( product )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('productType')}"
                                 th:errors="*{productType}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.vendor_name}" for="vendorName">Product Name <span class="text-danger">*</span> </label>
                            <input class="form-control" type="text" id="vendorName" name="vendorName" required/>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.date}" for="date">Date <span class="text-danger">*</span>
                            </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid"
                                       type="text" id="date" th:field="*{date}" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
                                    Error!
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label th:text="#{label.common.address}" for="address"> Address <span class="text-danger">*</span> </label>
                            <input class="form-control" type="text" id="address" name="address" required/>

                        </div>
                    </div>
                </div>
                <div id="product_add_card_repeater">

                    <div data-repeater-list="productAddRequests">

                        <th:block th:if="*{ productAddRequests == null or #lists.size( productAddRequests ) == 0 }">
                            <th:block th:replace="purchase-demand/product-info-template"/>
                        </th:block>

                        <th:block th:if="*{ productAddRequests != null and #lists.size( productAddRequests ) > 0 }">
                            <th:block th:replace="purchase-demand/product-info"/>
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create=""
                               class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.supply.order.add.add_new_supply_order}]]</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <label th:text="#{label.common.total}" for="totalPrice">Toirir sal <span
                                        class="text-danger">*</span> </label>
                                <div>
                                    <input readonly class="form-control" th:errorclass="is-invalid" type="number"
                                           id="totalPrice" th:field="*{totalPrice}"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('totalPrice')}"
                                         th:errors="*{totalPrice}"> Error!
                                    </div>
                                </div>
                                <label th:text="#{label.common.vat}" for="totalPrice">Toirir sal <span
                                        class="text-danger">*</span> </label>
                                <div>
                                    <input readonly class="form-control" th:errorclass="is-invalid" type="number"
                                           id="vat" th:field="*{vat}"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('vat')}"
                                         th:errors="*{vat}"> Error!
                                    </div>
                                </div>
                                <label th:text="#{label.common.grandTotal}" for="totalPrice">Toirir sal <span
                                        class="text-danger">*</span> </label>
                                <div>
                                    <input readonly class="form-control" th:errorclass="is-invalid" type="number"
                                           id="grandTotal" th:field="*{grandTotal}"/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('grandTotal')}"
                                         th:errors="*{grandTotal}"> Error!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <label th:text="#{label.warranty.comment}" for="totalPrice">Toirir sal <span
                                class="text-danger">*</span> </label>
                        <input class="form-control" type="text" id="comment" name="comment" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <button th:text="#{label.purchase.demand.preview}" type="button" class="btn btn-primary"
                                data-toggle="modal" th:onclick="showPreview()">
                            Preview
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </form>
    <!-- Modal-->
    <div class="modal fade" id="purchaseDemandPreview" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"
                        th:text="#{label.supply.order.preview.modal.title}">Purchase Demand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="purchase-demand-preview-table" data-scroll="true" data-height="300">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th th:text="#{label.purchase.demand.add.product.tender_number}" scope="col">Tender
                                    Number
                                </th>
                                <th th:text="#{label.purchase.demand.add.product.name}" scope="col">Product Name</th>
                                <th th:text="#{label.purchase.demand.add.product.quantity}" scope="col">Quantity</th>
                                <th th:text="#{label.purchase.demand.add.product.rate_per_unit}" scope="col">Rate per
                                    unit
                                </th>
                                <th th:text="#{label.purchase.demand.add.product.total_rate}" scope="col">total rate
                                </th>
                                <th th:text="#{label.common.comments}" scope="col">comments</th>
                            </tr>
                            </thead>
                            <tbody id="purchase-demand-preview-table-body">
                            </tbody>
                        </table>
                        <div>
                            <label th:text="#{label.common.total}">Total</label>&nbsp;
                            <input readonly type="number" id="totalPricePreview"/>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button th:text="#{label.common.close}" type="button" class="btn btn-light-primary font-weight-bold"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Form-->
</th:block>