<html>
<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">
<head>
  <div align = "center" style = "margin-bottom: 2rem;">
    <table>
      <tbody>
      <tr  align = "center">

        <td style="width:100%;">
          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b</h1>

          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html">জনপ্রশাসন মন্ত্রণালয়</span></b></h1>
          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html">সরকারি যানবাহন মেরামত কারখানা </span></b></h1>
          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="address_section_html">১৬, আব্দুল গণি রোড, ঢাকা </span></b></h1>
          <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id = "ministry_link"><a href ="www.dgt.gov.bd">www.dgt.gov.bd </a></b></span></h1>

        </td>
        <td align="center" style="width:20%;">

        </td>
      </tr>

      </tbody>
    </table>
  </div>
</head>

<body>
<div style="margin-top:10px;">
  <table style="width:100%">
    <tbody>
    <tr>
      <td>

        <div align="right">
          <table>
            <tbody>
            <tr>
              <td rowspan="2">
                <label class="control-label label-center">
                  <b> [[#{ label.common.date } ]] :- </b>
                </label>
              </td>
              <td id="bangla_date_html"> [[ ${supplyOrderPrintResponse.date} ]]</td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<table id="expenseTable" style="width:100%;border: 1px solid black;border-collapse: collapse;">

  <thead style="border: 1px solid black;border-collapse: collapse;" >
  <tr align="center" style="border: 1px solid black;border-collapse: collapse;">
    <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.common.id}">ID</th>
    <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.purchase.demand.add.product.name}"> Mechanic ID </th>
    <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.purchase.demand.add.product.quantity}"> Name </th>
    <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.purchase.demand.add.product.rate_per_unit}"> Is Present </th>
    <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.purchase.demand.add.product.total_rate}"> Is Present </th>
  </tr>
  </thead>

  <tbody>

  <tr style="border: 1px solid black;border-collapse: collapse;" th:each="item: ${productList}">
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.id}"></td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.productName}"></td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.quantity}"></td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.ratePerUnit}"></td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${item.totalRate}"></td>
  </tr>

  <tr style="border: 1px solid black;border-collapse: collapse;" >
    <td style="border: 1px solid black;border-collapse: collapse;" colspan="4" align="right" th:text="#{label.common.total}">ID</td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${supplyOrderPrintResponse.totalPrice}"></td>
  </tr>

  <tr style="border: 1px solid black;border-collapse: collapse;" >
    <td style="border: 1px solid black;border-collapse: collapse;" colspan="4" align="right" th:text="#{label.common.vat}">ID</td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${supplyOrderPrintResponse.vat}"></td>

  </tr>

  <tr style="border: 1px solid black;border-collapse: collapse;" >
    <td style="border: 1px solid black;border-collapse: collapse;" colspan="4" align="right" th:text="#{label.common.grandTotal}">ID</td>
    <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${supplyOrderPrintResponse.grandTotal}"></td>
  </tr>

  </tbody>

</table>
</body>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>

  $( document ).ready( function() {
    window.print();
  });

</script>

<style>
  #committeeInfoTableTemplate th{
    border-bottom: 1px solid; border-right: 1px solid; text-align: center;
  }
  #committeeInfoTableTemplate td{
    vertical-align: baseline; width: 10%; border-right: 1px solid; text-align: center; border-bottom: 1px solid;
  }

</style>

</html>