<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title> BDRIS| Page not found </title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/404-style.css}" />

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>Oops!</h1>
			<h2>403 - You don't have permission to see this page</h2>
		</div>
		<div th:text="${loggedInUserInfo}"></div>
		<a th:if="${loggedInUserInfo != null}" th:href="@{/admin/}">Go To Homepage</a>
		<a th:if="${loggedInUserInfo == null}" th:href="@{/}">Go TO Homepage</a>
	</div>
</div>

<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="3a16eaa64becef91e59652b2-text/javascript"></script>
<script type="3a16eaa64becef91e59652b2-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="3a16eaa64becef91e59652b2-|49" defer=""></script></body>
</html>
