<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">

    <div align = "center" style = "margin-bottom: 2rem;">
        <table>
            <tbody>
            <tr  align = "center">

                <td style="width:100%;">
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b></h1>

                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html">জনপ্রশাসন মন্ত্রণালয়</span></b></h1>
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html">সরকারী যানবাহন অধিদপ্তর</span></b></h1>
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span>সচিবালয় লিংক রোড, ঢাকা </span></b></h1>
                    <h1 style="font-size:20px;text-align: center; margin:0px;color:black">
                        <span id = "ministry_link"> <a href ="http://dgt.gov.bd/" style="color: black;"> www.dgt.gov.bd </a></span>
                    </h1>

                </td>
                <td align="center" style="width:20%;">

                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
