<th:block th:fragment="view( viewResponse )">

    <div align="right" style="margin-top: 30px;">

        <table style="text-align: center;">
            <tbody>

            <tr>
                <td id='signature_1' style='padding-bottom: 7px' align = "center">
                    <img
                            th:if="${viewResponse.signMetaData != null }"
                            class="signature-image rounded p-2 pb-5"
                            th:src="@{ ${contextPath + '/doc/' + viewResponse.signMetaData.id} }"
                            alt="User Signature Image"
                            style="border: none;width: 150px;"
                    />
                </td>
            </tr>

            <tr><td id='sign_date_1' class='sign'> [[ ${ T(com.dgt.paribahanpool.util.Util).makeDigitBangla( #temporals.format( viewResponse.approvedDate, 'dd/MM/yyyy' ) ) } ]] </td></tr>
            <tr>
                <td id='employee_name_1'>[[${viewResponse.approvedBy.nameBn}]]</b></td>
            </tr>
            <tr>
                <td id='employee_designation_1'>[[${viewResponse.approvedBy.designation}]]</td>
            </tr>
            <tr>
                <td>ফোন:<span id='employee_phone_1'>[[${viewResponse.approvedBy.phoneNumber}]]</span></td>
            </tr>
            <tr>
                <td>ইমেইল : <span id='employee_email_1'>[[${viewResponse.approvedBy.email}]]</span></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div align="left" style="margin-top: 10px;">

        <table style="text-align: left;">
            <tbody>

            <tr>
                <td>[[${viewResponse.name}]]</b></td>
            </tr>

            <tr>
                <td>পরিচিতি নং-[[${viewResponse.serviceId}]]</b></td>
            </tr>

            <tr>
                <td>[[${viewResponse.designation}]]</b></td>
            </tr>

            <tr>
                <td>[[${viewResponse.workplace}]]</b></td>
            </tr>


            </tbody>
        </table>
    </div>
    <div align="left" style="margin-top: 20px;" th:if="${viewResponse.distribution != null and #strings.length( viewResponse.distribution ) > 0 }">

        <table style="text-align: left;">
            <tbody>
            <tr><td id='ps_title'><u>অনুলিপি : সদয় জ্ঞাতার্থে/কার্যার্থেঃ </u></td></tr>

            <tr th:each="distribute: ${ #strings.arraySplit( viewResponse.distribution, '&#10;' ) } "><td>[[${distribute}]]</td></tr>

            </tbody>
        </table>
    </div>

    <div align="left" style="margin-top: 20px;" th:if="${viewResponse.distribution == null or #strings.length( viewResponse.distribution ) == 0 }">

        <table style="text-align: left;">
            <tbody>
                <tr><td id='ps_title'><u>অনুলিপি : সদয় জ্ঞাতার্থে/কার্যার্থেঃ </u></td></tr>

                <tr><td>১. সিনিয়র সচিব, জনপ্রশাসন মন্ত্রনালয়, বাংলাদেশ সচিবালয়, ঢাকা ( দৃঃ আঃ উপসচিব, গাড়িসেবা শাখা )।</td></tr>
                <tr><td>২. উপসচিব, প্রশাসন-৫ অধিশাখা, জনপ্রশাসন মন্ত্রনালয়, বাংলাদেশ সচিবালয়, ঢাকা।</td></tr>
                <tr><td>৩. অফিস নথি, গার্ড ফাইল।</td></tr>

            </tbody>
        </table>
    </div>

</th:block>