<th:block th:fragment="view( viewResponse )">

    <div style="margin-top:10px;">
        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="float:left;margin-top:10px;">
                        স্মারক নং-
                        <span id="sharok_no_html">০৫.০৩.০০০০.০০৪.১৮.০০৮.২১(অংশ-১)</span>
                    </td>
                    <td>

                        <div align="right">
                            <table>
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <label class="control-label label-center">
                                                তারিখ :
                                            </label>
                                        </td>
                                        <td id="bangla_date_html" style="border-bottom: 1px solid;"><span id="bangla_date_span"></span> বঙ্গাব্দ</td>
                                    </tr>
                                    <tr>
                                        <td id="english_date_html">[[ ${ T(com.dgt.paribahanpool.util.Util).makeDigitBangla( T(com.dgt.paribahanpool.util.Util).replaceEnMonthName( #temporals.format( viewResponse.approvedDate, 'dd MMMM, yyyy' ) ) ) } ]] খ্রিস্টাব্দ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        const approvedDate = "[[ ${ #temporals.format( viewResponse.approvedDate, 'yyyy-MM-dd' ) } ]]";
        $(document).ready(function(){
            $('#bangla_date_span').bongabdo({
                date: approvedDate
            });
        });
    </script>

</th:block>