<script>

    $( document ).ready( function() {

        let userLevelSearchTable = $( '#userLevelSearch' ).DataTable({

            ...{

                ajax: {

                    url: context + '/api/user-level/search',
                    type: 'GET',
                    data: {

                    },
                },

                columns: [
                    {
                        data: 'id',
                        searchable : false,
                        orderable : false
                    },
                    {
                        data: 'nameEn',
                        orderable : false
                    },
                    {
                        data: 'nameBn',
                        orderable : false
                    },
                    {
                        data: 'level',
                        orderable : false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/user-level/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-userLevel" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]

            },
            ...dataTableCommonConfig

        });

        $( document ).on( "click", ".delete-userLevel", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/user-level/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            userLevelSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    )

                }
            )
        });

    });

</script>