<th:block xmlns:th="http://www.w3.org/1999/html">
<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div class="card-title">
            <div id="print-btn" class="printer-icon" style="cursor: pointer">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        fill="currentColor"
                        class="bi bi-printer"
                        viewBox="0 0 16 16"
                >
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                    <path
                            d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
                    />
                </svg>
            </div>
        </div>
    </div>

    <main id="table">
        <div class="card-body">

            <th:block th:replace="bill/components/bill-preview-top-header-component"></th:block>

            <div>
                <div>
                    <th:block th:include="bill/components/bill-preview-header-component :: header( ${billViewResponse} )"></th:block>
                </div>

                <div>
                    <th:block th:include="bill/components/bill-preview-middle-component :: middle( ${billViewResponse}, ${operationCode} )"></th:block>
                </div>

                <div>
                    <th:block th:include="bill/components/bill-preview-table-component :: table( ${billViewResponse} )"></th:block>
                </div>

                <div>
                    <th:block th:include="bill/components/bill-preview-texts-component :: texts( ${billViewResponse} )"></th:block>
                </div>

                <hr/>

                <th:block th:replace="bill/components/bill-view-state-actions"></th:block>
            </div>

        </div>
    </main>

</div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>

        $( "#print-btn" ).click( function() {
            window.print();
        });

    </script>
</th:block>