<div data-repeater-item>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.bill.financial.code}" > Job Name Bn </label>
                <select style="width: 100%" name="financeCode" class="form-control repeater-select2" required="required">
                    <option value="" selected="selected">[[#{label.common.choose}]]</option>
                    <option th:each="budgetCode: ${allLeafBudgetCodes}"
                            th:value="${budgetCode.code}"
                            th:text="${budgetCode.nameBn}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.amount}" for="amount"> Service Cost </label>

                <div class="input-group">
                    <input autocomplete="off" class="form-control" type="number" min="0" id="amount"
                           name="amount" required>
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>