<th:block th:with="formId = 'billAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/bill/add}"
            th:object="${billAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.provider.name'}, field=${'billProviderName'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.creation.date'}, field=${'billCreationDate'}, type=${'date'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.submit.date'}, field=${'billSubmitDate'}, type=${'date'}"
                                    th:include="inputs/date-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.submitter'}, field=${'billSubmitter'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.organization.name'}, field=${'organizationName'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.budget.add.office'}, field=${'officeId'}, list=*{officeViewResponseList}, class=${'select2 enable-select2'}"
                                    th:include="inputs/select-list-input">
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label th:text="#{label.bill.financial.code}"> <span class="text-danger">*</span> </label>

                            <select th:field="*{financeCode}" class="form-control select2 enable-select2" id="financeCode">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                    th:each="budgetCode: ${allLeafBudgetCodes}"
                                    th:value="${budgetCode.code}"
                                    th:text="${budgetCode.nameBn}">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.bill.voucher.number'}, field=${'voucherNumber'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>

                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.bill.amount'}, field=${'billAmount'}, type=${'number'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.bill.add.details}" for="billDetails">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="billDetails" th:field="*{billDetails}" required></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('billDetails')}" th:errors="*{billDetails}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <!--                        <div class="col-md-4">-->

                        <!--                            <th:block-->
                        <!--                                    th:with="label=${'label.bill.vat'}, field=${'vat'}, type=${'number'}"-->
                        <!--                                    th:include="inputs/text-input" >-->
                        <!--                            </th:block>-->

                        <!--                        </div>-->

                        <!--                        <div class="col-md-4">-->
                        <!--                            <th:block-->
                        <!--                                    th:with="label=${'label.bill.tax'}, field=${'tax'}, type=${'number'}"-->
                        <!--                                    th:include="inputs/text-input" >-->
                        <!--                            </th:block>-->
                        <!--                        </div>-->

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.bill.last.year.amount'}, field=${'lastYearBillAmount'}, type=${'number'}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div id="bill_add_details_card_repeater">

                    <ul class="nav nav-tabs nav-tabs-line mb-5">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <span class="nav-text" th:text="#{label.bill.cutting.information}"></span>
                            </a>
                        </li>
                    </ul>

                    <div data-repeater-list="billCuttingInfoAddRequestList">

                        <th:block th:if="*{ billCuttingInfoAddRequestList == null or #lists.size( billCuttingInfoAddRequestList ) == 0 }">
                            <th:block th:replace="bill/bill-add-cutting-info-template" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.bill.add.add_card_button}]]</a>
                        </div>
                    </div>

                    <hr>

                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.project.vehicle.add.attached_documents' )}"></th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }"></th:block>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>