<style>
    .table-header-text-color {
        color: #b2b2b2 !important;
    }
    .small-cost-card{
        background-color: #F3F6F9;
    }
</style>

<div id="kt_page_sticky_card" class="card card-custom card-sticky">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                বিল
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="w-100 d-none d-md-block border-bottom pb-5">
            <table class="w-100">
                <thead class="text-nowrap">
                <tr class="border-bottom">
                    <th class="pb-3" valign="bottom">অর্থনৈতিক কোড</th>
                    <th class="pb-3 pl-0 pl-md-10" valign="bottom">
                        সরবাহক্রিত দ্রবের বিবরণ
                    </th>
                    <th class="pb-3 pr-6" valign="bottom">
                        <div class="text-right mr-8">
                            <span> পরিমাণ </span>
                        </div>
                        <div class="d-flex justify-content-end mt-3 mr-3">
                            <span> টাকা </span>
                            <span class="ml-4"> পয়সা </span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td valign="top" class="pt-3">
                        <p class="mb-1">৩২৫১০১</p>
                        <p class="mb-0">কমপিউটার সামুগ্রি</p>
                    </td>
                    <td valign="top" class="pl-0 pl-md-10 pt-3">
                        <div class="d-flex">
                            <p>-</p>
                            <p class="ml-2">
                                এইচপি ব্রান্ডের বিভিন্ন মডেলের টোনার সরবাহ নেয়া বাবদ<span
                                    style="color: #10aca5"
                            >&nbsp; "মেসার্স ইনা এন্টারপ্রাইজ, ১২৬, মতিঝিল বাণিজ্যিক
                    এলাকা ঢাকা" &nbsp;</span
                            >এর অনুকুলে চেক দেয়
                            </p>
                        </div>
                        <div class="d-flex">
                            <p>-</p>
                            <p class="ml-2">
                                এইচপি ব্রান্ডের বিভিন্ন মডেলের টোনার সরবাহ নেয়া বাবদ
                            </p>
                        </div>
                        <div class="d-flex">
                            <p>-</p>
                            <p class="ml-2">
                                মেসার্স ইনা এন্টারপ্রাইজ, ১২৬, মতিঝিল বাণিজ্যিক এলাকা ঢাকা
                            </p>
                        </div>
                    </td>
                    <td valign="top" class="pt-3">
                        <div class="text-right">
                            <div class="text-center rounded py-3 small-cost-card w-100">
                                <strong>৯,৮৪,৬০০/-</strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="center" class="pt-3 pl-0 pl-md-10">
                        <p class="text-nowrap pt-3">৭.৫% ভাঁট</p>
                    </td>
                    <td valign="center" class="pt-3 pr-3">
                        <div class="text-right">
                            <div
                                    class="
                    text-center
                    rounded
                    px-6
                    py-3
                    ml-3
                    small-cost-card
                    w-100
                  "
                            >
                                <strong class="text-danger text-nowrap">
                                    (-)&nbsp;৭৩,৮৪৫/-
                                </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="
                    text-center
                    rounded
                    px-6
                    py-3
                    ml-3
                    text-nowrap
                    small-cost-card
                    w-100
                  "
                            >
                                <strong> =&nbsp; ৯,১০,৭৫৬/- </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="center" class="pl-0 pl-md-10">
                        <p class="text-nowrap pt-3">৩% কর</p>
                    </td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="
                    text-center
                    rounded
                    px-6
                    py-3
                    ml-3
                    small-cost-card
                    w-100
                  "
                            >
                                <strong class="text-danger text-nowrap">
                                    (-)&nbsp;২৯,৫৩৮/-
                                </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="center" class="pl-0 pl-md-10">
                        <p class="pt-3">
                            প্রত্যয়ন করা যাইতেছে যে, মঞ্জুরী ও বিল ভাউচার সংযুক্ত
                        </p>
                    </td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="
                    text-center
                    rounded
                    px-6
                    py-3
                    ml-3
                    small-cost-card
                    w-100
                  "
                            >
                                <strong class="text-nowrap"> =&nbsp;৮,৮১,২১৭/- </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="text-right pr-3 pt-3">
                        <p>কথায়: (আট লক্ষ একাশি হাজার দুইশত সতেরাে) টাকা মাত্র</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-100 d-block d-md-none border-bottom pb-5">
            <table class="w-100">
                <tr class="border-bottom">
                    <th class="pb-3" valign="bottom">অর্থনৈতিক কোড</th>
                </tr>
                <tr>
                    <td valign="top" class="pt-3">
                        <p class="mb-1">৩২৫১০১</p>
                        <p class="mb-0">কমপিউটার সামুগ্রি</p>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <th class="pb-3 pl-0 pl-md-10" valign="bottom">
                        সরবাহক্রিত দ্রবের বিবরণ
                    </th>
                    <th class="pb-3 pr-6" valign="bottom">
                        <div class="text-right mr-8">
                            <span> পরিমাণ </span>
                        </div>
                        <div class="d-flex justify-content-end mt-3 mr-3">
                            <span> টাকা </span>
                            <span class="ml-4"> পয়সা </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td valign="top" class="pl-0 pl-md-10 pt-3">
                        <div class="d-flex pr-4">
                            <p>-</p>
                            <p class="ml-2">
                                এইচপি ব্রান্ডের বিভিন্ন মডেলের টোনার সরবাহ নেয়া বাবদ<span
                                    style="color: #10aca5"
                            >&nbsp; "মেসার্স ইনা এন্টারপ্রাইজ, ১২৬, মতিঝিল বাণিজ্যিক এলাকা
                  ঢাকা" &nbsp;</span
                            >এর অনুকুলে চেক দেয়
                            </p>
                        </div>
                        <div class="d-flex pr-4">
                            <p>-</p>
                            <p class="ml-2">
                                এইচপি ব্রান্ডের বিভিন্ন মডেলের টোনার সরবাহ নেয়া বাবদ
                            </p>
                        </div>
                        <div class="d-flex pr-4">
                            <p>-</p>
                            <p class="ml-2">
                                মেসার্স ইনা এন্টারপ্রাইজ, ১২৬, মতিঝিল বাণিজ্যিক এলাকা ঢাকা
                            </p>
                        </div>
                    </td>
                    <td valign="top" class="pt-3">
                        <div class="d-flex justify-content-end">
                            <div class="text-center rounded py-3 small-cost-card w-100">
                                <strong> ৯,৮৪,৬০০/- </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="center" class="pt-3 pl-0 pl-md-10">
                        <p class="text-nowrap pt-3">৭.৫% ভাঁট</p>
                    </td>
                    <td valign="center" class="pt-3 pr-3">
                        <div class="text-right">
                            <div
                                    class="
                  text-center
                  rounded
                  px-6
                  py-3
                  ml-3
                  small-cost-card
                  w-100
                  pr-3
                "
                            >
                                <strong class="text-danger text-nowrap">
                                    (-)&nbsp;৭৩,৮৪৫/-
                                </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="text-center rounded px-6 py-3 ml-3 small-cost-card w-100"
                            >
                                <strong> =&nbsp; ৯,১০,৭৫৬/- </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="center" class="pl-0 pl-md-10">
                        <p class="text-nowrap pt-3">৩% কর</p>
                    </td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="text-center rounded px-6 py-3 ml-3 small-cost-card w-100"
                            >
                                <strong class="text-danger text-nowrap">
                                    (-)&nbsp;২৯,৫৩৮/-
                                </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="center" class="pl-0 pl-md-10">
                        <p class="pt-3">
                            প্রত্যয়ন করা যাইতেছে যে, মঞ্জুরী ও বিল ভাউচার সংযুক্ত
                        </p>
                    </td>
                    <td valign="center" class="pr-3">
                        <div class="text-right">
                            <div
                                    class="text-center rounded px-6 py-3 ml-3 small-cost-card w-100"
                            >
                                <strong class="text-nowrap"> =&nbsp;৮,৮১,২১৭/- </strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right pr-3 pt-3">
                        <p>কথায়: (আট লক্ষ একাশি হাজার দুইশত সতেরাে) টাকা মাত্র</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row mx-0 mt-5 pt-5">
            <div class="col-12 col-lg-6">
                <table class="tab table-borderless w-100">
                    <thead class="text-nowrap table-header-text-color">
                    <tr>
                        <th>
                            বরাদ্দের হিসাব
                        </th>
                        <th>
                            <div class="text-right mr-11">
                        <span>
                            পরিমাণ
                        </span>
                            </div>
                            <div class="d-flex justify-content-end mt-3 mr-3">
                        <span>
                            টাকা
                        </span>
                                <span class="ml-10">
                            পয়সা
                        </span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="pt-3">
                            শেষ বিলে টাকার অংক
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ৯,৮৪,৬০০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3">
                            এ যাবত অতিরিক্ত বরাদ্দ
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ৭৩,৮৪৫/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3">
                            এ যাবত যে অংকের বরাদ্দ কমানাে হয়েছে
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ১০,৭৫৫/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3">
                            নিট মােট ২০২০-২০২১
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    = ৯,১০,৭৫৫/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-6 mt-15 mt-lg-0">
                <table class="table table-borderless w-100">
                    <thead class="text-nowrap table-header-text-color">
                    <tr>
                        <th class="text-left text-lg-right">
                            ব্যয়ের হিসাব
                        </th>
                        <th>
                            <div class="text-right mr-11">
                                <span>
                                    পরিমাণ
                                </span>
                            </div>
                            <div class="d-flex justify-content-end mt-3 mr-3">
                                <span>
                                    টাকা
                                </span>
                                        <span class="ml-10">
                                    পয়সা
                                </span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="pt-3 text-left text-lg-right">
                            এ যাবত অতিরিক্ত বরাদ্দ
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ৯০,০০,০০০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3 text-left text-lg-right">
                            গত বিলের মােট জের (+)
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ২৬,৮৭,৯৫০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3 text-left text-lg-right">
                            এই বিলের মােট জের (+)
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ৯,৮৪,৬০০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3 text-left text-lg-right">
                            <span>
                                সংযুক্ত- পুতকর্মের বিলের টাকা
                            </span>
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3 small-cost-card">
                                <strong class="text-nowrap">
                                    ৯,৮৪,৬০০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3 text-left text-lg-right">
                            <strong>
                                মােট (পরবর্তী বিলে জের টানিয়া নেয়া হইবে)
                            </strong>
                        </td>
                        <td class="d-flex justify-content-end pt-3">
                            <div class="text-center rounded px-6 py-3 ml-3">
                                <strong class="text-nowrap">
                                    ৩৬,৭২,৫৫০/-
                                </strong>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-warning text-white px-8 pb-2 pt-3">
            প্রিভিউ
        </button>
    </div>
    <th:block th:replace="bill/components/bill-view-state-actions"></th:block>
</div>