<th:block th:with="formId = 'chequeIssueAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/bill/chequeissue/}"
            th:object="${chequeIssueAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="col-md-4">
                    <th:block
                            th:with="label=${'label.bill.number'},field=${'billId'}, type=${'text'}"
                            th:include="inputs/hidden-input">
                    </th:block>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.issue.date'}, field=${'chequeIssueDate'}, type=${'date'}"
                                th:include="inputs/date-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.account.number'}, field=${'accountNumber'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.number'}, field=${'chequeNumber'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.vendor.name'}, field=${'vendorName'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.token.number'}, field=${'tokenNumber'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.token.date'}, field=${'tokenDate'}, type=${'date'}, required=${true}"
                                th:include="inputs/date-input" >
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.receiver'}, field=${'receiver'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.amount.of.money'}, field=${'amountOfMoney'}, type=${'text'}, required=${true}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                    <div class="col-md-4">

                        <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.project.vehicle.add.attached_documents' )}"></th:block>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <th:block
                                th:with="label=${'label.cheque.description'}, field=${'description'}, type=${'text'}"
                                th:include="inputs/text-input" >
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </form>

</th:block>