<th:block th:with="formId = 'billDistributionAddRequest'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/bill/distribute}"
            th:object="${billDistributionAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    [[#{label.cheque.info}]]
                </div>
            </div>
            <div th:if="${ billId } <= 0">
                [[ #{label.bill.cheque.not.available} ]]
            </div>
            <div th:if="${ billId } > 0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.distribution.date'}, field=${'chequeDistributionDate'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.distribution.type'}, field=${'typeOfDistribution'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.bill.number'}, field=${'billId'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.vendor.name'}, field=${'vendorName'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.token.number'}, field=${'tokenNumber'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.token.date'}, field=${'tokenDate'}, type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.receiver'}, field=${'receiver'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.amount.of.money'}, field=${'amountOfMoney'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.project.vehicle.add.attached_documents' )}"></th:block>

                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <th:block
                                    th:with="label=${'label.cheque.description'}, field=${'description'}, type=${'text'}"
                                    th:include="inputs/text-input" >
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</th:block>