<th:block th:with="formId = 'vehicleServiceAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/vehicle-service/add}"
            th:object="${vehicleServiceAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <th:block th:include="inputs/hidden-id"></th:block>

                <th:block th:with="field=${'vehicleId'}" th:include="inputs/hidden-input"></th:block>
                <th:block th:with="field=${'driverId'}" th:include="inputs/hidden-input"></th:block>
                <th:block th:with="field=${'vehicleUserId'}" th:include="inputs/hidden-input"></th:block>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="regNoField=*{regNo}, field=${'regNo'}, vehicleIdField=${'vehicleId'}, label=${'label.vehicle.add.registration_no'}"
                                    th:include="inputs/vehicle-reg-no"
                            >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'chassisNo'},label=${'label.vehicle.add.chassis_no'},type=${'text'}, required=${true}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'vehicleUserNameBn'},label=${'label.common.user.name.bn'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'vehicleUserNameEn'},label=${'label.common.user.name.en'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'designationBn'},label=${'label.user.designation'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'designationEn'},label=${'label.user.designationEn'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'workplaceBn'},label=${'label.user.workplace'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'workplaceEn'},label=${'label.user.workplaceEn'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'vehicleUserPhoneNumber'},label=${'label.driver.add.user_phone_number'},type=${'number'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'driverNameBn'},label=${'label.driver.assign.add.name'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'driverNameEn'},label=${'label.common.driver.name.en'},type=${'text'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'driverPhoneNumber'},label=${'label.common.driver.phone.number'},type=${'number'}, readonly=${true}"
                                    th:include="inputs/text-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="field=${'serviceCategory'},label=${'label.vehicle.service.category'}, required=${true}, enum=${'com.dgt.paribahanpool.enums.ServiceCategory'}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                        <div class="col-md-4" id="serviceTypeDiv" >

                            <th:block
                                    th:with="field=${'serviceType'},label=${'label.vehicle.service.type'}, required=${true}, enum=${'com.dgt.paribahanpool.enums.ServiceType'}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.vehicle.service.vehicle-problems-details}" for="vehicleProblemsDetails">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="vehicleProblemsDetails" th:field="*{vehicleProblemsDetails}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleProblemsDetails')}" th:errors="*{vehicleProblemsDetails}" > Error! </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
