
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div class="card-toolbar">
            <a  th:href="@{/vehicle-service/add}" >
                <button class="btn btn-success" th:text="#{title.vehicle.service.add}"></button>
            </a>
        </div>
    </div>

    <div class="card-body">

        <table id="vehicleServiceSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.vehicle.add.registration_no}">Reg NO</th>
                <th th:text="#{label.vehicle.add.chassis_no}">Chassis NO</th>
                <th th:text="#{label.common.user.name.bn}">User name bn</th>
                <th th:text="#{label.common.user.name.en}">User name en</th>
                <th th:text="#{label.user.designation}">Designation bn</th>
                <th th:text="#{label.user.designationEn}">Designation en</th>
                <th th:text="#{label.common.status}"> Status </th>
                <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
