<th:block th:replace="letter-print/head"></th:block>

<th:block th:replace="vehicle/component/service-letter-top"></th:block>

<th:block th:replace="vehicle/component/service-letter-body-writing :: view( viewResponse=( ${vehicleServiceApplicationViewResponse}  ) )"></th:block>

<th:block th:replace="vehicle/component/service-letter-body-table :: view( viewResponse=( ${vehicleServiceApplicationViewResponse}  ) )"></th:block>


<th:block th:replace="letter-print/footer"></th:block>