<div id="kt_page_sticky_card" class="card card-custom card-sticky" xmlns="http://www.w3.org/1999/html">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="vehicle/component/service-application-preview :: view( viewResponse=( *{vehicleServiceApplicationViewResponse} ) )"></th:block>

        <form th:if="${viewAction == 'true'}"
              th:action="@{/vehicle-service/take-action}"
              method="POST"
              enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${vehicleServiceApplicationViewResponse.id}" name="id" />
            <input type="hidden" th:value="${vehicleServiceApplicationViewResponse.vehicleId}" name="vehicleId" />

            <th:block th:replace="workflow/available-actions"></th:block>

            <th:block th:replace="vehicle/component/service-application-job-create"></th:block>

            <div class="row mt-2 mx-1 chooseMechanicInChargeDiv" style="display: none;" id="chooseMechanicInChargeDiv">

                <div class="col-md-2">
                    [[#{label.service.application.choose-mechanic-in-charge}]]
                </div>

                <div class="col-md-4">

                    <select class="form-control" name="mechanicUserId" id="mechanicUserId" >
                        <option th:value="-1" th:text="#{label.common.select}">---Select Mechanic---</option>
                        <option th:each="list : ${mechanicInChargeList}"
                                th:value="${list.userId}"
                                th:text="${ lang == 'en'? list.name.nameEn: list.name.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="mx-5 my-4 driver-comment-upload-div" style="display:none">

                <h3 class="">
                    [[#{label.incident.file.driver-comment-attachments}]]
                </h3>

                <label for="driverCommentReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.incident.file.driver-comment-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="driverCommentReportFiles" id="driverCommentReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="row mt-2 mx-1 chooseJobAssistant" style="display: none;">

                <div class="col-md-2">
                    [[#{label.service.application.choose-job-assistant}]]
                </div>

                <div class="col-md-4">

                    <select class="form-control" name="jobAssistantId" id="jobAssistantId" >
                        <option th:value="-1" th:text="#{label.common.select}">---Select Job Assistant---</option>
                        <option th:each="list : ${jobAssistantList}"
                                th:value="${list.userId}"
                                th:text="${ lang == 'en'? list.name.nameEn: list.name.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="row mx-1 mt-2 poridorshokCommentDiv" style="display: none;">

                <br>

                <div class="col-md-2">
                    [[#{label.service.comment.foreman-to-poridorshok}]]

                </div>

                <div class="col-md-4">

                    <textarea rows="5" cols="30" name="commentFromPoridorshok" id="commentFromPoridorshok" class="form-control" type="text"> </textarea>

                </div>

            </div>

            <div class="row mx-1 mt-2 finalPoridorshokCommentDiv" style="display: none;">

                <br>

                <div class="col-md-2">
                    [[#{label.service.comment.deliver-vehicle}]]

                </div>

                <div class="col-md-4">

                    <textarea rows="5" cols="30" name="finalPoridorshokComment" id="finalPoridorshokComment" class="form-control" type="text"> </textarea>

                </div>

            </div>

            <div class="row mt-2 mx-1 workshopManagerDiv" style="display: none;">

                <div class="col-md-2">
                    [[#{label.service.application.choose-workshop-manager}]]
                </div>

                <div class="col-md-4">

                    <select class="form-control" name="workshopManagerId" id="workshopManagerId" >
                        <option th:value="-1" th:text="#{label.common.select}">---Select Workshop Manager---</option>
                        <option th:each="list : ${workshopManagerList}"
                                th:value="${list.userId}"
                                th:text="${ lang == 'en'? list.name.nameEn: list.name.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="mt-6 mx-1 assignSectionLeader" style="display: none;">

                <div class="col-md-2">

                    <h4>
                        [[#{label.service.application.choose-section-leader}]]
                    </h4>

                </div>

                <hr/>

                <th:block th:each="jobResponse: ${vehicleServiceApplicationViewResponse.jobResponses}">

                    <div  class="form-group">
                        <div class="row mx-1">

                            <div class="col-md-3">

                                <h4 class="mt-3"> [[#{label.service.application.job.id}]] : [[${jobResponse.id}]]</h4>

                            </div>

                            <div class="col-md-4">

                                <select class="form-control" name="sectionLeaderId" >
                                    <option th:value="-1" th:text="#{label.common.select}">---Select Mechanic---</option>
                                    <option th:each="list : ${mechanicInChargeList}"
                                            th:value="${list.userId}"
                                            th:text="${ lang == 'en'? list.name.nameEn: list.name.nameBn }">
                                    </option>
                                </select>

                            </div>

                            <div class="col-md-4">

                                <select class="form-control" name="jobSections" th:with="enum = ${'com.dgt.paribahanpool.enums.JobSection'}">

                                    <option value="">[[#{label.common.choose}]]</option>
                                    <th:block th:each="const: ${ __${ 'T(' + enum + ').values()' }__ }">
                                        <option th:value="${const}" th:text="#{ ${ __${ 'T(' + enum + ').getLabel( T(' + enum + ').' + const + ' )' }__ } }"></option>
                                    </th:block>

                                </select>

                            </div>

                        </div>

                    </div>

                </th:block>



            </div>

            <th:block th:replace="vehicle/component/dosposition-info"></th:block>


        </form>

        <div th:insert="vehicle/component/vehicle-parts-with-counter-template" />

    </div>

</div>

