<script>

    $( document ).ready( function() {

        let incidentSearchTable = $( '#incidentSearch' ).DataTable({

            ...dataTableBaseConfig,
            ...dataTableEnableAjax,
            ...{
                ajax: {

                    url: context + '/api/incident/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'incidentDate'
                    },
                    {
                        data: 'incidentTime',
                        orderable: false
                    },
                    {
                        data: 'incidentLocation',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'incidentTypeStr',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'userName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'driverName',
                        orderable: false
                    },
                    {
                        data: 'verdictDocuments',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'fine',
                        orderable: false
                    },
                    {
                        data: 'gdDocuments',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'investigationReportDocuments',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'documents',
                        render: function ( data, type, row ) {

                            if( data != null ) {

                                let files = "<ul>";
                                for (let i = 0; i < data.length; i++) {

                                    files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                                }
                                files += "</ul>";
                                return files;
                            }
                            else{
                                return "";
                            }
                        },
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/incident/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/incident/'+ data +'?active=INCIDENT_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-incident" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            }
        });

        $(document).on( "click",  ".delete-incident", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/incident/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data['message'],
                                "success"
                            );

                            incidentSearchTable.ajax.reload(null, false);
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });

</script>