<th:block th:with="formId = 'designationAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${designationAddRequest.id == null} ? @{/designation/add} : @{/designation/edit/{id}(id=${designationAddRequest.id})}"
            th:object="${designationAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.designation.add.nameEn'}, field=${'nameEn'}, required=${true}, type=${'text'}"
                                    th:include = "inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.designation.add.nameBn'}, field=${'nameBn'}, required=${true}, type=${'text'}"
                                    th:include = "inputs/text-input">
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.designation.add.parentId'}, field=${'parentId'}, list=*{designationLists}"
                                    th:include = "inputs/select-list-input">
                            </th:block>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.designation.add.level'}, field=${'userLevelId'}, list=*{userLevelResponseList}"
                                    th:include = "inputs/select-list-input">
                            </th:block>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

</th:block>