<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/designation/add}" >
                        <button class="btn btn-success" th:text="#{label.designation.button.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="designationSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{label.designation.add.designation}"> NameEn </th>
                        <th th:text="#{label.designation.add.nameBn}"> NameBn </th>
                        <th th:text="#{label.designation.add.nameEn}"> Parent Name </th>
                        <th th:text="#{label.designation.add.level}"> Level </th>
                        <th th:text="#{label.common.actions}"> Actions </th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
