<th:block th:fragment="docs( docs )">

    <div th:if="${ docs != null && #lists.size( docs ) > 0 }" class="row">

        <div class="col-md-12">

            <ul class="nav nav-tabs nav-tabs-line mb-5">
                <li class="nav-item">
                    <a class="nav-link active">
                        <span class="nav-text" th:text="#{label.file.attachments}"></span>
                    </a>
                </li>
            </ul>
            
            <table class="table table-bordered table-hover">

                <thead>

                    <tr>

                        <th>[[#{label.file.name}]]</th>
                        <th>[[#{label.file.preview}]]</th>
                        <th>[[#{label.file.action.delete}]]</th>

                    </tr>

                </thead>

                <tbody>

                    <tr th:each=" doc:${docs} ">

                        <td> [[${doc.name}]] </td>
                        <td> <a target="_blank" th:href="@{ /doc/{id}( id = ${doc.id} ) }">[[${doc.name}]]</a> </td>
                        <td> <button type="button" class="btn btn-danger btn-sm delete-doc" th:attr="data-id=${doc.id}"> [[#{label.file.action.delete}]] </button> </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</th:block>