<script>

    $(document).ready(function (){

        const tableName = "[[${tableName}]]";
        const id = "[[${id}]]";
        const url = '/api/workflow/history/search/' + tableName + '/' + id;

        let workflowSearchTable = $( "#workflowSearch" ).DataTable({

            ...{
                searching: false,
                ajax: {

                    url: context + url,
                    type: 'GET'
                },
                order: [
                    [0, "asc"]
                ],
                columns: [
                    {
                        data: 'id',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'prevState',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'action',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'nextState',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'timestamp',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'actionBy',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'designation',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'description',
                        searchable: false,
                        orderable: false,
                        render: function ( data, type, row ) {

                            if( data && data != "" && data != "null" ){

                                let additionalData = JSON.parse( data );
                                let list = "";

                                for( const [key, value] of Object.entries( additionalData ) ){

                                    list += "<p>" + key + " -> " + value + "</p>"
                                }

                                return list;
                            }

                            return "N/A";
                        }
                    }
                ]
            },
            ...dataTableCommonConfig
        });
    });

</script>