<script>

    $( document ).ready( function() {

        let datatable = $( '#nocSearch' ).DataTable({

            ...dataTableBaseConfig,
            ...dataTableEnableAjax,
            ...{
                ajax: {

                    url: context + '/api/noc/search',
                    type: 'GET',
                    data: {

                    },
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'name',
                        orderable: false
                    },
                    {
                        data: 'identityNumber'
                    },
                    {
                        data: 'designation'
                    },
                    {
                        data: 'workingPlace',
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'eMail',
                        orderable: false
                    },
                    {
                        data: 'mobileNumber',
                        orderable: false
                    },
                    {
                        data: 'nocApplicationType',
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'date'
                    },
                    {
                        data: 'vehicleAllotment',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'allottedCarRegistrationNumber'
                    },
                    {
                        data: 'documentMetadataList',
                        render: function ( data, type, row ) {

                            let files  = "<ul>";
                            for( let i = 0; i<data.length; i++ ){

                                files += '<li><a target="_blank" href="' + context + '/doc/' + data[i].id + '">' + data[i].name + '</a></li>';
                            }
                            files += "</ul>";
                            return files;
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    },
                    {
                        data: 'stateResponse',
                        render: function ( data, type, row ) {

                            let status = data.name;
                            if( lang == 'en' )
                                status = data.nameEn;

                            return getStateLabel( status, data.stateType );
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let createButton = row.stateResponse.stateType == 'POSITIVE_END'? '<a href="' + context + '/noc/create/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-print icon-xl text-success"></i>\t\t\t\t\t\t\t</a>': '';

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/noc/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                createButton +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-noc" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/workflow/history/noc_application/'+ data +'?active=NOC_SEARCH" class="btn btn-sm btn-clean btn-icon" title="' + historyTitle + '">\t\t\t\t\t\t\t\t<i class="la la-history icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            }
        });
    });
</script>