<script>
    $( document ).ready( function() {

        let inventorySearchTable = $( '#inventorySearch' ).DataTable( {
            ...{
                ajax: {
                    url: context + '/api/inventory/search',
                    type: 'GET'
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'packageNumber'
                    },
                    {
                        data: 'lotNumber'
                    },
                    {
                        data: 'productNameEn'
                    },
                    {
                        data: 'productType'
                    },
                    {
                        data: 'quantity'
                    },
                    {
                        data: 'unit'
                    },
                    {
                        data: 'unitPrice'
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/inventory/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-inventory" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]
            },
            ...dataTableCommonConfig
        });

        $(document).on( "click", ".delete-inventory", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/inventory/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            inventorySearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });
    });

</script>