<div class="row">
  <div class="col-md-12">

    <div class="card card-custom gutter-b example example-compact">

      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            [[ #{ ${ pageTitle } } ]]
          </h3>
        </div>
        <div class="card-toolbar">
          <a  th:href="@{/complains/add}" >
            <button class="btn btn-success" th:text="#{label.complains.button.add}"> Button </button>
          </a>
        </div>
      </div>

      <div class="card-body">

        <table id="complainsMySearch" class="table table-bordered table-hover dataTable no-footer dtr-inline table-responsive">

          <thead>
          <tr>
            <td rowspan='2'>ID</td>
            <td rowspan='2' th:text="#{label.complains.add.name-bn}"> Mechanic ID </td>
            <td rowspan='2' th:text="#{label.complains.add.occupation}"> Name </td>
            <td rowspan='2' th:text="#{label.complains.add.current-address}"> Father Name</td>
            <td rowspan='2' th:text="#{label.complains.add.phone-number}"> Mother Name</td>
            <td rowspan='2' th:text="#{label.complains.add.images}"> Phone Number</td>
            <td colspan='2' th:text="#{label.complains.add.decision}"> Expertise</td>
            <td colspan='3' th:text="#{label.complains.add.images}"> Qualification</td>
            <td rowspan='2' th:text="#{label.complains.add.status}"> Actions </td>
            <td rowspan='2' th:text="#{label.common.actions}"> Actions </td>
          </tr>

          <tr>

            <td th:text="#{label.complains.add.investigation}"> asdf </td>
            <td th:text="#{label.complains.add.decision.status}"> asdf </td>
            <td th:text="#{label.complains.add.complain_related}"> asdf </td>
            <td th:text="#{label.complains.add.complain_reason}"> asdf </td>
            <td th:text="#{label.complains.add.complain_reply}"> asdf </td>

          </tr>

          </thead>

          <tbody>

          </tbody>

        </table>
      </div>

    </div>

  </div>
</div>
