<th:block th:with="formId = 'complainsAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${complainsAddRequest.id == null} ? @{/complains/add} : @{/complains/edit/{id}(id=${complains.id})}"
            th:object="${complainsAddRequest}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.name-bn'}, field=${'nameBn'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.name-en'}, field=${'nameEn'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.occupation'}, field=${'occupation'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.permanent-address'}, field=${'permanentAddress'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.current-address'}, field=${'currentAddress'}, type=${'text'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.complains.add.phone-number'}, field=${'phoneNumber'}, type=${'number'}, min=${'0'}, required=${true}"
                                    th:include="inputs/text-input" >
                            </th:block>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <label th:text="#{label.complains.add.details}" for="details">Brand <span class="text-danger">*</span> </label>
                            <textarea class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="details" th:field="*{details}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('details')}" th:errors="*{details}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.common.choose_accused_user_type'}, field=${'userType'}, enum=${'com.dgt.paribahanpool.enums.AccusedPersonType'}"
                                    th:include="inputs/radio-enum-input">
                            </th:block>

                            <div style="display:none" id="showEmployeeList">

                                <label for="employeeId">
                                    [[#{label.complains.add.choose-employee}]]
                                    <span class="text-danger">*</span>
                                </label>

                                <select style="width: 100%" name="userId" class="select2 enable-select2 form-control" id="employeeId" required>
                                    <option value="">[[#{label.common.choose}]]</option>
                                    <option th:each="list : *{showEmployeeList}"
                                            th:value="${list.id}"
                                            th:text="${ lang == 'en'? list.nameEn: list.nameBn }">
                                    </option>
                                </select>

                            </div>

                            <div style="display:none" id="showMechanicList">

                                <label for="showMechanicList">

                                  [[#{label.complains.add.choose-mechanic}]]
                                    <span class="text-danger">*</span>
                                </label>

                                <select style="width: 100%" name="userId" class="select2 enable-select2 form-control" id="mechanicId" required>
                                    <option value="">[[#{label.common.choose}]]</option>
                                    <option th:each="list : *{showMechanicList}"
                                            th:value="${list.id}"
                                            th:text="${ lang == 'en'? list.nameEn: list.nameBn }">
                                    </option>
                                </select>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.complains.add.images' )}"></th:block>

                        </div>
                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

            </div>


    </form>

</th:block>