<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="complains/component/complains-application-preview"></th:block>

        <th:block th:replace="committee/component/committee :: committee-list( *{complainsViewResponse.committeeResponseList} )"></th:block>

        <br>

        <th:block th:include="document/component/document-list :: document-list( *{complainsViewResponse.documents} )" th:with="title=${'label.complains.file.complain-person-file-attachments-title'}" ></th:block>
        <th:block th:include="document/component/document-list :: document-list( *{complainsViewResponse.decisionDocuments} )" th:with="title=${'label.complains.file.generate-normal-report-file-attachments-title'}" ></th:block>
        <th:block th:include="document/component/document-list :: document-list( *{complainsViewResponse.complainDocuments} )" th:with="title=${'label.complains.file.investigation-reason-file-attachments-title'}" ></th:block>
        <th:block th:include="document/component/document-list :: document-list( *{complainsViewResponse.complainReasonDocuments} )" th:with="title=${'label.complains.file.show-cause-file-attachments-title'}" ></th:block>
        <th:block th:include="document/component/document-list :: document-list( *{complainsViewResponse.complainReplyDocuments} )" th:with="title=${'label.complains.file.show-reason-file-attachments-title'}" ></th:block>


        <input type="hidden" th:value="${complainsViewResponse.id}" name="id" />

        <hr/>

        <form
                id="complainsStateFlow"
                th:action="@{/complains/take-action}"
                method="POST"
                enctype="multipart/form-data"
        >

            <th:block th:replace="workflow/available-actions"></th:block>

            <input type="hidden" th:value="${complainsViewResponse.id}" name="id" />

            <div class="mx-5 my-4" id="show-cause-files" style="display:none">

                <h3 class="">
                    [[#{label.complains.file.show-cause-file-attachments}]]
                </h3>

                <label for="showCauseFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.complains.file.show-cause-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="showCauseFiles" id="showCauseFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>



            <div class="mx-5 my-4" id="show-reason-files" style="display:none">

                <h3 class="">
                    [[#{label.complains.file.show-reason-file-attachments}]]
                </h3>

                <label for="showReasonFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.complains.file.show-reason-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="showReasonFiles" id="showReasonFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="mx-5 my-4" id="show-investigation-reason-files" style="display:none">

                <h3 class="">
                    [[#{label.complains.file.investigation-reason-file-attachments}]]
                </h3>

                <label for="showInvestigationRequestFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.complains.file.investigation-reason-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="showInvestigationRequestFiles" id="showInvestigationRequestFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="mx-5 my-4" id="show-generate-normal-report-files" style="display:none">

                <h3 class="">
                    [[#{label.complains.file.generate-normal-report-file-attachments}]]
                </h3>

                <label for="showGenerateNormalComplainFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.complains.file.generate-normal-report-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="showGenerateNormalComplainFiles" id="showGenerateNormalComplainFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="mx-5 my-4" id="show-generate-judge-report-files" style="display:none">

                <h3 class="">
                    [[#{label.complains.file.judge-report-file-attachments}]]
                </h3>

                <label for="showGenerateJudgeComplainFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.complains.file.judge-report-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="showGenerateJudgeComplainFiles" id="showGenerateJudgeComplainFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>


            <div class="mx-5 my-4" style="display:none" id="add_committee_complain_repeater">

                <h3 class="">
                    [[#{label.complains.workflow.create-committee-list}]]
                </h3>


                <div data-repeater-list="committeeAddRequestList">

                    <div data-repeater-item>

                        <hr>

                        <th:block th:replace="committee/component/add-committee" />

                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-lg-12">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.complains.add.add_committee_member}]]</a>
                    </div>
                </div>

            </div>

            <div class="form-group row" style="display:none" id="action-taker-committee">

                <div class="col-md-4">

                    <label> [[#{label.complains.add.action-taker-committee}]] </label>
                    <select id="userList" class="form-control" name="actionTakerMemberId">
                        <option value="">[[#{label.common.choose}]]</option>
                        <option
                                th:each="item: ${complainsViewResponse.showEmployeeList}"
                                th:value="${item.id}"
                                th:text="${ lang == 'en'? item.nameEn: item.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

        </form>

    </div>

</div>