<th:block th:with="formId = 'incidentAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${incidentAddRequest.id == null} ? @{/incident/add} : @{/incident/edit/{id}(id=${incidentAddRequest.id})}"
            th:object="${incidentAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <th:block th:with="field=${'vehicleId'}" th:include="inputs/hidden-input"></th:block>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:text="#{label.incident.add.incident_date}" for="incidentDate">Incident Date<span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="incidentDate" th:field="*{incidentDate}" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('incidentDate')}" th:errors="*{incidentDate}" > Error! </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.incident.add.incident_time}" for="incidentTime">Incident Date<span class="text-danger">*</span> </label>
                            <div class="input-group">
                                <input autocomplete="off" class="form-control timepicker timepicker-input" th:errorclass="is-invalid" type="text" id="incidentTime" th:field="*{incidentTime}" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('incidentTime')}" th:errors="*{incidentTime}" > Error! </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.incident.add.incident_place}" for="incidentLocation">Incident Place <span class="text-danger">*</span> </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="incidentLocation" th:field="*{incidentLocation}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('incidentLocation')}" th:errors="*{incidentLocation}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.incident.add.incident_status}">Incident Status <span class="text-danger">*</span> </label>
                            <select th:field="*{incidentType}" class="form-control" id="incidentType" >
                                <option th:each="status : ${T(com.dgt.paribahanpool.enums.IncidentType).values()}"
                                        th:value="${status}" th:text="#{${T(com.dgt.paribahanpool.enums.IncidentType).getLabel( status )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('incidentType')}" th:errors="*{incidentType}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12">

                            <label th:text="#{label.incident.add.incident_details}" for="incidentDetails">Incident Details <span class="text-danger">*</span> </label>
                            <textarea  class="form-control" rows="5" cols="30" th:errorclass="is-invalid" id="incidentDetails" th:field="*{incidentDetails}"> </textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('incidentDetails')}" th:errors="*{incidentDetails}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <!--                            <th:block-->
                            <!--                                    th:with="field=${'regNo'},label=${'label.vehicle.add.registration_no'},type=${'text'}, required=${true}"-->
                            <!--                                    th:include="inputs/text-input">-->
                            <!--                            </th:block>-->

                            <label th:text="#{label.vehicle.add.registration_no}" for="regNo">Driver ID <span class="text-danger">*</span> </label>

                            <select id="regNo" class="form-control" name="regNo" required>
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${vehicleViewResponseList}"
                                        th:value="${item.registrationNo}"
                                        th:text="${ item.registrationNo }">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('regNo')}" th:errors="*{regNo}" > Error! </div>

                        </div>

<!--                        <div class="col-md-4">-->

<!--                            <th:block-->
<!--                                    th:with="field=${'chassisNo'},label=${'label.vehicle.add.chassis_no'},type=${'text'}, required=${true}, readonly=${true}"-->
<!--                                    th:include="inputs/text-input">-->
<!--                            </th:block>-->

<!--                        </div>-->

                    </div>

                </div>

<!--                <div class="form-group">-->
<!--                    <div class="row">-->

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.incident.add.user_name}" for="userName">User's Name <span class="text-danger">*</span> </label>-->
<!--                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="userName" th:field="*{userName}" required>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" > Error! </div>-->

<!--                        </div>-->

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.incident.add.user_name_en}" for="userNameEn">User's Name <span class="text-danger">*</span> </label>-->
<!--                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="userNameEn" th:field="*{userNameEn}" required>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('userNameEn')}" th:errors="*{userNameEn}" > Error! </div>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <div class="row">-->

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.incident.add.driver_name}" for="driverName">Driver Name <span class="text-danger">*</span> </label>-->
<!--                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="driverName" th:field="*{driverName}" required>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverName')}" th:errors="*{driverName}" > Error! </div>-->

<!--                        </div>-->

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.incident.add.driver_name_en}" for="driverNameEn">Driver Name <span class="text-danger">*</span> </label>-->
<!--                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="driverNameEn" th:field="*{driverNameEn}" required>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverNameEn')}" th:errors="*{driverNameEn}" > Error! </div>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'gdFiles', 'label.incident.add.gdDocument' )}"></th:block>

                        </div>

                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{gdDocuments} ) }" ></th:block>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
