<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="incident/component/incident-application-preview"></th:block>

        <input type="hidden" th:value="${incidentViewResponse.id}" name="id" />

        <hr/>

        <form
                id="incidentStateFlow"
              th:action="@{/incident/take-action}"
              method="POST"
                enctype="multipart/form-data"
        >

            <th:block th:replace="workflow/available-actions"></th:block>

            <input type="hidden" th:value="${incidentViewResponse.id}" name="id" />

            <div class="mx-5 my-4" id="inquiry-report-upload" style="display:none">

                <h3 class="">
                    [[#{label.incident.file.inquiry-file-attachments}]]
                </h3>

                <label for="committeeInvestigationReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.incident.file.inquiry-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="committeeInvestigationReportFiles" id="committeeInvestigationReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="mx-5 my-4" id="chalan-report-upload" style="display:none">

                <h3 class="">
                    [[#{label.incident.file.chalan-file-attachments}]]
                </h3>

                <label for="chalanReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.incident.file.chalan-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="chalanReportFiles" id="chalanReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="mx-5 my-4" id="verdict-report-upload" style="display:none">

                <h3 class="">
                    [[#{label.incident.file.verdict-file-attachments}]]
                </h3>

                <label for="verdictReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.incident.file.verdict-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="verdictReportFiles" id="verdictReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="collectedFineDiv">

                <br>

                <div class="col-md-2">
                    [[#{label.incident.workflow.collected-fine}]]
                </div>

                <div class="col-md-4">

                    <input name="collectedFine" id="collectedFine" class="form-control" type="number" min="0"/>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="doFineDiv">

                <div class="col-md-2">
                    [[#{label.incident.workflow.fined-amount}]]
                </div>

                <div class="col-md-4">

                    <input name="finedAmount" id="finedAmount" class="form-control" type="number" min="0"/>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="toBeFixedForDaDiv">

                <br>

                <div class="col-md-2">
                    [[#{label.incident.workflow.to-be-fixed}]]
                </div>

                <div class="col-md-4">

                    <input name="toBeFixedForDa" id="toBeFixedForDa" class="form-control" type="text"/>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="toFixDiv">

                <br>

                <div class="col-md-2">
                    [[#{label.incident.workflow.will-be-fixed}]]
                </div>

                <label class="radio">
                    <input class="toFixClass" name="isToBeFixed" type="radio" value="true" onclick="showInputDiv(this)"> <span></span>[[#{radio.options.confirm.type.yes}]]
                </label>
                <label class="radio">
                    <input class="toFixClass" name="isToBeFixed" type="radio" value="false" onclick="showInputDiv(this)"> <span></span>[[#{radio.options.confirm.type.no}]]
                </label>

            </div>

            <div style="display: none;" id="toFixInputDateClass" class="row mx-1 mt-2 toFixInputDateClass">

                <div class="col-md-2">
                    [[#{label.incident.add.incident_date}]]
                </div>

                <div class="col-md-4">

                    <input name="incidentDate" id="incidentDate" class="form-control datepicker" type="text"/>

                </div>

            </div>

            <div style="display: none;" id="toFixInputLocationClass" class="row mx-1 mt-2 toFixInputLocationClass">


                <div class="col-md-2">
                    [[#{label.incident.add.incident_place}]]
                </div>

                <div class="col-md-2">

                    <input class="form-control" type="text" id="incidentLocation" name="incidentLocation"/>

                </div>

            </div>

            <div style="display: none;" id="toFixInputDetailsClass" class="row mx-1 mt-2 toFixInputDetailsClass">

                <div class="col-md-2">
                    [[#{label.incident.add.incident_details}]]
                </div>

                <div class="col-md-2">

                    <input class="form-control" type="text" id="incidentDetails" name="incidentDetails"/>

                </div>

            </div>

             <div class="mx-5 my-4" style="display:none" id="add_committee_card_repeater">

                 <h3 class="">
                     [[#{label.incident.workflow.create-committee-list}]]
                 </h3>

                 <div data-repeater-list="committeeAddRequestList">

                     <div data-repeater-item>

                         <hr>

                         <th:block th:replace="committee/component/add-committee" />

                     </div>

                 </div>

                <div class="form-group row">

                    <div class="col-lg-12">
                        <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                            <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.incident.add.add_committee_member}]]</a>
                    </div>
                </div>

            </div>

            <div class="form-group row mx-2" style="display:none" id="action-taker-committee">

                <div class="col-md-4">

                    <label> [[#{label.incident.add.action-taker-committee}]] </label>
                    <select id="userList" class="form-control" name="actionTakerMemberId">
                        <option value="">[[#{label.common.choose}]]</option>
                        <option
                                th:each="item: ${incidentViewResponse.showEmployeeList}"
                                th:value="${item.id}"
                                th:text="${ lang == 'en'? item.nameEn: item.nameBn }">
                        </option>
                    </select>

                </div>

            </div>

        </form>

    </div>

</div>