<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/incident/add}" >
                        <button class="btn btn-success" th:text="#{label.incident.button.add}"> Button </button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="incidentSearch" class="table table-responsive table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                    <tr>
                        <td rowspan='2' th:text="#{label.incident.search.id}">ID</td>
                        <td rowspan='2' th:text="#{label.incident.add.incident_date}"> Mechanic ID </td>
                        <td rowspan='2' th:text="#{label.incident.add.incident_time}"> Name </td>
                        <td rowspan='2' th:text="#{label.incident.add.incident_place}"> Father Name</td>
                        <td rowspan='2' th:text="#{label.incident.add.incident_status}"> Mother Name</td>
                        <td rowspan='2' th:text="#{label.incident.add.user_name}"> Phone Number</td>
                        <td rowspan='2' th:text="#{label.incident.add.driver_name}"> Phone Number</td>
                        <td colspan='2' th:text="#{label.incident.search.decision}"> Expertise</td>
                        <td colspan='3' th:text="#{label.mechanic.add.images}"> Date of Birth</td>
                        <td rowspan='2' th:text="#{label.complains.add.status}"> Actions </td>
                        <td rowspan='2' th:text="#{label.common.actions}"> Actions </td>
                    </tr>

                    <tr>
                        <td th:text="#{label.incident.search.investigation}"> Mother Name</td>
                        <td th:text="#{label.incident.search.fine}"> Phone Number</td>
                        <td th:text="#{label.incident.add.gdDocument}"> Date of Birth</td>
                        <td th:text="#{label.incident.add.inquiryDocument}"> Actions </td>
                        <td th:text="#{label.incident.add.images}"> Expertise</td>
                    </tr>

                    </thead>

                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
