<div class="mt-4 pb-2">
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.warrantyDate}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.registration_number}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.registrationNumber}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.chassis_number}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.chassisNumber}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.brand_name}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.brandName}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.model}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.model}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.parts_name}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.partsName}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.parts_id}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.partsId}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.comment}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.comment}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.beginning_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.warrantyBeginningDate}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.warranty.ending_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${warrantyViewResponse.warrantyEndingDate}" readonly/>
        </div>
    </div>