<script>
    $( document ).ready( function() {

        let designationSearchTable = $( '#designationSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/designation/search',
                    type: 'GET',
                    data: {

                    },
                },

                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'nameEn',
                        orderable: false
                    },
                    {
                        data: 'nameBn',
                        orderable: false
                    },
                    {
                        data: 'parentName.nameEn',
                        searchable: false
                    },
                    {
                        data: 'level',
                        searchable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {
                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/designation/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-designation" data-id="' + data + '" title="Delete">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }
                ]

            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-designation", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/designation/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            designationSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });


</script>