<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.committee.add.nameBn}" for="nameBn">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                <input  class="form-control" type="text" id="nameBn" name="nameBn" required>

            </div>

                <div class="col-md-4">

                <label th:text="#{label.committee.add.nameEn}" for="nameEn">Name of the Servicing Vendor <span class="text-danger">*</span> </label>

                    <div class="input-group">
                        <input class="form-control" type="text" id="nameEn" name="nameEn" required>
                        <div class="input-group-append">
                            <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                                <i class="la la-close"></i>
                            </a>
                        </div>
                    </div>

            </div>
        </div>

    </div>

</div>