<div class="mt-4 pb-2">
    <div class="form-group row">
        <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
        <div class="col-md-10">
            <img
                    class="signature-image rounded p-2 pb-5"
                    src=""
                    alt="User Signature Image"
            />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.incident_date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentDate" th:value="${ #temporals.format( incidentViewResponse.incidentDate, 'dd/MM/yyyy' ) }" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.registration_no}">Incident Place </label>
        <div class="col-md-10">
            <input readonly type="text" class="form-control" th:value="${incidentViewResponse.registrationNo}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.vehicle.add.chassis_no}">Incident Place </label>
        <div class="col-md-10">
            <input readonly type="text" class="form-control" th:value="${incidentViewResponse.chassisNo}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.incident_time}">পরিচিতি নং</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentTime" th:value="${incidentViewResponse.incidentTime}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.incident_place}">পদ</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="incidentLocation" th:value="${incidentViewResponse.incidentLocation}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.incident_details}">ই-মেইল</label>
        <div class="col-md-10">
            <textarea class="form-control" id="incidentDetails" readonly="readonly">[[${incidentViewResponse.incidentDetails}]] </textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.user_name}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="userName" th:value="${incidentViewResponse.userName}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.add.driver_name}">মােবাইল</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="driverName" th:value="${incidentViewResponse.driverName}" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.incident.workflow.to-be-fixed}">মােবাইল</label>
        <div class="col-md-10">
            <textarea class="form-control" readonly="readonly"> [[${incidentViewResponse.toBeFixedForDa}]] </textarea>
        </div>
    </div>

    <h4>[[#{label.committee.standing-committee-members}]]</h4>
    <hr/>
    <table class="table table-bordered">
        <thead>
        <tr>
<!--            <th>[[#{label.common.id}]]</th>-->
            <th>[[#{label.user-level.add.nameBn}]]</th>
            <th>[[#{label.complains.common.designation}]]</th>
            <th>[[#{label.committee.add.position-in-committee}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member:${incidentViewResponse.committeeResponseList}">
<!--            <td>[[${member.id}]]</td>-->
            <td>[[${member.nameBn}]]</td>
            <td>[[${member.designationName}]]</td>
            <td>[[${member.positionInCommittee}]]</td>
        </tr>
        </tbody>
    </table>


</div>