<th:block th:fragment="document-list( docs )">

    <h4 th:if="${title != null}" th:text="#{__${title}__}"></h4>
    <h4 th:if="${title == null}" th:text="#{'label.document.list'}"></h4>

    <hr/>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>[[#{label.document.name}]]</th>
                <th>[[#{label.document.document-type}]]</th>
                <th>[[#{label.document.download}]]</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="doc:${docs}">
                <td>[[${doc.name}]]</td>
                <td>[[${doc.documentType}]]</td>
                <td> <a th:href="@{/doc/{id}(id = ${doc.id})}" class="btn btn-sm btn-clean btn-icon"> <i class="la la-download icon-xl text-secondary"></i> </a> </td>
            </tr>
        </tbody>
    </table>

</th:block>