<div id="driver_add_card_complaint_repeater">

    <div data-repeater-list="driverComplaintInfoAddRequests">

        <th:block th:if="*{ driverComplaintInfoAddRequests == null }">
            <th:block th:replace="driver/driver-add-complaint-info-template" />
        </th:block>

        <th:block th:if="*{ driverComplaintInfoAddRequests != null and #lists.size( driverComplaintInfoAddRequests ) > 0 }">
            <th:block th:replace="driver/driver-add-complaint-info" />
        </th:block>

    </div>

    <div class="form-group row">

        <div class="col-lg-4">
            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_complaint_info_card}]]
            </a>
        </div>

    </div>

    <div class="col-md-4">
        <th:block
                th:with="label=${'label.driver.add.comments'}, field=${'comment'}, type=${'text'}"
                th:include="inputs/text-input" >
        </th:block>
    </div>

</div>