<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.driver_id}" for="driverId">Driver ID <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="number" min="0" id="driverId" th:field="*{driverId}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverId')}" th:errors="*{driverId}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.name}" for="name">name <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.name_en}" for="nameEn">Father Name <span class="text-danger">*</span> </label>
            <input  class="form-control" th:errorclass="is-invalid" type="text" id="nameEn" th:field="*{nameEn}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}" > Error! </div>

        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.father_name}" for="fatherName">Father Name <span class="text-danger">*</span> </label>
            <input  class="form-control" th:errorclass="is-invalid" type="text" id="fatherName" th:field="*{fatherName}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.father_name_en}" for="fatherNameEn">Father Name <span class="text-danger">*</span> </label>
            <input  class="form-control" th:errorclass="is-invalid" type="text" id="fatherNameEn" th:field="*{fatherNameEn}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherNameEn')}" th:errors="*{fatherNameEn}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.mother_name}" for="motherName"> <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="motherName" th:field="*{motherName}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}" > Error! </div>

        </div>

    </div>

</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.mother_name_en}" for="motherNameEn"> <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="motherNameEn" th:field="*{motherNameEn}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('motherNameEn')}" th:errors="*{motherNameEn}" > Error! </div>

        </div>


        <div class="col-md-4">

            <label th:text="#{label.driver.add.permanent_address}" for="permanentAddress"> <span class="text-danger">*</span> </label>
            <input  class="form-control"  th:errorclass="is-invalid" type="text" id="permanentAddress" th:field="*{permanentAddress}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('permanentAddress')}" th:errors="*{permanentAddress}" > Error! </div>

        </div>

        <div class="col-md-4">

            <th:block
                    th:with="label=${'label.common.permanent_district_address'}, field=${'permanentGeolocationId'}, list=*{districtLists}, class=${'select2 enable-select2'}, required=${true}"
                    th:include="inputs/select-list-input">
            </th:block>

        </div>

    </div>
</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.current_address}" for="currentAddress"> <span class="text-danger">*</span> </label>
            <input  class="form-control"  th:errorclass="is-invalid" type="text" id="currentAddress" th:field="*{currentAddress}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('currentAddress')}" th:errors="*{currentAddress}" > Error! </div>

        </div>

        <div class="col-md-4">

            <th:block
                    th:with="label=${'label.common.present_district_address'}, field=${'currentGeolocationId'}, list=*{districtLists}, class=${'select2 enable-select2'}, required=${true}"
                    th:include="inputs/select-list-input">
            </th:block>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.marital_status}"> <span class="text-danger">*</span> </label>
            <div class="radio-inline">
                <label class="radio" th:each="status : ${T(com.dgt.paribahanpool.enums.MaritalStatus).values()}">
                    <input th:field="*{maritalStatus}" th:value="${status}" type="radio">
                    <span></span>
                    [[#{${T(com.dgt.paribahanpool.enums.MaritalStatus).getLabel( status )}}]]
                </label>
            </div>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('maritalStatus')}" th:errors="*{maritalStatus}" > Error! </div>

        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.gender}"> <span class="text-danger">*</span> </label>
            <div class="radio-inline">
                <label class="radio" th:each="types : ${T(com.dgt.paribahanpool.enums.GenderType).values()}">
                    <input th:field="*{genderType}" th:value="${types}" type="radio" required>
                    <span></span>
                    [[#{${T(com.dgt.paribahanpool.enums.GenderType).getLabel( types )}}]]
                </label>
            </div>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('genderType')}" th:errors="*{genderType}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.driver_type}"> <span class="text-danger">*</span> </label>
            <select th:field="*{driverType}"  class="form-control" id="driverType">
                <option th:each="type : ${T(com.dgt.paribahanpool.enums.DriverType).values()}"
                        th:value="${type}" th:text="#{${T(com.dgt.paribahanpool.enums.DriverType).getLabel( type )}}">
                </option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('driverType')}" th:errors="*{driverType}" > Error! </div>

        </div>

        <div class="col-md-4">
            <label th:text="#{label.driver.add.birth_date}" for="dateOfBirth">Date of Birth<span class="text-danger">*</span> </label>
            <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="dateOfBirth" th:field="*{dateOfBirth}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" > Error! </div>
            </div>
        </div>

    </div>
</div>
<div class="form-group">
    <div class="row">

        <div class="col-md-4">
            <th:block
                    th:with="label=${'label.driver.add.blood_group'}, field=${'bloodGroup'}, enum=${'com.dgt.paribahanpool.enums.BloodGroup'}, required=${true}"
                    th:include="inputs/select-enum-input">
            </th:block>
        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.phone_number}" for="phoneNumber"> <span class="text-danger">*</span> </label>
            <input class="form-control"  th:errorclass="is-invalid" type="text" id="phoneNumber" th:field="*{phoneNumber}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.nid_number}" for="nidNumber"> <span class="text-danger">*</span> </label>
            <input  class="form-control"  th:errorclass="is-invalid" type="number" id="nidNumber" th:field="*{nidNumber}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nidNumber')}" th:errors="*{nidNumber}" > Error! </div>

        </div>

    </div>
</div>
<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'driverFiles', 'label.driver.add.driver_images' )}"></th:block>

        </div>

        <div class="col-md-4" style="visibility: hidden">

            <label th:text="#{label.driver.add.education_qualification}" for="educationalQualification"> <span class="text-danger">*</span> </label>
            <input  class="form-control" th:errorclass="is-invalid"  type="text" id="educationalQualification" th:field="*{educationalQualification}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('educationalQualification')}" th:errors="*{educationalQualification}" > Error! </div>

        </div>
    </div>
</div>

<th:block th:replace="~{ components/document/doc-list :: docs( *{driverDocuments} ) }" ></th:block>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">
            <label th:text="#{label.driver.add.enrolment_date}" for="enrolmentDate">Enrolment Date <span class="text-danger">*</span> </label>
            <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="enrolmentDate" th:field="*{enrolmentDate}"/>
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('enrolmentDate')}" th:errors="*{enrolmentDate}" > Error! </div>
            </div>
        </div>

        <div class="col-md-4">
            <label th:text="#{label.driver.add.retirement_date}" for="retirementDate">Enrolment Date <span class="text-danger">*</span> </label>
            <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="retirementDate" th:field="*{retirementDate}" />
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('retirementDate')}" th:errors="*{retirementDate}" > Error! </div>
            </div>
        </div>

        <div class="col-md-4">

            <label th:text="#{label.driver.add.passport_number}" for="passportNumber"> <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="passportNumber" th:field="*{passportNumber}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}" > Error! </div>

        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">

            <label th:text="#{label.driver.add.licence_number}" for="licenceNumber"> <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="licenceNumber" th:field="*{licenceNumber}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('licenceNumber')}" th:errors="*{licenceNumber}" > Error! </div>

        </div>

        <div class="col-md-4">

            <label th:text="#{label.common.driving.license.type}"> <span class="text-danger">*</span> </label>
            <select th:field="*{drivingLicenseType}"  class="form-control" id="drivingLicenseType" required>
                <option th:text="#{label.common.select}" value=""></option>
                <option th:each="drivingLicenseType : ${T(com.dgt.paribahanpool.enums.DrivingLicenseType).values()}"
                        th:value="${drivingLicenseType}" th:text="#{${T(com.dgt.paribahanpool.enums.DrivingLicenseType).getLabel( drivingLicenseType )}}">
                </option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('drivingLicenseType')}" th:errors="*{drivingLicenseType}" > Error! </div>

        </div>

        <div class="col-md-4">

            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'policeVerificationFiles', 'label.driver.add.police_verification_reports' )}"></th:block>

        </div>

    </div>
</div>

<th:block th:replace="~{ components/document/doc-list :: docs( *{policeVerificationDocuments} ) }" ></th:block>

<div class="form-group">
    <div class="row">

        <div class="col-md-4">
            <label th:text="#{label.driver.add.licence_expiry_date}" for="licenceExpiryDate">Enrolment Date <span class="text-danger">*</span> </label>
            <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="licenceExpiryDate" th:field="*{licenceExpiryDate}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('licenceExpiryDate')}" th:errors="*{licenceExpiryDate}" > Error! </div>
            </div>
        </div>

        <div class="col-md-4" style="visibility: hidden">

            <label th:text="#{label.driver.add.total_experience_duration}" for="totalExperienceDuration"> <span class="text-danger">*</span> </label>
            <input class="form-control" th:errorclass="is-invalid" type="text" id="totalExperienceDuration" th:field="*{totalExperienceDuration}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('totalExperienceDuration')}" th:errors="*{totalExperienceDuration}" > Error! </div>

        </div>
    </div>
</div>

<!--<div id="driver_add_card_fitness_repeater">-->

<!--    <div data-repeater-list="driverFitnessInfoAddRequests">-->

<!--        <th:block th:if="*{ driverFitnessInfoAddRequests == null }">-->
<!--            <th:block th:replace="driver/driver-add-fitness-info-template" />-->
<!--        </th:block>-->

<!--        <th:block th:if="*{ driverFitnessInfoAddRequests != null and #lists.size( driverFitnessInfoAddRequests ) > 0 }">-->
<!--            <th:block th:replace="driver/driver-add-fitness-info" />-->
<!--        </th:block>-->

<!--    </div>-->

<!--    <div class="form-group row">-->

<!--        <div class="col-lg-4">-->
<!--            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">-->
<!--                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_fitness_info_card}]]</a>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->