<th:block th:with="formId = 'driverAdd'">

  <form
          th:id="${formId}"
          class="form"
          method="POST"
          enctype="multipart/form-data"
          th:action="@{/driver/add}"
          th:object="${driverAddRequest}"
  >
    <div id="kt_page_sticky_card" class="card card-custom card-sticky">

      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            [[ #{ ${ pageTitle } } ]]
          </h3>
        </div>
        <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
      </div>

      <div class="card-body">

        <ul class="nav nav-tabs nav-tabs-line mb-5">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
              <span class="nav-text" th:text="#{label.common.information}"></span>
            </a>
          </li>
        </ul>


        <div class="form-group">
          <div class="row">

            <div class="col-md-4">

              <label th:text="#{label.driver.add.driver_id}" for="driverId">Driver ID <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="number" min="1900" max="2100" id="driverId" th:field="*{driverId}" required />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('driverId')}" th:errors="*{driverId}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.name}" for="name">name <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.father_name}" for="fatherName">Father Name <span class="text-danger">*</span> </label>
              <input  class="form-control" th:errorclass="is-invalid" type="text" id="fatherName" th:field="*{fatherName}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}" > Error! </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-4">

              <label th:text="#{label.driver.add.mother_name}" for="motherName"> <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="motherName" th:field="*{motherName}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.permanent_address}" for="permanentAddress"> <span class="text-danger">*</span> </label>
              <input  class="form-control"  th:errorclass="is-invalid" type="text" id="permanentAddress" th:field="*{permanentAddress}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('permanentAddress')}" th:errors="*{permanentAddress}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.current_address}" for="currentAddress"> <span class="text-danger">*</span> </label>
              <input  class="form-control"  th:errorclass="is-invalid" type="text" id="currentAddress" th:field="*{currentAddress}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('currentAddress')}" th:errors="*{currentAddress}" > Error! </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-4">

              <label th:text="#{label.driver.add.marital_status}"> <span class="text-danger">*</span> </label>
              <div class="radio-inline">
                <label class="radio" th:each="status : ${T(com.dgt.paribahanpool.enums.MaritalStatus).values()}">
                  <input th:field="*{maritalStatus}" th:value="${status}" type="radio" required>
                  <span></span>
                  [[#{${T(com.dgt.paribahanpool.enums.MaritalStatus).getLabel( status )}}]]
                </label>
              </div>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('maritalStatus')}" th:errors="*{maritalStatus}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.gender}"> <span class="text-danger">*</span> </label>
              <div class="radio-inline">
                <label class="radio" th:each="types : ${T(com.dgt.paribahanpool.enums.GenderType).values()}">
                  <input th:field="*{genderType}" th:value="${types}" type="radio" required>
                  <span></span>
                  [[#{${T(com.dgt.paribahanpool.enums.GenderType).getLabel( types )}}]]
                </label>
              </div>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('genderType')}" th:errors="*{genderType}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.driver_type}"> <span class="text-danger">*</span> </label>
              <select th:field="*{driverType}"  class="form-control" id="driverType">
                <option th:each="type : ${T(com.dgt.paribahanpool.enums.DriverType).values()}"
                        th:value="${type}" th:text="#{${T(com.dgt.paribahanpool.enums.DriverType).getLabel( type )}}">
                </option>
              </select>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('driverType')}" th:errors="*{driverType}" > Error! </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-4">
              <label th:text="#{label.driver.add.birth_date}" for="dateOfBirth">Date of Birth<span class="text-danger">*</span> </label>
              <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="dateOfBirth" th:field="*{dateOfBirth}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" > Error! </div>
              </div>
            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.blood_group}" for="bloodGroup"> <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="bloodGroup" th:field="*{bloodGroup}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('bloodGroup')}" th:errors="*{bloodGroup}" > Error! </div>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.phone_number}" for="phoneNumber"> <span class="text-danger">*</span> </label>
              <input class="form-control"  th:errorclass="is-invalid" type="text" id="phoneNumber" th:field="*{phoneNumber}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" > Error! </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">

            <div class="col-md-4">

              <label th:text="#{label.driver.add.nid_number}" for="nidNumber"> <span class="text-danger">*</span> </label>
              <input  class="form-control"  th:errorclass="is-invalid" type="number" id="nidNumber" th:field="*{nidNumber}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('nidNumber')}" th:errors="*{nidNumber}" > Error! </div>

            </div>

            <div class="col-md-4">

              <th:block th:replace="~{components/file/file-chooser::file-chooser( 'driverFiles', 'label.driver.add.driver_images' )}"></th:block>

            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.education_qualification}" for="educationalQualification"> <span class="text-danger">*</span> </label>
              <input  class="form-control" th:errorclass="is-invalid"  type="text" id="educationalQualification" th:field="*{educationalQualification}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('educationalQualification')}" th:errors="*{educationalQualification}" > Error! </div>

            </div>
          </div>
        </div>

        <th:block th:replace="~{ components/document/doc-list :: docs( *{driverDocuments} ) }" ></th:block>

        <div class="form-group">
          <div class="row">

            <div class="col-md-4">
              <label th:text="#{label.driver.add.enrolment_date}" for="enrolmentDate">Enrolment Date <span class="text-danger">*</span> </label>
              <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="enrolmentDate" th:field="*{enrolmentDate}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('enrolmentDate')}" th:errors="*{enrolmentDate}" > Error! </div>
              </div>
            </div>

            <div class="col-md-4">
              <label th:text="#{label.driver.add.retirement_date}" for="retirementDate">Enrolment Date <span class="text-danger">*</span> </label>
              <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="retirementDate" th:field="*{retirementDate}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('retirementDate')}" th:errors="*{retirementDate}" > Error! </div>
              </div>
            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.passport_number}" for="passportNumber"> <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="passportNumber" th:field="*{passportNumber}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}" > Error! </div>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-md-4">

              <label th:text="#{label.driver.add.licence_number}" for="licenceNumber"> <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="licenceNumber" th:field="*{licenceNumber}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('licenceNumber')}" th:errors="*{licenceNumber}" > Error! </div>

            </div>

            <div class="col-md-4">

              <th:block th:replace="~{components/file/file-chooser::file-chooser( 'policeVerificationFiles', 'label.driver.add.police_verification_reports' )}"></th:block>

            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-md-4">
              <label th:text="#{label.driver.add.licence_expiry_date}" for="licenceExpiryDate">Enrolment Date <span class="text-danger">*</span> </label>
              <div class="input-group date">
                <input autocomplete="off" class="form-control datepicker datepicker-input" th:errorclass="is-invalid" type="text" id="licenceExpiryDate" th:field="*{licenceExpiryDate}" required />
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('licenceExpiryDate')}" th:errors="*{licenceExpiryDate}" > Error! </div>
              </div>
            </div>

            <div class="col-md-4">

              <label th:text="#{label.driver.add.total_experience_duration}" for="totalExperienceDuration"> <span class="text-danger">*</span> </label>
              <input class="form-control" th:errorclass="is-invalid" type="text" id="totalExperienceDuration" th:field="*{totalExperienceDuration}" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('totalExperienceDuration')}" th:errors="*{totalExperienceDuration}" > Error! </div>

            </div>
          </div>
        </div>

        <div id="driver_add_card_fitness_repeater">

          <div data-repeater-list="driverFitnessInfoAddRequests">

            <th:block th:if="*{ driverFitnessInfoAddRequests == null or #lists.size( driverFitnessInfoAddRequests ) == 0 }">
              <th:block th:replace="driver/driver-add-fitness-info-template" />
            </th:block>

            <!--                                                    <th:block th:if="*{ driverFitnessInfoAddRequests != null and #lists.size( driverFitnessInfoAddRequests ) > 0 }">-->
            <!--                                                        <th:block th:replace="driver/driver-add-fitness-info" />-->
            <!--                                                    </th:block>-->

          </div>

          <div class="form-group row">

            <div class="col-lg-4">
              <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_fitness_info_card}]]</a>
            </div>
          </div>

        </div>

        <div id="driver_add_card_transfer_repeater">

          <div data-repeater-list="driverTransferInfoAddRequests">

            <th:block th:if="*{ driverTransferInfoAddRequests == null or #lists.size( driverTransferInfoAddRequests ) == 0 }">
              <th:block th:replace="driver/driver-add-transfer-info-template" />
            </th:block>

            <!--                                                    <th:block th:if="*{ driverTransferInfoAddRequests != null and #lists.size( driverFitnessInfoAddRequests ) > 0 }">-->
            <!--                                                        <th:block th:replace="driver/driver-add-transfer-info" />-->
            <!--                                                    </th:block>-->

          </div>

          <div class="form-group row">

            <div class="col-lg-4">
              <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_transfer_info_card}]]</a>
            </div>
          </div>


        </div>

        <div id="driver_add_card_complaint_repeater">

          <div data-repeater-list="driverComplaintInfoAddRequests">

            <th:block th:if="*{ driverComplaintInfoAddRequests == null or #lists.size( driverComplaintInfoAddRequests ) == 0 }">
              <th:block th:replace="driver/driver-add-complaint-info-template" />
            </th:block>

            <!--                                                    <th:block th:if="*{ driverComplaintInfoAddRequests != null and #lists.size( driverFitnessInfoAddRequests ) > 0 }">-->
            <!--                                                        <th:block th:replace="driver/driver-add-transfer-info" />-->
            <!--                                                    </th:block>-->

          </div>

          <div class="form-group row">

            <div class="col-lg-4">
              <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_complaint_info_card}]]</a>
            </div>
          </div>


        </div>

      </div>

    </div>

  </form>
  <!--end::Form-->
</th:block>
