<div id="driver_add_card_transfer_repeater">

    <div data-repeater-list="driverTransferInfoAddRequests">

        <th:block th:if="*{ driverTransferInfoAddRequests == null }">
            <th:block th:replace="driver/driver-add-transfer-info-template" />
        </th:block>

        <th:block th:if="*{ driverTransferInfoAddRequests != null and #lists.size( driverTransferInfoAddRequests ) > 0 }">
            <th:block th:replace="driver/driver-add-transfer-info" />
        </th:block>

    </div>

    <div class="form-group row">

        <div class="col-lg-4">
            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.driver.add.add_transfer_info_card}]]</a>
        </div>
    </div>


</div>