<div class="mt-4 pb-2">

    <div class="form-group row">
        <label class="col-md-2 signature-image-container">স্বাক্ষর</label>
        <div class="col-md-10">
            <img
                    class="signature-image rounded p-2 pb-5"
                    src=""
                    alt="User Signature Image"
            />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.driver.ministry.id}">Incident Place </label>
        <div class="col-md-10">
            <input readonly type="text" class="form-control" th:value="${driverRequisitionViewResponse.ministry}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.driver.count}">Incident Place </label>
        <div class="col-md-10">
            <input readonly type="text" class="form-control" th:value="${driverRequisitionViewResponse.count}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.driver.from.date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" th:value="${ #temporals.format( driverRequisitionViewResponse.fromDate, 'dd/MM/yyyy' ) }" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label" th:text="#{label.driver.to.date}">Incident Place </label>
        <div class="col-md-10">
            <input type="text" class="form-control" th:value="${ #temporals.format( driverRequisitionViewResponse.toDate, 'dd/MM/yyyy' ) }" readonly/>
        </div>
    </div>

</div>