<div class="modal fade" id="meetingMinuteModal" tabindex="-1" role="dialog" aria-labelledby="meetingMinuteModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">

    <form th:action="@{/meeting/meeting-minutes/update}" th:method="POST" enctype="multipart/form-data" >

      <input type="hidden" name="id" id="id"/>

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title">[[#{label.meeting.add.meeting-minutes}]]</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>

        </div>

        <div class="modal-body">
          <div class="row">

            <br/>

            <div class="col-md-12">
              <label for="meetingMinutesFiles" class="custom-file-upload rounded shadow-sm">
                [[#{label.meeting.file.attachments}]]&nbsp;
                <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
              </label>
              <input type="file" name="meetingMinutesFiles" id="meetingMinutesFiles" class="pool-file-chooser" multiple style="display:none;"/>
              <div class="data-files"></div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{label.common.close}]]</button>
          <button type="submit" class="btn btn-primary">[[#{label.common.submit_button}]]</button>
        </div>

      </div>

    </form>
  </div>
</div>