<script>

    $( document ).ready( function() {

        const stateName = "[[${stateType}]]";
        const url = '/api/budget/search/' + stateName;

        let budgetSearchTable = $( '#budgetSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + url,
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'budgetOffice',
                        render: function ( data, type, row ) {

                            if( lang == 'bn' )
                                return data.nameBn;
                            if( lang == 'en' )
                                return data.nameEn;

                        },
                    },
                    {
                        data: 'from',
                        orderable: false
                    },
                    {
                        data: 'to',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            let editUrl = '';
                            let excelDownButton = '';

                            if( stateName == "INITIAL_BUDGET" ){

                                editUrl = '<a href="' + context + '/budget/edit/' + data + '?state=INITIAL_BUDGET&active=BUDGET_REVISED_AMOUNT" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>';
                            }

                            if( stateName == "REVISED_BUDGET" ){

                                editUrl = '<a href="' + context + '/budget/edit/' + data + '?state=REVISED_BUDGET&active=BUDGET_FINAL_AMOUNT" class="btn btn-sm btn-clean btn-icon" title="Edit">\t\t\t\t\t\t\t\t<i class="la la-edit icon-xl text-primary"></i>\t\t\t\t\t\t\t</a>';
                            }

                            if( stateName == "FINAL_BUDGET" ){

                                excelDownButton = '<a href="' + '/budget/excel/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + downloadTitle + '">\t\t\t\t\t\t\t\t<i class="la la-download icon-xl text-secondary"></i>\t\t\t\t\t\t\t</a>'
                            }

                            return '<div style="white-space:nowrap;">' +
                                editUrl +
                                excelDownButton +
                                '<a href="' + context + '/budget/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-budget" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +

                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-budget", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/budget/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            budgetSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });


    });

</script>