<th:block th:with="formId = 'replaceApplicationAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/replace-application/add}"
            th:object="${vehicleReplaceApplicationAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.name}" for="name"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required readonly>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.identity_number}" for="identityNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" min="0" id="identityNumber" th:field="*{identityNumber}" required readonly>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('identityNumber')}" th:errors="*{identityNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.designation}" for="designation">Designation</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="designation" th:field="*{designation}" readonly>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.working_place}" for="workingPlace"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="workingPlace" th:field="*{workingPlace}" readonly>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('workingPlace')}" th:errors="*{workingPlace}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.mobile}" for="mobileNumber">Mobile</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="mobileNumber" th:field="*{mobileNumber}" readonly>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" > Error! </div>

                        </div>


                        <div class="col-md-4">

                            <label th:text="#{label.common.date}" for="applicationDate">Date <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control" th:errorclass="is-invalid" type="text" id="applicationDate" th:field="*{applicationDate}" required readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('applicationDate')}" th:errors="*{applicationDate}" > Error! </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label th:text="#{label.common.owner.type}"></label>
                            <select th:field="*{ownerType}" class="form-control"
                                    id="ownerType">
                                <option selected disabled value="">কর্মকর্তা ধরন</option>
                                <option th:each="status : ${T(com.dgt.paribahanpool.enums.EmployeeType).values()}"
                                        th:value="${status}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.EmployeeType).getLabel( status )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('ownerType')}" th:errors="*{ownerType}" > Error! </div>

                        </div>

                    </div>
                </div>

                <span id="geoLocationSpan" style="display:none">

                    <th:block th:replace="geolocation/component/geolocation-dropdown-view" ></th:block>

                </span>

                <div class="form-group">
                    <div class="row">

<!--                        <div class="col-md-4">-->
<!--                            <label th:text="#{label.vehicle.add.vehicle_type}"> <span class="text-danger">*</span> </label>-->
<!--                            <select th:field="*{vehicleType}" class="form-control" id="vehicleType" readonly>-->
<!--                                <option th:each="vehicle : ${T(com.dgt.paribahanpool.enums.VehicleType).values()}"-->
<!--                                        th:value="${vehicle}" th:text="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( vehicle )}}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}" > Error! </div>-->
<!--                        </div>-->

                        <div class="col-md-4" id="divVehicleList">

                            <label> [[#{label.vehicle.add.registration_no}]] </label>
                            <select id="vehicleList" class="form-control" th:field="*{vehicleId}" required>
                                <option value="">[[#{label.common.choose}]]</option>
                            </select>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.vehicle.replace.application.replacement_reason}" for="replacementReason"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="replacementReason" th:field="*{replacementReason}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('replacementReason')}" th:errors="*{replacementReason}" > Error! </div>

                        </div>

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.vehicle.replace.application.vehicle_id}" for="vehicleId"> <span class="text-danger">*</span> </label>-->
<!--                            <input class="form-control" th:errorclass="is-invalid" type="text" id="vehicleId" th:field="*{vehicleId}">-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleId')}" th:errors="*{vehicleId}" > Error! </div>-->

<!--                        </div>-->

<!--                        <div class="col-md-4">-->

<!--                            <label th:text="#{label.vehicle.add.registration_no}" for="registrationNo"> <span class="text-danger">*</span> </label>-->
<!--                            <input class="form-control" th:errorclass="is-invalid" type="text" id="registrationNo" th:field="*{registrationNo}">-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationNo')}" th:errors="*{registrationNo}" > Error! </div>-->

<!--                        </div>-->


                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

<!--                        <div class="col-md-4">-->
<!--                            <label th:text="#{label.common.status}"> <span class="text-danger">*</span> </label>-->
<!--                            <select th:field="*{status}" class="form-control" id="status" >-->
<!--                                <option th:each="statusName : ${T(com.dgt.paribahanpool.enums.Status).values()}"-->
<!--                                        th:value="${statusName}" th:text="#{${T(com.dgt.paribahanpool.enums.Status).getLabel( statusName )}}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                            <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}" th:errors="*{status}" > Error! </div>-->
<!--                        </div>-->
                    </div>
                </div>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
