<th:block th:replace="letter-print/head"></th:block>

<th:block th:replace="letter-print/letter-top"></th:block>


<th:block th:replace="letter-print/sharok-date :: view( viewResponse=( ${vehicleReplaceApplicationViewResponse}  ) )"></th:block>


<th:block th:replace="replace-application/component/replace-application-letter-body :: view( viewResponse=( ${vehicleReplaceApplicationViewResponse}  ) )"></th:block>

<th:block th:replace="replace-application/component/remarks  :: view( viewResponse=( ${vehicleReplaceApplicationViewResponse}  ) )"></th:block>

<th:block th:replace="letter-print/footer"></th:block>