
<div class="card card-custom gutter-b example example-compact">

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        [[ #{ ${ pageTitle } } ]]
      </h3>
    </div>
    <div class="card-toolbar">
      <a  th:href="@{/replace-application/add}" >
        <button class="btn btn-success" th:text="#{title.replace.application.add}"></button>
      </a>
    </div>
  </div>

  <div class="card-body">

    <table id="replaceMyApplicationSearch" class="table table-bordered table-hover table-striped dataTable no-footer dtr-inline">

      <thead>
      <tr>
        <th th:text="#{label.common.id}">ID</th>
        <th th:text="#{label.common.name}"> Name </th>
        <th th:text="#{label.common.designation}"> Designation </th>
        <th th:text="#{label.common.working_place}"> Designation </th>
        <th th:text="#{label.common.owner.type}"> Designation </th>
        <th th:text="#{label.common.mobile}"> Designation </th>
        <th th:text="#{label.vehicle.add.registration_no}"> Designation </th>
        <th th:text="#{label.common.status}"> Status </th>
        <th th:text="#{label.common.actions}"> Actions </th>
      </tr>
      </thead>

      <tbody>

      </tbody>

    </table>

  </div>

</div>
