<th:block th:with="formId = 'vehicleReplaceAdd'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/replace-application/replace}"
            th:object="${vehicleReplaceAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <input class="form-control" id="vehicleId" th:field="*{vehicleId}" type="hidden" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label th:text="#{label.driver.assign.add.registration_no}" for="registrationNo"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="registrationNo" th:field="*{registrationNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationNo')}" th:errors="*{registrationNo}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.driver.assign.add.chassis_no}" for="chassisNo">Toirir sal <span
                                    class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text"
                                   id="chassisNo" th:field="*{chassisNo}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('chassisNo')}"
                                 th:errors="*{chassisNo}"> Error!
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.name}" for="name">name <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.identity_number}" for="identityNumber"> <span class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text" id="identityNumber" th:field="*{identityNumber}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('identityNumber')}" th:errors="*{identityNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.designation}" for="designation"> <span class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text" id="designation" th:field="*{designation}" required />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" > Error! </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


    </form>

</th:block>