
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <input type="hidden" name="userId" id="userId" th:value="${userId}" />

    <div class="card-body">

        <table id="auditLogSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>
                    <th th:text="#{label.common.id}">ID</th>
                    <th th:text="#{label.audit-log.log-event}"> Log event </th>
                    <th th:text="#{label.audit-log.action-by}"> Log event </th>
                    <th th:text="#{label.audit-log.ip-address}"> Log event </th>
                    <th th:text="#{label.audit-log.time}"> Log event </th>
                    <th th:text="#{label.audit-log.relatedEntityId}"> Log event </th>
                    <th th:text="#{label.audit-log.description}"> Log event </th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
