<th:block th:with="formId = 'vehicleAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/vehicle/add}"
            th:object="${vehicleAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}"/>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label for="modelYear"> [[#{label.vehicle.add.making_year}]] <span
                                    class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" min="1900" max="2100"
                                   id="modelYear" th:field="*{modelYear}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('modelYear')}"
                                 th:errors="*{modelYear}"> Error!
                            </div>

                        </div>

                        <th:block th:replace="brand-model/brand-model-dropdown" ></th:block>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with="regNoField=*{registrationNo}, field=${'registrationNo'}, label=${'label.vehicle.add.registration_no'}"
                                    th:include="inputs/vehicle-reg-no"
                            >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <label for="chassisNo"> [[#{label.vehicle.add.chassis_no}]] <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="chassisNo"
                                   th:field="*{chassisNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('chassisNo')}"
                                 th:errors="*{chassisNo}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label for="engineNo"> [[#{label.vehicle.add.engine_no}]] <span
                                    class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="engineNo"
                                   th:field="*{engineNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineNo')}"
                                 th:errors="*{engineNo}"> Error!
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label> [[#{label.vehicle.add.registration_type}]] <span class="text-danger">*</span>
                            </label>
                            <select th:field="*{registrationType}" class="form-control" id="registrationType">
                                <option th:each="registration : ${T(com.dgt.paribahanpool.enums.RegistrationType).values()}"
                                        th:value="${registration}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.RegistrationType).getLabel( registration )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationType')}"
                                 th:errors="*{registrationType}"> Error!
                            </div>
                        </div>

                        <div class="col-md-4">

                            <label for="regDate">[[#{label.vehicle.add.registration_date}]] <span
                                    class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid"
                                       type="text" id="regDate" th:field="*{regDate}">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('regDate')}"
                                     th:errors="*{regDate}"> Error!
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <label for="taxTokenDate">[[#{label.vehicle.add.tax_token_date}]] <span
                                    class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker datepicker-input"
                                       th:errorclass="is-invalid" type="text" id="taxTokenDate"
                                       th:field="*{taxTokenDate}">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('taxTokenDate')}"
                                     th:errors="*{taxTokenDate}"> Error!
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block
                                    th:with=" label=${'label.vehicle.add.tax_token_date_end'}, type=${'date'}, field=${'taxTokenDateEnd'}, required=${true}"
                                    th:include="inputs/date-input"
                            >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with=" label=${'label.vehicle.add.fitness_date_start'}, type=${'date'}, field=${'fitnessDate'}, required=${true}"
                                    th:include="inputs/date-input"
                            >
                            </th:block>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with=" label=${'label.vehicle.add.fitness_date_end'}, type=${'date'}, field=${'fitnessDateEnd'}, required=${true}"
                                    th:include="inputs/date-input"
                            >
                            </th:block>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="engineCC">[[#{label.vehicle.add.engine_cc}]] <span
                                    class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="engineCC"
                                   th:field="*{engineCC}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineCC')}"
                                 th:errors="*{engineCC}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label for="seatCapacity"> [[#{label.vehicle.add.seat_capacity}]] <span
                                    class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" min="0" id="seatCapacity"
                                   th:field="*{seatCapacity}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seatCapacity')}"
                                 th:errors="*{seatCapacity}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label for="color">[[#{label.vehicle.add.color}]] <span
                                    class="text-danger">*</span> </label>
                            <select th:field="*{color}" class="form-control" id="color">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:if="${lang}=='en'" th:each="color : ${allColorsList}"
                                        th:value="${color.id}"
                                        th:text="${color.colorNameEn}">
                                </option>
                                <option th:if="${lang}=='bn'" th:each="color : ${allColorsList}"
                                        th:value="${color.id}"
                                        th:text="${color.colorNameBn}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">
                                Error!
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <label for="salesOrganizationName"> [[#{label.vehicle.add.sales_organization}]] <span
                                    class="text-danger">*</span> </label>
                            <select th:field="*{salesOrganizationName}" class="form-control" id="salesOrganizationName">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:each="vendor : ${vendorNameList}"
                                        th:value="${vendor}"
                                        th:text="${vendor}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('salesOrganizationName')}"
                                 th:errors="*{salesOrganizationName}"> Error!
                            </div>
                        </div>

                        <div class="col-md-4">

                            <label> [[#{label.vehicle.add.vehicle_type}]] <span class="text-danger">*</span>
                            </label>
                            <select th:field="*{vehicleType}" class="form-control" id="vehicleType">
                                <option th:each="vehicle : ${T(com.dgt.paribahanpool.enums.VehicleType).values()}"
                                        th:value="${vehicle}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( vehicle )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleType')}"
                                 th:errors="*{vehicleType}"> Error!
                            </div>

                        </div>

                        <div class="col-md-4">

                            <th:block
                                    th:with="label=${'label.vehicle.add.fuel_type'}, field=${'fuelType'}, enum=${'com.dgt.paribahanpool.enums.FuelType'}, class=${'select2 enable-select2'}, required=${true}, multiple=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>

                            <!--<label> [[#{label.vehicle.add.fuel_type}]] <span class="text-danger">*</span> </label>
                            <select class="form-control select2 enable-select2" id="fuelTYpe" th:field="*{fuelType}" th:multiple="multiple">
                                <option th:each="fuel : ${T(com.dgt.paribahanpool.enums.FuelType).values()}"
                                        th:value="${{fuel}}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.FuelType).getLabel( fuel )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fuelType')}"
                                 th:errors="*{fuelType}"> Error!
                            </div>-->

                        </div>

                    </div>
                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.vehicle.add.images' )}"></th:block>

                        </div>

                    </div>

                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }"></th:block>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
