<div class="card">
    <!--begin::Card body-->
    <div class="card-body p-0">
        <!--begin::Heading-->
        <div class="card-px text-center py-20 my-10">
            <!--begin::Title-->
            <h2 class="fs-2x fw-bolder mb-10">Create API Key Modal Example</h2>
            <!--end::Title-->
            <!--begin::Description-->
            <p class="text-gray-400 fs-5 fw-bold mb-13">Click on the below buttons to launch
                <br>a new API Key creation example.</p>
            <!--end::Description-->
            <!--begin::Action-->
            <a href="#" class="btn btn-primary er fs-6 px-8 py-4" data-bs-toggle="modal"
               data-bs-target="#kt_modal_create_api_key">Create API Key</a>
            <!--end::Action-->
        </div>
        <!--end::Heading-->
        <!--begin::Illustration-->
        <div class="text-center px-5">
            <img th:src="@{ /metronic/media/illustrations/coding.png}" alt="" class="mw-100 mh-300px">
        </div>
        <!--end::Illustration-->
    </div>
    <!--end::Card body-->
</div>