<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="vehicle/component/vehicle-requisition-application :: view( viewResponse=( *{requisitionViewResponse} ) )"></th:block>

        <hr/>

        <form
                th:action="@{/vehicle/take-action}"
                method="POST"
                enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${requisitionViewResponse.id}" name="id" />

            <th:block th:replace="workflow/available-actions"></th:block>

            <div class="row mt-2 mx-1" style="display:none" id="chooseToDelete">

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                <h4>[[#{label.requisition.detach-assigned-vehicle}]]</h4>

<!--                <div class="col-md-2">-->
<!--                    [[#{label.requisition.detach-assigned-vehicle}]]-->
<!--                </div>-->

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>[[#{label.vehicle.add.id}]]</th>
                        <th>[[#{label.vehicle.add.registration_no}]]</th>
                        <th>[[#{label.vehicle.req.choose_to_remove_vehicle}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicle:${requisitionViewResponse.vehicles}">
                        <td>[[${vehicle.id}]]</td>
                        <td>[[${vehicle.registrationNumber}]]</td>
                        <td> <input type="checkbox" class="vehicle-detach-checkbox" th:value="${vehicle.id}" name="vehiclesToDettach" /> </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="row mt-2 mx-1" style="display:none" id="chooseVehicleDiv">

                <div class="col-md-2">
                    [[#{label.requisition.choose.vehicle}]]
                </div>

                <div class="col-md-4">

                    <select name="vehicleId" id="vehicleId" class="form-control select2 enable-select2" multiple="multiple" style="width: 100%" >
                        <option th:each="vehicle:${vehicleResponseForSelections}" th:value="${vehicle.id}">[[${vehicle.text}]]</option>
                    </select>

                    <!--<fieldset>
                        <input type="checkbox" name="vehicleId" value="10005">10005<br>
                        <input type="checkbox" name="vehicleId" value="10006">10006<br>
                        <input type="checkbox" name="vehicleId" value="10007">10007<br>
                    </fieldset>-->

                </div>

            </div>

            <div class="mx-5 my-4" id="reject-reason-report-upload" style="display:none">

                <br/>

                <h3 class="">
                    [[#{label.vehicle.req.file.reject-reason-file-attachments}]]
                </h3>

                <label for="rejectReasonsReportFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.vehicle.req.file.reject-reason-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="rejectReasonsReportFiles" id="rejectReasonsReportFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

        </form>

    </div>

</div>

