
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <table id="requisitionSearch" class="table table-bordered table-hover table-striped dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.common.name}"> Name </th>
                <th th:text="#{label.common.designation}"> Designation </th>
                <th th:text="#{label.vehicle.req.working_place}"> Working place</th>
                <th th:text="#{label.common.owner.type}"> Email</th>
                <th th:text="#{label.common.mobile}"> Mobile</th>
                <th th:text="#{label.common.status}"> Status </th>
                <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
