<th:block th:with="formId = 'vehicleRequistion'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/vehicle/requisition}"
            th:object="${vehicleRequisitionRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.name}" for="name"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.identity_number}" for="identityNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="identityNumber" th:field="*{identityNumber}" required readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('identityNumber')}" th:errors="*{identityNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.designation}" for="designation">Designation</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="designation" th:field="*{designation}" readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.working_place}" for="workingPlace"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="workingPlace" th:field="*{workingPlace}" readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('workingPlace')}" th:errors="*{workingPlace}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.email}" for="eMail"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="eMail" th:field="*{eMail}" readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.mobile}" for="mobileNumber">Mobile</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="mobileNumber" th:field="*{mobileNumber}" readonly />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" > Error! </div>

                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

<!--                            <th:block
                                    th:with="label=${'label.common.owner.type'}, field=${'ownerType'}, enum=${'com.dgt.paribahanpool.enums.OwnerType'}, required=${true}"
                                    th:include="inputs/select-enum-input">
                            </th:block>-->
                            <label th:text="#{label.common.owner.type}"></label>
                            <select th:field="*{ownerType}" class="form-control"
                                    id="ownerType">
                                <option selected disabled value="">কর্মকর্তা ধরন</option>
                                <option th:each="status : ${T(com.dgt.paribahanpool.enums.EmployeeType).values()}"
                                        th:value="${status}"
                                        th:text="#{${T(com.dgt.paribahanpool.enums.EmployeeType).getLabel( status )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('ownerType')}" th:errors="*{ownerType}" > Error! </div>

                        </div>
<!--                        <div class="col-md-4">-->

<!--                            <th:block-->
<!--                                    th:with="label=${'label.common.comments'}, field=${'comments'},type=${'text'}"-->
<!--                                    th:include="inputs/text-input" >-->
<!--                            </th:block>-->

<!--                        </div>-->

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.common.required_document_attachment' )}"></th:block>

                        </div>


                    </div>

                </div>

                <span id="geoLocationSpan" style="display:none">

                    <th:block th:replace="geolocation/component/geolocation-dropdown-view" ></th:block>

                </span>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.vehicle.req.vehicle_count}" for="vehicleCount">Toirir sal </label>
                            <input readonly class="form-control" type="text"
                                   id="vehicleCount"/>

                        </div>
                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }"></th:block>

                <div id="vehicle_type_counter_card_repeater">

                    <div data-repeater-list="vehicleTypeCounterAddRequests">

                        <th:block th:if="*{ vehicleTypeCounterAddRequests == null or #lists.size( vehicleTypeCounterAddRequests ) == 0 }">
                            <th:block th:replace="vehicle/component/vehicle-type-with-counter-template" />
                        </th:block>

                        <th:block th:if="*{ vehicleTypeCounterAddRequests != null and #lists.size( vehicleTypeCounterAddRequests ) > 0 }">
                            <th:block th:replace="vehicle/component/vehicle-type-with-counter" />
                        </th:block>

                    </div>

                    <div class="form-group row">

                        <div class="col-lg-4">
                            <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                                <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.requisition.add.vehicle_counter}]]</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
