
        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div class="card-toolbar">
                    <a  th:href="@{/vehicle/add}" >
                        <button class="btn btn-success" th:text="#{menu.vehicle-management.motor-vehicle.management.add}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="vehicleSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th th:text="#{label.common.id}">ID</th>
                            <th th:text="#{label.vehicle.add.making_year}"> Model Year </th>
                            <th th:text="#{label.vehicle.add.brand_name}"> Brand </th>
                            <th th:text="#{label.vehicle.add.registration_no}"> Registration Number</th>
                            <th th:text="#{label.vehicle.add.chassis_no}"> Cassis no</th>
                            <th th:text="#{label.vehicle.add.engine_no}"> Engine no</th>
                            <th th:text="#{label.vehicle.add.engine_cc}"> Engine CC</th>
                            <th th:text="#{label.common.user}"> User</th>
                            <th th:text="#{label.incident.add.driver_name}"> Driver name</th>
                            <th th:text="#{label.vehicle.search.driver.mobile}"></th>
                            <th th:text="#{label.vehicle.add.images}"> Files </th>
                            <th th:text="#{label.common.actions}"> Actions </th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>

        </div>
