<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <table id="vehicleAuction" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>
                    <th th:text="#{label.common.id}">ID</th>
                    <th th:text="#{label.vehicle.add.registration_no}"> Registration Number</th>
                    <th th:text="#{label.vehicle.add.chassis_no}"> Cassis no</th>
                    <th th:text="#{label.vehicle.add.brand_name}"> Brand </th>
                    <th th:text="#{label.vehicle.add.making_year}"> Model Year </th>
                    <th th:text="#{label.vehicle.add.vendor}"> Vendor </th>
                    <th th:text="#{label.vehicle.add.buy_date}"> Model Year </th>
                    <th th:text="#{label.vehicle.auction.status}"> Status </th>
                    <th th:text="#{label.vehicle.auction.price}"> Price </th>
                    <th th:text="#{label.vehicle.auction.buyer}"> Buyer </th>
                    <th th:text="#{label.vehicle.auction.committee-decision}"> Committee Decision </th>
                    <th th:text="#{label.common.actions}"> Actions </th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

        <th:block th:replace="vehicle/component/vehicle-auction-committee-decision-modal"></th:block>
        <th:block th:replace="vehicle/component/vehicle-auction-buyer-info-modal"></th:block>

    </div>

</div>