<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <div class="mt-4 pb-2">

            <th:block th:replace = "vehicle/component/disposition-information-view :: view( viewResponse = ( *{vehicleAuctionViewResponse} ) ) "></th:block>

        </div>

    </div>

</div>