<th:block th:with="formId = 'projectVehicleAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="${projectVehicleAddRequest.id == null} ? @{/project-vehicle/add} : @{/project-vehicle/edit/{id}(id=${projectVehicleAddRequest.id})}"
            th:object="${projectVehicleAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />
                <input class="form-control" name="vehicleId" id="vehicleId" type="hidden" th:value="*{vehicleId}" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label for="projectOrganizationName"> [[#{label.project.vehicle.add.project_organization_name}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="projectOrganizationName" th:field="*{projectOrganizationName}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('projectOrganizationName')}" th:errors="*{projectOrganizationName}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="receivedDate">[[#{label.project.vehicle.add.received_date}]] <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="receivedDate" th:field="*{receivedDate}" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('receivedDate')}" th:errors="*{receivedDate}" > Error! </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="registrationNo"> [[#{label.vehicle.add.registration_no}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="registrationNo" th:field="*{registrationNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationNo')}" th:errors="*{registrationNo}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="chassisNo"> [[#{label.vehicle.add.chassis_no}]] <span class="text-danger">*</span> </label>
                            <input class="form-control"  th:errorclass="is-invalid" type="text" id="chassisNo" th:field="*{chassisNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('chassisNo')}" th:errors="*{chassisNo}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="engineNo"> [[#{label.vehicle.add.engine_no}]] <span class="text-danger">*</span> </label>
                            <input  class="form-control"  th:errorclass="is-invalid" type="text" id="engineNo" th:field="*{engineNo}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineNo')}" th:errors="*{engineNo}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                            <th:block th:replace="brand-model/brand-model-dropdown" ></th:block>

                        <div class="col-md-4">

                            <label for="modelYear"> [[#{label.vehicle.add.making_year}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="number" min="1900" max="2100" id="modelYear" th:field="*{modelYear}" required/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('modelYear')}" th:errors="*{modelYear}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="engineCC"> [[#{label.vehicle.add.engine_cc}]] <span class="text-danger">*</span> </label>
                            <input  class="form-control" th:errorclass="is-invalid" type="text" id="engineCC" th:field="*{engineCC}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('engineCC')}" th:errors="*{engineCC}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label> [[#{label.vehicle.add.vehicle_type}]] <span class="text-danger">*</span> </label>
                            <select th:field="*{vehicleType}" class="form-control" id="vehicleType">
                                <option th:each="vehicle : ${T(com.dgt.paribahanpool.enums.VehicleType).values()}"
                                        th:value="${vehicle}" th:text="#{${T(com.dgt.paribahanpool.enums.VehicleType).getLabel( vehicle )}}">
                                </option>
                            </select>

                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label for="comments"> [[#{label.common.comments}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid"  type="text" id="comments" th:field="*{comments}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="receivedDocumentsName"> [[#{label.project.vehicle.add.received_documents_name}]] <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid"  type="text" id="receivedDocumentsName" th:field="*{receivedDocumentsName}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('receivedDocumentsName')}" th:errors="*{receivedDocumentsName}" > Error! </div>

                        </div>

                    </div>
                </div>

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.project.vehicle.add.attached_documents' )}"></th:block>

                        </div>

                    </div>

                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
