<div class="row">
    <div class="col-md-12">

        <div class="card card-custom gutter-b example example-compact">

            <div class="card-header">
                <h3 class="card-title">[[ #{ ${ pageTitle } } ]]</h3>
                <div class="card-toolbar">
                    <a  th:href="@{/project-vehicle/add}" >
                        <button class="btn btn-success" th:text="#{menu.vehicle-management.motor-vehicle.management.enlistment.project-vehicles}"></button>
                    </a>
                </div>
            </div>

            <div class="card-body">

                <table id="projectVehicleSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

                    <thead>
                        <tr>
                            <th th:text="#{label.project.vehicle.add.id}"> Driver Id </th>
                            <th th:text="#{label.project.vehicle.add.project_organization_name}"> Driver Id </th>
                            <th th:text="#{label.project.vehicle.add.received_date}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.vehicle_type}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.engine_no}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.chassis_no}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.registration_no}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.making_year}"> Driver Id </th>
                            <th th:text="#{label.vehicle.add.brand_name}"> Driver Id </th>
                            <th th:text="#{label.common.actions}"> Actions </th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>