<script>

    $( document ).ready( function() {

        let trainingSearchTable = $( '#trainingSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/training/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data : 'id'
                    },
                    {
                        data : 'trainingName',
                        orderable: false
                    },
                    {
                        data : 'location',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data : 'topic',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data : 'monthSpan',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data : 'batchCount',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data : 'totalExpenseCost',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data : 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/training/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewTitle + '">\t\t\t\t\t\t\t\t<i class="la la-eye icon-xl text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/training-expense/search/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewExpenseTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-money-bill-wave text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/training/report/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewReportTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-book text-inof"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="' + context + '/training-expense/print/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewReportTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-print text-inof"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-training" data-id="' + data + '" title="' + deleteTitle + '">\t\t\t\t\t\t\t\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: -1
                    }

                ]


            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-training", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/training/" + id,
                        param,
                        "DELETE",
                        ( data ) => {

                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            trainingSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });

    });


</script>