<th:block th:with="formId = 'driverDistrict'">

    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/report/driver}"
    >

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div>
                    <button style="margin-top: 1.95rem" class="btn btn-success mt-7" type="button" id="getReport">[[#{label.training.attendance.search}]]</button>
<!--                    <button class="btn btn-success mr-2" type="submit">-->
<!--                        <i class="icon-xl fab fa-telegram-plane icon-1x"></i>-->
<!--                        [[#{label.common.submit_button}]]-->
<!--                    </button>-->
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">

                            <label> [[#{label.report.district}]] </label>

                            <select id="districtId" class="form-control" name="districtId">
                                <option value="">[[#{label.common.choose}]]</option>
                                <option
                                        th:each="item: ${districtList}"
                                        th:value="${item.id}"
                                        th:text="${ item.nameBn }">
                                </option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </form>

</th:block>
