<html>
<div  style="margin:0 5%; padding: 5px; color:black;text-align:justify">
    <head>
        <div align = "center" style = "margin-bottom: 2rem;">
            <table>
                <tbody>
                <tr  align = "center">

                    <td style="width:100%;">
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</span></b</h1>

                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_html">জনপ্রশাসন মন্ত্রণালয়</span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="ministry_section_html">সরকারি যানবাহন মেরামত কারখানা </span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id="address_section_html">১৬, আব্দুল গণি রোড, ঢাকা </span></b></h1>
                        <h1 style="font-size:20px;text-align: center; margin:0px;color:black"><b><span id = "ministry_link"><a href ="www.dgt.gov.bd">www.dgt.gov.bd </a></b></span></h1>

                    </td>
                    <td align="center" style="width:20%;">

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </head>

    <body>
    <div style="margin-top:10px;">
        <table style="width:100%">
            <tbody>
            <tr>
                <td>

                    <div align="left">
                        <table>
                            <tbody>
                            <tr>
                                <td rowspan="2">
                                    <label class="control-label label-center">
                                        <b> [[#{ label.report.district } ]] :- </b>
                                    </label>
                                </td>
                                <td id="bangla_district_name"> [[ ${districtName} ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div align="right">
                        <table>
                            <tbody>
                            <tr>
                                <td rowspan="2">
                                    <label class="control-label label-center">
                                        <b> [[#{ label.common.date } ]] :- </b>
                                    </label>
                                </td>
                                <td id="bangla_date_html"> [[ ${date} ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <table id="expenseTable" style="width:100%;border: 1px solid black;border-collapse: collapse;">

        <thead style="border: 1px solid black;border-collapse: collapse;" >
        <tr align="center" style="border: 1px solid black;border-collapse: collapse;">
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.driver_id}">ID</th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.name}"> Mechanic ID </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.father_name}"> Name </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.mother_name}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.phone_number}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.permanent_address}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.driver_type}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.enrolment_date}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.birth_date}"> Is Present </th>
            <th style="border: 1px solid black;border-collapse: collapse;" th:text="#{label.driver.add.nid_number}"> Is Present </th>
        </tr>
        </thead>

        <tbody>

        <tr style="border: 1px solid black;border-collapse: collapse;" th:each="driver: ${driverSearchResponses}">
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.id}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.name}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.fatherName}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.motherName}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.phoneNumber}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.permanentAddress}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.driverType}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.enrolmentDate}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.dateOfBirth}"></td>
            <td style="border: 1px solid black;border-collapse: collapse;" align="center" th:text="${driver.nidNumber}"></td>
        </tr>

        </tbody>

    </table>
    </body>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>

    // $( document ).ready( function() {
    //     window.print();
    // });

</script>

<style>
    #committeeInfoTableTemplate th{
        border-bottom: 1px solid; border-right: 1px solid; text-align: center;
    }
    #committeeInfoTableTemplate td{
        vertical-align: baseline; width: 10%; border-right: 1px solid; text-align: center; border-bottom: 1px solid;
    }

</style>

</html>