<div class="row">
    <div class="col-md-12">

        <form
                class="form"
                method="POST"
                th:action="@{/report/requisition}"
                enctype="multipart/form-data"
        >

            <div id="kt_page_sticky_card" class="card card-custom card-sticky">

                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            [[ #{ ${ pageTitle } } ]]
                        </h3>
                    </div>
                    <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-4">

                                <label> [[#{label.common.owner.type}]] </label>

                                <select id="ownerType" class="form-control" name="ownerTypeValue">
                                    <option value="">[[#{label.common.choose}]]</option>
                                    <option
                                            th:each="item: ${ownerTypeMap}"
                                            th:value="${item.key}"
                                            th:text="#{${ item.value }}">
                                    </option>
                                </select>

                            </div>

                        </div>
                    </div>

                    <th:block th:replace="geolocation/component/geolocation-dropdown-view" ></th:block>

                </div>
            </form>

        </div>

    </div>
</div>