<div class="row">
    <div class="col-md-12">

        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">

                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>

            </div>

            <div class="card-body">

                <u style="font-size: 125%"> কর্মকর্তা-কর্মচারী রিপোর্ট  </u>

                <br>

                <table class="table table-bordered table-hover dataTable no-footer dtr-inline table-responsive">

                <thead>
                    <tr>
                        <th rowspan='2' th:text="#{label.report.common.office_name_title}"></th>
                        <th colspan='20' th:text="#{label.report.employee.current_employee}"></th>
                        <th colspan='1' th:text="#{label.report.employee.total_current_employee}"></th>
                    </tr>

                    <th:block th:each="gradeCountList, gradesIter : ${gradeListForEmployee}">

                        <th th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel(gradeCountList)}}"></th>

                    </th:block>


                    <th th:text="#{label.report.employee.employee_type}"></th>

                </thead>

                <tbody>

                <tr>

                    <td> [[#{label.report.common.office_name}]] </td>

                    <th:block th:each="employeeCountList, employeesIter : ${employeeCountGroupedByGradeList}">

                        <td> [[${employeeCountList}]]  </td>

                    </th:block>

                    <td> [[${totalEmployee}]] </td>

                </tr>

                </tbody>


            </table>

            </div>

        </div>
    </div>
</div>