<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.misconduct}" for="misconduct"> misconduct <span class="text-danger">*</span> </label>
                <input required  class="form-control" type="text" id="misconduct" name="misconduct">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.discard}" for="discard">  <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="discard" name="discard">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.other.objections}" for="otherObjections">otherObjections <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input autocomplete="off"  class="form-control"  type="text" id="otherObjections" name="otherObjections">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>