<div data-repeater-item th:each="complainsAddRequest, stat: *{complainsAddRequests}">

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.misconduct}" for="misconduct"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="misconduct" th:name = "${ 'complainsAddRequests[' + stat.index + '].misconduct' }" th:value="*{complainsAddRequests[__${stat.index}__].misconduct}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('complainsAddRequests[' + stat.index + '].misconduct')}" th:errors="*{complainsAddRequests[__${stat.index}__].misconduct}" > Error! </div>


            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.discard}" for="discard"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="discard" th:name = "${ 'complainsAddRequests[' + stat.index + '].discard' }" th:value="*{complainsAddRequests[__${stat.index}__].discard}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('complainsAddRequests[' + stat.index + '].discard')}" th:errors="*{complainsAddRequests[__${stat.index}__].discard}" > Error! </div>


            </div>


            <div class="col-md-4">

                <label th:text="#{label.employee.other.objections}" for="otherObjections"><span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input class="form-control" type="text" id="otherObjections" th:name = "${ 'complainsAddRequests[' + stat.index + '].otherObjections' }" th:value="*{complainsAddRequests[__${stat.index}__].otherObjections}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors( 'complainsAddRequests[' + stat.index + '].otherObjections')}" th:errors="*{complainsAddRequests[__${stat.index}__].otherObjections}" > Error! </div>

            </div>

        </div>
    </div>

</div>