<div  class="card-body">

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.job.appointment.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.appointment.order}" for="appointmentOrder">appointmentOrder <span class="text-danger">*</span> </label>
                <input required class="form-control" th:errorclass="is-invalid"  type="text" id="appointmentOrder" th:field="*{appointmentOrder}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('appointmentOrder')}" th:errors="*{appointmentOrder}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.appointment.date}" for="appointmentDate">appointmentDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="appointmentDate" th:field="*{appointmentDate}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('appointmentDate')}" th:errors="*{appointmentDate}" > Error! </div>
                </div>

            </div>


            <div class="col-md-4">

                <label th:text="#{label.employee.appointment.joining.date}" for="joiningDate">joiningDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="joiningDate" th:field="*{joiningDate}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('joiningDate')}" th:errors="*{joiningDate}" > Error! </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.joining.designation}" for="joiningDesignation">joiningDesignation<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="joiningDesignation" th:field="*{joiningDesignation}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('joiningDesignation')}" th:errors="*{joiningDesignation}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.office.ministry}" for="officeMinistry">officeMinistry <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="officeMinistry" th:field="*{officeMinistry}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('officeMinistry')}" th:errors="*{officeMinistry}" > Error! </div>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'appointmentFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <th:block th:replace="~{ components/document/doc-list :: docs( *{appointmentDocuments} ) }" ></th:block>

        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.current.job.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <th:block
                        th:with="label=${'label.common.designation'}, field=${'designationId'}, list=${designationList}, required=${'true'} "
                        th:include="inputs/select-list-input">
                </th:block>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.job.type}"> <span class="text-danger">*</span> </label>
                <select th:field="*{jobType}"  class="form-control" id="bloodGroup">
                    <option th:each="job : ${T(com.dgt.paribahanpool.enums.JobType).values()}"
                            th:value="${job}" th:text="#{${T(com.dgt.paribahanpool.enums.JobType).getLabel( job )}}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('jobType')}" th:errors="*{jobType}" > Error! </div>


            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.permanent.order.no}" for="permanentOrderNo">officeMinistry <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="permanentOrderNo" th:field="*{permanentOrderNo}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('permanentOrderNo')}" th:errors="*{permanentOrderNo}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.employee.permanent.date}" for="permanentDate">joiningDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="permanentDate" th:field="*{permanentDate}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('permanentDate')}" th:errors="*{permanentDate}" > Error! </div>
                </div>
            </div>
            <div class="col-md-4">

                <label th:text="#{label.employee.reporting.manager}" for="reportingManager">reportingManager<span class="text-danger">*</span> </label>
                <input required class="form-control" th:errorclass="is-invalid"  type="text" id="reportingManager" th:field="*{reportingManager}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('reportingManager')}" th:errors="*{reportingManager}" > Error! </div>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'currentJobFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <th:block th:replace="~{ components/document/doc-list :: docs( *{currentJobDocuments} ) }" ></th:block>

        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.employee.transfer.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.transfer.order.no}" for="transferOrderNo">transfer order no<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="transferOrderNo" th:field="*{transferOrderNo}"  />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('transferOrderNo')}" th:errors="*{transferOrderNo}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.transfer.date}" for="transferDate">transferDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="transferDate" th:field="*{transferDate}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('transferDate')}" th:errors="*{transferDate}" > Error! </div>
                </div>
            </div>

            <div class="col-md-4">

                <label> [[#{label.transferred.from.branch}]] </label>
                <select th:field="*{transferredFromBranch}" id="transferredFromBranch" class="form-control" name="transferredFromBranch" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'transferFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <th:block th:replace="~{ components/document/doc-list :: docs( *{transferDocuments} ) }" ></th:block>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label> [[#{label.transferred.to.branch}]] </label>
                <select th:field="*{transferredToBranch}" id="transferredToBranch" class="form-control" name="transferredToBranch" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.employee.promotion.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.promotion.order.no}" for="promotionOrderNo">transferInfo <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="promotionOrderNo" th:field="*{promotionOrderNo}"  />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('promotionOrderNo')}" th:errors="*{promotionOrderNo}" > Error! </div>

            </div>

            <div class="col-md-4">

                <!--<label th:text="#{label.employee.promotion.date}" for="promotionDate">promotionDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="promotionDate" th:field="*{promotionDate}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('promotionDate')}" th:errors="*{promotionDate}" > Error! </div>
                </div>-->

                <th:block
                        th:with="label=${'label.employee.promotion.date'}, field=${'promotionDate'}, type=${'date'}, required=${true}"
                        th:include="inputs/date-input"
                >
                </th:block>
            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.previous.post}" for="previousPost">transferInfo <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="previousPost" th:field="*{previousPost}"  />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('previousPost')}" th:errors="*{previousPost}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.employee.promoted.post}" for="promotedPost">transferInfo <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="promotedPost" th:field="*{promotedPost}"  />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('promotedPost')}" th:errors="*{promotedPost}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label> [[#{label.promoted.from.branch}]] </label>
                <select th:field="*{promotedFromBranch}" id="promotedFromBranch" class="form-control" name="promotedFromBranch" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label> [[#{label.promoted.to.branch}]] </label>
                <select th:field="*{promotedToBranch}" id="promotedToBranch" class="form-control" name="promotedToBranch" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <th:block
                        th:with="label=${'label.employee.retirement.date'}, field=${'retirementDate'}, type=${'text'}, readonly=${'readonly'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'promotionFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <th:block th:replace="~{ components/document/doc-list :: docs( *{promotionDocuments} ) }" ></th:block>
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.employee.attendance.leave.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.casual'}, field=${'casualLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.yearly'}, field=${'yearlyLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.earned'}, field=${'earnedLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.medical'}, field=${'medicalLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.abroad'}, field=${'abroadLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.amusement'}, field=${'amusementLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.unpaid'}, field=${'unpaidLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.maternity'}, field=${'maternityLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
            <div class="col-md-4">
                <th:block
                        th:with="label=${'dropdown.options.leave.add.other'}, field=${'otherLeaveCount'}, type=${'number'}"
                        th:include="inputs/text-input">
                </th:block>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.all.complains}"></span>
            </a>
        </li>
    </ul>

    <div id="complains_add_card_repeater">

        <div data-repeater-list="complainsAddRequests">

            <th:block th:if="*{ complainsAddRequests == null or #lists.size( complainsAddRequests ) == 0 }">
                <th:block th:replace="employee/components/all-complains-template" />
            </th:block>

            <th:block th:if="*{ complainsAddRequests != null and #lists.size( complainsAddRequests ) > 0 }">
                <th:block th:replace="employee/components/all-complains" />
            </th:block>

        </div>

        <div class="form-group row">

            <div class="col-lg-4">
                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                    <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.employee.add.new.complains}]]</a>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.employee.achievements}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.achievement.name}" for="achievementName">achievements<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="achievementName" th:field="*{achievementName}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('achievementName')}" th:errors="*{achievementName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.achievement.year}" for="achievementYear">achievements<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="achievementYear" th:field="*{achievementYear}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('achievementYear')}" th:errors="*{achievementYear}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.achievement.description}" for="achievementDescription">achievements<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="achievementDescription" th:field="*{achievementDescription}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('achievementDescription')}" th:errors="*{achievementDescription}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'achievementFiles', 'label.incident.add.achievementDocument' )}"></th:block>

            </div>

        </div>
    </div>

    <th:block th:replace="~{ components/document/doc-list :: docs( *{achievementDocuments} ) }" ></th:block>


</div>