<div  class="card-body">

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.education.info}"></span>
            </a>
        </li>
    </ul>

    <div id="education_info_add_card_repeater">

         <div data-repeater-list="employeeEducationalInfoAddRequests">

             <th:block th:if="*{ employeeEducationalInfoAddRequests == null or #lists.size( employeeEducationalInfoAddRequests ) == 0 }">
                 <th:block th:replace="employee/components/employee-education-info-template" />
             </th:block>

             <th:block th:if="*{ employeeEducationalInfoAddRequests != null and #lists.size( employeeEducationalInfoAddRequests ) > 0 }">
                 <th:block th:replace="employee/components/employee-education-info" />
             </th:block>

         </div>

         <div class="form-group row">

             <div class="col-lg-4">
                 <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                     <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.employee.add.new.education.info}]]</a>
             </div>
         </div>
     </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.training.info}"></span>
            </a>
        </li>
    </ul>

    <div id="training_info_add_card_repeater">

        <div data-repeater-list="employeeTrainingInfoAddRequests">

            <th:block th:if="*{ employeeTrainingInfoAddRequests == null or #lists.size( employeeTrainingInfoAddRequests ) == 0 }">
                <th:block th:replace="employee/components/employee-training-info-template" />
            </th:block>

            <th:block th:if="*{ employeeTrainingInfoAddRequests != null and #lists.size( employeeTrainingInfoAddRequests ) > 0 }">
                <th:block th:replace="employee/components/employee-training-info" />
            </th:block>

        </div>

        <div class="form-group row">

            <div class="col-lg-4">
                <a href="javascript:;" data-repeater-create="" class="btn btn-sm font-weight-bolder btn-light-primary">
                    <i class="icon-1.75x text-dark-50 flaticon2-plus-1"></i>[[#{label.employee.add.new.training.info}]]</a>
            </div>
        </div>
    </div>

</div>