<div data-repeater-item th:each="educationInfoAddRequest, stat: *{employeeEducationalInfoAddRequests}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <input type="hidden" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ employeeEducationalInfoAddRequests[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label th:text="#{label.employee.education.education_level}" >education Level<span class="text-danger">*</span> </label>

                <select th:field="*{employeeEducationalInfoAddRequests[__${stat.index}__].educationLevel}" class="form-control" id="educationLevel">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.EducationLevel).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.EducationLevel).getLabel( eduLevel )}}">
                    </option>
                </select>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].educationLevel')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].educationLevel}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.degree_name}" for="degreeName"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="degreeName" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].degreeName' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].degreeName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].degreeName')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].degreeName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.institute}" for="educationalInstitute"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="educationalInstitute" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].educationalInstitute' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].educationalInstitute}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].educationalInstitute')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].educationalInstitute}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.education.subject}" for="subject"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="subject" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].subject' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].subject}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].subject')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].subject}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.passing_year}" for="passingYear"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="number" id="passingYear" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].passingYear' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].passingYear}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].passingYear')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].passingYear}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.result}" for="result"><span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input required class="form-control" type="text" id="result" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].result' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].result}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors( 'employeeEducationalInfoAddRequests[' + stat.index + '].result')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].result}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.education.board}" for="board"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="board" th:name = "${ 'employeeEducationalInfoAddRequests[' + stat.index + '].board' }" th:value="*{employeeEducationalInfoAddRequests[__${stat.index}__].board}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeEducationalInfoAddRequests[' + stat.index + '].board')}" th:errors="*{employeeEducationalInfoAddRequests[__${stat.index}__].board}" > Error! </div>

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'educationFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

        </div>

    </div>

    <th:block th:replace="~{ components/document/doc-list :: docs( *{employeeEducationalInfoAddRequests[__${stat.index}__].educationDocuments} ) }" ></th:block>


</div>