<div  class="card-body">

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.common.information}"></span>
            </a>
        </li>
    </ul>

    <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.add.employee_id}" for="employeeID">Employee ID <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="employeeID" th:field="*{employeeID}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeID')}" th:errors="*{employeeID}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.add.personal_id}" for="personalID">Personal ID <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="personalID" th:field="*{personalID}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('personalID')}" th:errors="*{personalID}" > Error! </div>

            </div>


            <div class="col-md-4">

                <label th:text="#{label.common.name}" for="name">Name <span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.nameEn}" for="name">Name En <span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="nameEn" th:field="*{nameEn}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.father_name}" for="fatherName">Father Name <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="fatherName" th:field="*{fatherName}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.mother_name}" for="motherName">Mother Name <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="motherName" th:field="*{motherName}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}" > Error! </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                <label th:text="#{label.common.current.working.place}" for="currentWorkingPlace">currentWorkingPlace <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="currentWorkingPlace" th:field="*{currentWorkingPlace}" required />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentWorkingPlace')}" th:errors="*{currentWorkingPlace}" > Error! </div>

            </div>
            <div class="col-md-4">

                <label> [[#{label.common.working_district_bn}]] </label>
                <select th:field="*{currentWorkDistrict}" id="currentWorkDistrict" class="form-control" name="currentWorkDistrict" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label> [[#{label.common.present_district_address}]] </label>
                <select th:field="*{currentGeolocationId}" id="currentGeolocationId" class="form-control" name="currentGeolocationId" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.present_address}" for="presentAddress">Present Address <span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="presentAddress" th:field="*{presentAddress}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('presentAddress')}" th:errors="*{presentAddress}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label> [[#{label.common.permanent_district_address}]] </label>
                <select th:field="*{permanentGeolocationId}" id="permanentGeolocationId" class="form-control" name="permanentGeolocationId" required>
                    <option value="">[[#{label.common.choose}]]</option>
                    <option
                            th:each="item: ${employeeAddRequest.districtLists}"
                            th:value="${item.id}"
                            th:text="${ lang == 'en'? item.geoLocationName.nameEn: item.geoLocationName.nameBn }">
                    </option>
                </select>

            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.permanent_address}" for="permanentAddress">Permanent Address <span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="permanentAddress" th:field="*{permanentAddress}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('permanentAddress')}" th:errors="*{permanentAddress}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.gender}" >Gender<span class="text-danger">*</span> </label>
                <div class="radio-inline">
                    <label class="radio" th:each="gnder : ${T(com.dgt.paribahanpool.enums.Gender).values()}">
                        <input th:field="*{gender}" th:value="${gnder}" type="radio" required>
                        <span></span>
                        [[#{${T(com.dgt.paribahanpool.enums.Gender).getLabel( gnder )}}]]
                    </label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.is_permanent}" ><span class="text-danger">*</span> </label>
                <div class="radio-inline">
                    <label class="radio">
                        <input name="isPermanent" type="radio" value="0"> <span></span>[[#{label.common.yes}]]
                    </label>
                    <label class="radio">
                        <input name="isPermanent" type="radio" value="1"> <span></span>[[#{label.common.no}]]
                    </label>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('isPermanent')}" th:errors="*{isPermanent}" ></div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.date_of_birth}" for="dateOfBirth">Date of birth<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="dateOfBirth" th:field="*{dateOfBirth}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" > Error! </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.passport_number}" for="passportNumber">Passport <span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="passportNumber" th:field="*{passportNumber}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}" > Error! </div>

            </div>

            <div class="col-md-4">

                <!--<label th:text="#{label.common.blood_group}"> <span class="text-danger">*</span> </label>
                <select th:field="*{bloodGroup}"  class="form-control" id="bloodGroup">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="bgroup : ${T(com.dgt.paribahanpool.enums.BloodGroup).values()}"
                            th:value="${bgroup}" th:text="#{${T(com.dgt.paribahanpool.enums.BloodGroup).getLabel( bgroup )}}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('bloodGroup')}" th:errors="*{bloodGroup}" > Error! </div>-->

                <th:block
                        th:with="label=${'label.common.blood_group'}, field=${'bloodGroup'}, enum=${'com.dgt.paribahanpool.enums.BloodGroup'}, required=${true}"
                        th:include="inputs/select-enum-input">
                </th:block>

            </div>

        </div>

    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.nid_number}" for="nid">NID Number<span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="nid" th:field="*{nid}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.mobile}" for="mobileNumber">Mobile Number<span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="text" id="mobileNumber" th:field="*{mobileNumber}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.email}" for="email">Email<span class="text-danger">*</span> </label>
                <input required class="form-control"  th:errorclass="is-invalid" type="text" id="email" th:field="*{email}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.add.quota}"> <span class="text-danger">*</span> </label>
                <select th:field="*{quota}"  class="form-control" id="quota">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="qta : ${T(com.dgt.paribahanpool.enums.Quota).values()}"
                            th:value="${qta}" th:text="#{${T(com.dgt.paribahanpool.enums.Quota).getLabel( qta )}}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('quota')}" th:errors="*{quota}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.add.number_of_children}" for="numberOfChildren">Number of children<span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="number" id="numberOfChildren" th:field="*{numberOfChildren}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('numberOfChildren')}" th:errors="*{numberOfChildren}" > Error! </div>

            </div>

            <div class="col-md-4">

                <th:block
                        th:with="label=${'label.common.marital_status'}, field=${'maritalStatus'}, enum=${'com.dgt.paribahanpool.enums.MaritalStatus'}"
                        th:include="inputs/radio-enum-input">
                </th:block>

            </div>

        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.common.password}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.password}" for="password">password<span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="password" id="password" th:field="*{password}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.common.password.again}" for="passwordAgain">passwordAgain<span class="text-danger">*</span> </label>
                <input  class="form-control"  th:errorclass="is-invalid" type="password" id="passwordAgain" th:field="*{passwordAgain}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordAgain')}" th:errors="*{passwordAgain}" > Error! </div>

            </div>

        </div>

    </div>

</div>