<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.education.education_level}"> Education Level <span class="text-danger">*</span> </label>
                <select  class="form-control" id="educationLevel" name="educationLevel">
                    <option th:text="#{label.common.select}" value=""></option>
                    <option th:each="eduLevel : ${T(com.dgt.paribahanpool.enums.EducationLevel).values()}"
                            th:value="${eduLevel}" th:text="#{${T(com.dgt.paribahanpool.enums.EducationLevel).getLabel( eduLevel )}}">
                    </option>
                </select>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.degree_name}" for="degreeName"> Degree name <span class="text-danger">*</span> </label>
                <input required  class="form-control" type="text" id="degreeName" name="degreeName">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.institute}" for="educationalInstitute"> Education institute <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="educationalInstitute" name="educationalInstitute">

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.education.subject}" for="subject"> Subject <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="subject" name="subject">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.passing_year}" for="passingYear"> passingYear <span class="text-danger">*</span> </label>
                <input required class="form-control" type="number" min="1900" max="2100"
                       id="passingYear" name="passingYear"/>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.education.result}" for="result">Result<span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input required class="form-control" type="text" id="result" name="result">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.education.board}" for="board"> board <span class="text-danger">*</span> </label>
                <input required  class="form-control" type="text" id="board" name="board">

            </div>

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'educationFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

        </div>
    </div>

<!--    <th:block th:if="*{employeeEducationalInfoAddRequests != null}">
        <th:block th:replace="~{ components/document/doc-list :: docs( *{employeeEducationalInfoAddRequests.educationDocuments} ) }" ></th:block>
    </th:block>-->
</div>