<div data-repeater-item th:each="trainingInfoAddRequests, stat: *{employeeTrainingInfoAddRequests}">

    <hr>

    <div class="form-group" >

        <div class="row">

            <input type="hidden" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].id' }" th:value="*{{ employeeTrainingInfoAddRequests[__${stat.index}__].id }}" />

            <div class="col-md-4">

                <label th:text="#{label.employee.training.name}" for="trainingName"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="trainingName" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingName' }" th:value="*{employeeTrainingInfoAddRequests[__${stat.index}__].trainingName}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeTrainingInfoAddRequests[' + stat.index + '].trainingName')}" th:errors="*{employeeTrainingInfoAddRequests[__${stat.index}__].trainingName}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.subject}" for="trainingSubject"> <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="trainingSubject" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingSubject' }" th:value="*{employeeTrainingInfoAddRequests[__${stat.index}__].trainingSubject}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeTrainingInfoAddRequests[' + stat.index + '].trainingSubject')}" th:errors="*{employeeTrainingInfoAddRequests[__${stat.index}__].trainingSubject}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.institute}" for="organizationName"><span class="text-danger">*</span> </label>

                <div class="input-group date">
                    <input required class="form-control" type="text" id="organizationName" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].organizationName' }" th:value="*{employeeTrainingInfoAddRequests[__${stat.index}__].organizationName}">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('employeeTrainingInfoAddRequests[' + stat.index + '].organizationName')}" th:errors="*{employeeTrainingInfoAddRequests[__${stat.index}__].organizationName}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group" >

        <div class="row">

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'trainingFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.date.from}" for="trainingDateFrom">trainingDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="trainingDateFrom" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateFrom' }" th:value="*{{employeeTrainingInfoAddRequests[__${stat.index}__].trainingDateFrom}}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>

                    <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateFrom')}" style="display: block">

                        <th:block th:each="err : ${#fields.errors( 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateFrom' )}" >
                            <span th:text="${err}"></span><br/>
                        </th:block>

                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.date.to}" for="trainingDateTo">trainingDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="trainingDateTo" th:name = "${ 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateTo' }" th:value="*{{employeeTrainingInfoAddRequests[__${stat.index}__].trainingDateTo}}" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>

                    <div class="invalid-feedback" th:if="${ #fields.hasErrors( 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateTo')}" style="display: block">

                        <th:block th:each="err : ${#fields.errors( 'employeeTrainingInfoAddRequests[' + stat.index + '].trainingDateTo' )}" >
                            <span th:text="${err}"></span><br/>
                        </th:block>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <th:block th:replace="~{ components/document/doc-list :: docs( *{employeeTrainingInfoAddRequests[__${stat.index}__].trainingDocuments} ) }" ></th:block>
</div>