<div data-repeater-item>

    <hr>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.training.name}" for="trainingName"> training Name <span class="text-danger">*</span> </label>
                <input required  class="form-control" type="text" id="trainingName" name="trainingName">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.subject}" for="trainingSubject">  <span class="text-danger">*</span> </label>
                <input required class="form-control" type="text" id="trainingSubject" name="trainingSubject">

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.institute}" for="organizationName">organizationName <span class="text-danger">*</span> </label>

                <div class="input-group">
                    <input required class="form-control" type="text" id="organizationName" name="organizationName">
                    <div class="input-group-append">
                        <a href="javascript:;" class="btn font-weight-bold btn-danger btn-icon" data-repeater-delete="">
                            <i class="la la-close"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'trainingFiles', 'label.driver.add.important_files' )}"></th:block>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.date.from}" for="trainingDateFom">trainingDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" type="text" id="trainingDateFom" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.training.date.to}" for="trainingDateTo">trainingDate<span class="text-danger">*</span> </label>
                <div class="input-group date">
                    <input required autocomplete="off" class="form-control datepicker" type="text" id="trainingDateTo" />
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>