<div  class="card-body">

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.join.salary.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.grade}"> <span class="text-danger">*</span> </label>
                <select th:field="*{joiningGrade}"  class="form-control" id="joiningGrade">
                    <option th:each="grade : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${grade}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( grade )}}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('joiningGrade')}" th:errors="*{joiningGrade}" > Error! </div>


            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.grade.initial.salary}" for="initialGradeSalaryOfJoin">initialGradeSalaryOfJoin <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="initialGradeSalaryOfJoin" th:field="*{initialGradeSalaryOfJoin}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('initialGradeSalaryOfJoin')}" th:errors="*{initialGradeSalaryOfJoin}" > Error! </div>

            </div>


            <div class="col-md-4">

                <label th:text="#{label.employee.additional.increment.number}" for="additionalIncrementNumberOfJoin">additionalIncrementNumberOfJoin <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="additionalIncrementNumberOfJoin" th:field="*{additionalIncrementNumberOfJoin}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('additionalIncrementNumberOfJoin')}" th:errors="*{additionalIncrementNumberOfJoin}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.step}" for="stepOfJoin">stepOfJoin<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="stepOfJoin" th:field="*{stepOfJoin}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('stepOfJoin')}" th:errors="*{stepOfJoin}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.actual.salary}" for="actualSalaryOfJoin">actualSalaryOfJoin <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="actualSalaryOfJoin" th:field="*{actualSalaryOfJoin}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('actualSalaryOfJoin')}" th:errors="*{actualSalaryOfJoin}" > Error! </div>

            </div>

        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-line mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-text" th:text="#{label.hr.current.salary.info}"></span>
            </a>
        </li>
    </ul>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.grade}"> <span class="text-danger">*</span> </label>
                <select th:field="*{currentGrade}"  class="form-control" id="currentGrade">
                    <option th:each="grade : ${T(com.dgt.paribahanpool.enums.Grade).values()}"
                            th:value="${grade}" th:text="#{${T(com.dgt.paribahanpool.enums.Grade).getLabel( grade )}}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentGrade')}" th:errors="*{currentGrade}" > Error! </div>


            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.grade.initial.salary}" for="currentInitialGradeSalary">initialGradeSalaryOfJoin <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="currentInitialGradeSalary" th:field="*{currentInitialGradeSalary}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentInitialGradeSalary')}" th:errors="*{currentInitialGradeSalary}" > Error! </div>

            </div>


            <div class="col-md-4">

                <label th:text="#{label.employee.additional.increment.number}" for="currentAdditionalIncrementNumber">currentAdditionalIncrementNumber <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="currentAdditionalIncrementNumber" th:field="*{currentAdditionalIncrementNumber}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentAdditionalIncrementNumber')}" th:errors="*{currentAdditionalIncrementNumber}" > Error! </div>

            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.employee.step}" for="currentStep">stepOfJoin<span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="currentStep" th:field="*{currentStep}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentStep')}" th:errors="*{currentStep}" > Error! </div>

            </div>

            <div class="col-md-4">

                <label th:text="#{label.employee.actual.salary}" for="currentActualSalary">actualSalaryOfJoin <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="number" id="currentActualSalary" th:field="*{currentActualSalary}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('currentActualSalary')}" th:errors="*{currentActualSalary}" > Error! </div>

            </div>

        </div>
    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">

                <label th:text="#{label.common.comments}" for="comments">comments <span class="text-danger">*</span> </label>
                <input class="form-control" th:errorclass="is-invalid"  type="text" id="comments" th:field="*{comments}" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" > Error! </div>

            </div>


        </div>

    </div>

    <div class="form-group">

        <div class="row">

            <div class="col-md-4">
                <th:block th:replace="~{components/file/file-chooser::file-chooser( 'employeeFiles', 'label.mechanic.add.images' )}"></th:block>
            </div>
        </div>

    </div>


</div>