<div th:style="${style}" class="col-md-4" id="divBrandList">

    <label> [[#{label.vehicle.add.brand_name}]] </label>
    <select id="brandList" class="form-control" th:field="*{brandId}" required>
        <option value="">[[#{label.common.choose}]]</option>
        <option
                th:each="item: *{brandViewResponseList}"
                th:value="${item.id}"
                th:text="${ lang == 'en'? item.nameEn: item.nameBn }"
        >
        </option>
    </select>

    <div class="invalid-feedback" th:if="${#fields.hasErrors('brandId')}"
         th:errors="*{brandId}"> Error!
    </div>

</div>

<div th:style="${style}" class="col-md-4" id="divModelList">

    <label> [[#{label.vehicle.add.model_name}]] </label>
    <select id="modelList" class="form-control" th:field="*{modelId}" required>
        <option value="">[[#{label.common.choose}]]</option>
        <option
                th:each="item: *{modelViewResponseList}"
                th:value="${item.id}"
                th:text="${ lang == 'en'? item.nameEn: item.nameBn }"
        >
        </option>
    </select>

    <div class="invalid-feedback" th:if="${#fields.hasErrors('modelId')}"
         th:errors="*{modelId}"> Error!
    </div>

</div>
