<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <input type="hidden" name="userId" id="userId" th:value="${userId}"/>

    <div class="card-body">

        <table id="partsDispositionSearch" class="table table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
                <tr>

                    <th th:text="#{label.incident.search.id}">ID</th>
                    <th th:text="#{label.warranty.parts_name}"> Name </th>
                    <th th:text="#{label.warranty.parts.date}"> Father Name</th>
                    <th th:text="#{label.warranty.beginning_date}"> Mother Name</th>
                    <th th:text="#{label.warranty.ending_date}"> Phone Number</th>
                    <th th:text="#{label.warranty.warranty_remaining}"> Warranty Remaining</th>
                    <th th:text="#{label.warranty.registration_number}"> Address</th>
                    <th th:text="#{label.warranty.chassis_number}"> Expertise</th>
                    <th th:text="#{label.warranty.brand_name}"> Qualification</th>
                    <th th:text="#{label.warranty.model}"> Experience</th>
                    <th th:text="#{label.common.status}"> Status </th>
                    <th th:text="#{label.common.actions}"> Actions </th>

                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
