<script>

    $( document ).ready( function() {

        let purchaseDemandSearchTable = $( '#purchaseDemandSearch' ).DataTable({

            ...{
                ajax: {

                    url: context + '/api/purchase-demand/search',
                    type: 'GET',
                    data: {},
                },
                order: [
                    [0, "desc"]
                ],
                columns: [
                    {
                        data: 'id',
                        "visible": false
                    },
                    {
                        data: 'productType',
                        searchable: true,
                    },
                    {
                        data: 'date'
                    },
                    {
                        data: 'totalPrice',
                        searchable: true,
                    },
                    {
                        data: 'id',
                        render: function ( data, type, row ) {

                            return '<div style="white-space:nowrap;">' +
                                '<a href="' + context + '/purchase-demand/edit/'+ data +'" class="btn btn-sm btn-clean btn-icon" title="' + viewExpenseTitle + '">\t\t\t\t\t\t\t\t<i class="icon-xl la la-money-bill-wave text-info"></i>\t\t\t\t\t\t\t</a>' +
                                '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon delete-purchase-demand" data-id="' + data + '" title="' + deleteTitle + '">\t<i class="la la-trash icon-xl text-danger" data-id="' + data + '"></i>\t\t\t\t\t\t\t</a>' +
                                '</div>';
                        },
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1
                    }
                ]
            },
            ...dataTableCommonConfig

        });

        $(document).on( "click", ".delete-purchase-demand", (e) => {

            let id = $( e.target ).data( "id" );
            poolConfirm(
                {
                    title: poolConfirmation,
                    text: poolRevertConfirmation,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: poolConfirmYes,
                    cancelButtonText: poolConfirmNo
                },
                (result) => {

                    let param = {};
                    param[csrfParamName] = csrf;

                    callAjax(
                        "/api/purchase-demand/" + id,
                        param,
                        "DELETE",
                        ( data ) => {
                            Swal.fire(
                                "Deleted!",
                                data[ 'message' ],
                                "success"
                            );

                            purchaseDemandSearchTable.ajax.reload( null, false );
                        },
                        ( data ) => {

                            commonErrorCallbackSwal( data );
                        }
                    );
                }
            );
        });


    });

</script>