<th:block th:with="formId = 'nocAdd'">
    <!--begin::Form-->
    <form
            th:id="${formId}"
            class="form"
            method="POST"
            enctype="multipart/form-data"
            th:action="@{/noc/add}"
            th:object="${nocApplicationAddRequest}"
    >
        <div id="kt_page_sticky_card" class="card card-custom card-sticky">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        [[ #{ ${ pageTitle } } ]]
                    </h3>
                </div>
                <div th:replace="components/add-page-action-buttons :: action_buttons( formId=${formId} )"></div>
            </div>

            <div class="card-body">

                <ul class="nav nav-tabs nav-tabs-line mb-5">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                            <span class="nav-text" th:text="#{label.common.information}"></span>
                        </a>
                    </li>
                </ul>

                <input class="form-control" name="id" id="id" type="hidden" th:value="*{id}" />

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <th:block th:replace="~{components/file/file-chooser::file-chooser( 'files', 'label.common.signature' )}"></th:block>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.name}" for="name"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="name" th:field="*{name}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.identity_number}" for="identityNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="identityNumber" th:field="*{identityNumber}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('identityNumber')}" th:errors="*{identityNumber}" > Error! </div>

                        </div>

                    </div>
                </div>

                <th:block th:replace="~{ components/document/doc-list :: docs( *{documents} ) }" ></th:block>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.designation}" for="designation">Designation</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="designation" th:field="*{designation}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.working_place}" for="workingPlace"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="workingPlace" th:field="*{workingPlace}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('workingPlace')}" th:errors="*{workingPlace}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.email}" for="eMail"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="eMail" th:field="*{eMail}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}" > Error! </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">

                            <label th:text="#{label.common.mobile}" for="mobileNumber">Mobile</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="mobileNumber" th:field="*{mobileNumber}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4">

                            <label th:text="#{label.common.home}" for="home">Mobile</label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="home" th:field="*{home}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('home')}" th:errors="*{home}" > Error! </div>

                        </div>

                        <div class="col-md-4">
                            <label th:text="#{label.noc.date}" for="date">Date <span class="text-danger">*</span> </label>
                            <input readonly class="form-control" th:errorclass="is-invalid" type="text" id="date" th:field="*{date}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}" th:errors="*{date}" > Error! </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:text="#{label.noc.add.noc_type}"> <span class="text-danger">*</span> </label>
                            <select th:field="*{nocApplicationType}" class="form-control" id="nocApplicationType" >
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:each="nocApp : ${T(com.dgt.paribahanpool.enums.NocApplicationType).values()}"
                                        th:value="${nocApp}" th:text="#{${T(com.dgt.paribahanpool.enums.NocApplicationType).getLabel( nocApp )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nocApplicationType')}" th:errors="*{nocApplicationType}" > Error! </div>
                        </div>

                        <div class="col-md-4" id="prlAcceptIdentityNumberDiv">

                            <label th:text="#{label.common.prl.accept.identity.number}" for="prlAcceptIdentityNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="prlAcceptIdentityNumber" th:field="*{prlAcceptIdentityNumber}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('prlAcceptIdentityNumber')}" th:errors="*{prlAcceptIdentityNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4" id="prlAcceptDateDiv">
                            <label th:text="#{label.common.prl.accept.date}" for="prlAcceptDate">Date <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="prlAcceptDate" th:field="*{prlAcceptDate}" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('prlAcceptDate')}" th:errors="*{prlAcceptDate}" > Error! </div>
                            </div>
                        </div>

                        <div class="col-md-4" id="debtAcceptIdentityNumberDiv">

                            <label th:text="#{label.common.debt.accept.identity.number}" for="debtAcceptIdentityNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="debtAcceptIdentityNumber" th:field="*{debtAcceptIdentityNumber}" required>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('debtAcceptIdentityNumber')}" th:errors="*{debtAcceptIdentityNumber}" > Error! </div>

                        </div>

                        <div class="col-md-4" id="debtAcceptDateDiv">
                            <label th:text="#{label.common.debt.accept.date}" for="debtAcceptDate">Date <span class="text-danger">*</span> </label>
                            <div class="input-group date">
                                <input autocomplete="off" class="form-control datepicker" th:errorclass="is-invalid" type="text" id="debtAcceptDate" th:field="*{debtAcceptDate}" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('debtAcceptDate')}" th:errors="*{debtAcceptDate}" > Error! </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:text="#{label.noc.add.vehicle_allotment}"> <span class="text-danger">*</span> </label>
                            <select th:field="*{vehicleAllotment}" class="form-control" id="vehicleAllotment" >
                                <option value="">[[#{label.common.choose}]]</option>
                                <option th:each="allotment : ${T(com.dgt.paribahanpool.enums.VehicleAllotment).values()}"
                                        th:value="${allotment}" th:text="#{${T(com.dgt.paribahanpool.enums.VehicleAllotment).getLabel( allotment )}}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('vehicleAllotment')}" th:errors="*{vehicleAllotment}" > Error! </div>
                        </div>
                        <div class="col-md-4" id="allottedCarRegNoDiv">

                            <label th:text="#{label.common.car.registration.number}" for="allottedCarRegistrationNumber"> <span class="text-danger">*</span> </label>
                            <input class="form-control" th:errorclass="is-invalid" type="text" id="allottedCarRegistrationNumber" th:field="*{allottedCarRegistrationNumber}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('allottedCarRegistrationNumber')}" th:errors="*{allottedCarRegistrationNumber}" > Error! </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
    <!--end::Form-->
</th:block>
