<div id="kt_page_sticky_card" class="card card-custom card-sticky">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
        <div>
            <div class="card-title">
                <div id="print-btn" class="printer-icon" style="cursor: pointer">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-printer"
                            viewBox="0 0 16 16"
                    >
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                        <path
                                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">

        <th:block th:replace="noc/component/noc-preview :: view( viewResponse=( *{nocApplicationViewResponse} ) )"></th:block>

        <hr/>

        <form th:if="${viewAction == 'true'}"
                th:action="@{/noc/take-action}"
                method="POST"
              enctype="multipart/form-data"
        >

            <input type="hidden" th:value="${nocApplicationViewResponse.id}" name="id" />
            <th:block th:replace="workflow/available-actions"></th:block>

            <div class="mx-5 my-4" id="issue-report-upload" style="display:none">

                <h3 class="">
                    [[#{label.noc.file.issue-file-attachments}]]
                </h3>

                <label for="nocIssueFiles" class="custom-file-upload rounded shadow-sm">
                    [[#{label.noc.file.issue-file-attachments}]]&nbsp;
                    <i class="fas fa-cloud-upload-alt" style="color: #FF9100!important;"></i>
                </label>
                <input type="file" name="nocIssueFiles" id="nocIssueFiles" class="pool-file-chooser" multiple style="display:none;"/>
                <div class="data-files"></div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="addMissingVehicleDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.choose-missing-vehicle}]]
                </div>

                <div class="col-md-4">

                    <select id="vehicleId" class="form-control select2 enable-select2" style="width: 100%;" name="vehicleIds" multiple="multiple" autocomplete="off">
                        <option value="">[[#{label.common.choose}]]</option>
                        <option
                                th:each="item: ${allAvailableFreeVehiclesForMI}"
                                th:value="${item.id}"
                                th:text="${ item.text }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="hasVehicleUdoOaDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.has-assigned-vehicle}]]
                </div>

                <div class="col-md-4">

                    <label class="radio">
                        <input name="hasVehicleUdoOa" type="radio" value="true"> <span></span>[[#{label.noc.workflow.ud-oa-statement-yes}]]
                    </label>
                    <label class="radio">
                        <input name="hasVehicleUdoOa" type="radio" value="false"> <span></span>[[#{label.noc.workflow.ud-oa-statement-no}]]
                    </label>

                </div>

            </div>

            <br/>

            <div class="row mx-1 mt-2" style="display: none;" id="isApprovedMechanicDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.has-mechanic-approved}]]
                </div>

                <div class="col-md-4">

                    <label class="radio">
                        <input name="isApprovedMechanic" type="radio" value="true"> <span></span>[[#{label.noc.workflow.mechanic-statement-yes}]]
                    </label>
                    <label class="radio">
                        <input name="isApprovedMechanic" type="radio" value="false"> <span></span>[[#{label.noc.workflow.mechanic-statement-no}]]
                    </label>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="isApprovedAtoUdDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.has-ato-ud-approved}]]
                </div>

                <div class="col-md-4">

                    <label class="radio">
                        <input name="isApprovedAtoUd" type="radio" value="true"> <span></span>[[#{label.noc.workflow.ato-ud-statement-yes}]]
                    </label>
                    <label class="radio">
                        <input name="isApprovedAtoUd" type="radio" value="false"> <span></span>[[#{label.noc.workflow.ato-ud-statement-no}]]
                    </label>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="chooseMechanicInchargeDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.choose-mechanic-in-charge}]]
                </div>

                <div class="col-md-4">

                    <select id="mechanicInchargeId" class="form-control" name="mechanicInchargeId">
                        <option value="">[[#{label.common.choose}]]</option>
                        <option
                                th:each="item: ${mechanicViewResponseList}"
                                th:value="${item.mechanicId}"
                                th:text="${ item.name }">
                        </option>
                    </select>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="collectedFineDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.collected-fine}]]
                </div>

                <div class="col-md-4">

                    <input name="collectedFine" id="collectedFine" class="form-control" type="number"/>

                </div>

            </div>

            <div class="row mx-1 mt-2" style="display: none;" id="doFineDiv">

                <div class="col-md-2">
                    [[#{label.noc.workflow.fined-amount}]]
                </div>

                <div class="col-md-4">

                    <input name="finedAmount" id="finedAmount" class="form-control" type="number"/>

                </div>

            </div>

        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>

        $( "#print-btn" ).click( function() {
            window.print();
        });

    </script>

</div>

