<th:block th:replace="letter-print/head"></th:block>

<th:block th:replace="letter-print/letter-top"></th:block>


<th:block th:replace="letter-print/sharok-date :: view( viewResponse=( ${nocApplicationViewResponse}  ) )"></th:block>

<th:block th:if="${nocApplicationViewResponse.vehicleAllotment == T(com.dgt.paribahanpool.enums.VehicleAllotment).NOT_GIVEN}">

    <th:block th:replace="noc/component/noc-approve-no-vehicle-body :: view( viewResponse=( ${nocApplicationViewResponse}  ) )"></th:block>

</th:block>

<th:block th:if="${nocApplicationViewResponse.vehicleAllotment == T(com.dgt.paribahanpool.enums.VehicleAllotment).GIVEN}">

    <th:block th:replace="noc/component/noc-approve-has-vehicle-body :: view( viewResponse=( ${nocApplicationViewResponse}  ) )"></th:block>

</th:block>

<th:block th:replace="letter-print/remarks  :: view( viewResponse=( ${nocApplicationViewResponse}  ) )"></th:block>

<th:block th:replace="letter-print/footer"></th:block>