
<div class="card card-custom gutter-b example example-compact">

    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                [[ #{ ${ pageTitle } } ]]
            </h3>
        </div>
    </div>

    <div class="card-body">

        <table id="nocSearch" class="table table-responsive table-bordered table-hover dataTable no-footer dtr-inline">

            <thead>
            <tr>
                <th th:text="#{label.common.id}">ID</th>
                <th th:text="#{label.common.name}"> Name </th>
                <th th:text="#{label.common.identity_number}"> Identity </th>
                <th th:text="#{label.common.designation}"> Designation </th>
                <th th:text="#{label.common.working_place}"> Working place</th>
                <th th:text="#{label.common.email}"> Email</th>
                <th th:text="#{label.common.mobile}"> Mobile</th>
                <th th:text="#{label.noc.add.noc_type}"> Noc Type</th>
                <th th:text="#{label.common.date}"> Date</th>
                <th th:text="#{label.noc.add.vehicle_allotment}"> Allotment</th>
                <th th:text="#{label.common.car.registration.number}"> Allotted Car Registration Number</th>
                <th th:text="#{label.common.signature}"> Signature </th>
                <th th:text="#{label.common.status}"> Status </th>
                <th th:text="#{label.common.actions}"> Actions </th>
            </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
